Repository hashicorp/terraform-provider-google-beta, pull requests merged in 2018-12, with the labels that each got.

#166 fix folder iam binding test
  google-beta/resource_google_folder_iam_binding_test.go
  google-beta/resource_google_folder_iam_member_test.go
Labels: size/S

#169 Remove auto_healing_policies from tests
  google-beta/data_source_google_compute_region_instance_group_test.go
  google-beta/resource_compute_backend_service_test.go
Labels: size/S

#176 Accommodate the new iamcredentials service in tests
  google-beta/resource_google_project_services_test.go
  google-beta/resource_kms_crypto_key_iam_test.go
  google-beta/resource_kms_key_ring_iam_test.go
Labels: size/XS

#163 Add 'image_uri' to dataproc cluster definition.
  google-beta/resource_dataproc_cluster.go
  website/docs/r/dataproc_cluster.html.markdown
Labels: size/XS

#165 added ignored_files and included_files to google_cloudbuild_trigger
  google-beta/resource_cloudbuild_build_trigger.go
  google-beta/utils.go
  website/docs/r/cloudbuild_trigger.html.markdown
Labels: size/S

#180 Fix issue with Bigtable instance cluster update at 2.0.0
  google-beta/resource_bigtable_instance.go
  google-beta/resource_bigtable_instance_test.go
Labels: size/XS

#173 Deprecate convenience fields in google_compute_snapshot
  google-beta/provider.go
  google-beta/provider_compute_gen.go
  google-beta/resource_bigtable_instance.go
  google-beta/resource_bigtable_instance_test.go
  google-beta/resource_compute_snapshot.go
  google-beta/resource_compute_snapshot_test.go
  website/docs/r/compute_snapshot.html.markdown
Labels: documentation, size/XXL

#192 Fix google_container_cluster docs about fields gone GA
  google-beta/resource_bigtable_instance.go
  google-beta/resource_bigtable_instance_test.go
  website/docs/r/container_cluster.html.markdown
Labels: documentation, size/XS

#193 Add google_organization_custom_role to version_2_upgrade.html.markdown
  website/docs/version_2_upgrade.html.markdown
Labels: documentation, size/XS

#194 Remove beta fields from GA Container resources
  google-beta/node_config.go
Labels: size/XS

#195 Add node_config properties to version_2_upgrade.html.markdown
  google-beta/resource_container_cluster_test.go
  google-beta/resource_container_node_pool_test.go
  website/docs/version_2_upgrade.html.markdown
Labels: documentation, size/XS

#185 Add region disk support to attached disk
  google-beta/resource_compute_attached_disk.go
  google-beta/resource_compute_attached_disk_test.go
Labels: size/M

#197 Fix spanner database iam binding import
  google-beta/iam_spanner_database.go
  google-beta/resource_spanner_database.go
Labels: size/M

#171 Add retries for all synchronous MM generated resources
  google-beta/transport.go
Labels: size/M

#190 Remove google_compute_instance*.address
  google-beta/resource_compute_instance.go
  google-beta/resource_compute_instance_template.go
  website/docs/r/compute_instance_template.html.markdown
Labels: documentation, size/S

#200 Add docs about using lifecycle when recreating instance groups
  google-beta/resource_compute_instance_group_test.go
  website/docs/r/compute_instance_group.html.markdown
Labels: documentation, size/L

#198 Allowing GlobalAddress.address to be settable
  google-beta/resource_compute_global_address.go
  google-beta/resource_compute_global_address_test.go
  website/docs/r/compute_global_address.html.markdown
Labels: documentation, enhancement, size/XS

#203 add another retry if iam read returns nil
  google-beta/iam.go
Labels: size/XS

#205 use cluster update for logging/monitoring in beta
  google-beta/resource_container_cluster.go
  google-beta/resource_container_cluster_test.go
Labels: size/M

#201 Add tpuIpv4CidrBlock for container clusters
  google-beta/resource_container_cluster.go
  website/docs/r/container_cluster.html.markdown
Labels: documentation, size/XS

#204 send maintenance_window.hour even if it's zero, since that's a valid value
  google-beta/resource_sql_database_instance.go
Labels: size/XS

#208 Add gometalinter
  .gometalinter.json
  .travis.yml
  GNUmakefile
  scripts/errcheck.sh
Labels: size/M

#211 extract vpn tunnel region/project from vpn gateway
  google-beta/resource_compute_vpn_tunnel.go
  google-beta/resource_compute_vpn_tunnel_test.go
  website/docs/r/compute_vpn_tunnel.html.markdown
Labels: documentation, size/M

#206 allow cross-project imports for sql user
  google-beta/resource_sql_user.go
  website/docs/r/sql_user.html.markdown
Labels: documentation, size/XS

#213 update regex for runtimeconfig name
  google-beta/resource_runtimeconfig_config.go
Labels: size/XS

#209 mark region as computed in sql db instance since we use getregion
  google-beta/resource_sql_database_instance.go
Labels: size/XS

#210 send scheduling block with automaticrestart if there is none in cfg
  google-beta/resource_compute_instance.go
Labels: size/XS

#212 mark tpu config as beta
  website/docs/r/container_cluster.html.markdown
Labels: documentation, size/XS

#214 Fix project services tests by using a service without any dependencies
  google-beta/resource_google_project_services_test.go
Labels: size/XS

#216 govendor fetch google.golang.org/api/serviceusage/v1@revision
  vendor/google.golang.org/api/serviceusage/v1/serviceusage-api.json
  vendor/google.golang.org/api/serviceusage/v1/serviceusage-gen.go
  vendor/vendor.json
Labels: dependencies, size/XXL

#218 Add tags set conversion to upgrade guide
  website/docs/version_2_upgrade.html.markdown
Labels: documentation, size/XS

#220 insist that project org policy tests run serially
  google-beta/resource_google_project_organization_policy_test.go
Labels: size/M

#217 add souce repo support to cloud functions
  google-beta/resource_cloudfunctions_function.go
  google-beta/resource_cloudfunctions_function_test.go
  website/docs/r/cloudfunctions_function.html.markdown
Labels: documentation, size/M

#219 add inherit_from_parent to all org policy resources
  google-beta/resource_google_organization_policy.go
  google-beta/resource_google_organization_policy_test.go
  website/docs/r/google_folder_organization_policy.html.markdown
  website/docs/r/google_organization_policy.html.markdown
  website/docs/r/google_project_organization_policy.html.markdown
Labels: documentation, size/M

#179 add support for requester_pays to google_storage_bucket
  google-beta/resource_storage_bucket.go
  google-beta/resource_storage_bucket_test.go
  website/docs/r/storage_bucket.html.markdown
Labels: documentation, size/M

#225 add sql private ip to ga provider
  website/docs/r/sql_database_instance.html.markdown
Labels: documentation, size/XS

#226 clarify docs around service account id
  google-beta/resource_google_service_account_iam_test.go
  website/docs/r/google_service_account.html.markdown
  website/docs/r/google_service_account_iam.html.markdown
Labels: documentation, size/S

#224 Explicitly set TypeSets of nested objects
  google-beta/resource_compute_firewall.go
  google-beta/resource_compute_subnetwork.go
  google-beta/resource_compute_url_map.go
Labels: size/M

#202 Remove deprecated fields from Snapshot
  google-beta/resource_compute_snapshot.go
  google-beta/resource_compute_snapshot_generated_test.go
  google-beta/resource_compute_snapshot_test.go
  website/docs/r/compute_snapshot.html.markdown
Labels: documentation, size/XXL

#199 Mark the deleted field computed in google_project_iam_custom_role
  google-beta/resource_google_project_iam_custom_role.go
  google-beta/resource_google_project_iam_custom_role_test.go
  website/docs/r/google_project_iam_custom_role.html.markdown
Labels: documentation, size/M

#222 Remove Firewall Service Account Limit
  google-beta/resource_compute_firewall.go
Labels: size/XS

#231 Add new Provider Versions docs to 1.20.0 website release
  website/docs/provider_versions.html.markdown
Labels: documentation, size/S

#223 Add data source for cloud bucket object
  google-beta/data_source_google_storage_bucket_object.go
  google-beta/provider.go
  google-beta/resource_storage_bucket_object.go
  website/docs/d/datasource_google_cloud_bucket_object.html.markdown
  website/docs/r/storage_bucket_object.html.markdown
Labels: documentation, size/M

#234 Add gofmt rule to gometalinter
  .gometalinter.json
Labels: size/XS

#239 Various linter cleanups (conversions, unused, misspellings)
  google-beta/access_context_manager_operation.go
  google-beta/composer_operation.go
  google-beta/data_source_google_compute_address.go
  google-beta/data_source_google_compute_global_address.go
  google-beta/data_source_google_compute_subnetwork.go
  google-beta/data_source_google_netblock_ip_ranges.go
  google-beta/dns_operation.go
  google-beta/filestore_operation.go
  google-beta/redis_operation.go
  google-beta/resource_compute_attached_disk_test.go
  google-beta/resource_compute_firewall_test.go
  google-beta/resource_compute_instance_group_manager.go
  google-beta/resource_compute_vpn_tunnel.go
  google-beta/resource_container_cluster_test.go
  google-beta/resource_dataproc_cluster.go
  google-beta/resource_google_project.go
  google-beta/resource_google_service_account.go
  google-beta/resource_google_service_account_test.go
  google-beta/resource_iam_binding.go
  google-beta/resource_iam_member.go
  google-beta/resource_iam_policy.go
  google-beta/resource_kms_crypto_key.go
  google-beta/resource_kms_key_ring.go
  google-beta/utils.go
Labels: size/L

#238 Add more linters to gometalinter
  .gometalinter.json
Labels: size/XS

#245 Added Storage Transfer package
  vendor/google.golang.org/api/storagetransfer/v1/storagetransfer-api.json
  vendor/google.golang.org/api/storagetransfer/v1/storagetransfer-gen.go
  vendor/vendor.json
Labels: dependencies, size/XXL

#242 Remove duplicates from provider resource map, add dupe test
  google-beta/provider.go
  google-beta/provider_test.go
  google-beta/utils.go
Labels: size/XL

#221 mark trigger_template.project computed since we set it to getProject
  google-beta/resource_cloudbuild_build_trigger.go
  google-beta/resource_cloudbuild_build_trigger_test.go
Labels: size/XS

#227 Make the default timout 5 minutes when timeout is 0
  google-beta/transport.go
Labels: size/XS

#248 Remove inferred region from igm
  google-beta/resource_compute_instance_group_manager.go
  google-beta/utils.go
Labels: size/S

#246 Add support for google_access_context_manager_service_perimeter
  google-beta/provider_accesscontextmanager_gen.go
  google-beta/resource_access_context_manager_service_perimeter_test.go
  google-beta/resource_accesscontextmanager_service_perimeter.go
  website/docs/r/accesscontextmanager_service_perimeter.html.markdown
Labels: documentation, size/XL

#247 Add google_storage_transfer_project_service_account data_source
  google-beta/config.go
  google-beta/data_source_google_storage_transfer_project_service_account.go
  google-beta/data_source_google_storage_transfer_project_service_account_test.go
  google-beta/provider.go
  website/docs/d/google_storage_transfer_project_service_account.html.markdown
  website/google.erb
Labels: documentation, size/L

#250 fix disk behaivor in compute_instance_from_template
  google-beta/provider.go
  google-beta/resource_compute_instance_from_template.go
  google-beta/resource_compute_instance_from_template_test.go
Labels: size/XL

#255 Add docs about how to import with google-beta
  website/docs/provider_versions.html.markdown
  website/docs/r/accesscontextmanager_access_level.html.markdown
  website/docs/r/accesscontextmanager_access_policy.html.markdown
  website/docs/r/accesscontextmanager_service_perimeter.html.markdown
  website/docs/r/binaryauthorization_attestor.html.markdown
  website/docs/r/binaryauthorization_policy.html.markdown
  website/docs/r/compute_address.html.markdown
  website/docs/r/compute_autoscaler.html.markdown
  website/docs/r/compute_backend_bucket.html.markdown
  website/docs/r/compute_disk.html.markdown
  website/docs/r/compute_firewall.html.markdown
  website/docs/r/compute_forwarding_rule.html.markdown
  website/docs/r/compute_global_address.html.markdown
  website/docs/r/compute_health_check.html.markdown
  website/docs/r/compute_http_health_check.html.markdown
  website/docs/r/compute_https_health_check.html.markdown
  website/docs/r/compute_interconnect_attachment.html.markdown
  website/docs/r/compute_region_autoscaler.html.markdown
  website/docs/r/compute_region_disk.html.markdown
  website/docs/r/compute_route.html.markdown
  website/docs/r/compute_router.html.markdown
  website/docs/r/compute_snapshot.html.markdown
  website/docs/r/compute_ssl_certificate.html.markdown
  website/docs/r/compute_ssl_policy.html.markdown
  website/docs/r/compute_subnetwork.html.markdown
  website/docs/r/compute_target_http_proxy.html.markdown
  website/docs/r/compute_target_https_proxy.html.markdown
  website/docs/r/compute_target_ssl_proxy.html.markdown
  website/docs/r/compute_target_tcp_proxy.html.markdown
  website/docs/r/compute_url_map.html.markdown
  website/docs/r/compute_vpn_gateway.html.markdown
  website/docs/r/compute_vpn_tunnel.html.markdown
  website/docs/r/containeranalysis_note.html.markdown
  website/docs/r/dns_managed_zone.html.markdown
  website/docs/r/filestore_instance.html.markdown
  website/docs/r/monitoring_alert_policy.html.markdown
  website/docs/r/monitoring_group.html.markdown
  website/docs/r/monitoring_notification_channel.html.markdown
  website/docs/r/monitoring_uptime_check_config.html.markdown
  website/docs/r/redis_instance.html.markdown
  website/docs/r/resourcemanager_lien.html.markdown
  website/docs/r/storage_default_object_access_control.html.markdown
  website/docs/r/storage_object_access_control.html.markdown
Labels: documentation, size/L

#259 Run AccessContextManager tests serially in CI
  google-beta/resource_access_context_manager_access_level_test.go
  google-beta/resource_access_context_manager_access_policy_test.go
  google-beta/resource_access_context_manager_service_perimeter_test.go
  website/docs/r/accesscontextmanager_access_level.html.markdown
  website/docs/r/accesscontextmanager_access_policy.html.markdown
  website/docs/r/accesscontextmanager_service_perimeter.html.markdown
  website/docs/r/binaryauthorization_attestor.html.markdown
  website/docs/r/binaryauthorization_policy.html.markdown
  website/docs/r/compute_address.html.markdown
  website/docs/r/compute_autoscaler.html.markdown
  website/docs/r/compute_backend_bucket.html.markdown
  website/docs/r/compute_disk.html.markdown
  website/docs/r/compute_firewall.html.markdown
  website/docs/r/compute_forwarding_rule.html.markdown
  website/docs/r/compute_global_address.html.markdown
  website/docs/r/compute_health_check.html.markdown
  website/docs/r/compute_http_health_check.html.markdown
  website/docs/r/compute_https_health_check.html.markdown
  website/docs/r/compute_interconnect_attachment.html.markdown
  website/docs/r/compute_region_autoscaler.html.markdown
  website/docs/r/compute_region_disk.html.markdown
  website/docs/r/compute_route.html.markdown
  website/docs/r/compute_router.html.markdown
  website/docs/r/compute_snapshot.html.markdown
  website/docs/r/compute_ssl_certificate.html.markdown
  website/docs/r/compute_ssl_policy.html.markdown
  website/docs/r/compute_subnetwork.html.markdown
  website/docs/r/compute_target_http_proxy.html.markdown
  website/docs/r/compute_target_https_proxy.html.markdown
  website/docs/r/compute_target_ssl_proxy.html.markdown
  website/docs/r/compute_target_tcp_proxy.html.markdown
  website/docs/r/compute_url_map.html.markdown
  website/docs/r/compute_vpn_gateway.html.markdown
  website/docs/r/compute_vpn_tunnel.html.markdown
  website/docs/r/containeranalysis_note.html.markdown
  website/docs/r/dns_managed_zone.html.markdown
  website/docs/r/filestore_instance.html.markdown
  website/docs/r/monitoring_alert_policy.html.markdown
  website/docs/r/monitoring_group.html.markdown
  website/docs/r/monitoring_notification_channel.html.markdown
  website/docs/r/monitoring_uptime_check_config.html.markdown
  website/docs/r/redis_instance.html.markdown
  website/docs/r/resourcemanager_lien.html.markdown
  website/docs/r/storage_default_object_access_control.html.markdown
  website/docs/r/storage_object_access_control.html.markdown
Labels: documentation, size/M

#253 Add missing stackdriver group to website sidebar
  website/google.erb
Labels: documentation, size/XS

#252 Add missing stackdriver website docs
  website/google.erb
Labels: documentation, size/XS

#260 Require a provider zone to be set in tests
  google-beta/provider_test.go
Labels: size/XS

#251 Add num local ssds and boot disk types to preemptible worker config
  google-beta/resource_dataproc_cluster.go
  google-beta/resource_dataproc_cluster_test.go
  website/docs/r/dataproc_cluster.html.markdown
Labels: documentation, size/S

#256 Add resource_storage_transfer_job
  google-beta/provider.go
  google-beta/resource_storage_transfer_job.go
  google-beta/resource_storage_transfer_job_test.go
  google-beta/validation.go
  website/docs/r/storage_transfer_job.html.markdown
  website/google.erb
Labels: documentation, size/XXL

#243 Add support for Audit Configs
  google-beta/data_source_google_iam_policy.go
  google-beta/iam.go
  google-beta/resource_google_project_iam_policy.go
  google-beta/resource_google_project_iam_policy_test.go
  website/docs/d/google_iam_policy.html.markdown
Labels: documentation, size/XL

#266 Check for errors in import ID parsing.
  google-beta/resource_accesscontextmanager_access_policy.go
  google-beta/resource_binaryauthorization_attestor.go
  google-beta/resource_binaryauthorization_policy.go
  google-beta/resource_compute_address.go
  google-beta/resource_compute_autoscaler.go
  google-beta/resource_compute_backend_bucket.go
  google-beta/resource_compute_disk.go
  google-beta/resource_compute_firewall.go
  google-beta/resource_compute_forwarding_rule.go
  google-beta/resource_compute_global_address.go
  google-beta/resource_compute_health_check.go
  google-beta/resource_compute_http_health_check.go
  google-beta/resource_compute_https_health_check.go
  google-beta/resource_compute_interconnect_attachment.go
  google-beta/resource_compute_region_autoscaler.go
  google-beta/resource_compute_region_disk.go
  google-beta/resource_compute_route.go
  google-beta/resource_compute_router.go
  google-beta/resource_compute_snapshot.go
  google-beta/resource_compute_ssl_certificate.go
  google-beta/resource_compute_ssl_policy.go
  google-beta/resource_compute_subnetwork.go
  google-beta/resource_compute_target_http_proxy.go
  google-beta/resource_compute_target_https_proxy.go
  google-beta/resource_compute_target_ssl_proxy.go
  google-beta/resource_compute_target_tcp_proxy.go
  google-beta/resource_compute_url_map.go
  google-beta/resource_compute_vpn_gateway.go
  google-beta/resource_compute_vpn_tunnel.go
  google-beta/resource_containeranalysis_note.go
  google-beta/resource_dns_managed_zone.go
  google-beta/resource_filestore_instance.go
  google-beta/resource_redis_instance.go
  google-beta/resource_resourcemanager_lien.go
  google-beta/resource_storage_default_object_access_control.go
  google-beta/resource_storage_object_access_control.go
Labels: size/M

#269 [Terraform] Add new regional BigQuery location + tests
  google-beta/resource_bigquery_dataset.go
  google-beta/resource_bigquery_dataset_test.go
  website/docs/r/bigquery_dataset.html.markdown
Labels: documentation, size/M

#265 Add fine-grained audit config for projects.
  google-beta/iam_project.go
  google-beta/provider.go
  google-beta/resource_google_project_iam_audit_config_test.go
  google-beta/resource_iam_audit_config.go
Labels: size/XL

#274 Add affinityCookieTtlSec property in google_compute_backend_service
  google-beta/resource_compute_backend_service.go
  google-beta/resource_compute_backend_service_test.go
  website/docs/r/compute_backend_service.html.markdown
Labels: documentation, size/M

#273 fix TestAccComputeVpnTunnel_regionFromGateway
  google-beta/resource_compute_vpn_tunnel_test.go
Labels: size/XS

#276 add trigger_id to cloudbuild_build_trigger, send it on update
  google-beta/resource_cloudbuild_build_trigger.go
Labels: size/XS

#279 Fix invalid example code
  website/docs/r/compute_router_nat.html.markdown
Labels: documentation, size/XS

#280 Add istio and cloudrun to container cluster.
  google-beta/resource_container_cluster.go
  google-beta/resource_container_cluster_test.go
  website/docs/r/container_cluster.html.markdown
Labels: documentation, size/L

#282 Specify that attach_disk can be used multiple times
  website/docs/r/compute_instance.html.markdown
Labels: documentation, size/XS

#285 upgrade monitoring tests to 0.12 syntax
  google-beta/resource_monitoring_alert_policy_test.go
  google-beta/resource_monitoring_uptime_check_config_generated_test.go
  google-beta/resource_monitoring_uptime_check_config_test.go
  website/docs/r/monitoring_uptime_check_config.html.markdown
Labels: documentation, size/M

#267 clean up operation code
  google-beta/access_context_manager_operation.go
  google-beta/appengine_operation.go
  google-beta/cloudfunctions_operation.go
  google-beta/common_operation.go
  google-beta/composer_operation.go
  google-beta/compute_operation.go
  google-beta/container_operation.go
  google-beta/dataproc_cluster_operation.go
  google-beta/dataproc_job_operation.go
  google-beta/dns_change.go
  google-beta/filestore_operation.go
  google-beta/redis_operation.go
  google-beta/resource_container_cluster.go
  google-beta/resource_container_node_pool.go
  google-beta/resource_dataproc_cluster.go
  google-beta/resource_google_project_services.go
  google-beta/resourcemanager_operation.go
  google-beta/service_account_waiter.go
  google-beta/service_networking_operation.go
  google-beta/serviceman_operation.go
  google-beta/serviceusage_operation.go
  google-beta/spanner_database_operation.go
  google-beta/spanner_instance_operation.go
  google-beta/sqladmin_operation.go
  google-beta/utils.go
Labels: documentation, size/XXL

#281 Make google_compute_router_nat's source_ip_ranges_to_nat Required
  google-beta/resource_compute_router_nat.go
  website/docs/r/compute_router_nat.html.markdown
Labels: documentation, size/XS

#286 Add = to map declarations in examples/tests
  google-beta/data_source_google_compute_instance_test.go
  google-beta/data_source_storage_object_signed_url_test.go
  google-beta/resource_bigquery_dataset_test.go
  google-beta/resource_cloudbuild_build_trigger_test.go
  google-beta/resource_cloudfunctions_function_test.go
  google-beta/resource_composer_environment_test.go
  google-beta/resource_compute_autoscaler_generated_test.go
  google-beta/resource_compute_autoscaler_test.go
  google-beta/resource_compute_disk_generated_test.go
  google-beta/resource_compute_disk_test.go
  google-beta/resource_compute_global_forwarding_rule_test.go
  google-beta/resource_compute_instance_from_template_test.go
  google-beta/resource_compute_instance_group_manager_test.go
  google-beta/resource_compute_instance_template_test.go
  google-beta/resource_compute_instance_test.go
  google-beta/resource_compute_project_metadata_test.go
  google-beta/resource_compute_region_autoscaler_generated_test.go
  google-beta/resource_compute_region_autoscaler_test.go
  google-beta/resource_compute_region_disk_test.go
  google-beta/resource_compute_region_instance_group_manager_test.go
  google-beta/resource_container_cluster_test.go
  google-beta/resource_dataflow_job_test.go
  google-beta/resource_dataproc_cluster_test.go
  google-beta/resource_dataproc_job_test.go
  google-beta/resource_filestore_instance_test.go
  google-beta/resource_google_project_test.go
  google-beta/resource_redis_instance_generated_test.go
  google-beta/resource_redis_instance_test.go
  google-beta/resource_spanner_instance_test.go
  google-beta/resource_sql_database_instance_test.go
  google-beta/resource_storage_bucket_test.go
  google-beta/resource_storage_notification_test.go
  website/docs/d/datasource_google_service_account.html.markdown
  website/docs/d/signed_url.html.markdown
  website/docs/r/bigquery_dataset.html.markdown
  website/docs/r/bigquery_table.html.markdown
  website/docs/r/cloudfunctions_function.html.markdown
  website/docs/r/composer_environment.html.markdown
  website/docs/r/compute_autoscaler.html.markdown
  website/docs/r/compute_disk.html.markdown
  website/docs/r/compute_instance.html.markdown
  website/docs/r/compute_instance_from_template.html.markdown
  website/docs/r/compute_instance_template.html.markdown
  website/docs/r/compute_project_metadata.html.markdown
  website/docs/r/compute_region_autoscaler.html.markdown
  website/docs/r/container_cluster.html.markdown
  website/docs/r/dataflow_job.html.markdown
  website/docs/r/dataproc_cluster.html.markdown
  website/docs/r/dataproc_job.html.markdown
  website/docs/r/google_service_account_key.html.markdown
  website/docs/r/pubsub_subscription.html.markdown
  website/docs/r/redis_instance.html.markdown
  website/docs/r/storage_notification.html.markdown
Labels: size/XL

#283 Add support for protection_level to google_kms_crypto_key
  google-beta/resource_kms_crypto_key.go
  google-beta/resource_kms_crypto_key_test.go
  website/docs/r/google_kms_crypto_key.html.markdown
Labels: documentation, size/M

#287 Update config formatting that no longer works in 0.12
  google-beta/resource_compute_autoscaler_generated_test.go
  google-beta/resource_compute_autoscaler_test.go
  google-beta/resource_compute_instance_group_test.go
  google-beta/resource_compute_instance_test.go
  google-beta/resource_compute_region_autoscaler_generated_test.go
  google-beta/resource_compute_region_autoscaler_test.go
  google-beta/resource_compute_subnetwork_test.go
  website/docs/r/compute_autoscaler.html.markdown
  website/docs/r/compute_region_autoscaler.html.markdown
  website/docs/r/compute_router_nat.html.markdown
Labels: documentation, size/S

#289 Change alert threshold to something less sensitive
  google-beta/resource_monitoring_alert_policy_test.go
Labels: size/XS

#288 Fix the test check in rigm datasource.
  google-beta/data_source_google_compute_region_instance_group_test.go
Labels: size/XS

#290 wait for instances in deleteDetachIGM test
  google-beta/resource_compute_disk_test.go
Labels: size/XS

#292 Fix bad monitoring test data
  google-beta/resource_monitoring_alert_policy_test.go
Labels: size/XS

#295 add diffsuppress for regionautoscaler.target
  google-beta/resource_compute_region_autoscaler.go
Labels: size/XS
