Repository hashicorp/terraform-provider-google-beta, pull requests merged in 2018-11, with the labels that each got.

#74 Remove google_project.app_engine
  google-beta/resource_google_project.go
  google-beta/resource_google_project_test.go
  website/docs/r/google_project.html.markdown
Labels: size/XL

#75 Remove google_cloudfunctions_function.retry_on_failure
  google-beta/resource_cloudfunctions_function.go
  website/docs/r/cloudfunctions_function.html.markdown
Labels: size/S

#73 initial 2.0 upgrade guide
  website/docs/version_2_upgrade.html.markdown
  website/google.erb
Labels: size/L

#79 Remove google_endpoints_service.protoc_output
  google-beta/resource_endpoints_service.go
  website/docs/r/endpoints_service.html.markdown
Labels: size/S

#81 Spacing change
  google-beta/resource_compute_global_forwarding_rule_test.go
Labels: size/XS

#77 Deprecated network_interface.address in code in instance template.
  google-beta/resource_compute_instance_template.go
Labels: size/XS

#80 Remove service_account_id from data.google_service_account_key
  google-beta/data_source_google_service_account_key.go
  google-beta/data_source_google_service_account_key_test.go
Labels: size/M

#78 Make removals in google_container_cluster
  google-beta/resource_container_cluster.go
  google-beta/resource_container_cluster_test.go
  website/docs/r/container_cluster.html.markdown
Labels: size/M

#82 google_bigtable_instance add back validation to num_nodes.
  google-beta/resource_bigtable_instance.go
  website/docs/r/bigtable_instance.html.markdown
Labels: size/XS

#85 Fix make fmt
  google-beta/resource_compute_instance_template.go
Labels: size/XS

#89 Change BigQuery access list to a set
  google-beta/resource_bigquery_dataset.go
Labels: size/XS

#91 Add support for new-style cloud functions triggers.
  google-beta/resource_cloudfunctions_function.go
  google-beta/resource_cloudfunctions_function_test.go
  website/docs/r/cloudfunctions_function.html.markdown
Labels: size/XS

#94 add more changes to upgrade guide
  website/docs/version_2_upgrade.html.markdown
Labels: size/L

#95 govendor fetch google.golang.org/api/accesscontextmanager/v1beta
  vendor/google.golang.org/api/accesscontextmanager/v1beta/accesscontextmanager-api.json
  vendor/google.golang.org/api/accesscontextmanager/v1beta/accesscontextmanager-gen.go
  vendor/vendor.json
Labels: size/XXL

#96 Add support for Access Context Manager product, AccessPolicy resource
  google-beta/access_context_manager_operation.go
  google-beta/config.go
  google-beta/provider.go
  google-beta/provider_accesscontextmanager_gen.go
  google-beta/resource_access_context_manager_access_policy_test.go
  google-beta/resource_accesscontextmanager_access_policy.go
  website/docs/r/accesscontextmanager_access_policy.html.markdown
Labels: size/XL

#97 Remove unnecessary fields in PATCH updates
  google-beta/resource_accesscontextmanager_access_policy.go
  google-beta/resource_compute_firewall.go
  google-beta/resource_compute_router.go
  google-beta/resource_compute_ssl_policy.go
  google-beta/resource_containeranalysis_note.go
  google-beta/resource_filestore_instance.go
  google-beta/resource_redis_instance.go
Labels: size/M

#98 use import-style tests in sql database instance
  google-beta/resource_sql_database_instance_test.go
Labels: size/XL

#84 Implemented support for VPC Connection Peering
  google-beta/config.go
  google-beta/provider.go
  google-beta/resource_service_networking_connection.go
  google-beta/resource_service_networking_connection_test.go
  google-beta/service_networking_operation.go
  vendor/google.golang.org/api/servicenetworking/v1beta/servicenetworking-api.json
  vendor/google.golang.org/api/servicenetworking/v1beta/servicenetworking-gen.go
  vendor/vendor.json
  website/docs/r/service_networking_connection.html.markdown
  website/google.erb
Labels: size/XXL

#99 Add import support to project metadata.
  google-beta/resource_compute_project_metadata.go
  google-beta/resource_compute_project_metadata_test.go
  website/docs/r/compute_project_metadata.html.markdown
Labels: size/L

#90 Add support for accelerators to dataproc
  google-beta/resource_dataproc_cluster.go
  google-beta/resource_dataproc_cluster_test.go
  website/docs/r/dataproc_cluster.html.markdown
Labels: size/L

#104 Small changes to clean up the resource_service_networking_connection PR from #84.
  google-beta/provider.go
  website/docs/r/service_networking_connection.html.markdown
Labels: size/XS

#106 Magic Modules changes.
  website/docs/r/redis_instance.html.markdown
Labels: size/XS

#108 Fix ci tests
  google-beta/resource_composer_environment_test.go
  google-beta/resource_compute_project_metadata_item.go
  google-beta/resource_compute_snapshot.go
  google-beta/resource_dataproc_job.go
  website/docs/r/compute_project_metadata_item.html.markdown
  website/docs/r/compute_snapshot.html.markdown
Labels: size/S

#111 make fmt on resource_dataproc_cluster.go
  google-beta/resource_dataproc_cluster.go
Labels: size/XS

#112 Mirror TPG Travis changes
  .travis.yml
Labels: size/XS

#115 Fix generated test name formatting
  google-beta/resource_compute_address_generated_test.go
  google-beta/resource_compute_autoscaler_generated_test.go
  google-beta/resource_compute_backend_bucket_generated_test.go
  google-beta/resource_compute_disk_generated_test.go
  google-beta/resource_compute_firewall_generated_test.go
  google-beta/resource_compute_forwarding_rule_generated_test.go
  google-beta/resource_compute_global_address_generated_test.go
  google-beta/resource_compute_health_check_generated_test.go
  google-beta/resource_compute_http_health_check_generated_test.go
  google-beta/resource_compute_https_health_check_generated_test.go
  google-beta/resource_compute_region_autoscaler_generated_test.go
  google-beta/resource_compute_region_disk_generated_test.go
  google-beta/resource_compute_route_generated_test.go
  google-beta/resource_compute_router_generated_test.go
  google-beta/resource_compute_ssl_certificate_generated_test.go
  google-beta/resource_compute_ssl_policy_generated_test.go
  google-beta/resource_compute_subnetwork_generated_test.go
  google-beta/resource_compute_target_http_proxy_generated_test.go
  google-beta/resource_compute_target_https_proxy_generated_test.go
  google-beta/resource_compute_target_ssl_proxy_generated_test.go
  google-beta/resource_compute_target_tcp_proxy_generated_test.go
  google-beta/resource_compute_url_map_generated_test.go
  google-beta/resource_compute_vpn_gateway_generated_test.go
  google-beta/resource_compute_vpn_tunnel_generated_test.go
  google-beta/resource_containeranalysis_note_generated_test.go
  google-beta/resource_filestore_instance_generated_test.go
  google-beta/resource_redis_instance_generated_test.go
  google-beta/resource_storage_default_object_access_control_generated_test.go
  google-beta/resource_storage_object_access_control_generated_test.go
Labels: size/L

#114 Add new version.go file + linker flags to test runs.
  GNUmakefile
  version/version.go
Labels: size/XS

#118 Magic Modules changes.
  website/docs/r/redis_instance.html.markdown
Labels: size/XS

#119 Fix disk snapshot expand/encode, kmsKeyName decoder
  google-beta/resource_compute_disk.go
  google-beta/resource_compute_region_disk.go
Labels: size/M

#124 Allow Update for google_cloudbuild_trigger.
  google-beta/resource_cloudbuild_build_trigger.go
  google-beta/resource_cloudbuild_build_trigger_test.go
Labels: size/M

#128 Add docs about regional and zonal versions differing in GKE
  website/docs/d/google_container_engine_versions.html.markdown
  website/docs/r/container_cluster.html.markdown
Labels: size/XS

#126 Add documentation on resource.google_container_cluster
  website/docs/r/container_cluster.html.markdown
Labels: size/XS

#116 Make master_auth user/pass optional
  google-beta/resource_container_cluster.go
  website/docs/r/container_cluster.html.markdown
Labels: size/XS

#120 New Resource: Stack Driver Group
  google-beta/provider_monitoring_gen.go
  google-beta/resource_monitoring_group.go
  google-beta/resource_monitoring_group_generated_test.go
  google-beta/resource_monitoring_group_test.go
  website/docs/r/container_cluster.html.markdown
  website/docs/r/monitoring_group.html.markdown
Labels: size/XL

#132 Add weird diff to storage bucket docs.
  website/docs/r/storage_bucket.html.markdown
Labels: size/XS

#135 add warning about node pools defined in clusters. See TPG #1712.
  website/docs/r/container_cluster.html.markdown
Labels: size/XS

#133 add info about whether a resource/property is in beta into the docs
  website/docs/r/accesscontextmanager_access_policy.html.markdown
  website/docs/r/binaryauthorization_attestor.html.markdown
  website/docs/r/binaryauthorization_policy.html.markdown
  website/docs/r/compute_address.html.markdown
  website/docs/r/compute_autoscaler.html.markdown
  website/docs/r/compute_disk.html.markdown
  website/docs/r/compute_firewall.html.markdown
  website/docs/r/compute_forwarding_rule.html.markdown
  website/docs/r/compute_global_address.html.markdown
  website/docs/r/compute_region_autoscaler.html.markdown
  website/docs/r/compute_region_disk.html.markdown
  website/docs/r/containeranalysis_note.html.markdown
  website/docs/r/filestore_instance.html.markdown
Labels: size/S

#134 Add the sql ssl (client) cert resource, sibling of TPG #2290.
  google-beta/provider.go
  google-beta/resource_sql_ssl_cert.go
  google-beta/resource_sql_ssl_cert_test.go
  website/docs/r/sql_ssl_cert.html.markdown
  website/google.erb
Labels: size/XL

#136 use shorter beta link in docs instead of long description
  website/docs/d/google_container_engine_versions.html.markdown
  website/docs/r/compute_backend_service.html.markdown
  website/docs/r/compute_global_forwarding_rule.html.markdown
  website/docs/r/compute_instance_group_manager.html.markdown
  website/docs/r/compute_region_instance_group_manager.html.markdown
  website/docs/r/container_cluster.html.markdown
  website/docs/r/container_node_pool.html.markdown
Labels: size/M

#93 Container cluster support for cluster autoprovisioning.
  google-beta/resource_container_cluster.go
  google-beta/resource_container_cluster_test.go
  website/docs/r/container_cluster.html.markdown
Labels: size/L

#140 Fix page title for SQL SSL Cert
  website/docs/r/sql_ssl_cert.html.markdown
Labels: size/XS

#107 Start autogenerating resource_dns_managed_zone
  google-beta/provider.go
  google-beta/provider_dns_gen.go
  google-beta/resource_dns_managed_zone.go
  google-beta/resource_dns_managed_zone_generated_test.go
  google-beta/resource_dns_managed_zone_test.go
  website/docs/r/dns_managed_zone.html.markdown
  website/docs/r/dns_managed_zone.markdown
Labels: size/XL

#141 vendor cloud composer v1beta1
  vendor/google.golang.org/api/composer/v1beta1/composer-api.json
  vendor/google.golang.org/api/composer/v1beta1/composer-gen.go
  vendor/vendor.json
Labels: size/XXL

#143 Fix the breaking change in sqladmin.
  google-beta/resource_sql_user.go
Labels: size/XS

#92 Add billing account IAM
  google-beta/iam_billing_account.go
  google-beta/provider.go
  google-beta/resource_google_billing_account_iam_test.go
  website/docs/r/google_billing_account_iam_binding.md
  website/docs/r/google_billing_account_iam_member.md
  website/docs/r/google_billing_account_iam_policy.md
  website/google.erb
Labels: size/XL

#142 Add support for data source google_iam_role
  google-beta/data_source_google_iam_role.go
  google-beta/data_source_google_iam_role_test.go
  google-beta/provider.go
  website/docs/d/datasource_google_iam_role.html.markdown
  website/google.erb
Labels: size/M

#139 Ignore empty json objects inside arrays
  google-beta/resource_binaryauthorization_attestor.go
  google-beta/resource_binaryauthorization_policy.go
  google-beta/resource_compute_autoscaler.go
  google-beta/resource_compute_disk.go
  google-beta/resource_compute_firewall.go
  google-beta/resource_compute_health_check.go
  google-beta/resource_compute_interconnect_attachment.go
  google-beta/resource_compute_region_autoscaler.go
  google-beta/resource_compute_region_disk.go
  google-beta/resource_compute_router.go
  google-beta/resource_compute_subnetwork.go
  google-beta/resource_compute_url_map.go
  google-beta/resource_containeranalysis_note.go
  google-beta/resource_filestore_instance.go
  google-beta/resource_monitoring_alert_policy.go
  google-beta/resource_storage_default_object_access_control.go
  google-beta/resource_storage_object_access_control.go
Labels: size/L

#123 Add a documentation entry for CNAME records
  website/docs/r/dns_record_set.markdown
Labels: size/XS

#147 Move the set project logic higher in the read method
  google-beta/resource_binaryauthorization_attestor.go
  google-beta/resource_binaryauthorization_policy.go
  google-beta/resource_compute_address.go
  google-beta/resource_compute_autoscaler.go
  google-beta/resource_compute_backend_bucket.go
  google-beta/resource_compute_disk.go
  google-beta/resource_compute_firewall.go
  google-beta/resource_compute_forwarding_rule.go
  google-beta/resource_compute_global_address.go
  google-beta/resource_compute_health_check.go
  google-beta/resource_compute_http_health_check.go
  google-beta/resource_compute_https_health_check.go
  google-beta/resource_compute_interconnect_attachment.go
  google-beta/resource_compute_region_autoscaler.go
  google-beta/resource_compute_region_disk.go
  google-beta/resource_compute_route.go
  google-beta/resource_compute_router.go
  google-beta/resource_compute_ssl_certificate.go
  google-beta/resource_compute_ssl_policy.go
  google-beta/resource_compute_subnetwork.go
  google-beta/resource_compute_target_http_proxy.go
  google-beta/resource_compute_target_https_proxy.go
  google-beta/resource_compute_target_ssl_proxy.go
  google-beta/resource_compute_target_tcp_proxy.go
  google-beta/resource_compute_url_map.go
  google-beta/resource_compute_vpn_gateway.go
  google-beta/resource_compute_vpn_tunnel.go
  google-beta/resource_containeranalysis_note.go
  google-beta/resource_dns_managed_zone.go
  google-beta/resource_filestore_instance.go
  google-beta/resource_monitoring_alert_policy.go
  google-beta/resource_monitoring_group.go
  google-beta/resource_monitoring_notification_channel.go
  google-beta/resource_redis_instance.go
Labels: size/XL

#76 Start removing beta igm/rigm fields.
  google-beta/resource_compute_instance_group_manager.go
  google-beta/resource_compute_instance_group_manager_test.go
  google-beta/resource_compute_region_instance_group_manager.go
  google-beta/resource_compute_region_instance_group_manager_test.go
  website/docs/r/compute_region_instance_group_manager.html.markdown
Labels: size/M

#144 support firestore cloud function triggers
  google-beta/resource_cloudfunctions_function.go
  google-beta/resource_cloudfunctions_function_test.go
  google-beta/test-fixtures/cloudfunctions/firestore_trigger.js
  website/docs/r/cloudfunctions_function.html.markdown
Labels: size/M

#148 Add upgrade guide docs for igm, rigm removals.
  website/docs/version_2_upgrade.html.markdown
Labels: size/XS

#145 Support cloud sql private ip (incorporating previous PR feedback)
  google-beta/resource_sql_database_instance.go
  google-beta/resource_sql_database_instance_test.go
  website/docs/r/sql_database_instance.html.markdown
Labels: size/M

#151 Fix indentation
  google-beta/test-fixtures/cloudfunctions/firestore_trigger.js
Labels: size/XS

#153 Pass the terraform resource into all flatten methods
  google-beta/resource_accesscontextmanager_access_policy.go
  google-beta/resource_binaryauthorization_attestor.go
  google-beta/resource_binaryauthorization_policy.go
  google-beta/resource_compute_address.go
  google-beta/resource_compute_autoscaler.go
  google-beta/resource_compute_backend_bucket.go
  google-beta/resource_compute_disk.go
  google-beta/resource_compute_firewall.go
  google-beta/resource_compute_forwarding_rule.go
  google-beta/resource_compute_global_address.go
  google-beta/resource_compute_health_check.go
  google-beta/resource_compute_http_health_check.go
  google-beta/resource_compute_https_health_check.go
  google-beta/resource_compute_interconnect_attachment.go
  google-beta/resource_compute_region_autoscaler.go
  google-beta/resource_compute_region_disk.go
  google-beta/resource_compute_route.go
  google-beta/resource_compute_router.go
  google-beta/resource_compute_ssl_certificate.go
  google-beta/resource_compute_ssl_policy.go
  google-beta/resource_compute_subnetwork.go
  google-beta/resource_compute_target_http_proxy.go
  google-beta/resource_compute_target_https_proxy.go
  google-beta/resource_compute_target_ssl_proxy.go
  google-beta/resource_compute_target_tcp_proxy.go
  google-beta/resource_compute_url_map.go
  google-beta/resource_compute_vpn_gateway.go
  google-beta/resource_compute_vpn_tunnel.go
  google-beta/resource_containeranalysis_note.go
  google-beta/resource_dns_managed_zone.go
  google-beta/resource_filestore_instance.go
  google-beta/resource_monitoring_alert_policy.go
  google-beta/resource_monitoring_group.go
  google-beta/resource_monitoring_notification_channel.go
  google-beta/resource_redis_instance.go
  google-beta/resource_resourcemanager_lien.go
  google-beta/resource_storage_default_object_access_control.go
  google-beta/resource_storage_object_access_control.go
  website/docs/r/sql_database_instance.html.markdown
Labels: size/XXL

#156 Avoid overwriting errors so that they can be detected by handleNotFoundError.
  google-beta/logging_exclusion_billing_account.go
  google-beta/logging_exclusion_folder.go
  google-beta/logging_exclusion_organization.go
  google-beta/logging_exclusion_project.go
Labels: size/XS

#155 Add nil check to fix panic in storage bucket.
  google-beta/resource_storage_bucket.go
Labels: size/XS

#157 Add to state before we send the create call.
  google-beta/resource_dataproc_cluster.go
Labels: size/XS

#146 New Resource: Stackdriver uptime check
  google-beta/provider_monitoring_gen.go
  google-beta/resource_monitoring_uptime_check_config.go
  google-beta/resource_monitoring_uptime_check_config_generated_test.go
  google-beta/resource_monitoring_uptime_check_config_test.go
  website/docs/r/monitoring_uptime_check_config.html.markdown
Labels: size/XXL

#160 Adding rubocop for generated inspec files
  website/docs/r/monitoring_uptime_check_config.html.markdown
  website/google.erb
Labels: size/XS

#162 Docs update for kubernetes version.
  website/docs/r/container_cluster.html.markdown
Labels: size/XS

#161 Add support for Cloud NAT
  google-beta/provider.go
  google-beta/resource_compute_router_nat.go
  google-beta/resource_compute_router_nat_test.go
  website/docs/r/compute_router_nat.html.markdown
  website/google.erb
Labels: size/XL

#164 Add support for content-based load balancing to google_compute_health_check
  google-beta/resource_compute_health_check.go
  website/docs/r/compute_health_check.html.markdown
Labels: size/S
