Repository hashicorp/terraform-provider-google-beta, pull requests merged in 2018-10, with the labels that each got.

#3 Deprecate container_cluster.private_cluster.
  google-beta/resource_container_cluster.go
  google-beta/resource_container_cluster_test.go
Labels: size/L

#1 Update (R)IGM to use patch.
  google-beta/resource_compute_instance_group_manager.go
  google-beta/resource_compute_instance_group_manager_test.go
  google-beta/resource_compute_region_instance_group_manager.go
  google-beta/resource_compute_region_instance_group_manager_test.go
Labels: size/XXL

#4 Undo deprecations for beta.
  google-beta/data_source_google_container_engine_versions.go
  google-beta/iam_compute_subnetwork.go
  google-beta/node_config.go
  google-beta/resource_binaryauthorization_attestor.go
  google-beta/resource_binaryauthorization_policy.go
  google-beta/resource_compute_address.go
  google-beta/resource_compute_backend_service.go
  google-beta/resource_compute_firewall.go
  google-beta/resource_compute_forwarding_rule.go
  google-beta/resource_compute_global_address.go
  google-beta/resource_compute_global_forwarding_rule.go
  google-beta/resource_compute_instance_group_manager.go
  google-beta/resource_compute_region_instance_group_manager.go
  google-beta/resource_container_cluster.go
  google-beta/resource_container_node_pool.go
  google-beta/resource_containeranalysis_note.go
  google-beta/resource_filestore_instance.go
Labels: size/L

#5 Fix test breaks from IGM and cluster changes.
  google-beta/data_source_google_compute_instance_group_test.go
  google-beta/resource_compute_autoscaler_generated_test.go
  google-beta/resource_compute_autoscaler_test.go
  google-beta/resource_compute_backend_service_test.go
  google-beta/resource_compute_disk_test.go
  google-beta/resource_compute_region_autoscaler_generated_test.go
  google-beta/resource_compute_region_autoscaler_test.go
  google-beta/resource_compute_region_backend_service_test.go
Labels: size/M

#7 Deprecate restore_policy in code
  google-beta/resource_google_project_iam_policy.go
Labels: size/XS

#12 Output from magician generating into ga and beta providers
  google-beta/data_source_google_container_engine_versions.go
  google-beta/iam_compute_subnetwork.go
  google-beta/node_config.go
  google-beta/resource_binaryauthorization_attestor.go
  google-beta/resource_binaryauthorization_policy.go
  google-beta/resource_compute_autoscaler.go
  google-beta/resource_compute_backend_bucket.go
  google-beta/resource_compute_backend_service.go
  google-beta/resource_compute_disk.go
  google-beta/resource_compute_global_forwarding_rule.go
  google-beta/resource_compute_health_check.go
  google-beta/resource_compute_http_health_check.go
  google-beta/resource_compute_https_health_check.go
  google-beta/resource_compute_instance_group_manager.go
  google-beta/resource_compute_instance_group_manager_test.go
  google-beta/resource_compute_interconnect_attachment.go
  google-beta/resource_compute_region_autoscaler.go
  google-beta/resource_compute_region_instance_group_manager.go
  google-beta/resource_compute_region_instance_group_manager_test.go
  google-beta/resource_compute_route.go
  google-beta/resource_compute_router.go
  google-beta/resource_compute_ssl_certificate.go
  google-beta/resource_compute_ssl_policy.go
  google-beta/resource_compute_target_http_proxy.go
  google-beta/resource_compute_target_https_proxy.go
  google-beta/resource_compute_target_ssl_proxy.go
  google-beta/resource_compute_target_tcp_proxy.go
  google-beta/resource_compute_vpn_gateway.go
  google-beta/resource_container_cluster.go
  google-beta/resource_container_node_pool.go
  google-beta/resource_containeranalysis_note.go
  google-beta/resource_filestore_instance.go
  google-beta/resource_redis_instance.go
  website/docs/r/binaryauthorization_attestor.html.markdown
  website/docs/r/binaryauthorization_policy.html.markdown
  website/docs/r/compute_address.html.markdown
  website/docs/r/compute_autoscaler.html.markdown
  website/docs/r/compute_disk.html.markdown
  website/docs/r/compute_firewall.html.markdown
  website/docs/r/compute_forwarding_rule.html.markdown
  website/docs/r/compute_global_address.html.markdown
  website/docs/r/compute_interconnect_attachment.html.markdown
  website/docs/r/compute_region_autoscaler.html.markdown
  website/docs/r/compute_ssl_certificate.html.markdown
  website/docs/r/compute_target_http_proxy.html.markdown
  website/docs/r/compute_target_https_proxy.html.markdown
  website/docs/r/compute_target_ssl_proxy.html.markdown
  website/docs/r/compute_target_tcp_proxy.html.markdown
  website/docs/r/compute_url_map.html.markdown
  website/docs/r/compute_vpn_gateway.html.markdown
  website/docs/r/compute_vpn_tunnel.html.markdown
  website/docs/r/containeranalysis_note.html.markdown
  website/docs/r/filestore_instance.html.markdown
  website/docs/r/monitoring_alert_policy.html.markdown
  website/docs/r/redis_instance.html.markdown
  website/docs/r/resourcemanager_lien.html.markdown
  website/docs/r/storage_object_access_control.html.markdown
Labels: size/XXL

#14 OiCS changes due to generating the beta provider
  website/docs/r/binaryauthorization_attestor.html.markdown
  website/docs/r/binaryauthorization_policy.html.markdown
  website/docs/r/compute_address.html.markdown
  website/docs/r/compute_autoscaler.html.markdown
  website/docs/r/compute_backend_bucket.html.markdown
  website/docs/r/compute_disk.html.markdown
  website/docs/r/compute_firewall.html.markdown
  website/docs/r/compute_forwarding_rule.html.markdown
  website/docs/r/compute_global_address.html.markdown
  website/docs/r/compute_health_check.html.markdown
  website/docs/r/compute_http_health_check.html.markdown
  website/docs/r/compute_https_health_check.html.markdown
  website/docs/r/compute_region_autoscaler.html.markdown
  website/docs/r/compute_region_disk.html.markdown
  website/docs/r/compute_route.html.markdown
  website/docs/r/compute_router.html.markdown
  website/docs/r/compute_ssl_certificate.html.markdown
  website/docs/r/compute_ssl_policy.html.markdown
  website/docs/r/compute_subnetwork.html.markdown
  website/docs/r/compute_target_http_proxy.html.markdown
  website/docs/r/compute_target_https_proxy.html.markdown
  website/docs/r/compute_target_ssl_proxy.html.markdown
  website/docs/r/compute_target_tcp_proxy.html.markdown
  website/docs/r/compute_url_map.html.markdown
  website/docs/r/compute_vpn_gateway.html.markdown
  website/docs/r/compute_vpn_tunnel.html.markdown
  website/docs/r/containeranalysis_note.html.markdown
  website/docs/r/filestore_instance.html.markdown
  website/docs/r/redis_instance.html.markdown
  website/docs/r/resourcemanager_lien.html.markdown
  website/docs/r/storage_object_access_control.html.markdown
Labels: size/L

#19 Magic Modules changes.
  google-beta/resource_compute_disk.go
  google-beta/resource_compute_disk_test.go
  google-beta/resource_compute_region_disk.go
  website/docs/r/compute_disk.html.markdown
  website/docs/r/compute_region_disk.html.markdown
Labels: size/L

#22 Adding ipv4 range back
  google-beta/resource_compute_network.go
Labels: size/XS

#23 Add support for Google Cloud Bigtable replication
  google-beta/resource_bigtable_instance.go
  google-beta/resource_bigtable_instance_test.go
Labels: size/L

#18 CI change only - any change here will indicate a dependency on a ruby minor version.
  google-beta/resource_compute_global_forwarding_rule.go
  google-beta/resource_compute_instance_group_manager.go
  google-beta/resource_compute_region_instance_group_manager.go
Labels: size/XS

#35 Empty commit with no code changes
  google-beta/resource_compute_address_generated_test.go
  google-beta/resource_compute_autoscaler_generated_test.go
  google-beta/resource_compute_backend_bucket_generated_test.go
  google-beta/resource_compute_disk_generated_test.go
  google-beta/resource_compute_firewall_generated_test.go
  google-beta/resource_compute_forwarding_rule_generated_test.go
  google-beta/resource_compute_global_address_generated_test.go
  google-beta/resource_compute_health_check_generated_test.go
  google-beta/resource_compute_http_health_check_generated_test.go
  google-beta/resource_compute_https_health_check_generated_test.go
  google-beta/resource_compute_region_autoscaler_generated_test.go
  google-beta/resource_compute_region_disk_generated_test.go
  google-beta/resource_compute_route_generated_test.go
  google-beta/resource_compute_router_generated_test.go
  google-beta/resource_compute_ssl_certificate_generated_test.go
  google-beta/resource_compute_ssl_policy_generated_test.go
  google-beta/resource_compute_subnetwork_generated_test.go
  google-beta/resource_compute_target_http_proxy_generated_test.go
  google-beta/resource_compute_target_https_proxy_generated_test.go
  google-beta/resource_compute_target_ssl_proxy_generated_test.go
  google-beta/resource_compute_target_tcp_proxy_generated_test.go
  google-beta/resource_compute_url_map_generated_test.go
  google-beta/resource_compute_vpn_gateway_generated_test.go
  google-beta/resource_compute_vpn_tunnel_generated_test.go
  google-beta/resource_redis_instance_generated_test.go
Labels: size/L

#28 Magic Modules changes.
  google-beta/resource_compute_global_forwarding_rule.go
  google-beta/resource_compute_instance_group_manager.go
  google-beta/resource_compute_region_instance_group_manager.go
  google-beta/resource_spanner_database.go
  google-beta/resource_spanner_database_test.go
Labels: size/L

#15 Add (beta) filter to autoscaler properties
  google-beta/resource_compute_autoscaler.go
  google-beta/resource_compute_region_autoscaler.go
  website/docs/r/compute_autoscaler.html.markdown
  website/docs/r/compute_region_autoscaler.html.markdown
Labels: size/M

#41 Adding new big query regions
  google-beta/resource_bigquery_dataset.go
Labels: size/XS

#38 Copy all website files
  website/docs/d/google_container_engine_versions.html.markdown
  website/docs/d/google_container_registry_repository.html.markdown
  website/docs/getting_started.html.markdown
  website/docs/index.html.markdown
  website/docs/provider_reference.html.markdown
  website/docs/r/bigtable_instance.html.markdown
  website/docs/r/bigtable_table.html.markdown
  website/docs/r/binaryauthorization_attestor.html.markdown
  website/docs/r/binaryauthorization_policy.html.markdown
  website/docs/r/composer_environment.html.markdown
  website/docs/r/compute_backend_service.html.markdown
  website/docs/r/compute_global_forwarding_rule.html.markdown
  website/docs/r/compute_image.html.markdown
  website/docs/r/compute_instance.html.markdown
  website/docs/r/compute_instance_group_manager.html.markdown
  website/docs/r/compute_project_metadata.html.markdown
  website/docs/r/compute_region_instance_group_manager.html.markdown
  website/docs/r/compute_router_peer.html.markdown
  website/docs/r/compute_security_policy.html.markdown
  website/docs/r/compute_subnetwork_iam.html.markdown
  website/docs/r/container_cluster.html.markdown
  website/docs/r/container_node_pool.html.markdown
  website/docs/r/containeranalysis_note.html.markdown
  website/docs/r/dataproc_cluster.html.markdown
  website/docs/r/filestore_instance.html.markdown
  website/docs/r/google_service_account.html.markdown
  website/docs/r/sql_database.html.markdown
  website/docs/r/sql_database_instance.html.markdown
  website/google.erb
Labels: size/L

#44 Add support for google_cloudfunctions_function runtime
  google-beta/resource_cloudfunctions_function.go
  google-beta/resource_cloudfunctions_function_test.go
  website/docs/d/datasource_cloudfunctions_function.html.markdown
  website/docs/r/cloudfunctions_function.html.markdown
Labels: size/XS

#45 support KMS encryption for instance templates
  google-beta/resource_compute_disk_test.go
  google-beta/resource_compute_instance_template.go
  google-beta/resource_compute_instance_template_test.go
  website/docs/r/compute_instance_template.html.markdown
Labels: size/L

#27 Autogenerate {{Resource}}Destroy in tests.
  google-beta/resource_compute_address_generated_test.go
  google-beta/resource_compute_address_test.go
  google-beta/resource_compute_autoscaler_generated_test.go
  google-beta/resource_compute_autoscaler_test.go
  google-beta/resource_compute_backend_bucket_generated_test.go
  google-beta/resource_compute_backend_bucket_test.go
  google-beta/resource_compute_disk_generated_test.go
  google-beta/resource_compute_disk_test.go
  google-beta/resource_compute_firewall_generated_test.go
  google-beta/resource_compute_firewall_test.go
  google-beta/resource_compute_forwarding_rule_generated_test.go
  google-beta/resource_compute_forwarding_rule_test.go
  google-beta/resource_compute_global_address_generated_test.go
  google-beta/resource_compute_global_address_test.go
  google-beta/resource_compute_health_check_generated_test.go
  google-beta/resource_compute_health_check_test.go
  google-beta/resource_compute_http_health_check_generated_test.go
  google-beta/resource_compute_http_health_check_test.go
  google-beta/resource_compute_https_health_check_generated_test.go
  google-beta/resource_compute_https_health_check_test.go
  google-beta/resource_compute_region_autoscaler_generated_test.go
  google-beta/resource_compute_region_autoscaler_test.go
  google-beta/resource_compute_region_disk_generated_test.go
  google-beta/resource_compute_region_disk_test.go
  google-beta/resource_compute_route_generated_test.go
  google-beta/resource_compute_route_test.go
  google-beta/resource_compute_router_generated_test.go
  google-beta/resource_compute_router_test.go
  google-beta/resource_compute_ssl_certificate_generated_test.go
  google-beta/resource_compute_ssl_certificate_test.go
  google-beta/resource_compute_ssl_policy_generated_test.go
  google-beta/resource_compute_ssl_policy_test.go
  google-beta/resource_compute_subnetwork_generated_test.go
  google-beta/resource_compute_subnetwork_test.go
  google-beta/resource_compute_target_http_proxy_generated_test.go
  google-beta/resource_compute_target_http_proxy_test.go
  google-beta/resource_compute_target_https_proxy_generated_test.go
  google-beta/resource_compute_target_https_proxy_test.go
  google-beta/resource_compute_target_ssl_proxy_generated_test.go
  google-beta/resource_compute_target_ssl_proxy_test.go
  google-beta/resource_compute_target_tcp_proxy_generated_test.go
  google-beta/resource_compute_target_tcp_proxy_test.go
  google-beta/resource_compute_url_map_generated_test.go
  google-beta/resource_compute_url_map_test.go
  google-beta/resource_compute_vpn_gateway_generated_test.go
  google-beta/resource_compute_vpn_gateway_test.go
  google-beta/resource_compute_vpn_tunnel_generated_test.go
  google-beta/resource_compute_vpn_tunnel_test.go
  google-beta/resource_redis_instance_generated_test.go
  google-beta/resource_redis_instance_test.go
  google-beta/transport_test.go
Labels: size/XXL

#47 Make google_storage_default_object_acl authoritative.
  google-beta/resource_storage_default_object_acl.go
  google-beta/resource_storage_default_object_acl_test.go
  website/docs/r/storage_default_object_acl.html.markdown
Labels: size/L

#51 Increase filestore timeouts
  google-beta/resource_filestore_instance.go
  website/docs/r/filestore_instance.html.markdown
Labels: size/XS

#54 use correct fields for bigtable test
  google-beta/resource_bigtable_table_test.go
Labels: size/XS

#52 Increase redis timeouts
  google-beta/resource_redis_instance.go
  website/docs/r/redis_instance.html.markdown
Labels: size/XS

#55 Update composer timeouts
  google-beta/resource_composer_environment.go
Labels: size/XS

#53 add retries on create for container cluster
  google-beta/resource_container_cluster.go
Labels: size/XS

#49 Remove duplicate storage_object_access_control test.
  google-beta/resource_google_storage_object_access_control_test.go
Labels: size/M

#56 Remove name_prefix from container node pool
  google-beta/resource_container_cluster_test.go
  google-beta/resource_container_node_pool.go
  google-beta/resource_container_node_pool_test.go
Labels: size/M

#50 Move beta providers to their own block in provider.go
  google-beta/provider.go
  google-beta/resource_containeranalysis_note_generated_test.go
  google-beta/resource_containeranalysis_note_test.go
  google-beta/resource_filestore_instance_generated_test.go
  google-beta/resource_filestore_instance_test.go
Labels: size/M

#25 Make google_project_iam_policy authoritative.
  google-beta/resource_google_project_iam_policy.go
  google-beta/resource_google_project_iam_policy_test.go
  google-beta/resource_google_project_test.go
  website/docs/r/google_project_iam.html.markdown
Labels: size/XL

#64 Remove files that aren't managed by magic-modules or explicitly excluded.
  website/docs/d/datasource_compute_instance.html.markdown
  website/docs/r/cloudfunctions_function.html.markdown
  website/docs/r/compute_instance.html.markdown
  website/docs/r/container_node_pool.html.markdown
  website/docs/r/google_project.html.markdown
Labels: size/XS

#60 Update provider docs for 2.0.0
  website/docs/getting_started.html.markdown
  website/docs/index.html.markdown
  website/docs/provider_reference.html.markdown
  website/docs/provider_versions.html.markdown
Labels: size/S

#67 Unintended changes
  website/docs/r/binaryauthorization_attestor.html.markdown
  website/docs/r/binaryauthorization_policy.html.markdown
  website/docs/r/containeranalysis_note.html.markdown
Labels: size/XS

#65 Fix typo in resource name, same as TPG #2365
  website/docs/r/spanner_database.html.markdown
Labels: size/XS

#66 add diffsuppress for iam custom role stage. fixes TPG #1801
  google-beta/resource_google_organization_iam_custom_role.go
  google-beta/resource_google_project_iam_custom_role.go
Labels: size/XS

#69 Update igm and rigm docs
  website/docs/r/compute_instance_group_manager.html.markdown
  website/docs/r/compute_region_instance_group_manager.html.markdown
Labels: size/M

#71 Add missing resources and datasources to sidebar.
  website/google.erb
Labels: size/XS

#70 Read Bigtable column family from the API
  google-beta/resource_bigtable_table.go
  website/docs/r/bigtable_table.html.markdown
Labels: size/XS

#72 Change instances in target pool to be a set
  google-beta/resource_compute_target_pool.go
  google-beta/resource_compute_target_pool_test.go
Labels: size/L
