Repository hashicorp/terraform-provider-google-beta, pull requests merged in 2019-11, with the labels that each got.

#1316 Add sweepers to clean up monitoring groups
  google-beta/resource_monitoring_group_generated_test.go
  google-beta/resource_monitoring_group_test.go
  website/docs/r/monitoring_group.html.markdown
Labels: documentation, size/M

#1309 Move RIGM/IGM updating to use versions and update_policy
  google-beta/resource_compute_instance_group_manager.go
  google-beta/resource_compute_instance_group_manager_test.go
  google-beta/resource_compute_region_instance_group_manager.go
  google-beta/resource_compute_region_instance_group_manager_test.go
  website/docs/r/compute_instance_group_manager.html.markdown
  website/docs/r/compute_region_instance_group_manager.html.markdown
Labels: documentation, size/M

#1320 Subnet logconfig prepare for 3.0.0
  google-beta/resource_compute_subnetwork.go
  google-beta/resource_compute_subnetwork_generated_test.go
  google-beta/resource_compute_subnetwork_test.go
  website/docs/r/compute_subnetwork.html.markdown
Labels: documentation, size/XL

#1233 Adding Router datasource
  google-beta/data_source_google_compute_router.go
  google-beta/data_source_google_compute_router_test.go
  google-beta/provider.go
  google-beta/resource_sql_database_instance_test.go
  website/docs/d/datasource_compute_router.html.markdown
  website/google.erb
Labels: documentation, size/M

#1318 Ansible - Fixing Target Instance / Reservation Docs
  website/docs/r/compute_target_instance.html.markdown
Labels: documentation, size/XS

#1326 deprecate pgp_key from google service account key resource
  google-beta/resource_google_service_account_key.go
  google-beta/resource_sql_database_instance_test.go
  website/docs/r/google_service_account_key.html.markdown
Labels: documentation, size/XS

#1325 update examples from 0.11 syntax to 0.12 syntax
  examples/cloud-armor/main.tf
  examples/cloud-armor/variables.tf
  examples/content-based-load-balancing/main.tf
  examples/content-based-load-balancing/output.tf
  examples/endpoints-on-compute-engine/main.tf
  examples/internal-load-balancing/main.tf
  examples/internal-load-balancing/output.tf
  examples/shared-vpc/main.tf
  examples/shared-vpc/output.tf
  examples/two-tier/main.tf
  examples/two-tier/output.tf
  examples/vpn/vpn.tf
Labels: size/XL

#1328 Update IGM/RIGM tests to use version
  google-beta/resource_compute_autoscaler_generated_test.go
  google-beta/resource_compute_region_autoscaler_generated_test.go
  website/docs/r/compute_autoscaler.html.markdown
  website/docs/r/compute_backend_service_signed_url_key.html.markdown
  website/docs/r/compute_region_autoscaler.html.markdown
Labels: size/XS

#1311 Add L7 ILB fields to RegionBackendService
  google-beta/resource_compute_forwarding_rule.go
  google-beta/resource_compute_global_forwarding_rule.go
  google-beta/resource_compute_region_backend_service.go
  google-beta/resource_compute_region_backend_service_generated_test.go
  google-beta/resource_compute_region_backend_service_test.go
  website/docs/r/compute_backend_service.html.markdown
  website/docs/r/compute_forwarding_rule.html.markdown
  website/docs/r/compute_region_backend_service.html.markdown
Labels: documentation, size/XXL

#1331 Add safe `self_link` comparison to compute DS tests
  google-beta/data_source_google_compute_address_test.go
  google-beta/data_source_google_compute_forwarding_rule_test.go
  google-beta/data_source_google_compute_global_address_test.go
  google-beta/data_source_google_compute_image_test.go
  google-beta/data_source_google_compute_instance_group_test.go
  google-beta/data_source_google_compute_network_test.go
  google-beta/data_source_google_compute_resource_policy_test.go
  google-beta/data_source_google_compute_subnetwork_test.go
  google-beta/data_source_google_compute_vpn_gateway_test.go
Labels: changelog: no-release-note, size/S

#1329 ensure only one logging exclusion per parent is mutated at a time
  google-beta/resource_logging_billing_account_exclusion_test.go
  google-beta/resource_logging_exclusion.go
  google-beta/resource_logging_folder_exclusion_test.go
  google-beta/resource_logging_organization_exclusion_test.go
  google-beta/resource_logging_project_exclusion_test.go
  google-beta/test_utils.go
Labels: size/XL

#1336 Adding a few more subcategories
  website/docs/r/google_iap_tunnel_instance_iam.markdown
  website/docs/r/healthcare_dataset_iam.html.markdown
  website/docs/r/healthcare_dicom_store_iam.html.markdown
  website/docs/r/healthcare_fhir_store_iam.html.markdown
  website/docs/r/healthcare_hl7_v2_store_iam.html.markdown
Labels: documentation, size/XS

#1337 Add docscheck make target/script for website docs
  .travis.yml
  GNUmakefile
  scripts/docscheck.sh
Labels: size/S

#1321 add IAM conditions support for project IAM
  google-beta/iam_project.go
  google-beta/resource_google_project_iam_binding_test.go
  google-beta/resource_google_project_iam_member_test.go
  google-beta/resource_google_project_iam_policy.go
  google-beta/resource_google_project_iam_policy_test.go
  website/docs/r/google_project_iam.html.markdown
  website/docs/r/google_service_account_iam.html.markdown
Labels: documentation, size/L

#1340 Fix docs for google_compute_instance resource
  website/docs/r/compute_instance.html.markdown
Labels: documentation, size/XS

#1343 Ignore status field in ISV for VPNTunnel
  google-beta/resource_compute_vpn_tunnel_test.go
Labels: changelog: no-release-note, size/XS

#1342 Fix missed cases in datasource tests
  google-beta/data_source_google_compute_forwarding_rule_test.go
  google-beta/data_source_google_compute_instance_group_test.go
Labels: changelog: no-release-note, size/XS

#1344 Add display_name to logging_metric
  google-beta/resource_logging_metric.go
  google-beta/resource_logging_metric_generated_test.go
  google-beta/resource_logging_metric_test.go
  website/docs/r/logging_metric.html.markdown
Labels: documentation, size/XS

#1339 Add Data Fusion Instance resource
  google-beta/config.go
  google-beta/data_fusion_operation.go
  google-beta/provider.go
  google-beta/resource_data_fusion_instance.go
  google-beta/resource_data_fusion_instance_generated_test.go
  google-beta/resource_data_fusion_instance_test.go
  website/docs/r/data_fusion_instance.html.markdown
  website/google.erb
Labels: documentation, size/XL

#1349 Add additional docs for ip_allocation_policy in upgrade guide
  website/docs/guides/version_3_upgrade.html.markdown
Labels: changelog: no-release-note, documentation, size/S

#1350 Add import support to google_bigtable_table
  google-beta/resource_bigtable_table.go
  google-beta/resource_bigtable_table_test.go
  website/docs/r/bigtable_table.html.markdown
Labels: documentation, size/M

#1345 add nil check to dns set func
  google-beta/resource_dns_managed_zone.go
Labels: size/XS

#1351 allow setting autoscaler min_replicas to 0
  google-beta/resource_compute_autoscaler.go
  google-beta/resource_compute_autoscaler_test.go
  google-beta/resource_compute_region_autoscaler.go
  google-beta/resource_compute_region_autoscaler_test.go
Labels: size/XS

#1347 Add docs for disallowing biquery-json service
  website/docs/guides/version_3_upgrade.html.markdown
Labels: changelog: no-release-note, documentation, size/XS

#1354 batch serviceusage reads
  google-beta/batcher.go
  google-beta/resource_google_project_service.go
  google-beta/serviceusage_batching.go
Labels: size/M

#1352 add IAM conditions support for generated IAM resources
  google-beta/iam_binary_authorization_attestor.go
  google-beta/iam_cloud_functions_cloud_function.go
  google-beta/iam_iap_app_engine_service.go
  google-beta/iam_iap_app_engine_version.go
  google-beta/iam_iap_app_engine_version_generated_test.go
  google-beta/iam_iap_web.go
  google-beta/iam_iap_web_backend_service.go
  google-beta/iam_iap_web_backend_service_generated_test.go
  google-beta/iam_iap_web_type_app_engine.go
  google-beta/iam_iap_web_type_compute.go
  google-beta/iam_pubsub_topic.go
  google-beta/iam_runtime_config_config.go
  google-beta/iam_source_repo_repository.go
  website/docs/r/iap_app_engine_version_iam.html.markdown
  website/docs/r/iap_web_backend_service_iam.html.markdown
Labels: documentation, size/XL

#1243 add http_check.validate_ssl monitoring-api
  google-beta/resource_monitoring_uptime_check_config.go
  google-beta/resource_monitoring_uptime_check_config_generated_test.go
  website/docs/r/monitoring_uptime_check_config.html.markdown
Labels: documentation, size/M

#1359 add back setting the ID in IAM import fns
  google-beta/iam_binary_authorization_attestor.go
  google-beta/iam_cloud_functions_cloud_function.go
  google-beta/iam_iap_app_engine_service.go
  google-beta/iam_iap_app_engine_version.go
  google-beta/iam_iap_web.go
  google-beta/iam_iap_web_backend_service.go
  google-beta/iam_iap_web_type_app_engine.go
  google-beta/iam_iap_web_type_compute.go
  google-beta/iam_pubsub_topic.go
  google-beta/iam_runtime_config_config.go
  google-beta/iam_source_repo_repository.go
Labels: changelog: no-release-note, size/XS

#1322 allow {{project_id_or_project}} in assetName
  google-beta/transport.go
Labels: size/XS

#1357 Update .go-version
  .go-version
Labels: size/XS

#1358 Use vendored modules.
  .travis.yml
  GNUmakefile
Labels: size/XS

#1361 add pubsub long name info to upgrade guide
  website/docs/guides/version_3_upgrade.html.markdown
Labels: changelog: no-release-note, documentation, size/XS

#1360 generate compute instance and subnetwork iam
  google-beta/iam_binary_authorization_attestor.go
  google-beta/iam_cloud_functions_cloud_function.go
  google-beta/iam_compute_instance.go
  google-beta/iam_compute_instance_generated_test.go
  google-beta/iam_compute_subnetwork.go
  google-beta/iam_compute_subnetwork_generated_test.go
  google-beta/iam_source_repo_repository.go
  google-beta/provider.go
  google-beta/resource_compute_instance_iam_test.go
  google-beta/resource_compute_subnetwork_iam_test.go
  website/docs/r/binary_authorization_attestor_iam.html.markdown
  website/docs/r/cloudfunctions_cloud_function_iam.html.markdown
  website/docs/r/compute_instance_iam.html.markdown
  website/docs/r/compute_subnetwork_iam.html.markdown
  website/docs/r/iap_app_engine_service_iam.html.markdown
  website/docs/r/iap_app_engine_version_iam.html.markdown
  website/docs/r/iap_web_backend_service_iam.html.markdown
  website/docs/r/iap_web_iam.html.markdown
  website/docs/r/iap_web_type_app_engine_iam.html.markdown
  website/docs/r/iap_web_type_compute_iam.html.markdown
  website/docs/r/pubsub_topic_iam.html.markdown
  website/docs/r/runtimeconfig_config_iam.html.markdown
  website/docs/r/sourcerepo_repository_iam.html.markdown
Labels: documentation, size/XXL

#1363 Add upgrade note for IoT registry event_notification_configs (#2390)
  website/docs/guides/version_3_upgrade.html.markdown
Labels: changelog: no-release-note, documentation, size/S

#1364 fix compute instance iam tests
  google-beta/iam_compute_instance.go
Labels: changelog: no-release-note, size/XS

#1362 Service account description is not updateable.
  google-beta/resource_google_service_account.go
  google-beta/resource_google_service_account_test.go
  google-beta/resource_monitoring_uptime_check_config.go
Labels: size/S

#1370 Improve docs for private_cluster_config
  website/docs/r/container_cluster.html.markdown
Labels: changelog: no-release-note, documentation, size/XS

#1368 Add notification_id to Storage Notification schema
  google-beta/resource_storage_notification.go
  website/docs/r/storage_notification.html.markdown
Labels: documentation, size/XS

#1375 Delete subnet id_format, use default.
  google-beta/resource_compute_subnetwork.go
  website/docs/r/compute_subnetwork_iam.html.markdown
Labels: documentation, size/XS

#1374 Paddy drop pgp key
  google-beta/resource_google_service_account_key.go
  google-beta/resource_google_service_account_key_test.go
  website/docs/r/google_service_account_key.html.markdown
Labels: documentation, size/M

#1376 fix TestAccDataSourceComputeInstance_basic
  google-beta/data_source_google_compute_instance_test.go
Labels: size/XS

#1377 Revert access.role field in bigquery dataset to optional
  google-beta/resource_big_query_dataset.go
  website/docs/guides/version_3_upgrade.html.markdown
  website/docs/r/bigquery_dataset.html.markdown
Labels: documentation, size/XS

#1381 remove TestAccContainerCluster_withReleaseChannelDefault as it no longer tests a valid config
  google-beta/resource_container_cluster_test.go
Labels: changelog: no-release-note, size/S

#1382 update hand written docs to reflect newly required fields
  google-beta/resource_composer_environment.go
  google-beta/resource_container_cluster.go
  google-beta/resource_google_organization_policy.go
  website/docs/guides/version_3_upgrade.html.markdown
  website/docs/r/app_engine_application.html.markdown
  website/docs/r/bigquery_table.html.markdown
  website/docs/r/composer_environment.html.markdown
  website/docs/r/compute_instance.html.markdown
  website/docs/r/compute_instance_template.html.markdown
  website/docs/r/compute_router_peer.html.markdown
  website/docs/r/container_cluster.html.markdown
  website/docs/r/dataproc_cluster.html.markdown
  website/docs/r/dataproc_job.html.markdown
  website/docs/r/sql_database_instance.html.markdown
  website/docs/r/storage_bucket.html.markdown
Labels: documentation, size/L

#1378 Fix regex in health check tests
  google-beta/resource_compute_health_check_test.go
  google-beta/resource_compute_region_health_check_test.go
Labels: changelog: no-release-note, size/XS

#1385 remove unused variable for compute instance lint
  google-beta/resource_compute_instance.go
Labels: size/XS

#1384 set value for enabled in network_policy block in tests
  google-beta/resource_container_cluster_test.go
Labels: changelog: no-release-note, size/XS

#1387 update config in dataproc cluster test for required fields
  google-beta/resource_dataproc_cluster_test.go
Labels: size/XS

#1391 Add back support for renamed project services in reads (lost in 3.0.0)
  google-beta/resource_google_project.go
Labels: changelog: no-release-note, size/XS

#1393 Strip projects/ from the project field, add diff suppress
  google-beta/resource_google_project_iam_policy.go
Labels: size/XS

#1390 upgrade guide fixes
  website/docs/guides/version_3_upgrade.html.markdown
Labels: documentation, size/S

#1388 add import id parsing option
  google-beta/resource_google_folder_organization_policy.go
Labels: size/XS

#1389 remove exactly one policy from organization policies
  google-beta/resource_google_organization_policy.go
  website/docs/guides/version_3_upgrade.html.markdown
Labels: documentation, size/XS

#1394 Add 3.0.0-beta.1 to upgrade guide, note that 3.0.0 isn't out
  website/docs/guides/version_3_upgrade.html.markdown
Labels: documentation, size/XS

#1395 Add a section about 3.0.0-beta.1 to the upgrade guide
  website/docs/guides/version_3_upgrade.html.markdown
Labels: changelog: no-release-note, documentation, size/XS

#1397 Add .hashibot.hcl file to enable random reviewers on TPGB PRs
  .hashibot.hcl
Labels: size/XS

#1373 Error instead of panicking if self link isn't long enough
  google-beta/self_link_helpers.go
Labels: size/XS

#1403 requireAdminApproval/requireCorpOwned in AccessLevel's devicePolicy
  google-beta/resource_access_context_manager_access_level.go
  google-beta/resource_access_context_manager_access_level_test.go
  website/docs/r/access_context_manager_access_level.html.markdown
Labels: documentation, size/S

#1401 Change removed update_strategy to computed
  google-beta/resource_compute_instance_group_manager.go
  google-beta/resource_compute_region_instance_group_manager.go
Labels: size/XS

#1402 improve documentation for IGM/RIGM
  website/docs/guides/version_3_upgrade.html.markdown
  website/docs/r/compute_instance_group_manager.html.markdown
  website/docs/r/compute_region_instance_group_manager.html.markdown
Labels: documentation, size/S

#1386 Bump GKE timeouts
  google-beta/resource_container_cluster.go
  google-beta/resource_container_node_pool.go
  website/docs/r/container_cluster.html.markdown
  website/docs/r/container_node_pool.html.markdown
Labels: documentation, size/XS

#1398 Catch forked handwritten validator resources up with 3.0.0
  google-beta/compute_instance_helpers.go
  google-beta/resource_compute_instance_group_manager.go
  google-beta/resource_compute_region_instance_group_manager.go
  google-beta/resource_storage_bucket.go
Labels: size/XS

#1356 Enable general retries for QueryOp(...) calls
  google-beta/common_operation.go
  google-beta/common_operation_test.go
Labels: size/M

#1406 Remove 0.11 syntax from the upgrade guide examples
  website/docs/guides/version_3_upgrade.html.markdown
Labels: documentation, size/XS

#1405 Use name, not id to fetch dns managed zone datasource
  google-beta/data_source_dns_managed_zone.go
Labels: size/XS

#1407 Fixed description of `ip_configuration` in docs
  google-beta/resource_compute_instance_group_manager.go
  google-beta/resource_compute_region_instance_group_manager.go
  website/docs/r/dataflow_job.html.markdown
Labels: changelog: no-release-note, documentation, size/XS

#1369 Add CloudTasksQueue resource
  google-beta/config.go
  google-beta/provider.go
  google-beta/resource_cloud_tasks_queue.go
  google-beta/resource_cloud_tasks_queue_generated_test.go
  google-beta/resource_cloud_tasks_queue_test.go
  website/docs/r/cloud_tasks_queue.html.markdown
Labels: documentation, size/XXL

#1408 Default min instances to 0 for secondary worker config
  google-beta/resource_dataproc_autoscaling_policy.go
Labels: size/XS

#1410 Don't require 'trigger_template' since it conflicts with 'github' in beta.
  google-beta/resource_cloud_build_trigger.go
  website/docs/r/cloudbuild_trigger.html.markdown
Labels: documentation, size/L

#1240 Use Patch instead of Create, even if creating
  google-beta/resource_service_networking_connection.go
Labels: size/XS

#1411 Add private instance support to data_fusion_instance
  google-beta/resource_data_fusion_instance.go
  google-beta/resource_data_fusion_instance_generated_test.go
  website/docs/r/data_fusion_instance.html.markdown
Labels: documentation, size/L

#1412 Add sidebar entries
  website/google.erb
Labels: changelog: no-release-note, documentation, size/XS

#1415 remove note cidr_blocks is required on master_authorized_network_config
  website/docs/guides/version_3_upgrade.html.markdown
Labels: changelog: no-release-note, documentation, size/XS

#1413 add note about import vs apply for project service resources
  website/docs/r/google_project_service.html.markdown
Labels: changelog: no-release-note, documentation, size/XS

#1419 (Upstream PR) wrong argument reference bigtable_gc_policy
  website/docs/r/bigtable_gc_policy.html.markdown
Labels: changelog: no-release-note, documentation, size/XS

#1404 Add cloudbuild_trigger build timeout and CustomizeDiff
  google-beta/resource_cloud_build_trigger.go
  google-beta/resource_cloudbuild_trigger_test.go
  website/docs/r/cloudbuild_trigger.html.markdown
Labels: documentation, size/L

#1399 Add retries to SQL user insert and update operations.
  google-beta/resource_sql_user.go
Labels: size/XS

#1425 use parent displayname for parent group
  google-beta/resource_monitoring_group_generated_test.go
  website/docs/r/monitoring_group.html.markdown
Labels: changelog: no-release-note, documentation, size/XS

#1421 Dataproc autoscaling ga
  google-beta/resource_dataproc_autoscaling_policy_generated_test.go
  website/docs/r/dataproc_autoscaling_policy.html.markdown
  website/google.erb
Labels: documentation, size/XS

#1424 Cluster authenticator groups ga
  google-beta/resource_container_cluster.go
  website/docs/r/container_cluster.html.markdown
Labels: documentation, size/XS

#1417 Validate on deleted IAM members
  google-beta/data_source_google_iam_policy.go
  google-beta/resource_iam_binding.go
  google-beta/resource_iam_member.go
Labels: documentation, size/XS

#1423 Move min_cpu_platform to GA in dataproc cluster
  website/docs/r/dataproc_cluster.html.markdown
Labels: documentation, size/XS

#1422 allow resources with an indirect project to use user project overrides, enable for kms cryptokey
  google-beta/kms_utils.go
  google-beta/provider_test.go
  google-beta/resource_kms_crypto_key.go
  website/docs/r/kms_crypto_key.html.markdown
Labels: documentation, size/L

#1430 Allow for import format of only numbers in iam folder
  google-beta/iam_folder.go
  google-beta/resource_sql_database_instance_test.go
Labels: size/XS

#1429 Mark min_cpu_platform as computed in instance as it is returned
  google-beta/resource_compute_instance.go
Labels: size/XS

#1418 non-NIC0 ILB support
  google-beta/resource_compute_region_backend_service.go
  google-beta/resource_compute_region_backend_service_test.go
  website/docs/r/compute_region_backend_service.html.markdown
Labels: documentation, size/L

#1431 Update network peering docs, schema
  google-beta/resource_compute_network_peering.go
  website/docs/r/compute_network_peering.html.markdown
Labels: changelog: no-release-note, documentation, size/S

#1433 add user project override support for data.google_kms_secret_ciphertext
  google-beta/data_source_google_kms_secret_ciphertext.go
  google-beta/provider_test.go
  google-beta/resource_sql_database_instance_test.go
  website/docs/d/google_kms_secret_ciphertext.html.markdown
Labels: documentation, size/XS

#1427 Add new provider google_organization_iam_audit_config.
  google-beta/provider.go
  google-beta/resource_google_organization_iam_audit_config_test.go
Labels: size/XL

#1436 Update timeouts - our unit tests are failing on these resources.
  google-beta/resource_compute_project_metadata_item.go
Labels: size/XS

#1439 Network peering import
  google-beta/resource_compute_network_peering.go
  google-beta/resource_compute_network_peering_test.go
  website/docs/r/compute_network_peering.html.markdown
Labels: documentation, size/M

#1396 Auto-generate BgpPeer
  google-beta/provider.go
  google-beta/resource_compute_router_bgp_peer.go
  google-beta/resource_compute_router_bgp_peer_test.go
  google-beta/resource_compute_router_peer.go
  website/docs/r/compute_router_bgp_peer.html.markdown
  website/docs/r/compute_router_peer.html.markdown
  website/google.erb
Labels: documentation, size/XXL

#1432 Add support rootPassword property for MS SQL Server
  google-beta/resource_sql_database_instance.go
  google-beta/resource_sql_database_instance_test.go
  website/docs/r/sql_database_instance.html.markdown
Labels: documentation, size/S

#1434 add `auto_provisioning_defaults` to `google_container_cluster.cluster_autoscaling`
  google-beta/node_config.go
  google-beta/resource_compute_network_peering.go
  google-beta/resource_compute_network_peering_test.go
  google-beta/resource_container_cluster.go
  google-beta/resource_container_cluster_test.go
  google-beta/utils.go
  website/docs/r/compute_network_peering.html.markdown
  website/docs/r/container_cluster.html.markdown
Labels: documentation, size/XL

#1426 WIP - Cloudrun v1
  google-beta/config.go
  google-beta/resource_cloud_run_domain_mapping.go
  google-beta/resource_cloud_run_domain_mapping_generated_test.go
  google-beta/resource_cloud_run_service.go
  google-beta/resource_cloud_run_service_generated_test.go
  google-beta/resource_cloud_run_service_test.go
  google-beta/resource_compute_network_peering.go
  google-beta/resource_compute_network_peering_test.go
  google-beta/transport.go
  google-beta/transport_test.go
  website/docs/r/cloud_run_domain_mapping.html.markdown
  website/docs/r/cloud_run_service.html.markdown
  website/docs/r/compute_network_peering.html.markdown
Labels: documentation, size/XXL

#1440 Move enable_logging to GA for compute_firewall_rule
  google-beta/resource_compute_firewall.go
  website/docs/r/compute_firewall.html.markdown
Labels: documentation, size/S

#1441 Adding notes about cloudrun to upgrade guide
  website/docs/guides/version_3_upgrade.html.markdown
Labels: documentation, size/S

#1442 resolve issues that would cause lint warnings if we enabled the linters
  google-beta/data_source_google_compute_node_types.go
  google-beta/data_source_google_compute_regions.go
  google-beta/data_source_google_compute_zones.go
  google-beta/import.go
  google-beta/kms_utils.go
  google-beta/provider.go
  google-beta/resource_bigquery_table.go
  google-beta/resource_bigtable_app_profile.go
  google-beta/resource_cloud_scheduler_job.go
  google-beta/resource_cloudfunctions_function.go
  google-beta/resource_compute_disk.go
  google-beta/resource_compute_firewall.go
  google-beta/resource_compute_instance_group_migrate_test.go
  google-beta/resource_compute_instance_iam_test.go
  google-beta/resource_compute_instance_migrate.go
  google-beta/resource_compute_instance_template.go
  google-beta/resource_compute_subnetwork_iam_test.go
  google-beta/resource_compute_target_pool.go
  google-beta/resource_container_cluster.go
  google-beta/resource_firestore_index.go
  google-beta/resource_pubsub_subscription.go
  google-beta/resource_security_center_source.go
  google-beta/resource_spanner_database_iam_test.go
  google-beta/resource_spanner_instance_iam_test.go
  google-beta/resource_storage_bucket.go
  google-beta/resource_tpu_node.go
  google-beta/utils.go
  google-beta/validation_test.go
Labels: changelog: no-release-note, size/M
