Repository hashicorp/terraform-provider-google-beta, pull requests merged in 2019-05, with the labels that each got.

#644 Fix documentation error in compute_router_nat
  website/docs/r/compute_router_nat.html.markdown
Labels: documentation, size/XS

#651 Use new client invocation with client libs
  google-beta/config.go
Labels: size/M

#643 Add node groups (sole-tenant nodes)
  google-beta/provider_compute_gen.go
  google-beta/resource_compute_node_group.go
  google-beta/resource_compute_node_group_generated_test.go
  google-beta/resource_compute_node_group_test.go
  google-beta/transport.go
  website/docs/r/compute_node_group.html.markdown
  website/docs/r/compute_node_template.html.markdown
  website/google.erb
Labels: documentation, size/XL

#645 Generate RegionBackendService in terraform
  google-beta/provider.go
  google-beta/provider_compute_gen.go
  google-beta/resource_compute_region_backend_service.go
  google-beta/resource_compute_region_backend_service_generated_test.go
  google-beta/resource_compute_region_backend_service_test.go
  website/docs/r/compute_region_backend_service.html.markdown
Labels: documentation, size/XXL

#598 Update attached disk documentation
  website/docs/r/compute_attached_disk.html.markdown
Labels: documentation, size/XS

#654 Add region_backend_service to CHANGELOG
  CHANGELOG.md
Labels: size/XS

#652 Allow default disk size for TestAccComputeAttachedDisk_region
  google-beta/resource_compute_attached_disk_test.go
Labels: size/XS

#582 Bootstrap service accounts for impersonation tests
  google-beta/bootstrap_utils_test.go
  google-beta/data_source_google_service_account_access_token_test.go
Labels: size/M

#646 Mark Filestore as GA
  google-beta/filestore_operation.go
  google-beta/provider.go
  google-beta/resource_filestore_instance.go
  google-beta/resource_filestore_instance_generated_test.go
  website/docs/r/filestore_instance.html.markdown
Labels: documentation, size/S

#587 URL encode GCS file names
  google-beta/bootstrap_utils_test.go
  google-beta/data_source_google_service_account_access_token_test.go
  google-beta/data_source_google_storage_bucket_object.go
  google-beta/resource_compute_attached_disk_test.go
Labels: size/M

#655 Deduplicate CONTRIBUTING
  .github/CONTRIBUTING.md
Labels: size/M

#657 Reapplying changes that got accidentally reverted.
  google-beta/bootstrap_utils_test.go
  google-beta/data_source_google_service_account_access_token_test.go
  google-beta/resource_compute_attached_disk_test.go
Labels: size/M

#656 IAM Policy on subnets is now GA, moving into non-beta provider
  google-beta/iam_compute_subnetwork.go
Labels: size/XS

#659 Remove validation on GCF regions
  google-beta/resource_cloudfunctions_function.go
Labels: size/XS

#648 Add expiration policy to pubsub subscription resource
  google-beta/resource_pubsub_subscription.go
  google-beta/resource_pubsub_subscription_generated_test.go
  website/docs/r/pubsub_subscription.html.markdown
Labels: documentation, size/M

#647 Add Stackdriver Logging Metric resource
  google-beta/provider.go
  google-beta/provider_logging_gen.go
  google-beta/resource_logging_metric.go
  google-beta/resource_logging_metric_generated_test.go
  google-beta/resource_logging_metric_test.go
  google-beta/transport.go
  website/docs/r/logging_metric.html.markdown
Labels: documentation, size/XXL

#658 Fix invalid assumptions about Project ID's in BQ table
  google-beta/resource_bigquery_table.go
Labels: size/XS

#649 Add Support for Database Encryption
  google-beta/bootstrap_utils_test.go
  google-beta/resource_container_cluster.go
  google-beta/resource_container_cluster_test.go
  website/docs/r/container_cluster.html.markdown
Labels: dependencies, documentation, size/M

#663 Add node_affinities to instance/template
  google-beta/compute_instance_helpers.go
  google-beta/resource_compute_instance.go
  google-beta/resource_compute_instance_template.go
  google-beta/resource_compute_instance_template_test.go
  google-beta/resource_compute_instance_test.go
  website/docs/r/compute_instance.html.markdown
  website/docs/r/compute_instance_template.html.markdown
Labels: documentation, size/XL

#662 Add validation to google_project_iam_custom_role.id
  google-beta/resource_google_project_iam_custom_role.go
  google-beta/validation.go
  google-beta/validation_test.go
Labels: size/S

#666 Remove copy/paste typo
  website/docs/r/compute_instance_template.html.markdown
Labels: documentation, size/XS

#641 Add web security scanner ScanConfig resource to terraform
  google-beta/provider.go
  google-beta/provider_security_scanner_gen.go
  google-beta/resource_google_security_scanner_scan_config_test.go
  google-beta/resource_security_scanner_scan_config.go
  google-beta/resource_security_scanner_scan_config_generated_test.go
  website/docs/r/security_scanner_scan_config.html.markdown
  website/google.erb
Labels: documentation, size/XXL

#670 Fix google_compute_image data example
  website/docs/d/datasource_compute_image.html.markdown
Labels: documentation, size/XS

#665 Add beta field server_binding to node template
  google-beta/resource_compute_node_template.go
  google-beta/resource_compute_node_template_generated_test.go
  google-beta/resource_sql_database_instance_test.go
  website/docs/r/compute_node_template.html.markdown
Labels: documentation, size/L

#671 Update sql_database_instance.html.markdown
  website/docs/r/sql_database_instance.html.markdown
Labels: documentation, size/XS

#673 Update dataproc_cluster.html.markdown
  website/docs/r/dataproc_cluster.html.markdown
Labels: documentation, size/XS

#674 replace hazardous tf patterns in docs
  google-beta/resource_sql_database_instance_test.go
  website/docs/d/google_kms_secret.html.markdown
  website/docs/r/sql_database.html.markdown
  website/docs/r/sql_database_instance.html.markdown
  website/docs/r/sql_ssl_cert.html.markdown
  website/docs/r/sql_user.html.markdown
Labels: documentation, size/S

#679 Revert "Do not read or flatten url_param_only properties in Terraform"
  google-beta/resource_filestore_instance.go
Labels: size/XS

#680 Add a missing closing bracket in a resource block
  website/docs/d/datasource_google_service_account.html.markdown
Labels: documentation, size/XS

#677 s/bigtable/bigquery in logging sink docs
  website/docs/r/logging_billing_account_sink.html.markdown
  website/docs/r/logging_folder_sink.html.markdown
  website/docs/r/logging_organization_sink.html.markdown
  website/docs/r/logging_project_sink.html.markdown
Labels: documentation, size/XS

#681 Revert "Revert "Do not read or flatten url_param_only properties in Terraform""
  google-beta/resource_filestore_instance.go
Labels: size/XS

#676 Add `2.4.1` to primary changelog
  CHANGELOG.md
Labels: size/XS

#682 vendor in IAP beta API
  vendor/google.golang.org/api/iap/v1beta1/iap-api.json
  vendor/google.golang.org/api/iap/v1beta1/iap-gen.go
  vendor/modules.txt
Labels: dependencies, size/XXL

#685 Upstream instance iam
  google-beta/field_helpers.go
  google-beta/iam_compute_instance.go
  google-beta/provider.go
  google-beta/resource_compute_instance_iam_test.go
  website/docs/r/compute_instance_iam.html.markdown
  website/google.erb
Labels: documentation, size/XL

#683 fix TestAccContainerCluster_errorCleanDanglingCluster
  google-beta/resource_container_cluster_test.go
Labels: size/XS

#686 Allow project to be specified when importing instance groups
  google-beta/resource_compute_instance_group.go
  google-beta/resource_compute_instance_group_test.go
Labels: size/S

#690 Revert "Allow project to be specified when importing instance groups"
  google-beta/resource_compute_instance_group.go
  google-beta/resource_compute_instance_group_test.go
Labels: size/S

#689 Allow project to be specified when importing instance groups
  google-beta/resource_compute_instance_group.go
  google-beta/resource_compute_instance_group_test.go
  website/docs/r/compute_instance_group.html.markdown
Labels: documentation, size/S

#692 Revert "Allow project to be specified when importing instance groups"
  google-beta/resource_compute_instance_group.go
  google-beta/resource_compute_instance_group_test.go
  website/docs/r/compute_instance_group.html.markdown
Labels: documentation, size/S

#691 Allow project to be specified when importing instance groups
  google-beta/resource_compute_instance_group.go
  google-beta/resource_compute_instance_group_test.go
  website/docs/r/compute_instance_group.html.markdown
Labels: documentation, size/S

#688 clarify how to create an instance from snapshot
  website/docs/r/compute_instance.html.markdown
Labels: documentation, size/XS

#694 Make vlanTag8021q computed because of PARTNER attachements
  google-beta/resource_compute_interconnect_attachment.go
  website/docs/r/compute_interconnect_attachment.html.markdown
Labels: documentation, size/XS

#695 fix TestAccBigQueryTable_ViewWithLegacySQL
  google-beta/resource_bigquery_table_test.go
Labels: documentation, size/XS

#684 add updatemask for alertpolicy patch
  google-beta/resource_monitoring_alert_policy.go
Labels: size/S

#697 Add a default to Cloud Functions runtime
  google-beta/resource_cloudfunctions_function.go
  google-beta/resource_cloudfunctions_function_test.go
  website/docs/r/cloudfunctions_function.html.markdown
Labels: documentation, size/XS

#702 Explain usage
  website/docs/r/compute_security_policy.html.markdown
Labels: documentation, size/XS

#698 Add support for creating instances with CMEK
  google-beta/data_source_google_compute_instance.go
  google-beta/resource_compute_instance.go
  google-beta/resource_compute_instance_test.go
  website/docs/r/compute_instance.html.markdown
Labels: documentation, size/L

#699 Change the hash function to be more format tolerant
  google-beta/resource_compute_backend_service.go
Labels: size/M

#705 Make sure KMS key "deletion" disables rotation
  google-beta/resource_kms_crypto_key.go
  google-beta/resource_kms_crypto_key_test.go
Labels: size/M

#707 Add more details to GKE master_ipv4_cidr_block docs
  website/docs/r/container_cluster.html.markdown
Labels: documentation, size/XS

#708 Add HTTP2 protocol to backend service
  google-beta/resource_compute_backend_service.go
  website/docs/r/compute_backend_service.html.markdown
Labels: documentation, size/XS

#711 Upstream compute instance shielded VM changes
  google-beta/compute_instance_helpers.go
  google-beta/data_source_google_compute_instance.go
  google-beta/resource_compute_instance.go
  google-beta/resource_compute_instance_template.go
  google-beta/resource_compute_instance_template_test.go
  google-beta/resource_compute_instance_test.go
  website/docs/d/datasource_compute_instance.html.markdown
  website/docs/r/compute_instance.html.markdown
  website/docs/r/compute_instance_template.html.markdown
Labels: documentation, size/XL

#709 Add dataproc iam resources
  google-beta/iam_dataproc_cluster.go
  google-beta/iam_dataproc_job.go
  google-beta/provider.go
  google-beta/resource_dataproc_cluster_iam_test.go
  google-beta/resource_dataproc_job_iam_test.go
  google-beta/resource_google_service_account_iam_test.go
  website/docs/r/dataproc_cluster_iam.html.markdown
  website/docs/r/dataproc_job_iam.html.markdown
  website/google.erb
Labels: documentation, size/XL

#700 Document that a policy must be defined.
  google-beta/resource_google_folder_organization_policy.go
  google-beta/resource_google_organization_policy.go
  google-beta/resource_google_project_organization_policy.go
  google-beta/resource_google_project_organization_policy_test.go
  website/docs/r/google_folder_organization_policy.html.markdown
  website/docs/r/google_organization_policy.html.markdown
  website/docs/r/google_project_organization_policy.html.markdown
Labels: documentation, size/M

#717 Add new line before project doc bullet
  website/docs/r/app_engine_firewall_rule.html.markdown
  website/docs/r/binary_authorization_attestor.html.markdown
  website/docs/r/binary_authorization_policy.html.markdown
  website/docs/r/cloud_build_trigger.html.markdown
  website/docs/r/cloud_scheduler_job.html.markdown
  website/docs/r/compute_address.html.markdown
  website/docs/r/compute_autoscaler.html.markdown
  website/docs/r/compute_backend_bucket.html.markdown
  website/docs/r/compute_backend_bucket_signed_url_key.html.markdown
  website/docs/r/compute_backend_service.html.markdown
  website/docs/r/compute_backend_service_signed_url_key.html.markdown
  website/docs/r/compute_disk.html.markdown
  website/docs/r/compute_firewall.html.markdown
  website/docs/r/compute_forwarding_rule.html.markdown
  website/docs/r/compute_global_address.html.markdown
  website/docs/r/compute_health_check.html.markdown
  website/docs/r/compute_http_health_check.html.markdown
  website/docs/r/compute_https_health_check.html.markdown
  website/docs/r/compute_image.html.markdown
  website/docs/r/compute_interconnect_attachment.html.markdown
  website/docs/r/compute_managed_ssl_certificate.html.markdown
  website/docs/r/compute_network.html.markdown
  website/docs/r/compute_network_endpoint_group.html.markdown
  website/docs/r/compute_node_group.html.markdown
  website/docs/r/compute_node_template.html.markdown
  website/docs/r/compute_region_autoscaler.html.markdown
  website/docs/r/compute_region_backend_service.html.markdown
  website/docs/r/compute_region_disk.html.markdown
  website/docs/r/compute_route.html.markdown
  website/docs/r/compute_router.html.markdown
  website/docs/r/compute_snapshot.html.markdown
  website/docs/r/compute_ssl_certificate.html.markdown
  website/docs/r/compute_ssl_policy.html.markdown
  website/docs/r/compute_subnetwork.html.markdown
  website/docs/r/compute_target_http_proxy.html.markdown
  website/docs/r/compute_target_https_proxy.html.markdown
  website/docs/r/compute_target_instance.html.markdown
  website/docs/r/compute_target_ssl_proxy.html.markdown
  website/docs/r/compute_target_tcp_proxy.html.markdown
  website/docs/r/compute_url_map.html.markdown
  website/docs/r/compute_vpn_gateway.html.markdown
  website/docs/r/compute_vpn_tunnel.html.markdown
  website/docs/r/container_analysis_note.html.markdown
  website/docs/r/dns_managed_zone.html.markdown
  website/docs/r/dns_policy.html.markdown
  website/docs/r/filestore_instance.html.markdown
  website/docs/r/firestore_index.html.markdown
  website/docs/r/logging_metric.html.markdown
  website/docs/r/monitoring_alert_policy.html.markdown
  website/docs/r/monitoring_group.html.markdown
  website/docs/r/monitoring_notification_channel.html.markdown
  website/docs/r/monitoring_uptime_check_config.html.markdown
  website/docs/r/pubsub_subscription.html.markdown
  website/docs/r/pubsub_topic.html.markdown
  website/docs/r/redis_instance.html.markdown
  website/docs/r/security_scanner_scan_config.html.markdown
  website/docs/r/source_repo_repository.html.markdown
  website/docs/r/spanner_database.html.markdown
  website/docs/r/spanner_instance.html.markdown
  website/docs/r/tpu_node.html.markdown
Labels: documentation, size/S

#715 Add signed url key resources to the sidebar
  website/google.erb
Labels: documentation, size/XS

#701 Fix basic ForwardingRule example
  google-beta/resource_compute_forwarding_rule_generated_test.go
  website/docs/r/compute_forwarding_rule.html.markdown
Labels: documentation, size/XS

#716 Add signed URL key resources to changelog
  CHANGELOG.md
Labels: size/XS

#667 Fixes nat subnetwork reference in docs
  website/docs/r/compute_router_nat.html.markdown
Labels: documentation, size/XS

#672 Update google_kms_crypto_key_iam_member.html.markdown
  website/docs/r/google_kms_crypto_key_iam_member.html.markdown
Labels: documentation, size/XS

#714 Sql database port
  google-beta/provider.go
  google-beta/provider_sql_gen.go
  google-beta/resource_sql_database.go
  google-beta/resource_sql_database_instance.go
  google-beta/resource_sql_database_instance_test.go
  google-beta/resource_sql_ssl_cert.go
  google-beta/resource_sql_user.go
  google-beta/sqladmin_operation.go
Labels: size/XL

#721 add other side effect services to project_services test
  google-beta/resource_google_project_services_test.go
Labels: size/XS

#668 Add GCP zone to client_config datasource
  google-beta/data_source_google_client_config.go
  google-beta/data_source_google_client_config_test.go
  website/docs/d/datasource_client_config.html.markdown
Labels: documentation, size/XS

#723 Diff suppress storage transfer job start_time_of_day
  google-beta/data_source_google_client_config.go
  google-beta/data_source_google_client_config_test.go
  google-beta/resource_storage_transfer_job.go
  website/docs/d/datasource_client_config.html.markdown
Labels: documentation, size/XS

#722 use the cluster subnet to look up the node cidr block
  google-beta/resource_container_cluster.go
  google-beta/resource_container_cluster_test.go
  website/docs/r/container_cluster.html.markdown
Labels: documentation, size/S

#728 Increase IAM custom role length validation to match API.
  google-beta/validation.go
  google-beta/validation_test.go
Labels: size/XS

#720 update data source tests that compare lists of fields to compare all fields
  google-beta/data_source_dns_managed_zone_test.go
  google-beta/data_source_google_cloudfunctions_function_test.go
  google-beta/data_source_google_compute_backend_service_test.go
  google-beta/data_source_google_container_cluster_test.go
  google-beta/data_source_google_folder_organization_policy_test.go
  google-beta/data_source_google_project_organization_policy_test.go
  google-beta/data_source_google_project_services_test.go
  google-beta/data_source_google_project_test.go
  google-beta/test_utils.go
Labels: documentation, size/XL

#730 Update storage_transfer_job.html.markdown
  website/docs/r/storage_transfer_job.html.markdown
Labels: documentation, size/XS

#729 Fix typo "google_client_openid_useremail"
  website/docs/d/datasource_google_client_openid_userinfo.html.markdown
Labels: documentation, size/XS

#664 [terraform-beta] adding AUTH_NONE to enums for istio addon_config
  google-beta/resource_container_cluster.go
Labels: size/XS

#739 clarify network_policy_config in gke docs
  google-beta/data_source_google_client_config.go
  google-beta/data_source_google_client_config_test.go
  website/docs/d/datasource_client_config.html.markdown
  website/docs/r/container_cluster.html.markdown
Labels: documentation, size/XS

#745 use resource names that are allowed by GCP in service networking docs
  website/docs/r/service_networking_connection.html.markdown
Labels: documentation, size/XS

#706 google_storage_bucket: Initialize website struct
  google-beta/resource_storage_bucket.go
Labels: size/XS

#731 Convenience fields of N depth
  google-beta/resource_compute_backend_service.go
  google-beta/resource_compute_network.go
  google-beta/resource_compute_region_backend_service.go
Labels: documentation, size/M

#732 datasource_compute_instance: Fix typo
  website/docs/d/datasource_compute_instance.html.markdown
Labels: documentation, size/XS

#751 Don't use bundle install in CI
  google-beta/resource_composer_environment.go
  google-beta/resource_composer_environment_test.go
  google-beta/resource_container_cluster.go
  main.go
Labels: size/XS

#750 Delete handwritten GFR docs
  website/docs/r/compute_global_forwarding_rule.html.markdown
Labels: documentation, size/L

#753 add missing ul to sidebar
  website/google.erb
Labels: documentation, size/XS

#737 DNSSec on Managed Zones
  google-beta/resource_dns_managed_zone.go
  google-beta/resource_dns_managed_zone_test.go
  website/docs/r/dns_managed_zone.html.markdown
Labels: documentation, size/XL

#756 Update to the v0.12.0 final SDK.
  go.mod
  go.sum
  vendor/github.com/hashicorp/terraform/states/statefile/write.go
  vendor/github.com/hashicorp/terraform/version/version.go
  vendor/modules.txt
Labels: dependencies, size/XS

#704 Creating resource for modern/HA vpn gateway in terraform
  google-beta/provider_compute_gen.go
  google-beta/resource_compute_ha_vpn_gateway.go
  google-beta/resource_compute_ha_vpn_gateway_generated_test.go
  google-beta/resource_compute_vpn_tunnel.go
  website/docs/r/compute_ha_vpn_gateway.html.markdown
  website/docs/r/compute_vpn_tunnel.html.markdown
  website/google.erb
Labels: documentation, size/XXL

#742 New data source: Compute SSL certificate
  google-beta/data_source_google_compute_ssl_certificate.go
  google-beta/data_source_google_compute_ssl_certificate_test.go
  google-beta/provider.go
  website/docs/d/datasource_compute_ssl_certificate.html.markdown
  website/google.erb
Labels: documentation, size/M

#760 Remove appengine location validation
  google-beta/resource_app_engine_application.go
Labels: size/XS

#758 Add 0.12 message to docs
  website/docs/index.html.markdown
  website/docs/provider_reference.html.markdown
Labels: documentation, size/XS

#761 Update IGM import documentation to list all supported id formats
  website/docs/r/compute_instance_group_manager.html.markdown
Labels: documentation, size/XS

#759 Send external gateway interface id if empty
  google-beta/resource_compute_vpn_tunnel.go
Labels: size/XS

#763 Fix typo in iam docs
  website/docs/r/compute_instance_iam.html.markdown
  website/docs/r/compute_subnetwork_iam.html.markdown
Labels: documentation, size/XS

#749 add support for vertical pod autoscaling
  google-beta/resource_container_cluster.go
  google-beta/resource_container_cluster_test.go
Labels: size/M

#733 Community/veritcal pod
  google-beta/resource_container_cluster.go
  google-beta/resource_container_cluster_test.go
  website/docs/r/container_cluster.html.markdown
Labels: documentation, size/M

#768 Empty commit for build fixing
  google-beta/resource_container_cluster.go
  google-beta/resource_container_cluster_test.go
Labels: size/M

#743 Add log_config block to router_nat
  google-beta/resource_compute_router_nat.go
  google-beta/resource_compute_router_nat_test.go
  website/docs/r/compute_router_nat.html.markdown
Labels: documentation, size/M

#769 Add interconnect_attachment to router_interface
  google-beta/resource_compute_router_interface.go
  google-beta/resource_compute_router_interface_test.go
  google-beta/resource_compute_vpn_tunnel.go
  google-beta/utils.go
  website/docs/r/compute_router_interface.html.markdown
Labels: documentation, size/L

#764 Replace description: > with description: |
  website/docs/r/dns_managed_zone.html.markdown
Labels: documentation, size/XS

#755 allow setting firewall priority to 0
  google-beta/resource_compute_firewall.go
Labels: size/XS

#774 allow going from no ip_allocation_policy to a blank-equivalent one
  google-beta/resource_container_cluster.go
  google-beta/resource_container_cluster_test.go
  google-beta/test_utils.go
  google-beta/utils.go
Labels: size/M

#775 Upgrade Region Backend Service state
  google-beta/resource_compute_region_backend_service.go
Labels: size/XS

#776 allow empty metadata.startup-script
  google-beta/metadata.go
  google-beta/resource_compute_instance.go
  google-beta/resource_compute_instance_from_template_test.go
Labels: size/M

#741 Make cloud composer environment image version updateable.
  google-beta/resource_composer_environment.go
  google-beta/resource_composer_environment_test.go
Labels: documentation, size/XS

#778 Fix Binauth Policy attestor set func
  google-beta/resource_binary_authorization_policy.go
  google-beta/resource_binaryauthorization_policy_test.go
Labels: size/M

#779 Fix GKE examples
  website/docs/r/container_cluster.html.markdown
  website/docs/r/container_node_pool.html.markdown
Labels: documentation, size/S

#770 Add information about releases to provider docsite
  website/docs/index.html.markdown
  website/docs/provider_versions.html.markdown
Labels: documentation, size/M

#762 Cherrypick: Add 0.12 message to docs (#758)
  website/docs/index.html.markdown
  website/docs/provider_reference.html.markdown
Labels: documentation, size/XS

#783 Add support for empty expiration policies in pubsub
  google-beta/resource_pubsub_subscription.go
  google-beta/resource_pubsub_subscription_test.go
Labels: size/M

#777 fix dnssec test
  google-beta/resource_dns_managed_zone.go
  google-beta/resource_dns_managed_zone_test.go
  website/docs/r/dns_managed_zone.html.markdown
Labels: documentation, size/M

#748 Terraform: KMS KeyRing
  google-beta/kms_utils.go
  google-beta/provider.go
  google-beta/provider_kms_gen.go
  google-beta/resource_kms_key_ring.go
  website/docs/r/google_kms_key_ring.html.markdown
  website/docs/r/kms_key_ring.html.markdown
  website/google.erb
Labels: documentation, size/XL

#782 Fix flattened custom patchable resources
  google-beta/resource_compute_network.go
Labels: size/XS

#786 Remove attribute syntax on blocks in getting started guide
  website/docs/getting_started.html.markdown
Labels: documentation, size/XS

#780 Refactor nested query
  google-beta/resource_compute_backend_bucket_signed_url_key.go
  google-beta/resource_compute_backend_service_signed_url_key.go
  google-beta/resource_resource_manager_lien.go
Labels: size/M

#752 add data source for composer image versions
  google-beta/data_source_google_composer_image_versions.go
  google-beta/data_source_google_composer_image_versions_test.go
  google-beta/provider.go
  website/docs/d/datasource_google_composer_image_versions.html.markdown
  website/google.erb
Labels: documentation, size/L

#788 Handle GKE cluster client cert settings correctly
  google-beta/resource_container_cluster.go
  google-beta/resource_sql_database_instance_test.go
Labels: size/M

#785 Add more formats for nat import
  google-beta/resource_compute_router_nat.go
  google-beta/resource_compute_router_nat_test.go
Labels: size/S

#796 Add more formats for nat import
  google-beta/resource_sql_database_instance_test.go
  website/docs/r/compute_router_nat.html.markdown
Labels: documentation, size/XS

#789 Add failover to region_backend_service
  google-beta/resource_compute_region_backend_service.go
  google-beta/resource_compute_region_backend_service_test.go
  website/docs/r/compute_region_backend_service.html.markdown
Labels: documentation, size/L
