Repository hashicorp/terraform-provider-google-beta, pull requests merged in 2019-09, with the labels that each got.

#1112 Add note about metadata startup script import
  google-beta/resource_compute_vpn_gateway.go
  google-beta/resource_compute_vpn_tunnel.go
  website/docs/r/compute_instance.html.markdown
Labels: documentation, size/XS

#1096 update explicit buckets name and make item_type of bounds integers
  google-beta/resource_logging_metric.go
  google-beta/resource_logging_metric_test.go
  website/docs/r/logging_metric.html.markdown
Labels: changelog: bug-fix, documentation, size/M

#1051 Add purpose and role to subnetwork for L7 load balancing
  google-beta/resource_compute_subnetwork.go
  google-beta/resource_compute_subnetwork_generated_test.go
  website/docs/r/compute_subnetwork.html.markdown
Labels: changelog: enhancement, documentation, size/M

#1115 Megan compute address purpose
  google-beta/resource_compute_address.go
  google-beta/resource_compute_address_generated_test.go
  website/docs/r/compute_address.html.markdown
Labels: changelog: enhancement, documentation, size/M

#1079 Add app engine domain mappings resource
  google-beta/provider.go
  google-beta/resource_app_engine_domain_mapping.go
  google-beta/resource_app_engine_domain_mapping_generated_test.go
  google-beta/resource_app_engine_domain_mapping_test.go
  website/docs/r/app_engine_domain_mapping.html.markdown
  website/google.erb
Labels: changelog: new-resource, documentation, size/XL

#1117 Meagn logging metric unit
  google-beta/resource_logging_metric.go
  google-beta/resource_logging_metric_generated_test.go
  website/docs/r/logging_metric.html.markdown
Labels: changelog: enhancement, documentation, size/XS

#1120 Enable http timeout errors to be retried
  google-beta/resource_logging_metric.go
  google-beta/resource_logging_metric_generated_test.go
  google-beta/utils.go
  google-beta/utils_test.go
  website/docs/r/logging_metric.html.markdown
Labels: documentation, size/M

#1124 Make compute subnetwork purpose computed
  google-beta/resource_compute_subnetwork.go
Labels: changelog: no-release-note, size/XS

#1127 Use block syntax in cloudiot docs
  google-beta/resource_logging_metric.go
  google-beta/resource_logging_metric_generated_test.go
  website/docs/r/cloudiot_registry.html.markdown
  website/docs/r/logging_metric.html.markdown
Labels: documentation, size/S

#1128 Clarify dataproc SA scopes computed-ness
  website/docs/r/dataproc_cluster.html.markdown
Labels: changelog: no-release-note, documentation, size/XS

#1116 Autogenerate compute router NAT
  google-beta/provider.go
  google-beta/resource_compute_backend_bucket_signed_url_key.go
  google-beta/resource_compute_backend_service_signed_url_key.go
  google-beta/resource_compute_network_endpoint.go
  google-beta/resource_compute_router_nat.go
  google-beta/resource_resource_manager_lien.go
  website/docs/r/compute_router_nat.html.markdown
Labels: documentation, size/XXL

#1121 Add cloudfunctions function IAM resources
  google-beta/config.go
  google-beta/data_source_google_cloudfunctions_function_test.go
  google-beta/iam_cloud_functions_cloud_function.go
  google-beta/iam_cloud_functions_cloud_function_generated_test.go
  google-beta/iam_iap_web.go
  google-beta/iam_iap_web_backend_service.go
  google-beta/iam_iap_web_type_app_engine.go
  google-beta/iam_iap_web_type_compute.go
  google-beta/iam_pubsub_topic.go
  google-beta/iam_source_repo_repository.go
  google-beta/provider.go
  google-beta/provider_handwritten_endpoint.go
  google-beta/resource_cloudfunctions_function_test.go
  website/docs/r/cloudfunctions_cloud_function_iam.html.markdown
  website/docs/r/pubsub_topic_iam.html.markdown
  website/docs/r/sourcerepo_repository_iam.html.markdown
  website/google.erb
Labels: changelog: new-resource, documentation, size/XL

#1123 add docs about scratch disk size
  website/docs/r/compute_instance_template.html.markdown
Labels: documentation, size/XS

#1129 update allowed values for subnet purpose
  google-beta/resource_compute_subnetwork.go
  website/docs/r/compute_subnetwork.html.markdown
Labels: documentation, size/XS

#1134 set auditconfigs in state for iam policy resources
  google-beta/resource_google_folder_iam_policy_test.go
  google-beta/resource_iam_policy.go
Labels: size/M

#1132 remove need for provider-level project from service networking connection resource
  google-beta/resource_service_networking_connection.go
  google-beta/resource_sql_database_instance_test.go
Labels: size/XS

#1136 Add note that Cloud Build trigger_template is required.
  google-beta/resource_service_networking_connection.go
  google-beta/resource_sql_database_instance_test.go
  website/docs/r/cloudbuild_trigger.html.markdown
Labels: changelog: no-release-note, documentation, size/XS

#1133 allow master authorized networks config to be removed
  google-beta/resource_container_cluster.go
  google-beta/resource_container_cluster_test.go
  google-beta/resource_service_networking_connection.go
Labels: size/S

#1119 add mode option to google compute instance boot disk
  google-beta/resource_compute_instance.go
  google-beta/resource_compute_instance_test.go
  website/docs/r/compute_instance.html.markdown
Labels: changelog: enhancement, documentation, size/M

#1144 Firewall case insensitive protocol
  google-beta/resource_compute_firewall.go
Labels: changelog: enhancement, size/XS

#1145 add bigquery data transfer to sidebar
  website/google.erb
Labels: documentation, size/XS

#1137 Add log_config to backend service and region backend service
  google-beta/resource_compute_backend_service.go
  google-beta/resource_compute_backend_service_test.go
  website/docs/r/compute_backend_service.html.markdown
Labels: changelog: enhancement, documentation, size/L

#1146 update docs and add `clustering` to big query table
  google-beta/resource_compute_backend_service.go
  google-beta/resource_compute_backend_service_test.go
  website/docs/r/bigquery_table.html.markdown
  website/docs/r/compute_backend_service.html.markdown
Labels: documentation, size/L

#1086 Add GCE Zonal Reservation resource
  google-beta/provider.go
  google-beta/resource_compute_backend_service.go
  google-beta/resource_compute_backend_service_test.go
  google-beta/resource_compute_reservation.go
  google-beta/resource_compute_reservation_generated_test.go
  website/docs/r/compute_backend_service.html.markdown
  website/docs/r/compute_reservation.html.markdown
Labels: changelog: new-resource, documentation, size/XXL

#1147 Add sidebar link for GCE Reservation
  website/google.erb
Labels: documentation, size/XS

#1150 Add back GCE reservation after x-merge
  google-beta/provider.go
  google-beta/resource_compute_reservation.go
  google-beta/resource_compute_reservation_generated_test.go
  website/docs/r/compute_reservation.html.markdown
Labels: documentation, size/XXL

#1151 update/organize sidebar
  google-beta/provider.go
  website/google.erb
Labels: changelog: no-release-note, documentation, size/M

#1085 [WIP] Allow updating of resource policies in compute_disk
  google-beta/provider.go
  google-beta/resource_compute_disk.go
  google-beta/resource_compute_disk_resource_policy_attachment.go
  google-beta/resource_compute_disk_resource_policy_attachment_test.go
  google-beta/resource_compute_resource_policy_generated_test.go
  website/docs/r/compute_disk_resource_policy_attachment.html.markdown
  website/docs/r/compute_resource_policy.html.markdown
Labels: documentation, size/XL

#1155 Add drainNatIps to router nat
  google-beta/resource_compute_router_nat.go
  google-beta/resource_compute_router_nat_test.go
  website/docs/r/compute_router_nat.html.markdown
Labels: documentation, size/XL

#1138 Generate runtimeconfig IAM resources
  google-beta/config.go
  google-beta/iam_runtime_config_config.go
  google-beta/iam_runtime_config_config_generated_test.go
  google-beta/provider.go
  google-beta/provider_handwritten_endpoint.go
  website/docs/r/runtimeconfig_config_iam.html.markdown
Labels: changelog: new-resource, documentation, size/XL

#1152 add test that checks that master authorized networks config is disabled
  google-beta/resource_container_cluster_test.go
Labels: size/M

#1156 add guest os features to compute image
  google-beta/resource_compute_image.go
  google-beta/resource_compute_image_generated_test.go
  website/docs/r/compute_image.html.markdown
Labels: documentation, size/L

#1158 Properly set project for iam_project
  google-beta/iam_project.go
Labels: size/XS

#1143 image_version and python_version are ga in composer
  google-beta/resource_composer_environment_test.go
  website/docs/r/composer_environment.html.markdown
Labels: changelog: enhancement, documentation, size/XS

#1162 Replace several occurrences of id in docs
  website/docs/d/google_kms_secret.html.markdown
  website/docs/d/google_kms_secret_ciphertext.html.markdown
  website/docs/r/pubsub_subscription.html.markdown
Labels: documentation, size/XS

#1164 Fix website gen failure
  website/google.erb
Labels: documentation, size/XS

#1165 Add resource policy attachment to docs, bump docs to GA
  website/google.erb
Labels: changelog: no-release-note, documentation, size/XS

#1118 Add beta fields to BackendService to support traffic director
  google-beta/resource_compute_backend_service.go
  google-beta/resource_compute_backend_service_generated_test.go
  google-beta/resource_compute_backend_service_test.go
  website/docs/r/compute_backend_service.html.markdown
Labels: changelog: enhancement, documentation, size/XXL

#1161 Add RegionUrlMap to compute
  google-beta/provider.go
  google-beta/resource_compute_region_backend_service.go
  google-beta/resource_compute_region_url_map.go
  google-beta/resource_compute_region_url_map_generated_test.go
  google-beta/resource_compute_region_url_map_test.go
  website/docs/r/compute_region_url_map.html.markdown
Labels: changelog: new-resource, documentation, size/XXL

#1102 private-googleapis data source support
  google-beta/data_source_google_netblock_ip_ranges.go
  google-beta/data_source_google_netblock_ip_ranges_test.go
  website/docs/d/datasource_google_netblock_ip_ranges.html.markdown
Labels: changelog: enhancement, documentation, size/S

#1160 Add metadataFilters to GlobalForwardingRule
  google-beta/resource_compute_global_forwarding_rule.go
  google-beta/resource_compute_global_forwarding_rule_generated_test.go
  google-beta/resource_compute_global_forwarding_rule_test.go
  website/docs/r/compute_global_forwarding_rule.html.markdown
Labels: changelog: enhancement, documentation, size/XL

#1172 Make guest_os_features computed on Image
  google-beta/resource_compute_image.go
Labels: changelog: no-release-note, size/XS

#1174 Remove tests for RegionUrlMap from GA provider
  google-beta/resource_compute_region_url_map_generated_test.go
  website/docs/r/compute_region_url_map.html.markdown
Labels: documentation, size/S

#1175 Fix tests, subfolder_matches
  google-beta/resource_cloudiot_registry.go
  google-beta/resource_cloudiot_registry_test.go
  website/docs/r/cloudiot_registry.html.markdown
Labels: documentation, size/M

#1142 add networks/subnetworks for all composer tests
  google-beta/resource_composer_environment_test.go
  google-beta/resource_sql_database_instance_test.go
Labels: changelog: no-release-note, documentation, size/L

#1179 Remove unused function in router nat test
  google-beta/resource_compute_router_nat_test.go
Labels: size/XS

#1182 make guest_os_features a set not a list
  google-beta/resource_compute_image.go
  google-beta/resource_compute_router_nat_test.go
Labels: size/S

#1185 make guest_os_features a set not a list
  google-beta/resource_sql_database_instance_test.go
Labels: size/XS

#1187 Re-do an accidentally un-done removal of an unused function.
  google-beta/resource_compute_router_nat_test.go
Labels: changelog: no-release-note, size/XS

#1177 Megan bucket access control
  google-beta/provider.go
  google-beta/resource_storage_bucket_access_control.go
  google-beta/resource_storage_bucket_access_control_generated_test.go
  google-beta/resource_storage_bucket_access_control_test.go
  website/docs/r/storage_bucket_access_control.html.markdown
  website/google.erb
Labels: documentation, size/XL

#1189 Clean up PR template
  website/docs/r/cloudfunctions_function.html.markdown
Labels: documentation, size/XS

#1176 Increase make lint deadline
  .golangci.yml
Labels: size/XS

#1191 Update TPGB to Go 1.13.0
  .go-version
  .travis.yml
  README.md
  go.mod
  vendor/github.com/apparentlymart/go-textseg/textseg/make_tables.go
  vendor/github.com/apparentlymart/go-textseg/textseg/make_test_tables.go
  vendor/github.com/hashicorp/hcl2/hcl/hclsyntax/expression_vars_gen.go
  vendor/github.com/ulikunitz/xz/example.go
  vendor/golang.org/x/sys/unix/mkasm_darwin.go
  vendor/golang.org/x/sys/unix/mkpost.go
  vendor/golang.org/x/sys/unix/mksyscall.go
  vendor/golang.org/x/sys/unix/mksyscall_aix_ppc.go
  vendor/golang.org/x/sys/unix/mksyscall_aix_ppc64.go
  vendor/golang.org/x/sys/unix/mksyscall_solaris.go
  vendor/golang.org/x/sys/unix/mksysctl_openbsd.go
  vendor/golang.org/x/sys/unix/mksysnum.go
  vendor/golang.org/x/sys/unix/types_aix.go
  vendor/golang.org/x/sys/unix/types_darwin.go
  vendor/golang.org/x/sys/unix/types_dragonfly.go
  vendor/golang.org/x/sys/unix/types_freebsd.go
  vendor/golang.org/x/sys/unix/types_netbsd.go
  vendor/golang.org/x/sys/unix/types_openbsd.go
  vendor/golang.org/x/sys/unix/types_solaris.go
  vendor/golang.org/x/text/unicode/bidi/gen.go
  vendor/golang.org/x/text/unicode/bidi/gen_ranges.go
  vendor/golang.org/x/text/unicode/bidi/gen_trieval.go
  vendor/golang.org/x/text/unicode/norm/maketables.go
  vendor/golang.org/x/text/unicode/norm/triegen.go
  vendor/modules.txt
Labels: dependencies, size/XXL

#1193 Update cloudfunctions_function.html.markdown
  website/docs/r/cloudfunctions_function.html.markdown
Labels: documentation, size/XS

#1194 Custom hash function for router_nat.subnetwork
  google-beta/resource_compute_router_nat.go
  google-beta/resource_compute_router_nat_test.go
Labels: changelog: bug-fix, size/S

#1163 add docs for comute router peer new fields
  google-beta/resource_compute_router_peer.go
  website/docs/r/compute_router_peer.html.markdown
Labels: changelog: bug-fix, documentation, size/S

#1166 add iam binding for binary authorization attestor
  google-beta/iam_binary_authorization_attestor.go
  google-beta/iam_binary_authorization_attestor_generated_test.go
  google-beta/provider.go
  google-beta/resource_binary_authorization_attestor.go
  google-beta/resource_binary_authorization_attestor_generated_test.go
  google-beta/resource_binaryauthorization_attestor_test.go
  google-beta/resource_container_analysis_note.go
  google-beta/resource_container_analysis_note_generated_test.go
  website/docs/r/binary_authorization_attestor.html.markdown
  website/docs/r/binary_authorization_attestor_iam.html.markdown
  website/docs/r/container_analysis_note.html.markdown
  website/google.erb
Labels: changelog: new-resource, documentation, size/XXL

#1131 scheduler: fix perm diff on appEngineRouting
  google-beta/resource_cloud_scheduler_job.go
Labels: changelog: bug-fix, size/XS

#1204 Add omitted to to Backend Bucket docs
  website/docs/r/compute_backend_bucket.html.markdown
Labels: changelog: no-release-note, documentation, size/XS

#1206 Document STANDARD storage_class in storage_bucket
  website/docs/r/storage_bucket.html.markdown
Labels: changelog: no-release-note, documentation, size/XS

#1207 Upstreaming the change from tpg #4484.
  website/docs/r/compute_network_endpoint.html.markdown
Labels: changelog: no-release-note, documentation, size/XS

#1203 Remove bgp from router nat test, add a failing bgp test
  google-beta/resource_compute_router_nat_test.go
  google-beta/resource_compute_router_test.go
Labels: changelog: no-release-note, size/M

#1209 Document plural event notification configs in Cloud IoT Registry docs
  website/docs/r/cloudiot_registry.html.markdown
Labels: changelog: no-release-note, documentation, size/XS

#1213 Add bigtable GCPolicy resource
  google-beta/provider.go
  google-beta/resource_bigtable_gc_policy.go
  google-beta/resource_bigtable_gc_policy_test.go
  website/docs/r/bigtable_gc_policy.html.markdown
  website/google.erb
Labels: changelog: new-resource, documentation, size/XL
