Repository hashicorp/terraform-provider-google-beta, pull requests merged in 2019-08, with the labels that each got.

#995 set max bigtable instance cluster to 4
  google-beta/resource_bigtable_instance.go
  google-beta/resource_bigtable_instance_test.go
Labels: size/S

#971 More retries for CRM resources (project, org policies, folders)
  google-beta/data_source_google_folder.go
  google-beta/resource_google_folder.go
  google-beta/resource_google_folder_organization_policy.go
  google-beta/resource_google_organization_policy.go
  google-beta/resource_google_project.go
  google-beta/resource_google_project_organization_policy.go
Labels: changelog: enhancement, size/XL

#997 Fix syntax for router nat example
  website/docs/r/compute_router_nat.html.markdown
Labels: documentation, size/XS

#989 Pub/Sub Geo Restriction
  google-beta/resource_pubsub_topic.go
  google-beta/resource_pubsub_topic_generated_test.go
  google-beta/resource_pubsub_topic_test.go
  website/docs/r/pubsub_topic.html.markdown
Labels: documentation, size/L

#987 Binary Authorization: globalPolicyEvaluationMode
  google-beta/resource_binary_authorization_policy.go
  google-beta/resource_binaryauthorization_policy_test.go
  website/docs/r/binary_authorization_policy.html.markdown
Labels: changelog: enhancement, documentation, size/M

#1000 During tf resource read, decoder may set resource to nil.
  google-beta/resource_binary_authorization_attestor.go
  google-beta/resource_cloud_run_domain_mapping.go
  google-beta/resource_cloud_run_service.go
  google-beta/resource_compute_backend_service.go
  google-beta/resource_compute_disk.go
  google-beta/resource_compute_network.go
  google-beta/resource_compute_network_endpoint.go
  google-beta/resource_compute_region_disk.go
  google-beta/resource_compute_route.go
  google-beta/resource_compute_snapshot.go
  google-beta/resource_healthcare_dataset.go
  google-beta/resource_healthcare_dicom_store.go
  google-beta/resource_healthcare_fhir_store.go
  google-beta/resource_healthcare_hl7_v2_store.go
  google-beta/resource_kms_crypto_key.go
  google-beta/resource_kms_key_ring.go
  google-beta/resource_monitoring_uptime_check_config.go
  google-beta/resource_pubsub_subscription.go
  google-beta/resource_resource_manager_lien.go
  google-beta/resource_spanner_database.go
  google-beta/resource_spanner_instance.go
Labels: size/M

#979 Allow update of router nat
  google-beta/resource_compute_router_nat.go
  google-beta/resource_compute_router_nat_test.go
  website/docs/r/compute_router_nat.html.markdown
Labels: changelog: enhancement, documentation, size/XL

#999 Add compute_network_endpoint_group datasource
  google-beta/data_source_compute_network_endpoint_group.go
  google-beta/data_source_compute_network_endpoint_group_test.go
  google-beta/field_helpers.go
  google-beta/provider.go
  website/docs/d/datasource_google_compute_network_endpoint_group.html.markdown
  website/google.erb
Labels: changelog: new-datasource, documentation, size/L

#966 add redis_4_0 as supported
  website/docs/r/redis_instance.html.markdown
Labels: documentation, size/XS

#1003 Fix generated iam parent resource name
  google-beta/iam_pubsub_topic_generated_test.go
  google-beta/iam_source_repo_repository_generated_test.go
Labels: size/XS

#1005 Remove IAM import method
  google-beta/provider.go
  google-beta/provider_pubsub_gen.go
  google-beta/provider_source_repo_gen.go
  google-beta/resource_iam_audit_config.go
  google-beta/resource_iam_binding.go
  google-beta/resource_iam_member.go
  google-beta/resource_iam_policy.go
Labels: size/L

#1002 Add examples / improve docs for logging counter metrics
  google-beta/resource_logging_metric_generated_test.go
  website/docs/r/logging_metric.html.markdown
Labels: documentation, size/M

#1006 IAM util refactors
  google-beta/iam.go
  google-beta/iam_test.go
  google-beta/resource_google_project_iam_policy.go
  google-beta/resource_google_project_iam_policy_test.go
  google-beta/resource_iam_audit_config.go
  google-beta/resource_iam_binding.go
  google-beta/resource_iam_member.go
  google-beta/resource_iam_policy.go
Labels: changelog: no-release-note, size/XXL

#955 add workload_identity_config documentation
  website/docs/r/container_cluster.html.markdown
Labels: documentation, size/XS

#1009 Allow partial URIs in Cloud Functions event_trigger.resource
  google-beta/resource_cloudfunctions_function.go
  google-beta/resource_cloudfunctions_function_test.go
  website/docs/r/cloudfunctions_function.html.markdown
Labels: documentation, size/M

#991 Catch 404s when deleting default networks.
  google-beta/resource_google_project.go
Labels: size/XS

#1022 Allow the use of region selflinks in provider configs.
  google-beta/config.go
  google-beta/iam.go
  google-beta/self_link_helpers.go
  google-beta/self_link_helpers_test.go
Labels: changelog: enhancement, size/XS

#986 New range types supported on google_netblock_ip_ranges
  google-beta/data_source_google_netblock_ip_ranges.go
  google-beta/data_source_google_netblock_ip_ranges_test.go
  website/docs/d/datasource_google_netblock_ip_ranges.html.markdown
Labels: changelog: enhancement, documentation, size/L

#990 Copy compute instance description to terraform state
  google-beta/resource_compute_instance.go
Labels: size/XS

#1004 Add vpc access connector resource and vpc_connector attribute to cloud functions
  google-beta/config.go
  google-beta/provider.go
  google-beta/provider_vpc_access_gen.go
  google-beta/resource_cloudfunctions_function.go
  google-beta/resource_cloudfunctions_function_test.go
  google-beta/resource_vpc_access_connector.go
  google-beta/resource_vpc_access_connector_generated_test.go
  google-beta/vpc_access_operation.go
  website/docs/r/cloudfunctions_function.html.markdown
  website/docs/r/vpc_access_connector.html.markdown
Labels: documentation, size/XL

#975 Add transfer configs
  google-beta/config.go
  google-beta/error_retry_predicates.go
  google-beta/provider.go
  google-beta/provider_bigquery_data_transfer_gen.go
  google-beta/resource_bigquery_data_transfer_config.go
  google-beta/resource_bigquery_data_transfer_config_test.go
  google-beta/transport.go
  google-beta/utils.go
  website/docs/r/bigquery_data_transfer_config.html.markdown
Labels: changelog: new-resource, documentation, size/XL

#1029 Add note about cluster cidr range behaviours to GKE cluster
  website/docs/r/container_cluster.html.markdown
Labels: documentation, size/XS

#1032 Make key_name optional in container_cluster.database_encryption
  google-beta/resource_container_cluster.go
Labels: size/XS

#1034 Fix IAM member sensitivity.
  google-beta/iam.go
Labels: size/XS

#1030 Correct `zone` reference to `region` reference
  website/docs/r/container_node_pool.html.markdown
Labels: documentation, size/XS

#1031 Change datatype of compute_instance label
  website/docs/r/compute_instance.html.markdown
Labels: documentation, size/XS

#1039 Fix typo by changing 'cvs' into 'csv'
  google-beta/resource_sql_database_instance_test.go
  website/docs/r/bigquery_table.html.markdown
Labels: documentation, size/XS

#1038 Remove pubsub reference from bigtable_instance_iam
  website/docs/r/bigtable_instance_iam.html.markdown
Labels: documentation, size/XS

#1037 Fixed link for dataproc_job
  website/google.erb
Labels: documentation, size/XS

#1042 Make BAA key ids computed.
  google-beta/resource_binary_authorization_attestor.go
  google-beta/resource_sql_database_instance_test.go
Labels: changelog: bug-fix, size/XS

#1041 Remove bad option from example for compute_ssl_certificate
  website/docs/d/datasource_compute_ssl_certificate.html.markdown
Labels: documentation, size/XS

#1040 Add optional SA attribute for cloud funcs to docs
  website/docs/d/datasource_cloudfunctions_function.html.markdown
Labels: documentation, size/XS

#1033 Add Cloud SCC Source resource
  google-beta/config.go
  google-beta/provider.go
  google-beta/provider_security_center_gen.go
  google-beta/resource_kms_key_ring.go
  google-beta/resource_security_center_source.go
  google-beta/resource_security_center_source_test.go
  website/docs/provider_reference.html.markdown
  website/docs/r/security_center_source.html.markdown
  website/google.erb
Labels: changelog: new-resource, documentation, size/XL

#1014 Add batching for IAM binding/member/audit config changes
  google-beta/config.go
  google-beta/iam_batching.go
  google-beta/provider.go
  google-beta/resource_google_project_service.go
  google-beta/resource_google_project_services.go
  google-beta/resource_iam_audit_config.go
  google-beta/resource_iam_binding.go
  google-beta/resource_iam_member.go
  google-beta/serviceusage_batching.go
Labels: size/L

#1048 Firestore API: Add COLLECTION_GROUP to queryScope
  website/docs/r/firestore_index.html.markdown
Labels: documentation, size/XS

#1047 Unbreak IAM.
  google-beta/iam.go
Labels: changelog: no-release-note, size/XS

#1049 Spelling
  google-beta/batcher.go
  google-beta/data_source_google_service_account_access_token.go
  google-beta/data_source_storage_object_signed_url.go
  google-beta/iam_test.go
  google-beta/import.go
  google-beta/provider_test.go
  google-beta/resource_bigquery_table.go
  google-beta/resource_bigquery_table_test.go
  google-beta/resource_compute_instance.go
  google-beta/resource_compute_instance_from_template.go
  google-beta/resource_compute_instance_migrate.go
  google-beta/resource_compute_network_test.go
  google-beta/resource_compute_project_metadata_test.go
  google-beta/resource_dataproc_cluster.go
  google-beta/resource_google_project_services_test.go
  google-beta/resource_pubsub_subscription.go
  google-beta/resource_service_networking_connection.go
  google-beta/utils_test.go
  google-beta/validation_test.go
  website/docs/d/datasource_google_compute_backend_service.html.markdown
  website/docs/d/datasource_google_compute_network_endpoint_group.html.markdown
  website/docs/d/datasource_google_service_account_access_token.html.markdown
  website/docs/d/google_iam_policy.html.markdown
  website/docs/provider_reference.html.markdown
  website/docs/r/access_context_manager_service_perimeter.html.markdown
  website/docs/r/bigquery_table.html.markdown
  website/docs/r/bigtable_instance_iam.html.markdown
  website/docs/r/compute_disk.html.markdown
  website/docs/r/compute_node_template.html.markdown
  website/docs/r/compute_region_disk.html.markdown
  website/docs/r/dataflow_job.html.markdown
  website/docs/r/dataproc_cluster.html.markdown
  website/docs/r/dataproc_cluster_iam.html.markdown
  website/docs/r/dataproc_job_iam.html.markdown
  website/docs/r/google_folder_iam_binding.html.markdown
  website/docs/r/google_folder_organization_policy.html.markdown
  website/docs/r/google_organization_policy.html.markdown
  website/docs/r/google_project.html.markdown
  website/docs/r/google_project_organization_policy.html.markdown
  website/docs/r/healthcare_dataset.html.markdown
  website/docs/r/healthcare_dicom_store.html.markdown
  website/docs/r/healthcare_fhir_store.html.markdown
  website/docs/r/healthcare_hl7_v2_store.html.markdown
  website/docs/r/kms_crypto_key.html.markdown
  website/docs/r/monitoring_alert_policy.html.markdown
  website/docs/r/monitoring_notification_channel.html.markdown
  website/docs/r/monitoring_uptime_check_config.html.markdown
  website/docs/r/pubsub_topic.html.markdown
  website/docs/r/vpc_access_connector.html.markdown
Labels: documentation, size/L

#1024 Add support for oauth and oidc tokens to cloud_scheduler_job
  google-beta/resource_cloud_scheduler_job.go
  google-beta/resource_cloud_scheduler_job_generated_test.go
  website/docs/r/cloud_scheduler_job.html.markdown
Labels: documentation, size/XL

#1046 remove compute API usage in third_party/validator/compute_instance.go
  google-beta/resource_compute_instance.go
  google-beta/resource_compute_instance_from_template.go
Labels: size/XS

#1054 remove node_version from tests that don't need it
  google-beta/resource_container_cluster_test.go
Labels: size/XS

#1035 Correctly handle domain-scoped projects with GCR
  google-beta/data_source_container_registry_image.go
  google-beta/data_source_container_registry_repository.go
  google-beta/data_source_container_registry_test.go
Labels: changelog: bug-fix, size/XS

#1055 add missing depends_ons to kms tests
  google-beta/resource_compute_disk_test.go
  google-beta/resource_compute_instance_test.go
  google-beta/resource_dataproc_cluster_test.go
Labels: size/XS

#1025 BigQuery: table clustering/partitioning support.
  google-beta/resource_bigquery_table.go
  google-beta/resource_bigquery_table_test.go
Labels: size/S

#1056 Move provider_gen.go to provider.go
  google-beta/config.go
  google-beta/provider.go
  google-beta/provider_access_context_manager_gen.go
  google-beta/provider_app_engine_gen.go
  google-beta/provider_bigquery_data_transfer_gen.go
  google-beta/provider_binary_authorization_gen.go
  google-beta/provider_cloud_build_gen.go
  google-beta/provider_cloud_run_gen.go
  google-beta/provider_cloud_scheduler_gen.go
  google-beta/provider_compute_gen.go
  google-beta/provider_container_analysis_gen.go
  google-beta/provider_dns_gen.go
  google-beta/provider_filestore_gen.go
  google-beta/provider_firestore_gen.go
  google-beta/provider_healthcare_gen.go
  google-beta/provider_kms_gen.go
  google-beta/provider_logging_gen.go
  google-beta/provider_monitoring_gen.go
  google-beta/provider_pubsub_gen.go
  google-beta/provider_redis_gen.go
  google-beta/provider_resource_manager_gen.go
  google-beta/provider_security_center_gen.go
  google-beta/provider_security_scanner_gen.go
  google-beta/provider_source_repo_gen.go
  google-beta/provider_spanner_gen.go
  google-beta/provider_sql_gen.go
  google-beta/provider_storage_gen.go
  google-beta/provider_tpu_gen.go
  google-beta/provider_vpc_access_gen.go
Labels: size/XXL

#1062 use real project id for uptime check generated test
  google-beta/resource_monitoring_uptime_check_config_generated_test.go
  website/docs/r/monitoring_uptime_check_config.html.markdown
Labels: documentation, size/XS

#988 Add bigtable app profile resource
  google-beta/config.go
  google-beta/provider.go
  google-beta/resource_bigtable_app_profile.go
  google-beta/resource_bigtable_app_profile_generated_test.go
  google-beta/resource_bigtable_app_profile_test.go
  website/docs/r/bigtable_app_profile.html.markdown
Labels: documentation, size/XL

#957 ML Engine Models in Terraform
  google-beta/config.go
  google-beta/ml_engine_operation.go
  google-beta/provider.go
  google-beta/resource_ml_engine_model.go
  google-beta/resource_ml_engine_model_generated_test.go
  website/docs/r/ml_engine_model.html.markdown
  website/google.erb
Labels: changelog: new-resource, documentation, size/XL

#1061 Fix for SQL database import formats
  google-beta/resource_sql_database.go
  google-beta/resource_sql_database_generated_test.go
  website/docs/r/sql_database.html.markdown
Labels: changelog: bug-fix, documentation, size/L

#1070 tf website fix
  google-beta/provider.go
Labels: size/XS

#1063 add bigquerystorage to the project services test list
  google-beta/resource_google_project_services_test.go
Labels: size/XS

#1050 move ConfigureBasePaths to config.go
  google-beta/config.go
  google-beta/provider.go
Labels: documentation, size/M

#1053 add server options to windows sql image
  google-beta/image.go
Labels: size/XS

#1067 add ability to update Bigtable instance cluster node count
  google-beta/resource_bigtable_instance.go
  google-beta/resource_bigtable_instance_iam_test.go
  google-beta/resource_bigtable_instance_test.go
Labels: changelog: enhancement, documentation, size/L

#1064 Add log_level, plural event_notification_configs to IoT registry
  google-beta/resource_cloudiot_registry.go
  google-beta/resource_cloudiot_registry_test.go
  google-beta/validation.go
  google-beta/validation_test.go
Labels: changelog: deprecation, changelog: enhancement, documentation, size/XL

#1016 Bandwidth addition to interconnect
  google-beta/resource_compute_interconnect_attachment.go
  website/docs/r/compute_interconnect_attachment.html.markdown
  website/docs/r/compute_vpn_tunnel.html.markdown
Labels: changelog: enhancement, documentation, size/S

#1011 Add terraform datasource "google_kms_secret_ciphertext"
  google-beta/data_source_google_kms_secret_ciphertext.go
  google-beta/data_source_google_kms_secret_ciphertext_test.go
  google-beta/provider.go
  website/docs/d/google_kms_secret_ciphertext.html.markdown
  website/google.erb
Labels: changelog: new-datasource, documentation, size/L

#1073 Add instance_redistribution_type to region IGM
  google-beta/resource_compute_region_instance_group_manager.go
  google-beta/resource_compute_region_instance_group_manager_test.go
  website/docs/r/compute_region_instance_group_manager.html.markdown
Labels: changelog: enhancement, documentation, size/L

#1074 Add support for virtual fields, convert Network vfield to one.
  google-beta/resource_compute_network.go
  google-beta/resource_resource_manager_lien.go
  website/docs/r/compute_network.html.markdown
Labels: changelog: no-release-note, documentation, size/S

#1072 adminEnabled on Interconnect Attachments
  google-beta/resource_compute_interconnect_attachment.go
  website/docs/r/compute_interconnect_attachment.html.markdown
Labels: documentation, size/XS

#1080 Add possible values to aggregation interval description
  website/docs/r/compute_subnetwork.html.markdown
Labels: documentation, size/XS

#1028 Autogenerate BigQuery dataset
  google-beta/config.go
  google-beta/provider.go
  google-beta/provider_handwritten_endpoint.go
  google-beta/resource_big_query_dataset.go
  google-beta/resource_big_query_dataset_generated_test.go
  google-beta/resource_big_query_dataset_test.go
  google-beta/resource_bigquery_dataset.go
  google-beta/resource_sql_database_instance_test.go
  website/docs/r/big_query_dataset.html.markdown
  website/google.erb
Labels: documentation, size/XXL

#1075 Ansible KMS Modules
  website/docs/r/kms_crypto_key.html.markdown
Labels: documentation, size/XS

#1078 Add dataproc autoscaling policy resource
  google-beta/config.go
  google-beta/provider.go
  google-beta/provider_handwritten_endpoint.go
  google-beta/resource_dataproc_autoscaling_policy.go
  google-beta/resource_dataproc_autoscaling_policy_generated_test.go
  google-beta/resource_dataproc_cluster.go
  google-beta/resource_sql_database_instance_test.go
  website/docs/r/dataproc_autoscaling_policy.html.markdown
  website/google.erb
Labels: documentation, size/XXL

#1103 Upstream linkdiff cleanup
  google-beta/node_config.go
  google-beta/resource_compute_instance.go
  google-beta/resource_compute_instance_template.go
  google-beta/resource_compute_router_interface.go
  google-beta/resource_google_organization_policy.go
  google-beta/utils.go
Labels: size/XS

#1100 Add Cloud Run Service to the website
  website/google.erb
Labels: changelog: no-release-note, documentation, size/XS

#1104 add advanced routing options to router peer
  google-beta/resource_compute_router_peer.go
  google-beta/resource_compute_router_peer_test.go
Labels: size/L

#1106 add ids to vpn_tunnel and vpn_gateway outputs
  google-beta/resource_compute_vpn_gateway.go
  google-beta/resource_compute_vpn_tunnel.go
  website/docs/r/compute_vpn_gateway.html.markdown
  website/docs/r/compute_vpn_tunnel.html.markdown
Labels: documentation, size/S

#911 Specify minimum filestore capacity, correct units
  website/docs/r/filestore_instance.html.markdown
Labels: documentation, size/XS

#1107 terraform: Use real version in UA header
  google-beta/config.go
  google-beta/provider.go
Labels: documentation, size/XS

#1105 Fix initialisms in product names
  google-beta/config.go
  google-beta/data_source_dns_managed_zone_test.go
  google-beta/data_source_google_kms_crypto_key.go
  google-beta/data_source_google_kms_crypto_key_version.go
  google-beta/data_source_google_kms_key_ring.go
  google-beta/data_source_tpu_tensorflow_versions_test.go
  google-beta/provider.go
  google-beta/resource_app_engine_standard_app_version.go
  google-beta/resource_cloud_build_trigger.go
  google-beta/resource_compute_backend_service.go
  google-beta/resource_compute_managed_ssl_certificate.go
  google-beta/resource_compute_network.go
  google-beta/resource_compute_region_backend_service.go
  google-beta/resource_compute_snapshot.go
  google-beta/resource_compute_ssl_certificate.go
  google-beta/resource_compute_url_map.go
  google-beta/resource_dataproc_autoscaling_policy.go
  google-beta/resource_dns_managed_zone.go
  google-beta/resource_dns_managed_zone_generated_test.go
  google-beta/resource_dns_managed_zone_test.go
  google-beta/resource_dns_policy.go
  google-beta/resource_dns_policy_generated_test.go
  google-beta/resource_dns_policy_test.go
  google-beta/resource_dns_record_set_test.go
  google-beta/resource_kms_crypto_key.go
  google-beta/resource_kms_crypto_key_test.go
  google-beta/resource_kms_key_ring.go
  google-beta/resource_spanner_instance.go
  google-beta/resource_sql_database.go
  google-beta/resource_sql_database_generated_test.go
  google-beta/resource_tpu_node.go
  google-beta/resource_tpu_node_generated_test.go
  google-beta/resource_tpu_node_test.go
  google-beta/resource_vpc_access_connector.go
  google-beta/resource_vpc_access_connector_generated_test.go
  google-beta/tpu_operation.go
  google-beta/vpc_access_operation.go
  website/docs/r/tpu_node.html.markdown
  website/docs/r/vpc_access_connector.html.markdown
Labels: documentation, size/XXL

#1108 More retries for sql_database_instance
  google-beta/error_retry_predicates.go
  google-beta/resource_sql_database_instance.go
Labels: size/S

#1109 Make validation of service accounts less strict
  google-beta/error_retry_predicates.go
  google-beta/resource_sql_database_instance.go
  google-beta/validation.go
Labels: size/S

#1110 Fix missed occurence of TpuBasePath
  google-beta/data_source_tpu_tensorflow_versions.go
  google-beta/error_retry_predicates.go
  google-beta/resource_sql_database_instance.go
Labels: size/S
