Repository hashicorp/terraform-provider-google-beta, pull requests merged in 2019-02, with the labels that each got.

#381 Update go versions used in development
  .travis.yml
  README.md
Labels: size/XS

#401 Fix issue with google_compute_backend_service IAP client secret @ update
  google-beta/resource_compute_backend_service.go
  google-beta/resource_compute_backend_service_test.go
  website/docs/r/compute_backend_service.html.markdown
  website/docs/version_2_upgrade.html.markdown
Labels: documentation, size/S

#400 SHA256 encode compute_certificate's private keys
  google-beta/resource_compute_ssl_certificate.go
  google-beta/utils.go
Labels: size/XS

#396 Make zone required in google_composer_environment.node_config
  google-beta/resource_composer_environment.go
  website/docs/r/composer_environment.html.markdown
  website/docs/r/container_cluster.html.markdown
  website/docs/r/container_node_pool.html.markdown
Labels: documentation, size/S

#399 Restore name_prefix for node pools
  google-beta/resource_container_cluster_test.go
  google-beta/resource_container_node_pool.go
  google-beta/resource_container_node_pool_test.go
Labels: size/M

#408 Bring forwards/backwards compatible 0.12 syntax to HEAD
  google-beta/data_source_google_compute_instance_test.go
  google-beta/resource_cloudiot_registry_test.go
  google-beta/resource_cloudscheduler_job_test.go
  google-beta/resource_container_cluster_test.go
  google-beta/resource_container_node_pool_test.go
  google-beta/resource_google_folder_iam_policy_test.go
  google-beta/resource_google_project_iam_policy_test.go
  google-beta/resource_logging_organization_sink_test.go
  google-beta/resource_monitoring_alert_policy_generated_test.go
  google-beta/resource_redis_instance_test.go
  google-beta/resource_spanner_instance_generated_test.go
  google-beta/resource_storage_bucket_test.go
  website/docs/d/google_iam_policy.html.markdown
  website/docs/r/monitoring_alert_policy.html.markdown
  website/docs/r/spanner_instance.html.markdown
Labels: documentation, size/XL

#394 Add fields to InterconnectAttachment to allow for PARTNER interconnects
  google-beta/resource_compute_interconnect_attachment.go
  website/docs/r/compute_interconnect_attachment.html.markdown
Labels: documentation, size/M

#393 changelog for new Cloud Scheduler resource
  CHANGELOG.md
Labels: size/XS

#410 Update gometalinter for modules, add staticcheck
  .gometalinter.json
  .travis.yml
  GNUmakefile
  scripts/affectedtests/affectedtests.go
  staticcheck.conf
Labels: size/S

#419 google_compute_instance change a removed field from optional -> computed
  google-beta/resource_compute_instance.go
Labels: size/XS

#416 Add docs for the bigquery dataset delete_contents_on_destroy field
  website/docs/r/bigquery_dataset.html.markdown
Labels: documentation, size/XS

#413 Add force_destroy option to bigquery dataset
  google-beta/resource_bigquery_dataset.go
  google-beta/resource_bigquery_dataset_test.go
Labels: size/M

#420 Various CI test fixes
  google-beta/data_source_google_compute_region_instance_group_test.go
  google-beta/resource_binaryauthorization_policy_test.go
  google-beta/resource_compute_image.go
  google-beta/resource_compute_project_metadata.go
  google-beta/resource_container_cluster_test.go
  google-beta/resource_container_node_pool_test.go
  google-beta/resource_filestore_instance_test.go
  google-beta/resource_google_project_service_test.go
Labels: size/L

#422 Set id on Create for project metadata
  google-beta/resource_compute_project_metadata.go
Labels: size/XS

#423 Fix GKE specific IP test
  google-beta/resource_container_cluster_test.go
Labels: size/XS

#426 Update the 2.0.0 Upgrade Guide, misc. other docs
  website/docs/provider_reference.html.markdown
  website/docs/version_2_upgrade.html.markdown
  website/google.erb
Labels: documentation, size/M

#428 [Terraform] Fix config's defaultScopes tests.
  google-beta/config_test.go
Labels: size/XS

#430 Add a downgrade guide to the upgrade guide
  website/docs/version_2_upgrade.html.markdown
Labels: documentation, size/XS

#434 Add extended memory to docs for custom instance machine types
  website/docs/r/compute_instance.html.markdown
Labels: documentation, size/XS

#436 Fix validation of spanner instance ID length
  google-beta/resource_spanner_database.go
  google-beta/resource_spanner_instance.go
Labels: size/XS

#438 google_container_cluster private_cluster and master_ipv4_cidr_block were not moved to google-beta
  website/docs/version_2_upgrade.html.markdown
Labels: documentation, size/XS

#433 Clean up failed cluster creation
  google-beta/resource_container_cluster.go
  google-beta/resource_container_cluster_test.go
Labels: size/L

#421 Clarify Private Google Access docs on Subnetwork.
  website/docs/r/compute_subnetwork.html.markdown
Labels: documentation, size/XS

#440 Add Cloud Scheduler to the sidebar.
  website/google.erb
Labels: documentation, size/XS

#441 Fix golangci-lint errors
  .gometalinter.json
  google-beta/convert_test.go
  google-beta/data_source_google_compute_address_test.go
  google-beta/data_source_storage_object_signed_url.go
  google-beta/resource_access_context_manager_access_level.go
  google-beta/resource_access_context_manager_service_perimeter.go
  google-beta/resource_composer_environment.go
  google-beta/resource_compute_address.go
  google-beta/resource_compute_backend_service.go
  google-beta/resource_compute_firewall_migrate_test.go
  google-beta/resource_compute_forwarding_rule.go
  google-beta/resource_compute_global_address.go
  google-beta/resource_compute_health_check.go
  google-beta/resource_compute_instance.go
  google-beta/resource_compute_instance_group_manager.go
  google-beta/resource_compute_instance_migrate_test.go
  google-beta/resource_compute_instance_template_migrate_test.go
  google-beta/resource_compute_region_instance_group_manager.go
  google-beta/resource_compute_ssl_policy.go
  google-beta/resource_container_cluster_migrate_test.go
  google-beta/resource_container_node_pool_migrate_test.go
  google-beta/resource_dataproc_job.go
  google-beta/resource_endpoints_service.go
  google-beta/resource_google_project_migrate_test.go
  google-beta/resource_google_project_services.go
  google-beta/resource_google_project_services_test.go
  google-beta/resource_google_service_account.go
  google-beta/resource_monitoring_alert_policy.go
  google-beta/resource_monitoring_group.go
  google-beta/resource_monitoring_notification_channel.go
  google-beta/resource_monitoring_uptime_check_config.go
  google-beta/resource_resource_manager_lien.go
  google-beta/resource_runtimeconfig_config.go
  google-beta/resource_runtimeconfig_variable.go
  google-beta/resource_spanner_instance.go
  google-beta/resource_sql_database.go
  google-beta/resource_sql_database_instance.go
  google-beta/resource_sql_user_migrate_test.go
  google-beta/resource_storage_bucket_acl.go
  google-beta/resource_storage_bucket_object.go
  google-beta/resource_storage_bucket_object_test.go
  google-beta/resource_storage_object_access_control_test.go
  google-beta/resource_storage_object_acl.go
  google-beta/resource_storage_object_acl_test.go
  google-beta/utils_test.go
Labels: size/L

#425 WIP: Tf operations
  google-beta/redis_operation.go
  google-beta/resource_redis_instance.go
  website/google.erb
Labels: documentation, size/S

#439 Add Bigtable column_family to the upgrade guide
  website/docs/version_2_upgrade.html.markdown
Labels: documentation, size/XS

#429 Add self_link to subnetwork datasource
  google-beta/data_source_google_compute_subnetwork.go
  google-beta/data_source_google_compute_subnetwork_test.go
  website/docs/d/datasource_compute_subnetwork.html.markdown
Labels: documentation, size/S

#442 Remove the Redis client now that Redis Operations are generated
  google-beta/config.go
  vendor/google.golang.org/api/redis/v1beta1/redis-api.json
  vendor/google.golang.org/api/redis/v1beta1/redis-gen.go
  vendor/modules.txt
  website/google.erb
Labels: dependencies, documentation, size/XXL

#435 Note version is required for beta IGM version
  website/docs/r/compute_instance_group_manager.html.markdown
  website/docs/r/compute_region_instance_group_manager.html.markdown
Labels: documentation, size/XS

#268 [Terraform] DNS beta private managed_zones
  google-beta/resource_dns_managed_zone.go
  google-beta/resource_dns_managed_zone_generated_test.go
  google-beta/resource_dns_managed_zone_test.go
  website/docs/r/dns_managed_zone.html.markdown
Labels: documentation, size/XL

#445 Add note to DNS Managed Zone private
  website/docs/r/dns_managed_zone.html.markdown
Labels: documentation, size/XS

#451 Note that service account creation is eventually consistent.
  website/docs/r/google_service_account.html.markdown
Labels: documentation, size/XS

#432 [Terraform] autogenerate Pubsub Topics/Subscriptions (+labels)
  google-beta/provider.go
  google-beta/provider_pubsub_gen.go
  google-beta/pubsub_utils.go
  google-beta/resource_pubsub_subscription.go
  google-beta/resource_pubsub_subscription_generated_test.go
  google-beta/resource_pubsub_subscription_test.go
  google-beta/resource_pubsub_topic.go
  google-beta/resource_pubsub_topic_generated_test.go
  google-beta/resource_pubsub_topic_test.go
  website/docs/r/pubsub_subscription.html.markdown
  website/docs/r/pubsub_topic.html.markdown
Labels: documentation, size/XXL

#454 Add convenience outputs for public/private IP in Cloud SQL
  google-beta/resource_sql_database_instance.go
  website/docs/r/sql_database_instance.html.markdown
Labels: documentation, size/M

#456 Clarify private / public SQL IP docs
  website/docs/r/sql_database_instance.html.markdown
Labels: documentation, size/XS

#452 timeout is now passed to operation wait
  google-beta/cloudfunctions_operation.go
  google-beta/resource_cloudfunctions_function.go
  website/docs/r/cloudfunctions_function.html.markdown
Labels: documentation, size/XS

#459 Add a datasource for retrieving the client email from OpenID Connect
  google-beta/data_source_google_client_openid_userinfo.go
  google-beta/data_source_google_client_openid_userinfo_test.go
  google-beta/provider.go
  website/docs/d/datasource_google_client_openid_userinfo.html.markdown
  website/google.erb
Labels: documentation, size/L

#458 Add managed SSL certs to beta.
  google-beta/provider_compute_gen.go
  google-beta/resource_compute_managed_ssl_certificate.go
  google-beta/resource_compute_managed_ssl_certificate_generated_test.go
  website/docs/r/compute_managed_ssl_certificate.html.markdown
  website/docs/r/compute_ssl_certificate.html.markdown
Labels: documentation, size/XL

#460 [TF] Fix container cluster private cluster diff suppress/validation
  google-beta/resource_container_cluster.go
Labels: size/S

#463 Add docs for storage bucket object to sidebar
  website/docs/d/storage_bucket_object.html.markdown
  website/google.erb
Labels: documentation, size/XS

#464 Ignore errors when cancelling dataproc jobs
  google-beta/resource_dataproc_job.go
Labels: size/XS

#466 Merge 2.1.0 release into master
  CHANGELOG.md
Labels: size/XS

#470 0.12 Test config fixes
  google-beta/resource_cloudiot_registry_test.go
  google-beta/resource_compute_attached_disk_test.go
  google-beta/resource_compute_instance_group_test.go
Labels: size/XS

#471 [Terraform] Fix our usage of `file` in tests.
  google-beta/resource_endpoints_service_test.go
Labels: size/XS

#472 Fix the 3rd occurence of old ig instances interpolation syntax
  google-beta/resource_compute_instance_group_test.go
Labels: size/XS

#474 Clarify auto_create_network documentation.
  website/docs/r/google_project.html.markdown
Labels: documentation, size/XS

#477 Autogen for region read, cloud scheduler examples
  google-beta/resource_cloud_scheduler_job.go
  google-beta/resource_cloud_scheduler_job_generated_test.go
  google-beta/resource_cloudscheduler_job_test.go
  google-beta/resource_redis_instance.go
  website/docs/r/cloud_scheduler_job.html.markdown
Labels: documentation, size/XL

#476 [TF] GKE Cluster - fix import on some convenience fields
  google-beta/resource_container_cluster.go
  google-beta/resource_container_cluster_test.go
  website/docs/r/container_cluster.html.markdown
Labels: documentation, size/M
