Repository hashicorp/terraform-provider-google-beta, pull requests merged in 2019-10, with the labels that each got.

#1221 Warn users that they cannot set both a disk size and enable disk autoresizing
  website/docs/r/sql_database_instance.html.markdown
Labels: changelog: no-release-note, documentation, size/XS

#1219 This property is not correctly handled on the API - we can work around it here.
  google-beta/resource_compute_target_https_proxy.go
Labels: changelog: bug-fix, size/XS

#1218 Deprecate project_services in 2.x.
  google-beta/resource_google_project_services.go
Labels: changelog: deprecation, size/XS

#1220 Add a `3.0.0` upgrade guide including google_project_services deprecation
  website/docs/version_3_upgrade.html.markdown
  website/google.erb
Labels: documentation, size/L

#1224 Add import support to google_bigtable_instance
  google-beta/resource_bigtable_instance.go
  google-beta/resource_bigtable_instance_test.go
  website/docs/r/bigtable_instance.html.markdown
Labels: documentation, size/L

#1211 Only validate cidr block when the cidr block value is known
  google-beta/resource_container_cluster.go
Labels: changelog: bug-fix, size/XS

#1208 Add monitoring-read scope, upstreaming TPG #2813.
  google-beta/service_scope.go
Labels: changelog: enhancement, size/XS

#1226 google_project_services is deprecated - use google_project_service
  google-beta/resource_google_project.go
  google-beta/resource_google_project_service.go
  google-beta/resource_google_project_services.go
  google-beta/resource_kms_crypto_key_iam_test.go
  google-beta/resource_kms_crypto_key_test.go
  google-beta/resource_kms_key_ring_iam_test.go
  google-beta/resource_kms_key_ring_test.go
Labels: changelog: no-release-note, size/XL

#1229 Enable cloudbuild to receive Github events.
  google-beta/resource_cloud_build_trigger.go
  website/docs/r/cloudbuild_trigger.html.markdown
Labels: changelog: enhancement, documentation, size/XL

#1234 Add support for renamed services in google_project_service* resources.
  google-beta/resource_google_project_service.go
  google-beta/resource_google_project_service_test.go
  google-beta/resource_google_project_services.go
  google-beta/resource_google_project_services_test.go
  google-beta/serviceusage_batching.go
  google-beta/utils.go
Labels: size/XL

#1081 BigQuery Dataset default CMEK encryption
  google-beta/resource_big_query_dataset.go
  google-beta/resource_big_query_dataset_test.go
  website/docs/r/bigquery_dataset.html.markdown
Labels: changelog: enhancement, documentation, size/L

#1236 region backend service uses the same hash function but needs to count failover status.
  google-beta/resource_compute_backend_service.go
Labels: changelog: bug-fix, size/XS

#1237 Update service renames comment
  google-beta/resource_google_project_service.go
Labels: changelog: no-release-note, size/XS

#1235 max_pods_per_node is GA now.
  google-beta/resource_container_cluster.go
  google-beta/resource_container_node_pool_test.go
Labels: changelog: enhancement, size/L

#1227 It is convenient for Pulumi if this conflict is bidirectional.
  google-beta/resource_compute_instance_template.go
Labels: changelog: bug-fix, size/XS

#1230 Add custom flattens for passwords
  google-beta/resource_security_scanner_scan_config.go
Labels: changelog: bug-fix, size/XS

#1026 Add datasource for google_compute_resource_policy
  google-beta/data_source_google_compute_resource_policy.go
  google-beta/data_source_google_compute_resource_policy_test.go
  google-beta/provider.go
  website/docs/d/google_compute_resource_policy.html.markdown
  website/google.erb
Labels: documentation, size/L

#1242 Clean up iap appengine version test
  google-beta/iam_iap_app_engine_version_generated_test.go
Labels: size/M

#1245 Upstream service account docfix
  website/docs/r/google_service_account_key.html.markdown
Labels: documentation, size/XS

#1248 Bump image timeout, add service to binauth basic
  google-beta/resource_binaryauthorization_policy_test.go
  google-beta/resource_compute_image.go
  website/docs/r/compute_image.html.markdown
Labels: changelog: no-release-note, documentation, size/XS

#1250 Clean up markdown for signed_url a bit
  website/docs/d/signed_url.html.markdown
Labels: changelog: no-release-note, documentation, size/XS

#1222 Support for deleting the service upon destrory
  google-beta/resource_app_engine_standard_app_version.go
  google-beta/resource_app_engine_standard_app_version_generated_test.go
  website/docs/r/app_engine_standard_app_version.html.markdown
  website/docs/r/sql_database_instance.html.markdown
Labels: documentation, size/L

#1249 Fix syntax highlighting issue from Example Usage
  website/docs/r/cloudfunctions_function.html.markdown
Labels: changelog: no-release-note, documentation, size/XS

#1252 Add datasource for google_compute_resource_policy
  website/google.erb
Labels: documentation, size/XS

#1254 Add datasource for google_compute_resource_policy
  website/docs/r/sql_database_instance.html.markdown
Labels: documentation, size/XS

#1251 Correct Cloud Run DomainMapping namespace in encoder
  google-beta/resource_cloud_run_domain_mapping.go
  website/google.erb
Labels: documentation, size/XS

#1257 skip TestAccOrganizationIam if env var not set
  google-beta/resource_google_organization_iam_test.go
Labels: size/XS

#1198 add node config shielded instance config
  google-beta/node_config.go
  google-beta/resource_container_cluster.go
  google-beta/resource_container_cluster_test.go
  google-beta/resource_container_node_pool_test.go
  website/docs/r/container_cluster.html.markdown
Labels: documentation, size/L

#1244 Implement basepath patches in the provider.
  google-beta/data_source_google_compute_zones.go
  google-beta/resource_compute_autoscaler.go
  google-beta/resource_compute_forwarding_rule.go
  google-beta/resource_compute_instance_group.go
  google-beta/resource_compute_target_instance.go
  google-beta/resource_compute_target_pool.go
  google-beta/resource_compute_vpn_tunnel.go
  google-beta/resource_container_cluster.go
  google-beta/resource_google_project.go
Labels: size/M

#1258 add missing tpu_tensorflow_versions doc
  website/docs/d/datasource_tpu_tensorflow_versions.html.markdown
  website/google.erb
Labels: documentation, size/S

#1261 Update max pods per node docs to indicate it's GA
  website/docs/d/datasource_tpu_tensorflow_versions.html.markdown
  website/docs/r/container_cluster.html.markdown
Labels: changelog: no-release-note, documentation, size/XS

#1264 Fix formatting on Cloud Functions docs
  website/docs/r/cloudfunctions_function.html.markdown
Labels: changelog: no-release-note, documentation, size/S

#1260 Configure release channel when creating GKE clusters
  google-beta/resource_container_cluster.go
  google-beta/resource_container_cluster_test.go
  website/docs/r/container_cluster.html.markdown
Labels: documentation, size/L

#1263 Add custom flatten to transform json to string -> string map for params
  google-beta/resource_bigquery_data_transfer_config.go
  google-beta/resource_bigquery_data_transfer_config_test.go
Labels: size/M

#1200 use IsStable in (R)IGM instead of CurrentActions
  google-beta/resource_compute_region_instance_group_manager.go
  google-beta/resource_container_cluster.go
Labels: changelog: no-release-note, size/XS

#1267 Add GKE Stackdriver Monitoring changes to upgrade guide
  website/docs/version_3_upgrade.html.markdown
Labels: changelog: no-release-note, documentation, size/S

#1271 Add note about using 2.13.0 in google_project_services deprecation
  google-beta/resource_google_project_services.go
  website/docs/version_3_upgrade.html.markdown
Labels: changelog: no-release-note, documentation, size/XS

#1274 Remove built-in version from service client basepaths
  google-beta/config.go
Labels: size/XS

#1272 Force clear members if iam_binding doesn't find a binding
  google-beta/resource_iam_binding.go
Labels: size/XS

#1275 Correct a bad assumption about versions made in instance template
  google-beta/image.go
  google-beta/resource_compute_instance_template.go
Labels: changelog: no-release-note, size/S

#1278 Compare relpath and not by version in compute ig
  google-beta/resource_compute_instance_group.go
Labels: changelog: no-release-note, size/XS

#1262 Terraform AppEngine Dispatch Resource
  google-beta/provider.go
  google-beta/resource_app_engine_application_url_dispatch_rules.go
  google-beta/resource_app_engine_application_url_dispatch_rules_generated_test.go
  google-beta/resource_app_engine_standard_app_version.go
  website/docs/r/app_engine_application_url_dispatch_rules.html.markdown
  website/google.erb
Labels: documentation, size/XL

#1281 Organization policies can insert entries into this field, causing a permadiff.
  google-beta/resource_pubsub_topic.go
Labels: size/XS

#1282 Support setting 'location' in google_sql_database_instance backup_configuration
  google-beta/resource_sql_database_instance.go
  google-beta/resource_sql_database_instance_test.go
Labels: size/XS

#1247 deprecate kubernetes_dashboard for 2.X
  google-beta/resource_container_cluster.go
  website/docs/r/container_cluster.html.markdown
Labels: documentation, size/XS

#1285 Bump GKE node pool GPU disk to an appropriate size.
  google-beta/resource_container_node_pool_test.go
Labels: changelog: no-release-note, size/XS

#1284 add ip_configuration to dataflow_job
  google-beta/resource_dataflow_job.go
  google-beta/resource_dataflow_job_test.go
  website/docs/r/dataflow_job.html.markdown
Labels: documentation, size/S

#1283 Replace some unnecessary checks with import tests
  google-beta/resource_cloudiot_registry_test.go
  google-beta/resource_compute_autoscaler_test.go
  google-beta/resource_compute_backend_service_test.go
  google-beta/resource_compute_disk_test.go
  google-beta/resource_compute_global_address_test.go
  google-beta/resource_compute_https_health_check_test.go
Labels: size/XL

#1286 Fix version behaviour in `google_compute_instance_group
  google-beta/resource_cloudiot_registry_test.go
  google-beta/resource_compute_autoscaler_test.go
  google-beta/resource_compute_backend_service_test.go
  google-beta/resource_compute_disk_test.go
  google-beta/resource_compute_global_address_test.go
  google-beta/resource_compute_https_health_check_test.go
  google-beta/resource_compute_instance_group.go
  google-beta/resource_compute_target_pool.go
  google-beta/utils.go
Labels: size/XL

#1287 add forcenew on shielded instance config
  google-beta/node_config.go
  google-beta/resource_container_node_pool_test.go
Labels: changelog: no-release-note, size/S

#1288 Extract Bigtable instance type from InstanceInfo instead of deriving from clusters
  google-beta/resource_bigtable_instance.go
  google-beta/resource_cloudiot_registry_test.go
  google-beta/resource_compute_autoscaler_test.go
  google-beta/resource_compute_backend_service_test.go
  google-beta/resource_compute_disk_test.go
  google-beta/resource_compute_global_address_test.go
  google-beta/resource_compute_https_health_check_test.go
Labels: size/XL

#1265 Added oidcToken to pubsub api.
  google-beta/resource_pubsub_subscription.go
  google-beta/resource_pubsub_subscription_test.go
  website/docs/r/pubsub_subscription.html.markdown
Labels: documentation, size/L

#1279 Add port name and specification descriptions for terraform
  google-beta/resource_compute_health_check.go
  google-beta/resource_compute_region_health_check.go
Labels: changelog: no-release-note, documentation, size/XS

#1294 Fix disk source comparisons
  google-beta/resource_compute_disk.go
  google-beta/resource_compute_region_disk.go
Labels: changelog: no-release-note, size/XS

#1295 Update Router so that BGP removals work.
  google-beta/resource_compute_router.go
Labels: size/XS

#1297 Bump NetworkEndpoint timeouts to 6m
  google-beta/resource_compute_network_endpoint.go
  website/docs/r/compute_network_endpoint.html.markdown
Labels: changelog: no-release-note, documentation, size/XS

#1301 Make image license test import-style
  google-beta/resource_compute_image_test.go
Labels: changelog: no-release-note, size/M

#1299 Fix default network creation by correcting URL
  google-beta/resource_google_project.go
Labels: size/XS

#1300 Fix instance migrate test self link comparisons
  google-beta/resource_compute_instance_migrate_test.go
Labels: changelog: no-release-note, size/S

#1296 Make GKE taint fields available in GA
  google-beta/resource_container_cluster_test.go
  google-beta/resource_container_node_pool_test.go
  website/docs/r/container_cluster.html.markdown
Labels: documentation, size/M

#1302 Pubsub expiration policy docs are unclear about what happens.
  website/docs/r/pubsub_subscription.html.markdown
Labels: changelog: no-release-note, documentation, size/XS

#1292 Add the ability to use the GKE recurring maintenance window in beta.
  google-beta/resource_container_cluster.go
  google-beta/resource_container_cluster_test.go
  website/docs/r/container_cluster.html.markdown
Labels: documentation, size/L

#1307 Don't lock policy if it is already locked.
  google-beta/resource_storage_bucket.go
Labels: size/XS

#1303 If certificate_id is unset, it should not cause a diff.
  google-beta/resource_app_engine_domain_mapping.go
Labels: size/XS

#1291 Add description to service account.
  google-beta/resource_google_service_account.go
  google-beta/resource_google_service_account_test.go
  website/docs/r/google_service_account.html.markdown
Labels: documentation, size/XS

#1304 Clarify fields that are regexes in docs.
  website/docs/r/cloudbuild_trigger.html.markdown
Labels: changelog: no-release-note, documentation, size/XS

#1308 Make it clear that we don't need to ForceSend nested fields in ComputeInstanceFromTemplate
  google-beta/resource_compute_instance_from_template.go
  google-beta/resource_compute_instance_from_template_test.go
Labels: changelog: no-release-note, size/XS

#1188 Add IAM Conditions support; enable it in service account IAM
  google-beta/data_source_google_iam_policy.go
  google-beta/iam.go
  google-beta/iam_service_account.go
  google-beta/iam_test.go
  google-beta/resource_google_service_account_iam_test.go
  google-beta/resource_iam_binding.go
  google-beta/resource_iam_member.go
  google-beta/resource_iam_policy.go
  website/docs/r/google_service_account_iam.html.markdown
Labels: documentation, size/XXL

#1310 Eliminate overwriting of GKE maintenance exclusions, and prevent diff.
  google-beta/resource_container_cluster.go
Labels: size/XS

#1277 Adding "name" to Cloud Build resource
  google-beta/resource_cloud_build_trigger.go
  website/docs/r/cloudbuild_trigger.html.markdown
Labels: documentation, size/S

#1305 Add GKE taint changes to the upgrade guide
  website/docs/version_3_upgrade.html.markdown
Labels: changelog: no-release-note, documentation, size/XS

#1314 Fix nil reference to ShieldedNodes
  google-beta/resource_container_cluster.go
Labels: size/XS

#1315 Add Cloud Task Vendor Files (Beta)
  vendor/google.golang.org/api/cloudtasks/v2/cloudtasks-api.json
  vendor/google.golang.org/api/cloudtasks/v2/cloudtasks-gen.go
  vendor/modules.txt
Labels: dependencies, size/XXL

#1317 De-flaking cloudbuild trigger test
  google-beta/resource_cloudbuild_trigger_test.go
Labels: size/XS

#1313 add support for display device to compute instance
  google-beta/compute_instance_helpers.go
  google-beta/data_source_google_compute_instance.go
  google-beta/data_source_google_compute_instance_test.go
  google-beta/resource_compute_instance.go
  google-beta/resource_compute_instance_template.go
  google-beta/resource_compute_instance_template_test.go
  google-beta/resource_compute_instance_test.go
  website/docs/d/datasource_compute_instance.html.markdown
  website/docs/r/compute_instance.html.markdown
  website/docs/r/compute_instance_template.html.markdown
Labels: documentation, size/L
