Repository hashicorp/terraform-provider-google-beta, pull requests merged in 2019-12, with the labels that each got.

#1446 If the managed zone disappears, the recordset deletion will fail.
  google-beta/resource_dns_record_set.go
Labels: size/XS

#1447 Add timeout for cloud functions update.
  google-beta/resource_cloudfunctions_function.go
Labels: size/XS

#1438 Add `peering_name` in TPGB.
  google-beta/resource_container_cluster.go
  website/docs/r/container_cluster.html.markdown
Labels: documentation, size/XS

#1445 Mark DiskEncryptionKey.rawKey as sensitive for Terraform
  google-beta/resource_compute_disk.go
Labels: size/XS

#1450 return false if auto provisioning oauth scopes is nil
  google-beta/resource_container_cluster.go
Labels: changelog: no-release-note, size/XS

#1452 Mark DiskEncryptionKey.rawKey as sensitive for Terraform
  google-beta/resource_compute_disk.go
Labels: size/XS

#1453 Make disk encryption key raw key sensitive
  google-beta/resource_compute_disk.go
Labels: size/XS

#1448 Don't rely on bigquery table id anymore
  google-beta/resource_bigquery_table.go
Labels: size/S

#1451 Move vertical_pod_autoscaling to GA in container cluster
  google-beta/resource_container_cluster.go
  google-beta/resource_container_cluster_test.go
Labels: size/M

#1458 (Upstream PR) Fix heading in google_kms_crypto_key_version doc
  google-beta/resource_compute_disk.go
  website/docs/d/google_kms_crypto_key_version.html.markdown
Labels: documentation, size/XS

#1459 Groups not supported in acm levels members
  google-beta/resource_access_context_manager_access_level.go
  website/docs/r/access_context_manager_access_level.html.markdown
Labels: documentation, size/XS

#1454 remove cloudrun test custom import ids
  google-beta/resource_cloud_run_service_test.go
Labels: size/XS

#1428 New resource: google_billing_budget
  google-beta/config.go
  google-beta/provider.go
  google-beta/resource_billing_budget.go
  google-beta/resource_billing_budget_generated_test.go
  website/docs/r/billing_budget.html.markdown
  website/google.erb
Labels: documentation, size/XXL

#1461 Change in 0.12 syntax mixed up test
  google-beta/resource_compute_backend_service_test.go
Labels: size/XS

#1400 Allow configuring GKE Node Pool upgrade settings
  google-beta/resource_container_node_pool.go
  google-beta/resource_container_node_pool_test.go
  website/docs/r/container_node_pool.html.markdown
Labels: documentation, size/L

#1460 fix broken indent in bigquery dataset docs
  google-beta/resource_big_query_dataset.go
  website/docs/r/bigquery_dataset.html.markdown
Labels: changelog: no-release-note, documentation, size/XS

#1464 Fix regex that changed due to backtick vs double quote
  google-beta/kms_utils.go
Labels: size/XS

#1463 Several test fixes
  google-beta/data_source_google_compute_vpn_gateway.go
  google-beta/resource_compute_target_pool_test.go
  google-beta/resource_dns_managed_zone_test.go
  google-beta/resource_sql_database_instance_test.go
Labels: size/XS

#1466 Fix target proxy update test
  google-beta/resource_compute_target_https_proxy_test.go
  google-beta/resource_sql_database_instance_test.go
Labels: size/XS

#1462 Update dns managed zone test
  google-beta/data_source_dns_managed_zone.go
  google-beta/data_source_dns_managed_zone_test.go
  website/docs/d/dns_managed_zone.html.markdown
Labels: documentation, size/XS

#1465 Add `expr` to `google_compute_security_policy.rule.match`
  google-beta/resource_compute_security_policy.go
  google-beta/resource_compute_security_policy_test.go
  website/docs/r/compute_security_policy.html.markdown
Labels: documentation, size/L

#1468 (Upstream PR) update compute_attached_disk.html.markdown
  website/docs/r/compute_attached_disk.html.markdown
Labels: changelog: no-release-note, documentation, size/XS

#1455 Add pubsubConfigs to cloud source repository
  google-beta/resource_source_repo_repository.go
  google-beta/resource_source_repo_repository_generated_test.go
  google-beta/resource_sourcerepo_repository_test.go
  website/docs/r/sourcerepo_repository.html.markdown
Labels: documentation, size/XL

#1470 correct documentation about multiple ssl certificates
  google-beta/resource_compute_target_https_proxy.go
  website/docs/r/compute_target_https_proxy.html.markdown
Labels: changelog: no-release-note, documentation, size/XS

#1475 Fix cloudrun iam import format in docs
  website/docs/r/cloud_run_service_iam.html.markdown
  website/google.erb
Labels: changelog: no-release-note, documentation, size/XS

#1474 Add doc and example for google_organization_iam_audit_config.
  google-beta/resource_google_organization_iam_audit_config_test.go
  website/docs/r/google_organization_iam_audit_config.html.markdown
  website/google.erb
Labels: documentation, size/M

#1443 try deleting storage buckets before clearing them
  google-beta/resource_storage_bucket.go
Labels: documentation, size/M

#1476 Move cloudrun sql test to examples
  google-beta/iam_cloud_run_service_generated_test.go
  google-beta/resource_cloud_run_service_generated_test.go
  google-beta/resource_cloud_run_service_test.go
  website/docs/r/cloud_run_service.html.markdown
Labels: changelog: no-release-note, documentation, size/XL

#1478 Allow namespace to be inferred from project
  google-beta/iam_cloud_run_service_generated_test.go
  google-beta/resource_cloud_run_service.go
  google-beta/resource_cloud_run_service_generated_test.go
  website/docs/r/cloud_run_service.html.markdown
Labels: documentation, size/L

#1471 (Upstreaming) Add KMS support to bigquery tables.
  google-beta/data_source_google_bigquery_default_service_account.go
  google-beta/provider.go
  google-beta/resource_bigquery_table.go
  google-beta/resource_bigquery_table_test.go
  website/docs/d/google_bigquery_default_service_account.html
  website/docs/r/bigquery_table.html.markdown
Labels: documentation, size/XL

#1449 Add the ability to set synchronous timeout.
  google-beta/config.go
  google-beta/provider.go
  website/docs/guides/provider_reference.html.markdown
Labels: documentation, size/S

#1480 standardize on two spaces instead of tabs for generated IAM docs/tests
  google-beta/iam_binary_authorization_attestor_generated_test.go
  google-beta/iam_cloud_functions_cloud_function_generated_test.go
  google-beta/iam_cloud_run_service_generated_test.go
  google-beta/iam_compute_instance_generated_test.go
  google-beta/iam_compute_subnetwork_generated_test.go
  google-beta/iam_iap_app_engine_service_generated_test.go
  google-beta/iam_iap_app_engine_version_generated_test.go
  google-beta/iam_iap_web_backend_service_generated_test.go
  google-beta/iam_iap_web_generated_test.go
  google-beta/iam_iap_web_type_app_engine_generated_test.go
  google-beta/iam_iap_web_type_compute_generated_test.go
  google-beta/iam_pubsub_topic_generated_test.go
  google-beta/iam_runtime_config_config_generated_test.go
  google-beta/iam_source_repo_repository_generated_test.go
  website/docs/r/binary_authorization_attestor_iam.html.markdown
  website/docs/r/cloud_run_service_iam.html.markdown
  website/docs/r/cloudfunctions_cloud_function_iam.html.markdown
  website/docs/r/compute_instance_iam.html.markdown
  website/docs/r/compute_subnetwork_iam.html.markdown
  website/docs/r/iap_app_engine_service_iam.html.markdown
  website/docs/r/iap_app_engine_version_iam.html.markdown
  website/docs/r/iap_web_backend_service_iam.html.markdown
  website/docs/r/iap_web_iam.html.markdown
  website/docs/r/iap_web_type_app_engine_iam.html.markdown
  website/docs/r/iap_web_type_compute_iam.html.markdown
  website/docs/r/pubsub_topic_iam.html.markdown
  website/docs/r/runtimeconfig_config_iam.html.markdown
  website/docs/r/sourcerepo_repository_iam.html.markdown
Labels: changelog: no-release-note, documentation, size/XXL

#1435 Add route_rules to UrlMap for Traffic Director
  google-beta/resource_compute_url_map.go
  google-beta/resource_compute_url_map_generated_test.go
  google-beta/resource_compute_url_map_test.go
  website/docs/r/compute_url_map.html.markdown
Labels: documentation, size/XXL

#1477 add retry on resource read for dns.ResourceRecordSetsListResponse
  google-beta/resource_dns_record_set.go
Labels: size/XS

#1482 Moving Ansible fingerprint to match TF
  google-beta/resource_compute_subnetwork.go
  website/docs/r/compute_subnetwork.html.markdown
Labels: documentation, size/S

#1472 Fix docs google_service_account usage (upstream)
  website/docs/r/google_service_account.html.markdown
Labels: changelog: no-release-note, documentation, size/XS

#1483 Add path_rules to UrlMap
  google-beta/resource_compute_url_map.go
  google-beta/resource_compute_url_map_generated_test.go
  google-beta/resource_compute_url_map_test.go
  website/docs/r/compute_url_map.html.markdown
Labels: documentation, size/XXL

#1486 update compute disk documentation
  google-beta/resource_compute_disk.go
  google-beta/resource_sql_database_instance_test.go
  website/docs/r/compute_disk.html.markdown
Labels: changelog: no-release-note, documentation, size/S

#1484 change exponential_buckets growth_factor from integer to double
  google-beta/resource_logging_metric.go
Labels: size/XS

#1485 Add org_id to organization datasource so we don't need to use id
  google-beta/data_source_google_organization.go
  website/docs/d/google_organization.html.markdown
Labels: documentation, size/XS

#1489 Add path_rules to RegionUrlMap
  google-beta/resource_compute_region_url_map.go
  google-beta/resource_compute_region_url_map_generated_test.go
  google-beta/resource_compute_region_url_map_test.go
  google-beta/resource_compute_url_map.go
  google-beta/resource_compute_url_map_generated_test.go
  google-beta/resource_sql_database_instance_test.go
  website/docs/r/compute_region_url_map.html.markdown
  website/docs/r/compute_url_map.html.markdown
Labels: documentation, size/XXL

#1493 Add route_rules to RegionUrlMap
  google-beta/resource_compute_region_url_map.go
  google-beta/resource_compute_region_url_map_generated_test.go
  google-beta/resource_compute_region_url_map_test.go
  google-beta/resource_compute_url_map.go
  website/docs/r/compute_region_url_map.html.markdown
  website/docs/r/compute_url_map.html.markdown
Labels: documentation, size/XXL

#1490 DNS managed zone DS test ignores for beta-only fields
  google-beta/data_source_dns_managed_zone_test.go
Labels: changelog: no-release-note, documentation, size/XS

#1494 return nil instead of op, which is an interface containing nil
  google-beta/common_operation.go
Labels: size/XS

#1488 [logging_sink] Add bigquery_options field to support partitioned tables
  google-beta/resource_logging_billing_account_sink.go
  google-beta/resource_logging_billing_account_sink_test.go
  google-beta/resource_logging_folder_sink.go
  google-beta/resource_logging_folder_sink_test.go
  google-beta/resource_logging_organization_sink.go
  google-beta/resource_logging_organization_sink_test.go
  google-beta/resource_logging_project_sink.go
  google-beta/resource_logging_project_sink_test.go
  google-beta/resource_logging_sink.go
  website/docs/r/logging_billing_account_sink.html.markdown
  website/docs/r/logging_folder_sink.html.markdown
  website/docs/r/logging_organization_sink.html.markdown
  website/docs/r/logging_project_sink.html.markdown
Labels: documentation, size/XL

#1497 add description field to service_account for Terraform
  google-beta/resource_google_service_account.go
  google-beta/resource_google_service_account_test.go
  website/docs/r/google_service_account.html.markdown
Labels: documentation, size/XS

#1496 Inspec acm perimeter/access policies
  website/docs/r/access_context_manager_service_perimeter.html.markdown
Labels: documentation, size/XS

#1491 Add container_cluster_test sweeper
  google-beta/data_source_google_container_cluster_test.go
  google-beta/resource_composer_environment_test.go
  google-beta/resource_container_cluster_test.go
  google-beta/resource_monitoring_group_test.go
Labels: changelog: no-release-note, size/L

#1495 allow compute_route priority to send empty values
  google-beta/resource_compute_route.go
Labels: size/XS

#1503 Revert "add description field to service_account for Terraform"
  google-beta/resource_google_service_account.go
  google-beta/resource_google_service_account_test.go
  website/docs/r/google_service_account.html.markdown
Labels: documentation, size/XS

#1501 Handle deleted: prefix when deduplicating IAM member map
  google-beta/iam.go
  google-beta/iam_test.go
Labels: documentation, size/S

#1507 Promote region health check to GA
  google-beta/resource_compute_region_health_check_generated_test.go
  website/docs/r/compute_region_health_check.html.markdown
Labels: documentation, size/M

#1492 Add security_config to dataproc cluster
  google-beta/resource_dataproc_cluster.go
  google-beta/resource_dataproc_cluster_test.go
  website/docs/r/dataproc_cluster.html.markdown
Labels: documentation, size/XL

#1498 Add support for Deployment Manager
  google-beta/config.go
  google-beta/deployment_manager_operation.go
  google-beta/provider.go
  google-beta/resource_app_engine_standard_app_version_generated_test.go
  google-beta/resource_bigtable_app_profile_generated_test.go
  google-beta/resource_cloud_run_domain_mapping_generated_test.go
  google-beta/resource_cloud_run_service_generated_test.go
  google-beta/resource_cloud_tasks_queue_generated_test.go
  google-beta/resource_compute_subnetwork.go
  google-beta/resource_dataproc_autoscaling_policy_generated_test.go
  google-beta/resource_deployment_manager_deployment.go
  google-beta/resource_deployment_manager_deployment_test.go
  google-beta/resource_filestore_instance_generated_test.go
  google-beta/test-fixtures/deploymentmanager/service_account.yml.tmpl
  website/docs/r/deployment_manager_deployment.html.markdown
Labels: documentation, size/XXL

#1500 do not retry if sql api returns 409 for deleted instance name
  google-beta/error_retry_predicates.go
Labels: size/XS

#1508 update upgrade guide remove use_ip_aliases from google_container_cluster
  website/docs/guides/version_3_upgrade.html.markdown
Labels: documentation, size/XS

#1510 Moving nexthop ILB to GA
  google-beta/resource_compute_route_generated_test.go
  website/docs/r/compute_route.html.markdown
Labels: documentation, size/S

#1479 storage bucket iam generation
  google-beta/iam_binary_authorization_attestor.go
  google-beta/iam_cloud_functions_cloud_function.go
  google-beta/iam_cloud_run_service.go
  google-beta/iam_compute_instance.go
  google-beta/iam_compute_subnetwork.go
  google-beta/iam_iap_app_engine_service.go
  google-beta/iam_iap_app_engine_version.go
  google-beta/iam_iap_web.go
  google-beta/iam_iap_web_backend_service.go
  google-beta/iam_iap_web_type_app_engine.go
  google-beta/iam_iap_web_type_compute.go
  google-beta/iam_pubsub_topic.go
  google-beta/iam_runtime_config_config.go
  google-beta/iam_source_repo_repository.go
  google-beta/iam_storage_bucket.go
  google-beta/iam_storage_bucket_generated_test.go
  google-beta/provider.go
  google-beta/resource_iam_policy.go
  google-beta/resource_storage_bucket_iam_test.go
  website/docs/r/storage_bucket_iam.html.markdown
Labels: documentation, size/XXL

#1511 Add ILB global access to ForwardingRule
  google-beta/resource_compute_forwarding_rule.go
  google-beta/resource_compute_forwarding_rule_generated_test.go
  website/docs/r/compute_forwarding_rule.html.markdown
Labels: documentation, size/L

#1514 add PARQUET as source_format option in bigquery table external data configuration
  google-beta/resource_bigquery_table.go
Labels: size/XS

#1517 Consider unknown values true-ish in RouterInterface CustomizeDiff
  google-beta/resource_compute_router_interface.go
Labels: size/XS

#1519 Managed certificates support 100 domains, not 1
  google-beta/resource_compute_managed_ssl_certificate.go
  website/docs/r/compute_managed_ssl_certificate.html.markdown
Labels: documentation, size/XS

#1502 Rename resources in container_node_pool_test to use sweeper prefix
  google-beta/resource_container_node_pool_test.go
Labels: changelog: no-release-note, documentation, size/M

#1520 change a few ExactlyOneOfs of nested blocks to AtLeastOneOfs
  google-beta/resource_compute_firewall.go
  google-beta/resource_compute_health_check.go
  google-beta/resource_compute_region_health_check.go
  google-beta/resource_google_organization_policy.go
Labels: size/S

#1522 remove unused pgp example
  website/docs/r/google_service_account_key.html.markdown
Labels: changelog: no-release-note, documentation, size/XS

#1521 Fix generated import formats for resources that allow in their names
  google-beta/iam_source_repo_repository.go
  google-beta/iam_source_repo_repository_generated_test.go
  google-beta/resource_source_repo_repository.go
  google-beta/resource_source_repo_repository_generated_test.go
  website/docs/r/sourcerepo_repository.html.markdown
  website/docs/r/sourcerepo_repository_iam.html.markdown
Labels: documentation, size/S

#1525 iam conditions are public beta now
  google-beta/resource_google_project_iam_binding_test.go
  google-beta/resource_google_project_iam_member_test.go
  google-beta/resource_google_project_iam_policy_test.go
  website/docs/r/compute_instance_iam.html.markdown
  website/docs/r/google_project_iam.html.markdown
  website/docs/r/google_service_account_iam.html.markdown
  website/docs/r/iap_app_engine_version_iam.html.markdown
  website/docs/r/iap_web_backend_service_iam.html.markdown
  website/docs/r/storage_bucket_iam.html.markdown
Labels: changelog: no-release-note, documentation, size/S

#1529 Refactor GKE test object names
  google-beta/resource_container_cluster_test.go
  google-beta/resource_container_node_pool_test.go
Labels: changelog: no-release-note, size/L

#1528 Add error retry predicate for monitoring 409 error
  google-beta/error_retry_predicates.go
  google-beta/resource_monitoring_alert_policy.go
  google-beta/resource_monitoring_group.go
  google-beta/resource_monitoring_notification_channel.go
  google-beta/resource_monitoring_uptime_check_config.go
Labels: changelog: no-release-note, size/XS

#1530 Use new dataflow templates, fix labels
  google-beta/resource_dataflow_job.go
  google-beta/resource_dataflow_job_test.go
  website/docs/r/dataflow_job.html.markdown
Labels: changelog: no-release-note, documentation, size/XL

#1524 add conditions to kms iam
  google-beta/iam_kms_crypto_key.go
  google-beta/iam_kms_key_ring.go
  google-beta/resource_iam_policy.go
  google-beta/resource_kms_crypto_key_iam_test.go
  google-beta/resource_kms_key_ring_iam_test.go
  website/docs/r/google_kms_crypto_key_iam_binding.html.markdown
  website/docs/r/google_kms_crypto_key_iam_member.html.markdown
  website/docs/r/google_kms_key_ring_iam.html.markdown
Labels: documentation, size/XL

#1527 add IAM conditions support to the remaining IAP resources
  google-beta/iam_iap_app_engine_service.go
  google-beta/iam_iap_app_engine_service_generated_test.go
  google-beta/iam_iap_web.go
  google-beta/iam_iap_web_generated_test.go
  google-beta/iam_iap_web_type_app_engine.go
  google-beta/iam_iap_web_type_app_engine_generated_test.go
  google-beta/iam_iap_web_type_compute.go
  google-beta/iam_iap_web_type_compute_generated_test.go
  website/docs/r/iap_app_engine_service_iam.html.markdown
  website/docs/r/iap_web_iam.html.markdown
  website/docs/r/iap_web_type_app_engine_iam.html.markdown
  website/docs/r/iap_web_type_compute_iam.html.markdown
Labels: documentation, size/XXL

#1531 Update docs for SQL versions
  website/docs/r/sql_database_instance.html.markdown
Labels: changelog: no-release-note, documentation, size/XS

#1535 Fix cluster/node pool tests
  google-beta/resource_container_cluster_test.go
  google-beta/resource_container_node_pool_test.go
Labels: changelog: no-release-note, size/XS

#1532 Add error retry predicate to app engine dispath rules and app version
  google-beta/error_retry_predicates.go
  google-beta/resource_app_engine_application_url_dispatch_rules.go
  google-beta/resource_app_engine_standard_app_version.go
Labels: changelog: no-release-note, size/XS

#1536 Add error predicates to all Terraform template sendRequest calls
  google-beta/resource_app_engine_application_url_dispatch_rules.go
  google-beta/resource_app_engine_standard_app_version.go
  google-beta/resource_bigquery_data_transfer_config.go
  google-beta/resource_monitoring_alert_policy.go
  google-beta/resource_monitoring_group.go
  google-beta/resource_monitoring_group_generated_test.go
  google-beta/resource_monitoring_notification_channel.go
  google-beta/resource_monitoring_notification_channel_generated_test.go
  google-beta/resource_monitoring_uptime_check_config.go
  google-beta/resource_monitoring_uptime_check_config_generated_test.go
  google-beta/resource_pubsub_topic.go
  google-beta/resource_pubsub_topic_generated_test.go
  google-beta/transport.go
Labels: changelog: no-release-note, size/S

#1526 Fix import in compute_attach_disk documentation
  google-beta/resource_sql_database_instance_test.go
  website/docs/r/compute_attached_disk.html.markdown
Labels: changelog: no-release-note, documentation, size/XS

#1539 Bump Composer timeouts
  google-beta/resource_composer_environment.go
  google-beta/resource_sql_database_instance_test.go
Labels: size/XS

#1538 Increase update timeout for datafusion instance
  google-beta/resource_data_fusion_instance.go
  website/docs/r/data_fusion_instance.html.markdown
Labels: documentation, size/XS

#1533 Allow GKE to resume create after interruption
  google-beta/bootstrap_utils_test.go
  google-beta/config.go
  google-beta/config_test.go
  google-beta/container_operation.go
  google-beta/provider.go
  google-beta/resource_composer_environment_test.go
  google-beta/resource_compute_instance_migrate_test.go
  google-beta/resource_container_cluster.go
  google-beta/resource_container_cluster_test.go
  google-beta/resource_monitoring_group_test.go
  google-beta/resource_sql_database_instance_test.go
Labels: size/L

#1546 Only strip version from baseurl when present
  google-beta/config.go
  google-beta/config_test.go
Labels: size/XS

#1534 put ConflictsWith on blocks that changed from ExactlyOneOf to AtLeastOneOf
  google-beta/resource_compute_firewall.go
  google-beta/resource_compute_health_check.go
  google-beta/resource_compute_health_check_test.go
  google-beta/resource_compute_region_health_check.go
  google-beta/resource_compute_region_health_check_test.go
  google-beta/resource_google_organization_policy.go
Labels: size/S

#1547 More error predicates in custom code
  google-beta/iam_pubsub_topic.go
  google-beta/resource_app_engine_standard_app_version.go
Labels: changelog: no-release-note, size/XS

#1548 Add Terraform Cloud Run example for multiple environment variables
  google-beta/resource_cloud_run_service_generated_test.go
  website/docs/r/cloud_run_service.html.markdown
Labels: documentation, size/M

#1550 These fields were duplicated, they shouldn't be
  .changelog/2873.txt
  google-beta/resource_cloud_run_service_generated_test.go
  website/docs/r/cloud_run_service.html.markdown
Labels: documentation, size/M

#1551 Add Downstream pusher on Google Cloud Build
  .changelog/2873.txt
  google-beta/resource_cloud_run_service_generated_test.go
  website/docs/r/cloud_run_service.html.markdown
Labels: documentation, size/M

#1549 Add sweeper for access context manager access policy
  google-beta/resource_access_context_manager_access_policy_test.go
  google-beta/resource_google_project_test.go
  google-beta/resource_sql_database_instance_test.go
Labels: documentation, size/M

#1543 add nil check for node pool tags
  google-beta/node_config.go
Labels: size/XS

#1553 Retry reads of organization datasource
  google-beta/data_source_google_organization.go
Labels: size/XS

#1545 Bump create/delete timeouts for DataFusion Instances
  google-beta/resource_data_fusion_instance.go
  website/docs/r/data_fusion_instance.html.markdown
Labels: documentation, size/XS

#1554 Add authoritative IAM policy binding for KMS Crypto Keys
  google-beta/provider.go
  google-beta/resource_kms_crypto_key_iam_test.go
  website/docs/r/google_kms_crypto_key_iam.html.markdown
  website/docs/r/google_kms_crypto_key_iam_binding.html.markdown
  website/docs/r/google_kms_crypto_key_iam_member.html.markdown
  website/docs/r/google_kms_key_ring_iam.html.markdown
  website/google.erb
Labels: documentation, size/XL

#1556 Remove update for cloud run domain mapping
  google-beta/resource_cloud_run_domain_mapping.go
  google-beta/resource_sql_database_instance_test.go
  website/docs/r/cloud_run_domain_mapping.html.markdown
Labels: documentation, size/S

#1559 Make logging metric descriptor labels a set
  google-beta/resource_logging_metric.go
Labels: size/S

#1558 Enable batching for healthcare IAM resources
  google-beta/provider.go
Labels: size/XS

#1560 Wait on create op for endpoint service
  google-beta/resource_endpoints_service.go
  google-beta/resource_endpoints_service_test.go
  google-beta/resource_sql_database_instance_test.go
Labels: size/L

#1561 Fix cluster documentation timestamps
  website/docs/r/container_cluster.html.markdown
Labels: documentation, size/XS

#1562 Fix doc format (upstream PR)
  google-beta/resource_sql_database_instance_test.go
  website/docs/d/google_kms_secret_ciphertext.html.markdown
Labels: changelog: no-release-note, documentation, size/XS

#1557 Add example, fix inferred zone for disk resource policies attachment
  google-beta/resource_compute_disk_resource_policy_attachment.go
  google-beta/resource_compute_disk_resource_policy_attachment_generated_test.go
  google-beta/resource_compute_disk_resource_policy_attachment_test.go
  website/docs/r/compute_disk_resource_policy_attachment.html.markdown
Labels: documentation, size/L

#1523 Support for Identity Platform
  google-beta/config.go
  google-beta/provider.go
  google-beta/resource_identity_platform_default_supported_idp_config.go
  google-beta/resource_identity_platform_default_supported_idp_config_test.go
  google-beta/resource_identity_platform_inbound_saml_config.go
  google-beta/resource_identity_platform_inbound_saml_config_generated_test.go
  google-beta/resource_identity_platform_inbound_saml_config_test.go
  google-beta/resource_identity_platform_oauth_idp_config.go
  google-beta/resource_identity_platform_oauth_idp_config_generated_test.go
  google-beta/resource_identity_platform_oauth_idp_config_test.go
  google-beta/resource_identity_platform_tenant.go
  google-beta/resource_identity_platform_tenant_default_supported_idp_config.go
  google-beta/resource_identity_platform_tenant_default_supported_idp_config_generated_test.go
  google-beta/resource_identity_platform_tenant_default_supported_idp_config_test.go
  google-beta/resource_identity_platform_tenant_generated_test.go
  google-beta/resource_identity_platform_tenant_inbound_saml_config.go
  google-beta/resource_identity_platform_tenant_inbound_saml_config_generated_test.go
  google-beta/resource_identity_platform_tenant_indound_saml_config_test.go
  google-beta/resource_identity_platform_tenant_oauth_idp_config.go
  google-beta/resource_identity_platform_tenant_oauth_idp_config_generated_test.go
  google-beta/resource_identity_platform_tenant_oauth_idp_config_test.go
  google-beta/resource_identity_platform_tenant_test.go
  google-beta/resource_sql_database_instance_test.go
  website/docs/r/identity_platform_default_supported_idp_config.html.markdown
  website/docs/r/identity_platform_inbound_saml_config.html.markdown
  website/docs/r/identity_platform_oauth_idp_config.html.markdown
  website/docs/r/identity_platform_tenant.html.markdown
  website/docs/r/identity_platform_tenant_default_supported_idp_config.html.markdown
  website/docs/r/identity_platform_tenant_inbound_saml_config.html.markdown
  website/docs/r/identity_platform_tenant_oauth_idp_config.html.markdown
  website/google.erb
Labels: documentation, size/XXL

#1563 Change CR Domain Mapping route name to string
  google-beta/resource_cloud_run_domain_mapping.go
  google-beta/resource_sql_database_instance_test.go
Labels: size/XS

#1564 Poll domain mapping until it succeeds
  google-beta/resource_cloud_run_domain_mapping.go
  website/docs/r/cloud_run_domain_mapping.html.markdown
Labels: documentation, size/XS

#1566 Make spec env, command fields updatable for cloudrun service
  google-beta/resource_cloud_run_service.go
Labels: size/XS

#1565 Reduce default batching interval
  google-beta/batcher.go
  website/docs/guides/provider_reference.html.markdown
Labels: documentation, size/XS

#1567 Use non-exhausted zone
  google-beta/resource_redis_instance_test.go
Labels: changelog: no-release-note, size/XS

#1568 Add note to schema for bigquery table docs
  website/docs/r/bigquery_table.html.markdown
Labels: changelog: no-release-note, documentation, size/XS

#1569 Send empty values for backend service cache key policy
  google-beta/resource_compute_backend_service.go
Labels: size/XS

#1570 Fix test domain for Cloud Run Domain Mapping
  google-beta/resource_app_engine_domain_mapping_generated_test.go
  google-beta/resource_cloud_run_domain_mapping_generated_test.go
  website/docs/r/app_engine_domain_mapping.html.markdown
Labels: changelog: no-release-note, documentation, size/XS
