Repository hashicorp/terraform-provider-google-beta, pull requests merged in 2019-03, with the labels that each got.

#481 Add back Computed to subnetwork datasource's self_link
  google-beta/data_source_google_compute_subnetwork.go
Labels: size/XS

#465 Improve docs for Cloud Build
  website/docs/r/cloud_build_trigger.html.markdown
Labels: documentation, size/XS

#462 Use new output_name variable in Storage Object ACL docs
  google-beta/resource_storage_object_access_control_generated_test.go
  website/docs/r/storage_object_access_control.html.markdown
  website/docs/r/storage_object_acl.html.markdown
Labels: documentation, size/XS

#478 Allow empty string encryption key name in both 0.11 and 0.12.
  google-beta/resource_storage_bucket.go
Labels: size/XS

#480 Detach disk based on API information instead of state.
  google-beta/resource_compute_disk.go
  google-beta/resource_compute_region_disk.go
Labels: size/S

#475 Specify CIDR block sizes for GKE cluster subnets
  google-beta/resource_container_cluster.go
  google-beta/resource_container_cluster_test.go
  website/docs/r/container_cluster.html.markdown
Labels: documentation, size/L

#469 Add a computed field for uptime check id
  google-beta/resource_monitoring_uptime_check_config.go
  website/docs/r/monitoring_uptime_check_config.html.markdown
Labels: documentation, size/XS

#484 Handle operation timeouts, if it's the gcp api that's timing out.
  google-beta/config.go
  google-beta/utils.go
Labels: size/XS

#479 Remember to set gcr domain in AppEngine Read.
  google-beta/resource_app_engine_application.go
Labels: size/XS

#487 Only set remove_default_node_pool for import if false - fixes TF tests
  google-beta/resource_container_cluster.go
  website/docs/r/container_cluster.html.markdown
Labels: documentation, size/XS

#488 [Terraform] DNS Policies
  google-beta/provider_dns_gen.go
  google-beta/resource_dns_policy.go
  google-beta/resource_dns_policy_generated_test.go
  google-beta/resource_dns_policy_test.go
  website/docs/r/dns_policy.html.markdown
Labels: documentation, size/XL

#493 Add a datasource for retrieving a list of projects
  google-beta/data_source_google_projects.go
  google-beta/data_source_google_projects_test.go
  google-beta/provider.go
  google-beta/resource_dns_policy.go
  website/docs/d/google_projects.html.markdown
  website/google.erb
Labels: documentation, size/L

#486 Versioned OiCS Examples / Generated tests
  google-beta/provider_test.go
  google-beta/resource_cloud_scheduler_job_generated_test.go
  google-beta/resource_compute_autoscaler_generated_test.go
  google-beta/resource_compute_managed_ssl_certificate_generated_test.go
  google-beta/resource_compute_region_autoscaler_generated_test.go
  google-beta/resource_container_analysis_note_generated_test.go
  google-beta/resource_dns_policy_generated_test.go
  google-beta/resource_filestore_instance_generated_test.go
  website/docs/r/cloud_scheduler_job.html.markdown
  website/docs/r/compute_autoscaler.html.markdown
  website/docs/r/compute_managed_ssl_certificate.html.markdown
  website/docs/r/compute_region_autoscaler.html.markdown
  website/docs/r/container_analysis_note.html.markdown
  website/docs/r/filestore_instance.html.markdown
Labels: documentation, size/XL

#496 Update API default change date for VPC Native GKE
  google-beta/provider_test.go
  google-beta/resource_cloud_scheduler_job_generated_test.go
  google-beta/resource_compute_autoscaler_generated_test.go
  google-beta/resource_compute_managed_ssl_certificate_generated_test.go
  google-beta/resource_compute_region_autoscaler_generated_test.go
  google-beta/resource_container_analysis_note_generated_test.go
  google-beta/resource_dns_policy_generated_test.go
  google-beta/resource_filestore_instance_generated_test.go
  website/docs/r/cloud_scheduler_job.html.markdown
  website/docs/r/compute_autoscaler.html.markdown
  website/docs/r/compute_managed_ssl_certificate.html.markdown
  website/docs/r/compute_region_autoscaler.html.markdown
  website/docs/r/container_analysis_note.html.markdown
  website/docs/r/container_cluster.html.markdown
  website/docs/r/filestore_instance.html.markdown
Labels: documentation, size/XL

#500 Fix accidentally reverted OiCS changes
  google-beta/provider_test.go
  google-beta/resource_cloud_scheduler_job_generated_test.go
  google-beta/resource_compute_autoscaler_generated_test.go
  google-beta/resource_compute_managed_ssl_certificate_generated_test.go
  google-beta/resource_compute_region_autoscaler_generated_test.go
  google-beta/resource_container_analysis_note_generated_test.go
  google-beta/resource_dns_policy_generated_test.go
  google-beta/resource_filestore_instance_generated_test.go
  website/docs/r/cloud_scheduler_job.html.markdown
  website/docs/r/compute_autoscaler.html.markdown
  website/docs/r/compute_managed_ssl_certificate.html.markdown
  website/docs/r/compute_region_autoscaler.html.markdown
  website/docs/r/container_analysis_note.html.markdown
  website/docs/r/filestore_instance.html.markdown
Labels: documentation, size/XL

#495 Just don't set remove_node_pool on import
  google-beta/resource_container_cluster.go
  google-beta/resource_container_cluster_test.go
  website/docs/r/container_cluster.html.markdown
Labels: documentation, size/M

#502 [terraform] Add sensitive_content argument to resource_storage_bucket_object
  google-beta/resource_storage_bucket_object.go
Labels: size/XS

#501 [TF] Enable GA Cloud Scheduler
  google-beta/provider.go
  google-beta/resource_cloud_scheduler_job.go
  google-beta/resource_cloud_scheduler_job_generated_test.go
  google-beta/resource_tpu_node.go
  google-beta/validate-http-headers.go
  website/docs/r/cloud_scheduler_job.html.markdown
Labels: documentation, size/M

#505 Create the CAI representation in addition to API objects.
  google-beta/resource_pubsub_subscription.go
Labels: size/XS

#497 Handle instances not found in attached disk resource
  google-beta/resource_compute_attached_disk.go
Labels: size/XS

#490 Add ACM docs to sidebar
  website/google.erb
Labels: documentation, size/XS

#503 Add retention duraction, retain acked message to pubsub
  google-beta/resource_cloud_scheduler_job_generated_test.go
  google-beta/resource_pubsub_subscription.go
  google-beta/resource_pubsub_subscription_generated_test.go
  website/docs/r/cloud_scheduler_job.html.markdown
  website/docs/r/pubsub_subscription.html.markdown
Labels: documentation, size/L

#506 Allow fuzzy matching GKE versions in the GKE version datasource
  google-beta/data_source_google_container_engine_versions.go
  google-beta/data_source_google_container_engine_versions_test.go
  website/docs/d/google_container_engine_versions.html.markdown
  website/docs/r/container_cluster.html.markdown
  website/docs/r/container_node_pool.html.markdown
Labels: documentation, size/M

#507 Catch up Terraform providers
  website/docs/d/datasource_google_service_account.html.markdown
  website/docs/d/google_folder.html.markdown
  website/docs/d/google_iam_policy.html.markdown
  website/docs/r/app_engine_application.html.markdown
  website/docs/r/bigquery_dataset.html.markdown
  website/docs/r/cloudfunctions_function.html.markdown
  website/docs/r/compute_instance.html.markdown
  website/docs/r/compute_instance_template.html.markdown
  website/docs/r/container_cluster.html.markdown
  website/docs/r/container_node_pool.html.markdown
  website/docs/r/dataproc_cluster.html.markdown
  website/docs/r/dns_record_set.markdown
  website/docs/r/sql_database_instance.html.markdown
Labels: documentation, size/M

#504 Use correct product name for generated provider files.
  google-beta/provider_access_context_manager_gen.go
  google-beta/provider_app_engine_gen.go
  google-beta/provider_binary_authorization_gen.go
  google-beta/provider_cloud_build_gen.go
  google-beta/provider_cloud_scheduler_gen.go
  google-beta/provider_container_analysis_gen.go
  google-beta/provider_resource_manager_gen.go
  google-beta/provider_source_repo_gen.go
Labels: documentation, size/XS

#509 Generate google_compute_network using Magic Modules
  google-beta/provider.go
  google-beta/provider_compute_gen.go
  google-beta/resource_compute_network.go
  google-beta/resource_compute_network_generated_test.go
  google-beta/resource_compute_network_test.go
  google-beta/resource_google_project.go
  website/docs/r/compute_network.html.markdown
Labels: documentation, size/XL

#508 Update api.yml source and target SA max_size
  google-beta/resource_compute_firewall.go
Labels: size/XS

#510 Misc minor fixes
  google-beta/data_source_google_iam_policy_test.go
  google-beta/data_source_google_kms_crypto_key_test.go
  google-beta/data_source_google_kms_key_ring_test.go
Labels: size/XS

#448 [Terraform] Autogen resource manager operations
  google-beta/resource_google_folder.go
  google-beta/resource_google_project.go
  google-beta/resource_manager_operation.go
  google-beta/resourcemanager_operation.go
Labels: size/M

#515 Revert "[Terraform] Autogen resource manager operations"
  google-beta/resource_google_folder.go
  google-beta/resource_google_project.go
  google-beta/resource_manager_operation.go
  google-beta/resourcemanager_operation.go
Labels: size/M

#513 contributor: Fix typo
  website/docs/d/datasource_google_client_openid_userinfo.html.markdown
Labels: documentation, size/XS

#516 Terraform: Add managed ssl cert to documentation sidebar.
  website/google.erb
Labels: documentation, size/XS

#517 [terraform-conversions] Add compute_instance to conversions library
  google-beta/compute_instance_helpers.go
  google-beta/metadata.go
  google-beta/utils.go
Labels: size/XS

#511 Filestore Operation autogeneration
  google-beta/filestore_operation.go
  google-beta/resource_filestore_instance.go
Labels: size/S

#514 Add a method for converting structs -> maps when bridging MM -> TF
  google-beta/convert.go
  google-beta/resource_google_folder.go
  google-beta/resource_google_project.go
  google-beta/resource_manager_operation.go
  google-beta/resourcemanager_operation.go
Labels: size/M

#461 Add location / node_locations fields to GKE
  google-beta/data_source_google_container_cluster.go
  google-beta/data_source_google_container_cluster_test.go
  google-beta/data_source_google_container_engine_versions.go
  google-beta/data_source_google_container_engine_versions_test.go
  google-beta/regional_utils.go
  google-beta/resource_container_cluster.go
  google-beta/resource_container_cluster_test.go
  google-beta/resource_container_node_pool.go
  google-beta/resource_container_node_pool_test.go
  website/docs/d/google_container_cluster.html.markdown
  website/docs/d/google_container_engine_versions.html.markdown
  website/docs/r/container_cluster.html.markdown
  website/docs/r/container_node_pool.html.markdown
Labels: documentation, size/XL

#415 Support specifying project explicitly on the sql ssl resource
  google-beta/resource_sql_ssl_cert.go
Labels: documentation, size/XS

#522 Handle GKE 1.12 node_config.metadata default value
  google-beta/node_config.go
  website/docs/r/container_cluster.html.markdown
  website/docs/r/container_node_pool.html.markdown
Labels: documentation, size/XS

#518 Modify docs on managed ssl cert.
  website/docs/r/compute_managed_ssl_certificate.html.markdown
Labels: documentation, size/XS

#519 Update URLs in api.yml
  website/docs/r/compute_backend_bucket.html.markdown
  website/docs/r/compute_disk.html.markdown
  website/docs/r/compute_firewall.html.markdown
  website/docs/r/compute_forwarding_rule.html.markdown
  website/docs/r/compute_global_address.html.markdown
  website/docs/r/compute_health_check.html.markdown
  website/docs/r/compute_http_health_check.html.markdown
  website/docs/r/compute_https_health_check.html.markdown
  website/docs/r/compute_image.html.markdown
  website/docs/r/compute_target_http_proxy.html.markdown
  website/docs/r/compute_target_https_proxy.html.markdown
  website/docs/r/compute_target_ssl_proxy.html.markdown
  website/docs/r/compute_target_tcp_proxy.html.markdown
Labels: documentation, size/XS

#525 Remove validation in compute_instance expanders
  google-beta/compute_instance_helpers.go
Labels: size/XS

#524 Add project field to sql ssl cert
  website/docs/r/sql_ssl_cert.html.markdown
Labels: documentation, size/XS

#526 Terraform: Support for (Regional)Disk physicalBlockSizeBytes
  google-beta/resource_compute_disk.go
  google-beta/resource_compute_disk_generated_test.go
  google-beta/resource_compute_region_disk.go
  google-beta/resource_compute_region_disk_generated_test.go
  website/docs/r/compute_disk.html.markdown
  website/docs/r/compute_region_disk.html.markdown
Labels: documentation, size/M

#512 Add import support for organization_policies
  google-beta/resource_google_folder_organization_policy.go
  google-beta/resource_google_folder_organization_policy_test.go
  google-beta/resource_google_project_organization_policy.go
  google-beta/resource_google_project_organization_policy_test.go
  website/docs/r/google_folder_organization_policy.html.markdown
  website/docs/r/google_project_organization_policy.html.markdown
Labels: documentation, size/M

#468 Adding datasources for folder and project org policy
  google-beta/data_source_google_folder_organization_policy.go
  google-beta/data_source_google_folder_organization_policy_test.go
  google-beta/data_source_google_project_organization_policy.go
  google-beta/data_source_google_project_organization_policy_test.go
  google-beta/provider.go
  website/docs/d/datasource_google_folder_organization_policy.html.markdown
  website/docs/d/datasource_google_project_organization_policy.html.markdown
  website/google.erb
Labels: documentation, size/L

#485 Change all fields for monitored resource to force recreation
  google-beta/resource_monitoring_uptime_check_config.go
  google-beta/resource_monitoring_uptime_check_config_test.go
Labels: size/M

#527 [Terraform] Add custom Service Account support to Dataflow Job resource
  google-beta/resource_dataflow_job.go
  google-beta/resource_dataflow_job_test.go
  website/docs/r/dataflow_job.html.markdown
Labels: documentation, size/M

#528 Terraform: fix format specifer in IAM folder test message
  google-beta/resource_google_folder_iam_policy_test.go
Labels: size/XS

#531 Add DNS policy to sidebar.
  website/google.erb
Labels: documentation, size/XS

#530 Update GKE docs based on default node pool behaviour, upstream docs
  website/docs/r/container_cluster.html.markdown
Labels: documentation, size/S

#529 Refactor storage bucket import logic
  google-beta/resource_storage_bucket.go
  website/docs/r/storage_bucket.html.markdown
Labels: documentation, size/S

#532 Fix CI problems for 0.12 SDK
  google-beta/resource_compute_backend_service.go
  google-beta/resource_compute_instance_group_manager.go
  google-beta/resource_compute_region_instance_group_manager.go
  google-beta/resource_google_project_test.go
  google-beta/resource_tpu_node_generated_test.go
  google-beta/utils.go
  website/docs/r/tpu_node.html.markdown
Labels: documentation, size/XS

#536 Fix the project metadata test in CI + fix new linter errors
  google-beta/resource_bigtable_instance.go
  google-beta/resource_compute_project_metadata_item_test.go
  google-beta/resource_storage_transfer_job.go
Labels: size/XS

#537 Improve logging around SQL ops
  google-beta/common_operation.go
  google-beta/sqladmin_operation.go
Labels: size/S

#539 Cloud Functions validation regexp
  google-beta/resource_cloudfunctions_function.go
  google-beta/resource_cloudfunctions_function_test.go
Labels: size/M

#540 Add note in docs for private IP SQL instance set-up
  website/docs/r/sql_database_instance.html.markdown
Labels: documentation, size/XS

#543 Add note about sensitive content to gcs bucket object
  website/docs/r/storage_bucket_object.html.markdown
Labels: documentation, size/XS

#535 Terraform: fix DNS policies acceptance test regression
  google-beta/resource_dns_policy_generated_test.go
  website/docs/r/dns_policy.html.markdown
Labels: documentation, size/XS

#541 Add post-create for VpnTunnels Labels
  google-beta/resource_compute_vpn_tunnel.go
  google-beta/resource_compute_vpn_tunnel_generated_test.go
  website/docs/r/compute_vpn_tunnel.html.markdown
Labels: documentation, size/L

#545 Update OAuth Scopes
  website/docs/r/container_cluster.html.markdown
  website/docs/r/container_node_pool.html.markdown
Labels: documentation, size/XS

#538 Fix wrong field name in detach_disk
  google-beta/resource_compute_disk.go
  google-beta/resource_compute_region_disk.go
Labels: size/XS

#542 Sort import regex's
  google-beta/resource_compute_autoscaler.go
  google-beta/resource_compute_region_autoscaler.go
  google-beta/resource_compute_router.go
  google-beta/resource_compute_subnetwork.go
  website/docs/r/compute_autoscaler.html.markdown
  website/docs/r/compute_region_autoscaler.html.markdown
  website/docs/r/compute_router.html.markdown
  website/docs/r/compute_subnetwork.html.markdown
Labels: documentation, size/XS

#548 [TF] Allow update of storage bucket storage_class
  google-beta/resource_storage_bucket.go
  google-beta/resource_storage_bucket_test.go
Labels: size/L

#544 Parse 409 error strings to determine retriable status
  google-beta/resource_sql_database_instance.go
  google-beta/utils.go
Labels: size/XS

#549 Add working retries for SQL operations where the operation has the error
  google-beta/common_operation.go
  google-beta/sqladmin_operation.go
  google-beta/transport.go
  google-beta/utils.go
Labels: size/S

#551 Mark Forwarding Rule allPorts as GA
  website/docs/r/compute_forwarding_rule.html.markdown
Labels: documentation, size/XS

#553 Move storage update code to update
  google-beta/resource_storage_bucket.go
Labels: size/XS

#554 Update TPU version to latest (1.13)
  google-beta/resource_tpu_node_generated_test.go
  website/docs/r/tpu_node.html.markdown
Labels: documentation, size/XS

#547 Refresh Google provider configuration reference page
  website/docs/provider_reference.html.markdown
Labels: documentation, size/L

#555 Bump Redis timeouts based on test failures
  google-beta/resource_redis_instance.go
  website/docs/r/redis_instance.html.markdown
Labels: documentation, size/XS

#557 Update CHANGELOG.md
  CHANGELOG.md
Labels: size/XS

#556 Add with_state to storage bucket, deprecate is_live
  google-beta/resource_storage_bucket.go
  google-beta/resource_storage_bucket_test.go
  website/docs/r/storage_bucket.html.markdown
Labels: documentation, size/XL

#559 container_cluster docs: missing newlines for istio_config and cluster_autoscaling lists
  website/docs/r/container_cluster.html.markdown
Labels: documentation, size/XS

#562 [TF] Try to make cluster node autoprovisioning docs clearer
  website/docs/r/container_cluster.html.markdown
Labels: documentation, size/XS

#558 Mark node_ipv4_cidr_block as Computed
  google-beta/resource_container_cluster.go
Labels: size/XS

#563 [terraform-beta] docs for container_cluster and container_node_pool resources
  website/docs/r/container_cluster.html.markdown
  website/docs/r/container_node_pool.html.markdown
Labels: documentation, size/XS

#561 Add TPU Tensorflow datasource
  google-beta/data_source_tpu_tensorflow_versions.go
  google-beta/data_source_tpu_tensorflow_versions_test.go
  google-beta/provider.go
  google-beta/resource_tpu_node_generated_test.go
  google-beta/resource_tpu_node_test.go
  google-beta/utils.go
  website/docs/r/tpu_node.html.markdown
Labels: documentation, size/L

#533 Add "nested decoder" for fine-grained resources
  google-beta/resource_resource_manager_lien.go
Labels: size/S

#564 Make forwarding rule service_label and service_name GA
  google-beta/resource_compute_forwarding_rule_test.go
  website/docs/r/compute_forwarding_rule.html.markdown
Labels: documentation, size/XS

#566 [terraform-conversions] Use placeholder value when generating asset.name from fields empty va…
  google-beta/transport.go
Labels: size/XS

#565 Terraform - AccessContextManager autogenerated operations
  google-beta/access_context_manager_operation.go
  google-beta/resource_access_context_manager_access_level.go
  google-beta/resource_access_context_manager_access_policy.go
  google-beta/resource_access_context_manager_service_perimeter.go
  google-beta/resource_google_folder.go
  google-beta/resource_google_project.go
  google-beta/resource_manager_operation.go
  website/docs/r/access_context_manager_access_level.html.markdown
  website/docs/r/access_context_manager_access_policy.html.markdown
  website/docs/r/access_context_manager_service_perimeter.html.markdown
Labels: documentation, size/L

#568 Add a few more files from terraform
  main.go
Labels: size/XS

#567 Shuffle schema in BackendService around to match what MM will do
  google-beta/resource_compute_backend_service.go
Labels: size/L
