Repository hashicorp/terraform-provider-google-beta, pull requests merged in 2019-01, with the labels that each got.

#297 Add support for all_ports to google_compute_forwarding_rule for ILB
  google-beta/resource_compute_forwarding_rule.go
  google-beta/resource_compute_forwarding_rule_test.go
  website/docs/r/compute_forwarding_rule.html.markdown
Labels: documentation, size/XS

#300 Remove over-validation by google_cloudfunctions_function on project ids
  google-beta/resource_cloudfunctions_function.go
Labels: size/XS

#302 Homogenize spacing (trivial no-op change)
  google-beta/resource_monitoring_alert_policy_test.go
Labels: size/XS

#301 uptime check period cannot be updated
  google-beta/resource_monitoring_uptime_check_config.go
Labels: size/XS

#303 Add import to cloudrepo docs
  website/docs/r/sourcerepo_repository.html.markdown
Labels: documentation, size/XS

#304 update broken references in router nat docs
  website/docs/r/compute_router_nat.html.markdown
Labels: documentation, size/XS

#306 Cleanup from two overlapping magic modules PRs.
  google-beta/resource_appengine_firewall_rule_generated_test.go
  google-beta/resource_compute_image_generated_test.go
Labels: size/XS

#298 Export data.google_compute_default_service_account.name
  google-beta/data_source_google_compute_default_service_account.go
  google-beta/data_source_google_compute_default_service_account_test.go
  website/docs/d/google_compute_default_service_account.html.markdown
  website/docs/r/google_service_account_iam.html.markdown
Labels: documentation, size/M

#307 clean up import syntax
  website/docs/r/sourcerepo_repository.html.markdown
Labels: documentation, size/XS

#309 Move sourcerepo files
  google-beta/resource_sourcerepo_repository.go
  google-beta/resource_sourcerepo_repository_test.go
Labels: size/XS

#311 Autogenerate google_sourcerepo_repository
  google-beta/provider.go
  google-beta/provider_sourcerepo_gen.go
  google-beta/resource_sourcerepo_repository.go
  google-beta/resource_sourcerepo_repository_generated_test.go
  google-beta/resource_sourcerepo_repository_test.go
  website/docs/r/sourcerepo_repository.html.markdown
Labels: documentation, size/XL

#293 add diffsuppress for composer image version
  google-beta/resource_composer_environment.go
  google-beta/resource_composer_environment_test.go
Labels: size/M

#315 Fix self link stability issues in google_compute_route
  google-beta/resource_compute_route.go
Labels: size/S

#312 Use gofmt -s in make fmt
  GNUmakefile
Labels: size/XS

#313 Fix some formatting to be 0.12-ready
  google-beta/resource_compute_autoscaler_test.go
  google-beta/resource_compute_instance_group_test.go
  google-beta/resource_compute_instance_test.go
  google-beta/resource_compute_region_autoscaler_test.go
Labels: size/XS

#314 Restore the deprecated list splat syntax.
  google-beta/resource_compute_instance_group_test.go
  website/docs/r/compute_router_nat.html.markdown
Labels: documentation, size/XS

#308 Autogenerate google_cloudbuild_trigger
  google-beta/provider.go
  google-beta/provider_cloudbuild_gen.go
  google-beta/resource_cloudbuild_build_trigger.go
  google-beta/resource_cloudbuild_build_trigger_test.go
  google-beta/resource_cloudbuild_trigger.go
  google-beta/resource_cloudbuild_trigger_generated_test.go
  google-beta/utils.go
  website/docs/r/cloudbuild_trigger.html.markdown
Labels: documentation, size/XXL

#319 Add cloudbuild trigger to update guide
  website/docs/version_2_upgrade.html.markdown
Labels: documentation, size/S

#291 Change IAM binding to be authoritative
  google-beta/iam.go
  google-beta/resource_google_project_iam_policy_test.go
  google-beta/resource_iam_binding.go
  website/docs/d/google_iam_policy.html.markdown
  website/docs/r/google_billing_account_iam_binding.md
  website/docs/r/google_billing_account_iam_member.md
  website/docs/r/google_folder_iam_binding.html.markdown
  website/docs/r/google_folder_iam_member.html.markdown
  website/docs/r/google_kms_crypto_key_iam_binding.html.markdown
  website/docs/r/google_kms_crypto_key_iam_member.html.markdown
  website/docs/r/google_organization_iam_binding.md
  website/docs/r/google_organization_iam_member.md
  website/docs/version_2_upgrade.html.markdown
Labels: documentation, size/L

#320 Enable flex pod CIDR for GKE (part 2)
  google-beta/resource_container_cluster.go
  google-beta/resource_container_cluster_test.go
Labels: size/M

#321 Retry SQL delete calls on 409
  google-beta/resource_sql_database.go
  google-beta/resource_sql_database_instance.go
  google-beta/resource_sql_user.go
  google-beta/utils.go
Labels: size/XS

#310 Add affectedtests script and update changelog script to use tpgb
  scripts/affectedtests/affectedtests.go
  scripts/changelog-links.sh
Labels: size/L

#325 Clarify note in storage bucket docs about enabling compute api
  website/docs/r/storage_bucket.html.markdown
Labels: documentation, size/XS

#328 Remove outdated tests (superseded by generated ones)
  google-beta/resource_cloudbuild_trigger_test.go
  google-beta/resource_compute_address_test.go
  google-beta/resource_compute_autoscaler_test.go
  google-beta/resource_compute_backend_bucket_test.go
  google-beta/resource_compute_disk_test.go
  google-beta/resource_compute_firewall_test.go
  google-beta/resource_compute_global_address_test.go
  google-beta/resource_compute_http_health_check_test.go
  google-beta/resource_compute_https_health_check_test.go
  google-beta/resource_compute_image_test.go
  google-beta/resource_compute_region_autoscaler_test.go
  google-beta/resource_compute_route_test.go
  google-beta/resource_compute_snapshot_test.go
  google-beta/resource_compute_ssl_certificate_test.go
  google-beta/resource_compute_ssl_policy_test.go
  google-beta/resource_compute_target_http_proxy_test.go
  google-beta/resource_compute_target_https_proxy_test.go
  google-beta/resource_compute_target_ssl_proxy_test.go
  google-beta/resource_compute_target_tcp_proxy_test.go
  google-beta/resource_compute_url_map_test.go
  google-beta/resource_compute_vpn_gateway_test.go
  google-beta/resource_compute_vpn_tunnel_test.go
  google-beta/resource_redis_instance_test.go
  google-beta/resource_storage_default_object_access_control_test.go
  google-beta/resource_storage_object_access_control_test.go
Labels: size/XXL

#324 Add timePartitioning.requirePartitionFilter to bigquery table
  google-beta/resource_bigquery_table.go
  google-beta/resource_bigquery_table_test.go
  website/docs/r/bigquery_table.html.markdown
Labels: documentation, size/XS

#329 Add Kms bootstrap step for terraform tests
  google-beta/bootstrap_utils_test.go
  google-beta/provider_test.go
  google-beta/resource_compute_instance_template_test.go
Labels: size/L

#334 Capitalization changes in generated resources
  google-beta/provider.go
  google-beta/provider_appengine_gen.go
  google-beta/provider_cloudbuild_gen.go
  google-beta/provider_sourcerepo_gen.go
  google-beta/resource_appengine_firewall_rule.go
  google-beta/resource_appengine_firewall_rule_generated_test.go
  google-beta/resource_cloudbuild_trigger.go
  google-beta/resource_cloudbuild_trigger_generated_test.go
  google-beta/resource_cloudbuild_trigger_test.go
  google-beta/resource_sourcerepo_repository.go
  google-beta/resource_sourcerepo_repository_generated_test.go
  google-beta/resource_sourcerepo_repository_test.go
Labels: size/XL

#333 Add import to folder IAM policy docs
  website/docs/r/google_folder_iam_policy.html.markdown
Labels: documentation, size/XS

#336 Rename (unreleased) google_appengine_firewall_rule to google_app_engine_firewall_rule
  google-beta/provider_appengine_gen.go
  google-beta/resource_appengine_firewall_rule_generated_test.go
  website/docs/r/appengine_firewall_rule.html.markdown
  website/google.erb
Labels: documentation, size/S

#332 Fix compute project metadata error from previous "common_metadata" IDs
  google-beta/resource_compute_project_metadata.go
Labels: size/XS

#331 Contributor: dataproc encryption
  google-beta/resource_dataproc_cluster.go
  google-beta/resource_dataproc_cluster_test.go
  website/docs/r/dataproc_cluster.html.markdown
Labels: documentation, size/M

#330 Add OAuth2 access_token and client config as credential options.
  google-beta/config.go
  google-beta/config_test.go
  google-beta/provider.go
  google-beta/provider_test.go
Labels: size/M

#337 Make kms links for compute disk GA
  google-beta/resource_compute_disk_test.go
Labels: size/M

#338 Skip acceptance tests during non-acceptance runs.
  google-beta/config.go
  google-beta/config_test.go
  google-beta/provider.go
  google-beta/provider_test.go
  website/docs/provider_reference.html.markdown
Labels: documentation, size/M

#335 Add generated test for google_monitoring_alert_policy
  google-beta/resource_monitoring_alert_policy_generated_test.go
  website/docs/r/compute_interconnect_attachment.html.markdown
  website/docs/r/monitoring_alert_policy.html.markdown
Labels: documentation, size/M

#339 Remove old gcompute wording
  website/docs/r/compute_image.html.markdown
Labels: documentation, size/XS

#340 Fix encryption config in dataproc
  google-beta/resource_dataproc_cluster.go
Labels: size/XS

#343 Use API default for monitoring_uptime_check_config http_check port
  google-beta/resource_monitoring_uptime_check_config.go
Labels: size/XS

#342 Increase update timeout for clusters
  google-beta/resource_container_cluster.go
Labels: size/XS

#344 Add precheck for acc config tests
  google-beta/config_test.go
Labels: size/XS

#341 Fix next_instance_zone for google_compute_route
  google-beta/resource_compute_route.go
Labels: size/XS

#347 Reconcile Magician formatting changes due to Go tools upgrade
  google-beta/access_context_manager_operation.go
  google-beta/config.go
  google-beta/resource_composer_environment.go
  google-beta/resource_composer_environment_test.go
  google-beta/resource_compute_address.go
  google-beta/resource_compute_autoscaler.go
  google-beta/resource_compute_backend_bucket.go
  google-beta/resource_compute_disk.go
  google-beta/resource_compute_firewall.go
  google-beta/resource_compute_forwarding_rule.go
  google-beta/resource_compute_global_address.go
  google-beta/resource_compute_health_check.go
  google-beta/resource_compute_http_health_check.go
  google-beta/resource_compute_https_health_check.go
  google-beta/resource_compute_image.go
  google-beta/resource_compute_interconnect_attachment.go
  google-beta/resource_compute_region_autoscaler.go
  google-beta/resource_compute_region_disk.go
  google-beta/resource_compute_route.go
  google-beta/resource_compute_router.go
  google-beta/resource_compute_snapshot.go
  google-beta/resource_compute_ssl_certificate.go
  google-beta/resource_compute_ssl_policy.go
  google-beta/resource_compute_subnetwork.go
  google-beta/resource_compute_target_http_proxy.go
  google-beta/resource_compute_target_https_proxy.go
  google-beta/resource_compute_target_ssl_proxy.go
  google-beta/resource_compute_target_tcp_proxy.go
  google-beta/resource_compute_url_map.go
  google-beta/resource_compute_vpn_gateway.go
  google-beta/resource_compute_vpn_tunnel.go
  google-beta/resource_container_cluster.go
  google-beta/resource_service_networking_connection.go
  google-beta/resource_sql_database_instance_test.go
  google-beta/service_networking_operation.go
Labels: size/M

#355 Fix typo in Cloud NAT documentation
  website/docs/r/compute_router_nat.html.markdown
Labels: documentation, size/XS

#357 Make Disk KMS features GA
  website/docs/r/compute_disk.html.markdown
Labels: documentation, size/XS

#323 Initial addition of generated spanner database to terraform.
  google-beta/iam_spanner_database.go
  google-beta/import.go
  google-beta/provider_spanner_gen.go
  google-beta/resource_spanner_database.go
  google-beta/resource_spanner_database_generated_test.go
  google-beta/resource_spanner_database_test.go
  google-beta/spanner_database_operation.go
  website/docs/r/spanner_database.html.markdown
Labels: documentation, size/XL

#352 Add custom flatten for monitoring channel labels
  google-beta/resource_monitoring_notification_channel.go
  google-beta/resource_monitoring_notification_channel_test.go
  website/docs/r/monitoring_notification_channel.html.markdown
Labels: documentation, size/M

#353 Clarify that the website is shared between both provider versions
  website/docs/index.html.markdown
  website/docs/provider_reference.html.markdown
  website/docs/provider_versions.html.markdown
Labels: documentation, size/XS

#350 fixes to updating node versions
  google-beta/resource_container_cluster.go
  google-beta/resource_container_cluster_test.go
  google-beta/resource_container_node_pool.go
  website/docs/r/container_cluster.html.markdown
Labels: documentation, size/L

#364 Increase acceptance test timeout to 4 hours
  GNUmakefile
Labels: size/XS

#361 Fix security hole in tests
  google-beta/resource_dataproc_cluster_test.go
Labels: size/XS

#367 Remove unused from gometalinter
  .gometalinter.json
Labels: size/XS

#360 Initial autogeneration of Spanner instance in Terraform.
  google-beta/iam_spanner_instance.go
  google-beta/provider.go
  google-beta/provider_spanner_gen.go
  google-beta/resource_spanner_database.go
  google-beta/resource_spanner_instance.go
  google-beta/resource_spanner_instance_generated_test.go
  google-beta/resource_spanner_instance_test.go
  google-beta/spanner_instance_operation.go
  website/docs/r/cloudbuild_trigger.html.markdown
  website/docs/r/spanner_instance.html.markdown
Labels: documentation, size/XL

#354 Add vlan tag and subnet candidates to Interconnect Attachments.
  google-beta/resource_compute_interconnect_attachment.go
  website/docs/r/compute_interconnect_attachment.html.markdown
Labels: documentation, size/M

#368 Update google-beta CHANGELOG
  CHANGELOG.md
Labels: size/M

#369 Change default boot disk size to 15g for dataproc
  google-beta/resource_dataproc_cluster_test.go
  google-beta/resource_dataproc_job_test.go
  website/docs/r/dataproc_cluster.html.markdown
Labels: documentation, size/XS

#370 Add a computed name field to google_storage_bucket_object
  google-beta/resource_storage_bucket_object.go
  website/docs/r/storage_bucket_object.html.markdown
Labels: documentation, size/XS

#371 add ForceNew to firewall direction field.
  google-beta/resource_compute_firewall.go
Labels: size/XS

#358 [Terraform] new option "scopes" to define OAuth scopes for provider
  google-beta/config.go
  google-beta/config_test.go
  google-beta/provider.go
  website/docs/provider_reference.html.markdown
Labels: documentation, size/S

#374 Rename some files to match intended names
  google-beta/resource_access_context_manager_access_level.go
  google-beta/resource_access_context_manager_access_policy.go
  google-beta/resource_access_context_manager_service_perimeter.go
  google-beta/resource_app_engine_firewall_rule.go
  google-beta/resource_app_engine_firewall_rule_generated_test.go
  google-beta/resource_binary_authorization_attestor.go
  google-beta/resource_binary_authorization_policy.go
  google-beta/resource_cloud_build_trigger.go
  google-beta/resource_cloud_build_trigger_generated_test.go
  google-beta/resource_container_analysis_note.go
  google-beta/resource_container_analysis_note_generated_test.go
  google-beta/resource_resource_manager_lien.go
  google-beta/resource_source_repo_repository.go
  google-beta/resource_source_repo_repository_generated_test.go
  website/docs/r/access_context_manager_access_level.html.markdown
  website/docs/r/access_context_manager_access_policy.html.markdown
  website/docs/r/access_context_manager_service_perimeter.html.markdown
  website/docs/r/app_engine_firewall_rule.html.markdown
  website/docs/r/binary_authorization_attestor.html.markdown
  website/docs/r/binary_authorization_policy.html.markdown
  website/docs/r/cloud_build_trigger.html.markdown
  website/docs/r/container_analysis_note.html.markdown
  website/docs/r/resource_manager_lien.html.markdown
  website/docs/r/source_repo_repository.html.markdown
  website/google.erb
Labels: documentation, size/XS

#376 Ci test fixes
  google-beta/resource_cloudfunctions_function_test.go
  google-beta/resource_compute_disk.go
  google-beta/resource_compute_instance_migrate.go
  google-beta/resource_compute_instance_migrate_test.go
  google-beta/resource_dataproc_cluster_test.go
  google-beta/resource_dataproc_job_test.go
  google-beta/resource_sql_ssl_cert_test.go
Labels: size/M

#380 Update go.sum due to 1.11 -> 1.11.4 upgrade bug.
  go.sum
Labels: size/XS

#383 Adding nil guards to the wait operations
  google-beta/appengine_operation.go
  google-beta/cloudfunctions_operation.go
  google-beta/common_operation.go
  google-beta/composer_operation.go
  google-beta/compute_operation.go
  google-beta/container_operation.go
  google-beta/dataproc_cluster_operation.go
  google-beta/dataproc_job_operation.go
  google-beta/redis_operation.go
  google-beta/resourcemanager_operation.go
  google-beta/serviceman_operation.go
  google-beta/serviceusage_operation.go
  google-beta/spanner_instance_operation.go
  google-beta/sqladmin_operation.go
Labels: size/M

#378 [Terraform] Gcloud scheduler
  google-beta/provider.go
  google-beta/provider_cloudscheduler_gen.go
  google-beta/resource_cloud_scheduler_job.go
  google-beta/resource_cloudscheduler_job_test.go
  google-beta/validate-http-headers.go
  website/docs/r/cloud_scheduler_job.html.markdown
Labels: documentation, size/XXL

#388 Update vendoring in CONTRIBUTING
  .github/CONTRIBUTING.md
Labels: size/XS

#384 Add disable_dependent_services to google_project_service resource.
  google-beta/config.go
  google-beta/resource_google_project_service.go
  google-beta/resource_google_project_service_test.go
  google-beta/resource_google_project_services.go
  google-beta/serviceusage_operation.go
  vendor/google.golang.org/api/serviceusage/v1/serviceusage-api.json
  vendor/google.golang.org/api/serviceusage/v1/serviceusage-gen.go
  vendor/modules.txt
  website/docs/r/google_project_service.html.markdown
Labels: dependencies, documentation, size/XL

#389 Standardize import for instance group manager.
  google-beta/import.go
  google-beta/resource_compute_instance_group_manager.go
  google-beta/resource_compute_instance_group_manager_test.go
Labels: dependencies, size/M

#390 Add service_account_email to google_cloudfunctions_function
  google-beta/resource_cloudfunctions_function.go
  google-beta/resource_cloudfunctions_function_test.go
  website/docs/r/cloudfunctions_function.html.markdown
Labels: documentation, size/M

#391 Fix PG docs as PG 9.6 is GA
  website/docs/r/sql_database_instance.html.markdown
Labels: documentation, size/XS

#392 Add hostname field to compute_instance
  google-beta/resource_compute_instance.go
  google-beta/resource_compute_instance_test.go
  website/docs/r/compute_instance.html.markdown
Labels: documentation, size/S

#326 Native Update Mask support
  google-beta/resource_redis_instance.go
Labels: documentation, size/XS

#395 [Terraform] ip_address.0.time_to_retire it's not optional
  google-beta/resource_sql_database_instance.go
Labels: size/XS

#398 Add timeouts to container node pool docs, add timeouts to examples.
  website/docs/r/container_cluster.html.markdown
  website/docs/r/container_node_pool.html.markdown
Labels: documentation, size/XS

#397 Update GKE examples, docs to recommend fine grained node pools.
  website/docs/r/container_cluster.html.markdown
  website/docs/r/container_node_pool.html.markdown
Labels: documentation, size/L
