Repository hashicorp/terraform-provider-google-beta, pull requests merged in 2019-04, with the labels that each got.

#573 Terraform: Cloud DNS logging
  google-beta/resource_dns_policy.go
  google-beta/resource_dns_policy_generated_test.go
  website/docs/r/dns_policy.html.markdown
Labels: documentation, size/S

#520 Add backend bucket signed URL key (for CDN) support
  google-beta/provider_compute_gen.go
  google-beta/resource_compute_backend_bucket.go
  google-beta/resource_compute_backend_bucket_signed_url_key.go
  google-beta/resource_compute_backend_bucket_signed_url_key_test.go
  google-beta/resource_compute_backend_bucket_test.go
  website/docs/r/compute_backend_bucket.html.markdown
  website/docs/r/compute_backend_bucket_signed_url_key.html.markdown
Labels: documentation, size/XL

#571 Terraform: Make private Cloud DNS GA
  google-beta/resource_dns_managed_zone_generated_test.go
  google-beta/resource_dns_managed_zone_test.go
  website/docs/r/dns_managed_zone.html.markdown
Labels: documentation, size/L

#575 Add google_impersonated_credential datasource
  google-beta/config.go
  google-beta/data_source_google_service_account_access_token.go
  google-beta/data_source_google_service_account_access_token_test.go
  google-beta/provider.go
  google-beta/validation.go
  vendor/google.golang.org/api/iamcredentials/v1/iamcredentials-api.json
  vendor/google.golang.org/api/iamcredentials/v1/iamcredentials-gen.go
  vendor/modules.txt
  website/docs/d/datasource_google_service_account_access_token.html.markdown
  website/google.erb
Labels: dependencies, documentation, size/XXL

#570 More Cloudbuild Trigger Step support
  google-beta/resource_cloud_build_trigger.go
  google-beta/resource_cloudbuild_trigger_test.go
  website/docs/r/cloud_build_trigger.html.markdown
Labels: documentation, size/XL

#576 Bring Access Context Manager / VPC Service Controls to GA
  google-beta/access_context_manager_operation.go
  google-beta/config.go
  google-beta/resource_access_context_manager_access_level.go
  google-beta/resource_access_context_manager_access_level_test.go
  google-beta/resource_access_context_manager_access_policy.go
  google-beta/resource_access_context_manager_service_perimeter.go
  google-beta/resource_access_context_manager_service_perimeter_test.go
  vendor/google.golang.org/api/accesscontextmanager/v1beta/accesscontextmanager-api.json
  vendor/google.golang.org/api/accesscontextmanager/v1beta/accesscontextmanager-gen.go
  vendor/modules.txt
  website/docs/r/access_context_manager_access_level.html.markdown
  website/docs/r/access_context_manager_access_policy.html.markdown
  website/docs/r/access_context_manager_service_perimeter.html.markdown
  website/google.erb
Labels: dependencies, documentation, size/XXL

#578 Remove 'Set' from fields where it doesn't do anything
  google-beta/resource_compute_global_forwarding_rule.go
  google-beta/resource_compute_instance.go
  google-beta/resource_google_project.go
  google-beta/resource_sql_database_instance.go
Labels: size/XS

#569 Generate BackendService in Terraform
  google-beta/provider.go
  google-beta/provider_compute_gen.go
  google-beta/resource_compute_backend_service.go
  google-beta/resource_compute_backend_service_generated_test.go
  google-beta/resource_compute_backend_service_migrate.go
  google-beta/resource_compute_backend_service_test.go
  google-beta/resource_compute_region_backend_service.go
  website/docs/r/compute_backend_service.html.markdown
Labels: documentation, size/XXL

#577 Signed CDN urls for backend services
  google-beta/provider_compute_gen.go
  google-beta/resource_compute_backend_service_signed_url_key.go
  google-beta/resource_compute_backend_service_signed_url_key_test.go
  website/docs/r/compute_backend_service_signed_url_key.html.markdown
Labels: documentation, size/XL

#579 Retry reads in Cloud SQL Database Instance
  google-beta/resource_sql_database_instance.go
Labels: size/XS

#572 Terraform: Cloud DNS Peering
  google-beta/resource_dns_managed_zone.go
  google-beta/resource_dns_managed_zone_generated_test.go
  website/docs/r/dns_managed_zone.html.markdown
Labels: documentation, size/L

#585 Update global address docs now that they are settable + ip ranges sometimes
  website/docs/r/compute_global_address.html.markdown
Labels: documentation, size/XS

#581 Add google-beta to SQL private docs
  website/docs/r/sql_database_instance.html.markdown
Labels: documentation, size/S

#586 Actually add ACM resources to the GA provider resource map
  google-beta/provider.go
Labels: size/XS

#580 Add single instance field to autoscaler stackdriver metrics
  google-beta/resource_compute_autoscaler.go
  google-beta/resource_compute_autoscaler_generated_test.go
  google-beta/resource_compute_region_autoscaler.go
  website/docs/r/compute_autoscaler.html.markdown
  website/docs/r/compute_region_autoscaler.html.markdown
Labels: documentation, size/L

#584 Cleanup BackendService after generation, add omitted fields.
  google-beta/resource_compute_backend_service.go
  google-beta/resource_compute_backend_service_migrate.go
  google-beta/resource_compute_backend_service_migrate_test.go
  website/docs/r/compute_backend_service.html.markdown
Labels: documentation, size/XL

#590 [terraform] update cidr_blocks to fix ipv6 parsing issues and improve testing
  google-beta/data_source_google_netblock_ip_ranges.go
  google-beta/data_source_google_netblock_ip_ranges_test.go
Labels: size/XS

#592 Terraform: allow deletion of default route upon network creation
  google-beta/resource_compute_network.go
  google-beta/resource_compute_network_test.go
  website/docs/r/compute_network.html.markdown
Labels: documentation, size/M

#594 Relax the limit on # of master authorized networks in GKE
  google-beta/resource_container_cluster.go
  website/docs/r/container_cluster.html.markdown
Labels: documentation, size/XS

#595 Make cloudbuild trigger disabled field a bool
  google-beta/resource_cloud_build_trigger.go
  google-beta/resource_cloudbuild_trigger_test.go
Labels: size/M

#589 GET clusters in error states so we see state information in debug logs.
  google-beta/resource_container_cluster.go
Labels: size/XS

#599 Add better error message for sql 409
  google-beta/resource_sql_database_instance.go
Labels: size/XS

#597 Merge terraform-provider-google#3406 into magic modules
  google-beta/resource_bigquery_dataset.go
  google-beta/resource_bigquery_dataset_test.go
Labels: size/M

#600 Add conflicts_with for cluster remove_default_node_pool and node_pool
  google-beta/resource_container_cluster.go
Labels: size/XS

#596 [TF] Remove draining and cancelling from terminal dataflow job states
  google-beta/resource_dataflow_job.go
Labels: size/M

#601 Small docs update
  website/docs/r/compute_instance_group_manager.html.markdown
Labels: documentation, size/XS

#603 Remove Computed from GKE cluster cidr_blocks
  google-beta/resource_container_cluster.go
Labels: size/XS

#604 Don't allow secondary ip ranges to be computed in subnetwork
  google-beta/resource_compute_subnetwork.go
Labels: size/XS

#607 012 instance from template
  google-beta/resource_compute_instance.go
  google-beta/resource_compute_instance_from_template.go
  google-beta/resource_compute_instance_from_template_test.go
  google-beta/resource_compute_subnetwork.go
  website/docs/r/compute_instance_from_template.html.markdown
Labels: documentation, size/L

#608 Use 0.12-compatible syntax in VPN Tunnel
  google-beta/resource_compute_subnetwork.go
  google-beta/resource_compute_vpn_tunnel_generated_test.go
  website/docs/r/compute_vpn_tunnel.html.markdown
Labels: documentation, size/XS

#612 Vendor terraform to fix ImportStateVerify bug.
  go.mod
  go.sum
  vendor/github.com/hashicorp/hcl2/hcl/ops.go
  vendor/github.com/hashicorp/hcl2/hcl/pos.go
  vendor/github.com/hashicorp/hcl2/hcl/pos_scanner.go
  vendor/github.com/hashicorp/terraform/configs/module_merge_body.go
  vendor/github.com/hashicorp/terraform/configs/util.go
  vendor/github.com/hashicorp/terraform/helper/resource/testing_import_state.go
  vendor/github.com/hashicorp/terraform/helper/schema/field_reader.go
  vendor/github.com/hashicorp/terraform/helper/schema/resource.go
  vendor/github.com/hashicorp/terraform/lang/funcs/collection.go
  vendor/github.com/hashicorp/terraform/lang/functions.go
  vendor/modules.txt
Labels: dependencies, size/L

#611 Fixup non-Removed ISV tests
  google-beta/resource_container_node_pool_test.go
  google-beta/resource_google_project_test.go
Labels: size/M

#615 Use attr syntax on cluster-specific GKE fields.
  google-beta/resource_container_cluster.go
  google-beta/resource_container_cluster_test.go
  website/docs/r/container_cluster.html.markdown
Labels: documentation, size/M

#616 Revert "Check current status during apply-time diff. (#1474)" due to 0.12
  google-beta/resource_compute_instance_group.go
  google-beta/resource_compute_instance_group_test.go
Labels: size/L

#617 0.12 Computed+Optional Attr syntax fixes
  google-beta/node_config.go
  google-beta/resource_compute_instance_from_template_test.go
  google-beta/resource_container_node_pool_test.go
  website/docs/r/container_cluster.html.markdown
Labels: documentation, size/M

#618 Vendor early8
  go.mod
  go.sum
  vendor/github.com/hashicorp/terraform/helper/schema/schema.go
  vendor/github.com/hashicorp/terraform/helper/schema/shims.go
  vendor/github.com/hashicorp/terraform/states/instance_object.go
  vendor/github.com/hashicorp/terraform/terraform/diff.go
  vendor/github.com/hashicorp/terraform/terraform/eval_apply.go
  vendor/github.com/hashicorp/terraform/terraform/evaluate.go
  vendor/modules.txt
Labels: dependencies, size/M

#622 Handle nil IAP in backend service decoder
  google-beta/resource_compute_backend_service.go
Labels: size/XS

#624 Add new DiffSuppress for dns managed zone visibility
  google-beta/resource_dns_managed_zone.go
  google-beta/resource_dns_managed_zone_test.go
Labels: size/XS

#620 Add retries/backoff when (only) reading IAM policies
  google-beta/iam.go
  google-beta/resource_iam_audit_config.go
  google-beta/resource_iam_binding.go
  google-beta/resource_iam_member.go
  google-beta/resource_iam_policy.go
Labels: size/S

#626 Add pagination to google projects data source
  google-beta/data_source_google_projects.go
Labels: size/S

#627 Allow empty string for kms crypto key rotation period
  google-beta/resource_kms_crypto_key.go
Labels: size/XS

#625 Allow BackendService backends.group to ref multiple resource types
  google-beta/resource_compute_backend_service.go
  website/docs/r/compute_backend_service.html.markdown
Labels: documentation, size/XS

#614 Add compute node types and templates
  google-beta/data_source_google_compute_node_types.go
  google-beta/data_source_google_compute_node_types_test.go
  google-beta/provider.go
  google-beta/provider_compute_gen.go
  google-beta/resource_compute_node_template.go
  google-beta/resource_compute_node_template_generated_test.go
  website/docs/d/google_compute_node_types.html.markdown
  website/docs/r/compute_node_template.html.markdown
  website/google.erb
Labels: documentation, size/XL

#619 Add logConfig to subnetwork resource
  google-beta/resource_compute_subnetwork.go
  google-beta/resource_compute_subnetwork_generated_test.go
  website/docs/r/compute_subnetwork.html.markdown
Labels: documentation, size/L

#630 Add support for network endpoint groups
  google-beta/provider_compute_gen.go
  google-beta/resource_compute_network_endpoint_group.go
  google-beta/resource_compute_network_endpoint_group_generated_test.go
  website/docs/r/compute_network_endpoint_group.html.markdown
  website/google.erb
Labels: documentation, size/XL

#621 Use beta endpoint for shared vpc resources
  google-beta/resource_compute_shared_vpc_host_project.go
  google-beta/resource_compute_shared_vpc_service_project.go
Labels: size/S

#583 Retry instance metadata on fingerprint mismatch.
  google-beta/metadata.go
  google-beta/resource_compute_instance.go
  google-beta/utils.go
Labels: size/M

#631 Add (sub)network to dataflow job
  google-beta/resource_dataflow_job.go
  google-beta/resource_dataflow_job_test.go
  website/docs/r/dataflow_job.html.markdown
Labels: documentation, size/L

#632 Add support for Firestore Index
  google-beta/common_operation.go
  google-beta/firestore_operation.go
  google-beta/provider.go
  google-beta/provider_firestore_gen.go
  google-beta/provider_test.go
  google-beta/resource_access_context_manager_access_level.go
  google-beta/resource_access_context_manager_service_perimeter.go
  google-beta/resource_firestore_index.go
  google-beta/resource_firestore_index_generated_test.go
  google-beta/resource_monitoring_alert_policy.go
  google-beta/resource_monitoring_group.go
  google-beta/resource_monitoring_notification_channel.go
  google-beta/resource_monitoring_uptime_check_config.go
  website/docs/r/firestore_index.html.markdown
  website/google.erb
Labels: documentation, size/XL

#593 Autogen global forwarding rule
  google-beta/provider.go
  google-beta/provider_compute_gen.go
  google-beta/resource_compute_global_forwarding_rule.go
  google-beta/resource_compute_global_forwarding_rule_generated_test.go
  google-beta/resource_compute_global_forwarding_rule_test.go
Labels: documentation, size/XXL

#635 Move AlertPolicy labels to user_labels and make them a map
  google-beta/resource_monitoring_alert_policy.go
  google-beta/resource_monitoring_alert_policy_generated_test.go
  website/docs/r/monitoring_alert_policy.html.markdown
Labels: documentation, size/M

#633 Fix forwarding rule fields and add regional Internal LB example
  google-beta/resource_compute_forwarding_rule.go
  google-beta/resource_compute_forwarding_rule_generated_test.go
  google-beta/resource_compute_forwarding_rule_test.go
  website/docs/r/compute_forwarding_rule.html.markdown
Labels: documentation, size/L

#634 Fix explicitly setting the default network + subnetwork in GKE
  google-beta/resource_container_cluster.go
  google-beta/resource_container_cluster_test.go
Labels: size/XS

#639 Add compute target instances (TF-only)
  google-beta/provider_compute_gen.go
  google-beta/resource_compute_target_instance.go
  google-beta/resource_compute_target_instance_generated_test.go
  website/docs/r/compute_target_instance.html.markdown
Labels: documentation, size/XL

#606 [TF] Add max_instances to cloudfunctions functions
  google-beta/resource_cloudfunctions_function.go
  google-beta/resource_cloudfunctions_function_test.go
  website/docs/r/cloudfunctions_function.html.markdown
Labels: documentation, size/XS

#591 Terraform: Skip diffs when managed certs are specified with absolute FQDNs
  google-beta/resource_compute_managed_ssl_certificate.go
  google-beta/resource_compute_managed_ssl_certificate_generated_test.go
  google-beta/utils.go
  website/docs/r/compute_managed_ssl_certificate.html.markdown
Labels: documentation, size/XS

#637 Revert "Add conflicts_with for cluster remove_default_node_pool and n…
  google-beta/resource_container_cluster.go
Labels: size/XS

#640 Fixed attached disk update test @ beta
  google-beta/resource_compute_disk.go
  google-beta/resource_compute_disk_test.go
  google-beta/resource_compute_region_disk.go
  google-beta/self_link_helpers.go
Labels: size/M

#638 Update BackendService docs to reflect being GLB only
  google-beta/resource_compute_backend_service.go
  website/docs/r/compute_backend_service.html.markdown
Labels: documentation, size/S

#636 Make Subnetwork secondary_ranges Computed again, apply fixup, fix patch
  google-beta/resource_compute_subnetwork.go
  google-beta/resource_compute_subnetwork_test.go
Labels: size/M
