Repository hashicorp/terraform-provider-google-beta, pull requests merged in 2019-07, with the labels that each got.

#903 Add note to storage bucket docs about import
  website/docs/r/storage_bucket.html.markdown
Labels: documentation, size/XS

#894 Pub/Sub Topic CMEK/KMS support
  google-beta/resource_pubsub_topic.go
  google-beta/resource_pubsub_topic_test.go
  website/docs/r/pubsub_topic.html.markdown
Labels: documentation, size/M

#909 properly support timeouts in IGM and RIGM
  google-beta/resource_compute_instance_group_manager.go
  google-beta/resource_compute_region_instance_group_manager.go
  website/docs/r/compute_instance_group_manager.html.markdown
  website/docs/r/compute_region_instance_group_manager.html.markdown
Labels: documentation, size/S

#910 Fix InstancePTR test
  google-beta/resource_compute_instance_test.go
Labels: size/XS

#912 sidebar fixes
  website/google.erb
Labels: documentation, size/M

#907 Update datasource_google_service_account.html.markdown
  website/docs/d/datasource_google_service_account.html.markdown
Labels: documentation, size/XS

#892 Note that disks created from snapshots in other projects need full URL
  website/docs/r/compute_disk.html.markdown
Labels: documentation, size/XS

#696 BQ - Support for External Data Tables
  google-beta/resource_bigquery_table.go
  google-beta/resource_bigquery_table_test.go
  google-beta/resource_storage_bucket_acl_test.go
  google-beta/resource_storage_bucket_test.go
  website/docs/r/bigquery_table.html.markdown
Labels: documentation, size/XL

#917 Don't make ACL comparisons if objects are missing
  google-beta/resource_storage_object_acl.go
Labels: size/XS

#916 Set empty security policy
  google-beta/resource_compute_backend_service.go
  google-beta/resource_compute_backend_service_test.go
Labels: changelog: bugfix, size/XS

#920 Add postgres 11 enum to docs
  website/docs/r/sql_database_instance.html.markdown
Labels: documentation, size/XS

#924 Vendor bigtableadmin REST client
  vendor/google.golang.org/api/bigtableadmin/v2/bigtableadmin-api.json
  vendor/google.golang.org/api/bigtableadmin/v2/bigtableadmin-gen.go
  vendor/modules.txt
Labels: dependencies, size/XXL

#923 Upstream Bigtable Instance IAM PR
  google-beta/config.go
  google-beta/field_helpers.go
  google-beta/field_helpers_test.go
  google-beta/iam_bigtable_instance.go
  google-beta/provider.go
  google-beta/provider_handwritten_endpoint.go
  google-beta/resource_bigtable_instance_iam_test.go
  website/docs/provider_reference.html.markdown
  website/docs/r/bigtable_instance_iam.html.markdown
  website/google.erb
Labels: documentation, size/XL

#919 Firestore API: Add COLLECTION_GROUP to queryScope
  google-beta/resource_firestore_index.go
Labels: size/XS

#926 Fix the quote value in BigQuery table external data config
  google-beta/resource_bigquery_table.go
  website/docs/r/bigquery_table.html.markdown
Labels: documentation, size/XS

#927 Wait until container cluster can be operated on.
  google-beta/resource_container_cluster.go
Labels: changelog: bugfix, size/S

#915 Update SQL private network documentation
  website/docs/r/sql_database_instance.html.markdown
Labels: documentation, size/XS

#930 Update composer_environment.html.markdown
  website/docs/r/composer_environment.html.markdown
Labels: documentation, size/XS

#931 Remove nodepool autoscaling when disabled
  google-beta/resource_container_node_pool.go
Labels: size/XS

#914 Terraform generate iam
  google-beta/iam_pubsub_subscription.go
  google-beta/iam_pubsub_topic.go
  google-beta/iam_pubsub_topic_generated_test.go
  google-beta/iam_source_repo_repository.go
  google-beta/iam_source_repo_repository_generated_test.go
  google-beta/import.go
  google-beta/provider.go
  google-beta/provider_pubsub_gen.go
  google-beta/provider_source_repo_gen.go
  google-beta/resource_pubsub_topic_iam_test.go
  website/docs/r/pubsub_topic_iam.html.markdown
  website/docs/r/source_repo_repository_iam.html.markdown
Labels: changelog: new-resource, documentation, size/XXL

#929 Don't clear cluster from state if cleanup fails
  google-beta/resource_container_cluster.go
Labels: changelog: bugfix, size/XS

#819 mark kms self links as computed
  google-beta/resource_compute_instance.go
  google-beta/resource_compute_instance_test.go
Labels: size/XS

#932 skip fetching project for empty diffs
  google-beta/resource_compute_instance_template.go
Labels: size/XS

#935 Support delete for network peering
  google-beta/resource_compute_instance_template.go
  google-beta/resource_service_networking_connection.go
  google-beta/resource_service_networking_connection_test.go
Labels: size/L

#934 Add checks for nested objects in cluster maintenance window
  google-beta/resource_container_cluster.go
Labels: size/XS

#941 fix formatting for travis
  google-beta/resource_service_networking_connection.go
  google-beta/resource_service_networking_connection_test.go
Labels: size/XS

#938 reapply compute template fix
  google-beta/resource_compute_instance_template.go
Labels: size/XS

#939 Namespace service accounts created in tests
  google-beta/resource_bigtable_instance_iam_test.go
  google-beta/resource_compute_subnetwork_iam_test.go
  google-beta/resource_dataproc_cluster_iam_test.go
  google-beta/resource_dataproc_job_iam_test.go
  google-beta/resource_google_billing_account_iam_test.go
  google-beta/resource_google_organization_iam_test.go
  google-beta/resource_google_service_account_iam_test.go
  google-beta/resource_kms_crypto_key_iam_test.go
  google-beta/resource_kms_key_ring_iam_test.go
  google-beta/resource_pubsub_subscription_iam_test.go
  google-beta/resource_spanner_database_iam_test.go
  google-beta/resource_spanner_instance_iam_test.go
  google-beta/resource_storage_bucket_iam_test.go
Labels: size/M

#944 Fix internal field diff in monitoring uptime check
  google-beta/resource_monitoring_uptime_check_config.go
Labels: size/XS

#922 Spanner Fixes
  google-beta/resource_spanner_database.go
  google-beta/resource_spanner_instance.go
Labels: size/XS

#936 Fix unnecessary nesting in google_storage_transfer_job
  google-beta/resource_storage_transfer_job.go
  google-beta/resource_storage_transfer_job_test.go
Labels: size/M

#946 Update example to 0.12 splat syntax
  website/docs/r/compute_router_nat.html.markdown
Labels: documentation, size/XS

#928 Add request batching to service usage
  google-beta/batcher.go
  google-beta/batcher_test.go
  google-beta/config.go
  google-beta/config_test.go
  google-beta/provider.go
  google-beta/resource_google_project.go
  google-beta/resource_google_project_service.go
  google-beta/resource_google_project_service_test.go
  google-beta/resource_google_project_services.go
  google-beta/resource_google_project_services_test.go
  google-beta/serviceusage_batching.go
  google-beta/validation.go
  website/docs/provider_reference.html.markdown
Labels: documentation, size/XL

#950 Remove double quotes from pubsub subscription iam test
  google-beta/resource_pubsub_subscription_iam_test.go
Labels: size/XS

#948 Require master_ipv4_cidr_block if enable_private_nodes is true
  google-beta/resource_container_cluster.go
  google-beta/resource_container_cluster_test.go
Labels: size/M

#908 Add private environment config to composer
  google-beta/resource_composer_environment.go
  google-beta/resource_composer_environment_test.go
  website/docs/r/composer_environment.html.markdown
Labels: changelog: enhancement, documentation, size/L

#954 Add project import regex
  google-beta/resource_google_project.go
Labels: changelog: enhancement, documentation, size/XS

#956 Update hyperlink
  website/docs/d/datasource_google_project_organization_policy.html.markdown
Labels: documentation, size/XS

#913 binary authorization is now ga
  google-beta/config.go
  google-beta/provider.go
  google-beta/resource_binary_authorization_attestor.go
  google-beta/resource_binaryauthorization_policy_test.go
  website/docs/provider_reference.html.markdown
  website/docs/r/binary_authorization_attestor.html.markdown
  website/docs/r/binary_authorization_policy.html.markdown
Labels: documentation, size/M

#925 Fix cloud storage bucket website params
  google-beta/resource_storage_bucket.go
  google-beta/resource_storage_bucket_test.go
Labels: changelog: bug-fix, size/M

#952 Add check on import name split length
  google-beta/resource_access_context_manager_access_level.go
  google-beta/resource_access_context_manager_service_perimeter.go
Labels: changelog: bug-fix, documentation, size/XS

#933 Megan port specification
  google-beta/resource_compute_health_check.go
  google-beta/resource_compute_health_check_test.go
  website/docs/r/compute_health_check.html.markdown
Labels: documentation, size/XL

#958 remove network calls to determine disk type self link
  google-beta/disk_type.go
  google-beta/resource_compute_disk.go
  google-beta/resource_compute_instance.go
  google-beta/resource_compute_region_disk.go
Labels: size/S

#947 Add additional import formats, extend identity logic
  google-beta/resource_cloud_scheduler_job.go
  google-beta/resource_compute_address.go
  google-beta/resource_compute_disk.go
  google-beta/resource_compute_forwarding_rule.go
  google-beta/resource_compute_ha_vpn_gateway.go
  google-beta/resource_compute_interconnect_attachment.go
  google-beta/resource_compute_network_endpoint.go
  google-beta/resource_compute_network_endpoint_group.go
  google-beta/resource_compute_node_group.go
  google-beta/resource_compute_node_template.go
  google-beta/resource_compute_region_backend_service.go
  google-beta/resource_compute_region_disk.go
  google-beta/resource_compute_resource_policy.go
  google-beta/resource_compute_target_instance.go
  google-beta/resource_compute_vpn_gateway.go
  google-beta/resource_compute_vpn_tunnel.go
  google-beta/resource_filestore_instance.go
  google-beta/resource_redis_instance.go
  google-beta/resource_sql_database.go
  google-beta/resource_tpu_node.go
  website/docs/r/cloud_scheduler_job.html.markdown
  website/docs/r/compute_address.html.markdown
  website/docs/r/compute_disk.html.markdown
  website/docs/r/compute_forwarding_rule.html.markdown
  website/docs/r/compute_ha_vpn_gateway.html.markdown
  website/docs/r/compute_interconnect_attachment.html.markdown
  website/docs/r/compute_network_endpoint.html.markdown
  website/docs/r/compute_network_endpoint_group.html.markdown
  website/docs/r/compute_node_group.html.markdown
  website/docs/r/compute_node_template.html.markdown
  website/docs/r/compute_region_backend_service.html.markdown
  website/docs/r/compute_region_disk.html.markdown
  website/docs/r/compute_resource_policy.html.markdown
  website/docs/r/compute_target_instance.html.markdown
  website/docs/r/compute_vpn_gateway.html.markdown
  website/docs/r/compute_vpn_tunnel.html.markdown
  website/docs/r/filestore_instance.html.markdown
  website/docs/r/redis_instance.html.markdown
  website/docs/r/tpu_node.html.markdown
Labels: changelog: bug-fix, changelog: enhancement, documentation, size/M

#965 Update docs for forwarding rule ip address
  website/docs/r/compute_forwarding_rule.html.markdown
  website/docs/r/compute_global_forwarding_rule.html.markdown
Labels: documentation, size/S

#963 Provider level compile
  google-beta/config.go
  google-beta/provider.go
Labels: size/M

#967 Add update mask for audit config to resource manager IAM resources
  google-beta/iam_folder.go
  google-beta/iam_organization.go
Labels: size/XS

#960 Add resource policies to compute_disk
  google-beta/resource_compute_disk.go
  google-beta/resource_compute_disk_test.go
  website/docs/r/compute_disk.html.markdown
Labels: changelog: enhancement, documentation, size/M

#968 [terraform] removing dash in random suffix for examples
  google-beta/iam_pubsub_topic_generated_test.go
  google-beta/iam_source_repo_repository_generated_test.go
  google-beta/resource_app_engine_firewall_rule_generated_test.go
  google-beta/resource_cloud_scheduler_job_generated_test.go
  google-beta/resource_compute_address_generated_test.go
  google-beta/resource_compute_autoscaler_generated_test.go
  google-beta/resource_compute_backend_bucket_generated_test.go
  google-beta/resource_compute_backend_service_generated_test.go
  google-beta/resource_compute_disk_generated_test.go
  google-beta/resource_compute_external_vpn_gateway_generated_test.go
  google-beta/resource_compute_firewall_generated_test.go
  google-beta/resource_compute_forwarding_rule_generated_test.go
  google-beta/resource_compute_global_address_generated_test.go
  google-beta/resource_compute_global_forwarding_rule_generated_test.go
  google-beta/resource_compute_ha_vpn_gateway_generated_test.go
  google-beta/resource_compute_health_check_generated_test.go
  google-beta/resource_compute_http_health_check_generated_test.go
  google-beta/resource_compute_https_health_check_generated_test.go
  google-beta/resource_compute_image_generated_test.go
  google-beta/resource_compute_managed_ssl_certificate_generated_test.go
  google-beta/resource_compute_network_endpoint_group_generated_test.go
  google-beta/resource_compute_network_generated_test.go
  google-beta/resource_compute_node_group_generated_test.go
  google-beta/resource_compute_node_template_generated_test.go
  google-beta/resource_compute_region_autoscaler_generated_test.go
  google-beta/resource_compute_region_backend_service_generated_test.go
  google-beta/resource_compute_region_disk_generated_test.go
  google-beta/resource_compute_resource_policy_generated_test.go
  google-beta/resource_compute_route_generated_test.go
  google-beta/resource_compute_router_generated_test.go
  google-beta/resource_compute_snapshot_generated_test.go
  google-beta/resource_compute_ssl_certificate_generated_test.go
  google-beta/resource_compute_ssl_policy_generated_test.go
  google-beta/resource_compute_subnetwork_generated_test.go
  google-beta/resource_compute_target_http_proxy_generated_test.go
  google-beta/resource_compute_target_https_proxy_generated_test.go
  google-beta/resource_compute_target_instance_generated_test.go
  google-beta/resource_compute_target_ssl_proxy_generated_test.go
  google-beta/resource_compute_target_tcp_proxy_generated_test.go
  google-beta/resource_compute_url_map_generated_test.go
  google-beta/resource_compute_vpn_gateway_generated_test.go
  google-beta/resource_compute_vpn_tunnel_generated_test.go
  google-beta/resource_container_analysis_note_generated_test.go
  google-beta/resource_dns_managed_zone_generated_test.go
  google-beta/resource_dns_policy_generated_test.go
  google-beta/resource_filestore_instance_generated_test.go
  google-beta/resource_logging_metric_generated_test.go
  google-beta/resource_monitoring_group_generated_test.go
  google-beta/resource_monitoring_notification_channel_generated_test.go
  google-beta/resource_monitoring_uptime_check_config_generated_test.go
  google-beta/resource_pubsub_subscription_generated_test.go
  google-beta/resource_pubsub_topic_generated_test.go
  google-beta/resource_redis_instance_generated_test.go
  google-beta/resource_security_scanner_scan_config_generated_test.go
  google-beta/resource_source_repo_repository_generated_test.go
  google-beta/resource_spanner_database_generated_test.go
  google-beta/resource_storage_default_object_access_control_generated_test.go
  google-beta/resource_storage_object_access_control_generated_test.go
  google-beta/resource_tpu_node_generated_test.go
Labels: size/XL

#969 Add diff suppress to dataproc image version
  google-beta/resource_dataproc_cluster.go
  google-beta/resource_dataproc_cluster_test.go
Labels: changelog: bug-fix, size/M

#949 Megan bucket retention policy
  google-beta/resource_storage_bucket.go
  google-beta/resource_storage_bucket_test.go
  website/docs/r/storage_bucket.html.markdown
Labels: changelog: enhancement, documentation, size/L

#973 Add retention_policy to storage_bucket
  google-beta/resource_storage_bucket.go
  google-beta/resource_storage_bucket_test.go
Labels: size/S

#978 Add project to app engine app docs
  website/docs/r/app_engine_application.html.markdown
Labels: documentation, size/XS

#976 Remove initparam references from compute instance template docs
  website/docs/r/compute_instance_template.html.markdown
Labels: documentation, size/XS

#970 Megan dataflow labels
  google-beta/resource_dataflow_job.go
  google-beta/resource_dataflow_job_test.go
  website/docs/r/dataflow_job.html.markdown
Labels: documentation, size/M

#964 [WIP] binary_authorization_attestor KMS support
  google-beta/bootstrap_utils_test.go
  google-beta/data_source_google_kms_crypto_key_version.go
  google-beta/data_source_google_kms_crypto_key_version_test.go
  google-beta/provider.go
  google-beta/resource_binary_authorization_attestor.go
  google-beta/resource_binaryauthorization_attestor_test.go
  website/docs/d/google_kms_crypto_key_version.html.markdown
  website/docs/r/binary_authorization_attestor.html.markdown
  website/google.erb
Labels: changelog: enhancement, changelog: new-datasource, documentation, size/XL

#977 Fix broken link in google_container_cluster docs
  website/docs/r/container_cluster.html.markdown
Labels: documentation, size/XS

#896 Allow updating workload identity in GKE clusters without force create
  google-beta/resource_container_cluster.go
  google-beta/resource_container_cluster_test.go
Labels: size/M

#982 Supporting labelling of disks
  google-beta/resource_compute_instance.go
  google-beta/resource_compute_instance_template.go
  google-beta/resource_compute_instance_template_test.go
  website/docs/r/container_cluster.html.markdown
Labels: documentation, size/S

#983 Change to maxInt32
  google-beta/resource_compute_instance.go
  google-beta/resource_compute_instance_template.go
  google-beta/resource_compute_instance_template_test.go
  google-beta/resource_storage_bucket.go
  website/docs/r/container_cluster.html.markdown
Labels: documentation, size/S

#757 [WIP] Cloudrun beta implementation on alpha KNative
  google-beta/config.go
  google-beta/provider.go
  google-beta/provider_cloud_run_gen.go
  google-beta/resource_cloud_run_domain_mapping.go
  google-beta/resource_cloud_run_domain_mapping_generated_test.go
  google-beta/resource_cloud_run_service.go
  google-beta/resource_cloud_run_service_generated_test.go
  google-beta/resource_cloud_run_service_test.go
  google-beta/resource_compute_instance.go
  google-beta/resource_compute_instance_template.go
  google-beta/resource_compute_instance_template_test.go
  website/docs/r/cloud_run_domain_mapping.html.markdown
  website/docs/r/cloud_run_service.html.markdown
Labels: changelog: new-resource, documentation, size/XXL

#961 add optional components to dataproc_cluster
  google-beta/resource_dataproc_cluster.go
  google-beta/resource_dataproc_cluster_test.go
Labels: changelog: enhancement, size/M
