Repository hashicorp/terraform-provider-google-beta, pull requests merged in 2019-06, with the labels that each got.

#790 Add retry around QueryOp in service usage operation utils
  google-beta/serviceusage_operation.go
Labels: size/XS

#799 Add retry to removing GKE default node pool
  google-beta/resource_container_cluster.go
Labels: size/XS

#800 Add logging metric sidebar entry
  website/google.erb
Labels: documentation, size/XS

#804 Add top-level services_ipv4_cidr attr to container_cluster.
  google-beta/resource_container_cluster.go
  google-beta/resource_container_cluster_test.go
  website/docs/r/container_cluster.html.markdown
Labels: documentation, size/XS

#802 Use random name in instance template to enable parallel testing
  google-beta/resource_compute_global_forwarding_rule_generated_test.go
  google-beta/resource_compute_global_forwarding_rule_test.go
  website/docs/r/compute_global_forwarding_rule.html.markdown
Labels: documentation, size/S

#807 Fix test with invalid location
  google-beta/resource_container_cluster_test.go
Labels: size/XS

#669 [terraform] Add AuthenticatorGroupsConfig to google_container_cluster
  google-beta/resource_container_cluster.go
  google-beta/resource_container_cluster_test.go
  website/docs/r/container_cluster.html.markdown
Labels: documentation, size/M

#805 Mark project as computed for iam-project
  google-beta/iam_project.go
Labels: size/XS

#810 Change the sqlUser update call and default host
  google-beta/resource_sql_user.go
Labels: size/XS

#806 Add disable-legacy-endpoints to tests
  google-beta/resource_container_cluster_test.go
Labels: size/XS

#773 Add more documentation on how to use notification channels
  website/docs/r/monitoring_notification_channel.html.markdown
Labels: documentation, size/XS

#747 Add support for setting gke intranode visibility
  google-beta/resource_container_cluster.go
  google-beta/resource_container_cluster_test.go
Labels: size/M

#809 Add bucket_policy_only to storage_bucket
  google-beta/resource_storage_bucket.go
  google-beta/resource_storage_bucket_test.go
  website/docs/r/storage_bucket.html.markdown
Labels: documentation, size/M

#801 Support for GKE intranode visibility
  google-beta/resource_container_cluster.go
  google-beta/resource_container_cluster_test.go
  website/docs/r/container_cluster.html.markdown
Labels: documentation, size/M

#808 Remove version format validation
  google-beta/data_source_tpu_tensorflow_versions_test.go
Labels: size/XS

#784 Add resource_policy resource to compute
  google-beta/provider_compute_gen.go
  google-beta/resource_compute_resource_policy.go
  google-beta/resource_compute_resource_policy_generated_test.go
  website/docs/r/compute_resource_policy.html.markdown
  website/google.erb
Labels: documentation, size/XXL

#781 Add fine-grained network endpoint to compute NEGs
  google-beta/provider_compute_gen.go
  google-beta/resource_compute_network_endpoint.go
  google-beta/resource_compute_network_endpoint_test.go
  website/docs/r/compute_network_endpoint.html.markdown
  website/google.erb
Labels: documentation, size/XL

#820 Update Go Google API client to v0.5.0
  go.mod
  go.sum
  vendor/google.golang.org/api/bigquery/v2/bigquery-api.json
  vendor/google.golang.org/api/bigquery/v2/bigquery-gen.go
  vendor/google.golang.org/api/cloudbuild/v1/cloudbuild-api.json
  vendor/google.golang.org/api/cloudbuild/v1/cloudbuild-gen.go
  vendor/google.golang.org/api/cloudkms/v1/cloudkms-api.json
  vendor/google.golang.org/api/cloudkms/v1/cloudkms-gen.go
  vendor/google.golang.org/api/cloudresourcemanager/v1/cloudresourcemanager-api.json
  vendor/google.golang.org/api/cloudresourcemanager/v1/cloudresourcemanager-gen.go
  vendor/google.golang.org/api/container/v1/container-api.json
  vendor/google.golang.org/api/container/v1/container-gen.go
  vendor/google.golang.org/api/container/v1beta1/container-api.json
  vendor/google.golang.org/api/container/v1beta1/container-gen.go
  vendor/google.golang.org/api/dataflow/v1b3/dataflow-api.json
  vendor/google.golang.org/api/dataflow/v1b3/dataflow-gen.go
  vendor/google.golang.org/api/dataproc/v1/dataproc-api.json
  vendor/google.golang.org/api/dataproc/v1/dataproc-gen.go
  vendor/google.golang.org/api/iam/v1/iam-api.json
  vendor/google.golang.org/api/iam/v1/iam-gen.go
  vendor/google.golang.org/api/runtimeconfig/v1beta1/runtimeconfig-api.json
  vendor/google.golang.org/api/runtimeconfig/v1beta1/runtimeconfig-gen.go
  vendor/google.golang.org/api/servicemanagement/v1/servicemanagement-api.json
  vendor/google.golang.org/api/servicemanagement/v1/servicemanagement-gen.go
  vendor/google.golang.org/api/servicenetworking/v1beta/servicenetworking-api.json
  vendor/google.golang.org/api/servicenetworking/v1beta/servicenetworking-gen.go
  vendor/google.golang.org/api/serviceusage/v1/serviceusage-api.json
  vendor/google.golang.org/api/serviceusage/v1/serviceusage-gen.go
  vendor/google.golang.org/api/sourcerepo/v1/sourcerepo-api.json
  vendor/google.golang.org/api/sourcerepo/v1/sourcerepo-gen.go
  vendor/google.golang.org/api/spanner/v1/spanner-api.json
  vendor/google.golang.org/api/spanner/v1/spanner-gen.go
  vendor/google.golang.org/api/storage/v1/storage-api.json
  vendor/google.golang.org/api/storage/v1/storage-gen.go
  vendor/google.golang.org/api/storagetransfer/v1/storagetransfer-api.json
  vendor/google.golang.org/api/storagetransfer/v1/storagetransfer-gen.go
  vendor/modules.txt
Labels: dependencies, size/XXL

#814 Remove Default from GA provider
  google-beta/resource_container_cluster.go
Labels: size/XS

#816 Retrieve project after detecting changes
  google-beta/resource_compute_instance_template.go
Labels: size/XS

#818 Add retries to container Operations
  google-beta/container_operation.go
Labels: size/XS

#822 Fix beta website docs
  website/docs/r/compute_backend_service.html.markdown
  website/docs/r/compute_resource_policy.html.markdown
  website/google.erb
Labels: documentation, size/XS

#812 Instance template disk conflicts
  google-beta/resource_compute_instance_template.go
  google-beta/resource_compute_instance_template_test.go
Labels: size/M

#813 Move AlertPolicy tests to a matrix
  google-beta/resource_monitoring_alert_policy_test.go
Labels: size/S

#824 Add support for Workload Identity to GKE Terraform provider
  google-beta/node_config.go
  google-beta/resource_container_cluster.go
  google-beta/resource_container_cluster_test.go
  google-beta/resource_container_node_pool_test.go
  website/docs/r/container_cluster.html.markdown
Labels: documentation, size/L

#829 Vendor in dependency on dataproc api v1beta2
  vendor/google.golang.org/api/dataproc/v1beta2/dataproc-api.json
  vendor/google.golang.org/api/dataproc/v1beta2/dataproc-gen.go
  vendor/modules.txt
Labels: dependencies, size/XXL

#830 fix typo causing lint to fail
  google-beta/compute_instance_helpers.go
Labels: size/XS

#834 Remove bad AUTH_NONE default for GKE Istio Config
  google-beta/resource_container_cluster.go
  google-beta/resource_container_cluster_test.go
Labels: size/XS

#827 Terraform Pub/Sub fix, do not send name on topic/subscription creation.
  google-beta/resource_pubsub_subscription.go
  google-beta/resource_pubsub_topic.go
Labels: size/XS

#771 Fix two issues in instance template resources
  google-beta/resource_compute_instance_from_template.go
  google-beta/resource_compute_instance_from_template_test.go
  google-beta/resource_compute_instance_template.go
  google-beta/resource_compute_instance_template_test.go
Labels: size/XL

#835 Add imports to storage bucket iam resources
  google-beta/iam_storage_bucket.go
  google-beta/provider.go
  google-beta/resource_storage_bucket_iam_test.go
  website/docs/r/storage_bucket_iam.html.markdown
Labels: documentation, size/M

#840 modernize firewall tests
  google-beta/resource_compute_firewall_test.go
Labels: size/L

#843 use randomized name for dataflow service account in test
  google-beta/resource_dataflow_job_test.go
Labels: size/XS

#842 also enable http load balancing in gke cloud run test
  google-beta/resource_container_cluster_test.go
Labels: size/XS

#424 Add support for minCpuPlatform param in resourceDataprocCluster InstanceGroupConfig
  google-beta/config.go
  google-beta/dataproc_cluster_operation.go
  google-beta/resource_dataproc_cluster.go
  website/docs/r/dataproc_cluster.html.markdown
Labels: dependencies, documentation, size/S

#845 adds 'purpose' to kms_crypto_key
  google-beta/resource_dataproc_cluster.go
  google-beta/resource_kms_crypto_key.go
  google-beta/resource_kms_crypto_key_test.go
  website/docs/d/google_kms_crypto_key.html.markdown
  website/docs/r/google_kms_crypto_key.html.markdown
Labels: documentation, size/XS

#839 use the image version data source for composer environment tests
  google-beta/resource_composer_environment_test.go
Labels: size/XS

#841 use generated names for all resources in GFR ILB test
  google-beta/resource_compute_global_forwarding_rule_test.go
Labels: size/XS

#846 Vendor v1 instead of v1beta servicenetworking
  go.mod
  go.sum
  vendor/google.golang.org/api/dataproc/v1beta2/dataproc-api.json
  vendor/google.golang.org/api/dataproc/v1beta2/dataproc-gen.go
  vendor/google.golang.org/api/servicenetworking/v1/servicenetworking-api.json
  vendor/google.golang.org/api/servicenetworking/v1/servicenetworking-gen.go
  vendor/modules.txt
Labels: dependencies, size/XXL

#847 fallback to region from redis location_id when region isn't specified
  google-beta/resource_redis_instance.go
  google-beta/resource_redis_instance_test.go
Labels: size/M

#833 Add terraform support for external vpn gateway
  google-beta/provider_compute_gen.go
  google-beta/resource_compute_external_vpn_gateway.go
  google-beta/resource_compute_external_vpn_gateway_generated_test.go
  google-beta/resource_compute_vpn_tunnel.go
  website/docs/r/compute_external_vpn_gateway.html.markdown
  website/google.erb
Labels: documentation, size/XL

#836 Enable network endpoint groups and endpoints in GA
  google-beta/resource_compute_network_endpoint.go
  google-beta/resource_compute_network_endpoint_group_generated_test.go
  website/docs/r/compute_network_endpoint.html.markdown
  website/docs/r/compute_network_endpoint_group.html.markdown
Labels: documentation, size/M

#832 Terraform: Pubsub Topic labels update
  google-beta/resource_pubsub_topic.go
  google-beta/resource_pubsub_topic_test.go
  website/docs/r/pubsub_topic.html.markdown
Labels: documentation, size/M

#838 Enable service networking connections in GA
  google-beta/config.go
  google-beta/provider.go
  google-beta/provider_handwritten_endpoint.go
  google-beta/resource_service_networking_connection.go
  google-beta/service_networking_operation.go
  website/docs/provider_reference.html.markdown
  website/docs/r/service_networking_connection.html.markdown
Labels: documentation, size/XS

#787 autogenerate KMS CryptoKey, add purpose
  google-beta/kms_utils.go
  google-beta/provider.go
  google-beta/provider_kms_gen.go
  google-beta/resource_kms_crypto_key.go
  google-beta/resource_kms_crypto_key_test.go
  website/docs/r/google_kms_crypto_key.html.markdown
  website/docs/r/kms_crypto_key.html.markdown
  website/google.erb
Labels: documentation, size/XL

#828 Terraform: make GCS bucket `bucket_policy_only` computed
  google-beta/resource_storage_bucket.go
Labels: size/XS

#849 Ignore host when searching for postgres sql user in read from list
  google-beta/resource_sql_user.go
Labels: size/XS

#848 fix beta dataproc resources by adding min_cpu_platform in master/worker config instead of preemptible
  google-beta/resource_dataproc_cluster.go
  google-beta/resource_dataproc_cluster_test.go
Labels: documentation, size/XS

#852 Update GKE examples metadata attributes for 0.12
  website/docs/r/container_cluster.html.markdown
  website/docs/r/container_node_pool.html.markdown
Labels: documentation, size/XS

#850 Feature: DNS import and update existing resources
  google-beta/resource_dns_record_set.go
  website/docs/r/dns_record_set.markdown
Labels: documentation, size/S

#853 allow importing dns record sets in any project
  google-beta/resource_dns_record_set.go
  google-beta/resource_dns_record_set_test.go
  website/docs/r/dns_record_set.markdown
Labels: documentation, size/S

#856 autodelete disks created in compute instance migrate test
  google-beta/resource_compute_instance_migrate_test.go
Labels: size/S

#857 Relax IAM role restrictions on BQ datasets
  google-beta/resource_bigquery_dataset.go
  website/docs/r/bigquery_dataset.html.markdown
Labels: documentation, size/XS

#859 Add healthcare api dependencies
  vendor/google.golang.org/api/healthcare/v1beta1/healthcare-api.json
  vendor/google.golang.org/api/healthcare/v1beta1/healthcare-gen.go
  vendor/modules.txt
Labels: dependencies, size/XXL

#860 running vendor on current master
  vendor/google.golang.org/api/servicenetworking/v1beta/servicenetworking-api.json
  vendor/google.golang.org/api/servicenetworking/v1beta/servicenetworking-gen.go
  vendor/modules.txt
Labels: dependencies, size/XXL

#864 Allow setting notification channel enabled to false
  google-beta/config.go
  google-beta/provider.go
  google-beta/resource_monitoring_notification_channel.go
  google-beta/resource_monitoring_notification_channel_test.go
Labels: size/XS

#862 increase some timeouts
  google-beta/resource_compute_instance.go
  google-beta/resource_container_cluster.go
  google-beta/resource_dataproc_cluster.go
  google-beta/resource_sql_database_instance.go
  website/docs/r/compute_instance.html.markdown
  website/docs/r/container_cluster.html.markdown
  website/docs/r/dataproc_cluster.html.markdown
  website/docs/r/sql_database_instance.html.markdown
Labels: documentation, size/S

#851 Allow count=0 for guest_accelerators
  google-beta/resource_container_cluster.go
  google-beta/resource_container_node_pool.go
  google-beta/resource_container_node_pool_test.go
  google-beta/resource_sql_database_instance_test.go
Labels: size/L

#866 promote internal global addresses to GA
  website/docs/r/compute_global_address.html.markdown
Labels: documentation, size/XS

#867 fail the signed url key tests for the correct reason
  google-beta/resource_compute_backend_bucket_signed_url_key_test.go
  google-beta/resource_compute_backend_service_signed_url_key_test.go
Labels: size/M

#863 Add GKE Sandbox support to Terraform.
  google-beta/node_config.go
  google-beta/resource_container_cluster_test.go
  google-beta/resource_container_node_pool_test.go
  google-beta/resource_sql_database_instance_test.go
  website/docs/r/container_cluster.html.markdown
Labels: documentation, size/L

#854 Add max_connection/rate_per_endpoint to backend services
  google-beta/resource_compute_backend_service.go
  google-beta/resource_compute_backend_service_test.go
  google-beta/resource_compute_network_endpoint_group.go
  website/docs/r/compute_backend_service.html.markdown
  website/docs/r/compute_network_endpoint_group.html.markdown
Labels: documentation, size/XL

#869 Clarify permissions in master auth docs
  website/docs/r/container_cluster.html.markdown
Labels: documentation, size/XS

#870 add nil checks to bucket policy and allow updating to false
  google-beta/resource_storage_bucket.go
  google-beta/resource_storage_bucket_test.go
Labels: size/XS

#873 Add basic state migration support and one for crypto key keyrings
  google-beta/resource_kms_crypto_key.go
  google-beta/resource_kms_crypto_key_test.go
Labels: size/M

#855 Allow resource_*_iam_bindings with no members
  google-beta/resource_google_project_iam_binding_test.go
  google-beta/resource_iam_binding.go
Labels: size/S

#874 Remove send_empty_value for backend service fields that depend on not being set
  google-beta/resource_compute_backend_service.go
Labels: size/XS

#871 fix updating service networking connections
  google-beta/resource_service_networking_connection.go
Labels: size/S

#826 Skip alert policy examples tests
  google-beta/resource_monitoring_alert_policy_generated_test.go
  website/docs/r/monitoring_alert_policy.html.markdown
Labels: documentation, size/M

#825 [terraform] add support for gke resource usage
  google-beta/resource_container_cluster.go
  google-beta/resource_container_cluster_test.go
  website/docs/r/container_cluster.html.markdown
Labels: documentation, size/L

#877 Document compute_backend_service set types
  website/docs/d/datasource_google_compute_backend_service.html.markdown
  website/docs/r/compute_backend_service.html.markdown
Labels: documentation, size/XS

#876 make iam members case insensitive
  google-beta/resource_compute_instance_iam_test.go
  google-beta/resource_google_project_iam_policy.go
  google-beta/resource_iam_binding.go
  google-beta/resource_iam_member.go
Labels: size/S

#882 Add new resource for compute default network tier
  google-beta/provider.go
  google-beta/resource_compute_project_default_network_tier.go
  google-beta/resource_compute_project_default_network_tier_test.go
  website/docs/r/compute_project_default_network_tier.html.markdown
  website/docs/r/container_cluster.html.markdown
  website/google.erb
Labels: documentation, size/L

#878 Include API error to deleting GCP folder error message
  google-beta/resource_google_folder.go
Labels: size/XS

#880 Use consistent naming in storage_transfer_job example
  website/docs/r/storage_transfer_job.html.markdown
Labels: documentation, size/XS

#879 Use non-authoritative IAM policy
  website/docs/r/logging_organization_sink.html.markdown
Labels: documentation, size/XS

#887 Add attr-as-block docs
  website/docs/r/compute_subnetwork.html.markdown
Labels: documentation, size/XS

#885 Add labels to KMS crypto key
  google-beta/resource_kms_crypto_key.go
  google-beta/resource_kms_crypto_key_test.go
  website/docs/r/kms_crypto_key.html.markdown
Labels: documentation, size/S

#888 Remove internal fields from monitoring uptime check
  google-beta/resource_monitoring_uptime_check_config.go
  website/docs/r/monitoring_uptime_check_config.html.markdown
Labels: documentation, size/L

#858 Add Healthcare beta API and associated resources and iam
  google-beta/config.go
  google-beta/healthcare_utils.go
  google-beta/iam_healthcare_dataset.go
  google-beta/iam_healthcare_dicom_store.go
  google-beta/iam_healthcare_fhir_store.go
  google-beta/iam_healthcare_hl7_v2_store.go
  google-beta/provider.go
  google-beta/provider_healthcare_gen.go
  google-beta/resource_healthcare_dataset.go
  google-beta/resource_healthcare_dataset_iam_test.go
  google-beta/resource_healthcare_dataset_test.go
  google-beta/resource_healthcare_dicom_store.go
  google-beta/resource_healthcare_dicom_store_iam_test.go
  google-beta/resource_healthcare_dicom_store_test.go
  google-beta/resource_healthcare_fhir_store.go
  google-beta/resource_healthcare_fhir_store_iam_test.go
  google-beta/resource_healthcare_fhir_store_test.go
  google-beta/resource_healthcare_hl7_v2_store.go
  google-beta/resource_healthcare_hl7_v2_store_iam_test.go
  google-beta/resource_healthcare_hl7_v2_store_test.go
  website/docs/r/healthcare_dataset.html.markdown
  website/docs/r/healthcare_dataset_iam.html.markdown
  website/docs/r/healthcare_dicom_store.html.markdown
  website/docs/r/healthcare_dicom_store_iam.html.markdown
  website/docs/r/healthcare_fhir_store.html.markdown
  website/docs/r/healthcare_fhir_store_iam.html.markdown
  website/docs/r/healthcare_hl7_v2_store.html.markdown
  website/docs/r/healthcare_hl7_v2_store_iam.html.markdown
  website/google.erb
Labels: documentation, size/XXL

#889 add additional case sensitive locations for iam
  google-beta/resource_iam_member.go
Labels: size/XS

#890 fix service perimeter tests
  google-beta/resource_access_context_manager_service_perimeter_test.go
Labels: size/S

#893 use default network for tpu full test
  google-beta/resource_tpu_node_generated_test.go
  website/docs/r/tpu_node.html.markdown
Labels: documentation, size/XS

#895 Remove a few redundant GKE tests
  google-beta/resource_container_cluster_test.go
Labels: size/L

#897 Revert "Add Healthcare beta API and associated resources and iam"
  google-beta/config.go
  google-beta/healthcare_utils.go
  google-beta/iam_healthcare_dataset.go
  google-beta/iam_healthcare_dicom_store.go
  google-beta/iam_healthcare_fhir_store.go
  google-beta/iam_healthcare_hl7_v2_store.go
  google-beta/provider.go
  google-beta/provider_healthcare_gen.go
  google-beta/resource_healthcare_dataset.go
  google-beta/resource_healthcare_dataset_iam_test.go
  google-beta/resource_healthcare_dataset_test.go
  google-beta/resource_healthcare_dicom_store.go
  google-beta/resource_healthcare_dicom_store_iam_test.go
  google-beta/resource_healthcare_dicom_store_test.go
  google-beta/resource_healthcare_fhir_store.go
  google-beta/resource_healthcare_fhir_store_iam_test.go
  google-beta/resource_healthcare_fhir_store_test.go
  google-beta/resource_healthcare_hl7_v2_store.go
  google-beta/resource_healthcare_hl7_v2_store_iam_test.go
  google-beta/resource_healthcare_hl7_v2_store_test.go
  website/docs/r/healthcare_dataset.html.markdown
  website/docs/r/healthcare_dataset_iam.html.markdown
  website/docs/r/healthcare_dicom_store.html.markdown
  website/docs/r/healthcare_dicom_store_iam.html.markdown
  website/docs/r/healthcare_fhir_store.html.markdown
  website/docs/r/healthcare_fhir_store_iam.html.markdown
  website/docs/r/healthcare_hl7_v2_store.html.markdown
  website/docs/r/healthcare_hl7_v2_store_iam.html.markdown
  website/google.erb
Labels: documentation, size/XXL

#899 Add Healthcare beta API and associated resources and iam
  google-beta/config.go
  google-beta/healthcare_utils.go
  google-beta/iam_healthcare_dataset.go
  google-beta/iam_healthcare_dicom_store.go
  google-beta/iam_healthcare_fhir_store.go
  google-beta/iam_healthcare_hl7_v2_store.go
  google-beta/provider.go
  google-beta/provider_healthcare_gen.go
  google-beta/resource_healthcare_dataset.go
  google-beta/resource_healthcare_dataset_iam_test.go
  google-beta/resource_healthcare_dataset_test.go
  google-beta/resource_healthcare_dicom_store.go
  google-beta/resource_healthcare_dicom_store_iam_test.go
  google-beta/resource_healthcare_dicom_store_test.go
  google-beta/resource_healthcare_fhir_store.go
  google-beta/resource_healthcare_fhir_store_iam_test.go
  google-beta/resource_healthcare_fhir_store_test.go
  google-beta/resource_healthcare_hl7_v2_store.go
  google-beta/resource_healthcare_hl7_v2_store_iam_test.go
  google-beta/resource_healthcare_hl7_v2_store_test.go
  website/docs/r/healthcare_dataset.html.markdown
  website/docs/r/healthcare_dataset_iam.html.markdown
  website/docs/r/healthcare_dicom_store.html.markdown
  website/docs/r/healthcare_dicom_store_iam.html.markdown
  website/docs/r/healthcare_fhir_store.html.markdown
  website/docs/r/healthcare_fhir_store_iam.html.markdown
  website/docs/r/healthcare_hl7_v2_store.html.markdown
  website/docs/r/healthcare_hl7_v2_store_iam.html.markdown
  website/google.erb
Labels: documentation, size/XXL

#904 Consolidate a bunch of simple GKE tests
  google-beta/resource_container_cluster_test.go
Labels: size/XL

#902 kubernetes_dashboard is disabled by default
  google-beta/resource_container_cluster.go
  website/docs/r/container_cluster.html.markdown
Labels: documentation, size/XS

#901 Refactor project service(s) code
  google-beta/resource_google_project.go
  google-beta/resource_google_project_service.go
  google-beta/resource_google_project_service_test.go
  google-beta/resource_google_project_services.go
  google-beta/resource_google_project_services_test.go
  google-beta/serviceusage_operation.go
  google-beta/utils.go
  website/docs/r/google_project_services.html.markdown
Labels: documentation, size/XL

#905 move logging/monitoring update to GA; move it to misc test
  google-beta/resource_container_cluster_test.go
  website/docs/r/container_cluster.html.markdown
Labels: documentation, size/L
