Repository hashicorp/terraform-provider-google-beta, pull requests merged in 2020-03, with the labels that each got.

#1808 Update appengine split traffic example to fix test
  .changelog/3188.txt
  google-beta/resource_app_engine_service_split_traffic_generated_test.go
  website/docs/r/app_engine_service_split_traffic.html.markdown
Labels: documentation, size/M

#1810 Fix bigquery basic example test
  .changelog/3192.txt
  google-beta/resource_big_query_dataset_generated_test.go
  website/docs/r/bigquery_dataset.html.markdown
Labels: documentation, size/XS

#1811 🐛 Fix nil pointer if no cluster autoscaling (#1766)
  google-beta/resource_container_cluster.go
Labels: size/XS

#1812 Fix `google_compute_instance_template` crash
  .changelog/3194.txt
  google-beta/resource_compute_instance_template.go
  google-beta/resource_compute_instance_template_test.go
Labels: size/M

#1813 added website, cors and lifecycle examples to storage_bucket resource
  .changelog/3151.txt
  website/docs/r/storage_bucket.html.markdown
Labels: documentation, size/S

#1814 `project_service` update to read/acquire a service on create
  .changelog/3182.txt
  google-beta/resource_google_project_service.go
  website/docs/r/google_project_service.html.markdown
Labels: documentation, size/XS

#1815 Add missing fields to instance template's network_interfaces schema
  .changelog/3197.txt
  google-beta/resource_compute_instance.go
  google-beta/resource_compute_instance_template.go
Labels: size/S

#1816 Add 404-retries for pubsub and poll async utils
  .changelog/3155.txt
  google-beta/cloudrun_polling.go
  google-beta/common_polling.go
  google-beta/resource_cloud_run_domain_mapping.go
  google-beta/resource_cloud_run_service.go
  google-beta/resource_pubsub_subscription.go
  google-beta/resource_pubsub_subscription_test.go
  google-beta/resource_pubsub_topic.go
  website/docs/r/pubsub_subscription.html.markdown
  website/docs/r/pubsub_topic.html.markdown
Labels: documentation, size/XL

#1817 fixed id for 5542
  .changelog/3199.txt
  website/docs/r/app_engine_application.html.markdown
Labels: documentation, size/XS

#1818 Remove mutex locking during read for storage ACLs.
  .changelog/3203.txt
  google-beta/resource_storage_bucket_acl.go
  google-beta/resource_storage_default_object_acl.go
  google-beta/resource_storage_object_acl.go
Labels: size/XS

#1819 Fix bigquery dataset test to use valid userByEmail
  .changelog/3206.txt
  google-beta/resource_big_query_dataset_generated_test.go
  website/docs/r/bigquery_dataset.html.markdown
Labels: documentation, size/XS

#1821 Move drain_nat_ips to GA from beta.
  .changelog/3209.txt
  website/docs/r/compute_router_nat.html.markdown
Labels: documentation, size/XS

#1822 update isEmptyValue function
  .changelog/2907.txt
  google-beta/resource_big_query_dataset.go
  google-beta/resource_billing_budget.go
  google-beta/resource_cloud_run_service.go
  google-beta/resource_compute_backend_service.go
  google-beta/resource_compute_firewall.go
  google-beta/resource_compute_network.go
  google-beta/resource_compute_region_backend_service.go
  google-beta/transport.go
Labels: size/XS

#1823 Much longer docs about metadata attributes, including links to non-linux load-bearing attributes.
  .changelog/3208.txt
  website/docs/r/compute_instance.html.markdown
Labels: documentation, size/XS

#1824 Fix batcher error messages after single request split-out
  .changelog/3214.txt
  google-beta/batcher.go
  google-beta/batcher_test.go
Labels: size/XS

#1825 add vpc_connector to update
  .changelog/3211.txt
  google-beta/resource_cloudfunctions_function.go
  google-beta/resource_cloudfunctions_function_test.go
Labels: size/S

#1826 Remove extra address attribute from compute address.
  .changelog/3216.txt
  website/docs/r/compute_address.html.markdown
Labels: documentation, size/XS

#1827 Marked `time_zone` as ForceNew due to change in API behavior
  .changelog/3218.txt
  google-beta/resource_dialogflow_agent.go
  google-beta/resource_dialogflow_agent_test.go
Labels: size/XS

#1828 add customize diff to prevent two rules with the same priority
  .changelog/3202.txt
  google-beta/resource_compute_security_policy.go
  google-beta/resource_compute_security_policy_test.go
Labels: size/M

#1829 Make tier ignore_read
  .changelog/3223.txt
  google-beta/resource_dialogflow_agent.go
  google-beta/resource_dialogflow_agent_generated_test.go
  google-beta/resource_dialogflow_agent_test.go
  website/docs/r/dialogflow_agent.html.markdown
Labels: documentation, size/M

#1830 bigtable_table and bigtable_gc_policy support long form ids
  .changelog/3222.txt
  google-beta/resource_bigtable_gc_policy.go
  google-beta/resource_bigtable_gc_policy_test.go
  google-beta/resource_bigtable_table.go
  google-beta/resource_bigtable_table_test.go
Labels: size/S

#1831 network endpoint support long form ids for network endpoint groups
  .changelog/3224.txt
  google-beta/resource_compute_network_endpoint.go
  google-beta/resource_compute_network_endpoint_test.go
Labels: size/XS

#1832 add sql_source_representation_instance
  .changelog/3186.txt
  google-beta/provider.go
  google-beta/resource_sql_source_representation_instance.go
  google-beta/resource_sql_source_representation_instance_generated_test.go
  google-beta/resource_sql_source_representation_instance_sweeper_test.go
  website/docs/r/sql_source_representation_instance.html.markdown
  website/google.erb
Labels: documentation, size/XL

#1833 Bigquery reservation
  .changelog/3213.txt
  google-beta/config.go
  google-beta/provider.go
  google-beta/resource_bigquery_reservation_reservation.go
  google-beta/resource_bigquery_reservation_reservation_generated_test.go
  google-beta/resource_bigquery_reservation_reservation_sweeper_test.go
  google-beta/resource_bigquery_reservation_test.go
  website/docs/r/bigquery_reservation.html.markdown
  website/google.erb
Labels: documentation, size/XL

#1834 google_dataflow_job - Fix bug where the wrong error variable was bein…
  .changelog/3163.txt
  google-beta/resource_dataflow_job.go
Labels: size/XS

#1835 change NOT to NOT_IN for node_affinities operator
  .changelog/3225.txt
  google-beta/compute_instance_helpers.go
  google-beta/resource_compute_instance_test.go
  website/docs/r/compute_instance.html.markdown
  website/docs/r/compute_instance_template.html.markdown
Labels: documentation, size/XS

#1836 Regional disk resource policies attachment resource.
  .changelog/3228.txt
  google-beta/provider.go
  google-beta/resource_compute_region_disk_resource_policy_attachment.go
  google-beta/resource_compute_region_disk_resource_policy_attachment_generated_test.go
  website/docs/r/compute_region_disk_resource_policy_attachment.html.markdown
  website/google.erb
Labels: documentation, size/XL

#1837 s/zone/region in an error message.
  .changelog/3229.txt
  google-beta/resource_compute_region_disk_resource_policy_attachment.go
Labels: size/XS

#1838 update link name for app engine service split traffic
  .changelog/3231.txt
  website/google.erb
Labels: documentation, size/XS

#1839 Placement policy support for Compute Instance
  .changelog/3217.txt
  google-beta/resource_compute_instance.go
  google-beta/resource_compute_instance_test.go
  google-beta/resource_compute_resource_policy.go
  google-beta/resource_compute_resource_policy_generated_test.go
  google-beta/resource_compute_resource_policy_test.go
  website/docs/r/compute_instance.html.markdown
  website/docs/r/compute_resource_policy.html.markdown
Labels: documentation, size/XL

#1840 storage_bucket: Correct website docs
  .changelog/3235.txt
  website/docs/r/storage_bucket.html.markdown
Labels: documentation, size/XS

#1841 Add node group autoscaling policy
  .changelog/3230.txt
  google-beta/resource_compute_node_group.go
  google-beta/resource_compute_node_group_generated_test.go
  website/docs/r/compute_node_group.html.markdown
Labels: documentation, size/L

#1842 update golang links
  .changelog/3238.txt
  google-beta/resource_cloud_build_trigger.go
  website/docs/r/cloudbuild_trigger.html.markdown
Labels: documentation, size/XS

#1210 website: Default most sidebar sections to closed
  website/google.erb
Labels: documentation, size/M

#1843 Collapse sidebars by default.
  .changelog/3234.txt
  website/google.erb
Labels: documentation, size/XS

#1844 Allow passwords and tokens to be sensitive
  .changelog/3177.txt
  google-beta/resource_monitoring_notification_channel.go
  google-beta/resource_monitoring_notification_channel_generated_test.go
  google-beta/resource_monitoring_notification_channel_test.go
  website/docs/r/monitoring_notification_channel.html.markdown
Labels: documentation, size/XL

#1845 add extra host_rule to example
  .changelog/3240.txt
  google-beta/resource_compute_url_map_generated_test.go
  website/docs/r/compute_url_map.html.markdown
Labels: documentation, size/S

#1846 Ensure that no matter what the ID is, we can still wait for state.
  .changelog/3241.txt
  google-beta/resource_container_node_pool.go
Labels: size/XS

#1847 Remove the last iap base path leftovers from handwritten tunnel
  .changelog/3243.txt
  google-beta/provider.go
  google-beta/provider_handwritten_endpoint.go
Labels: size/XS

#1848 IAP brand & client
  .changelog/3135.txt
  google-beta/provider.go
  google-beta/provider_test.go
  google-beta/resource_iap_brand.go
  google-beta/resource_iap_brand_test.go
  google-beta/resource_iap_client.go
  google-beta/resource_iap_client_generated_test.go
  google-beta/resource_iap_client_sweeper_test.go
  website/docs/r/iap_brand.html.markdown
  website/docs/r/iap_client.html.markdown
  website/google.erb
Labels: documentation, size/XL

#1849 add app engine flex version
  .changelog/3110.txt
  google-beta/provider.go
  google-beta/resource_app_engine_app_version_sweeper_test.go
  google-beta/resource_app_engine_flexible_app_version.go
  google-beta/resource_app_engine_flexible_app_version_generated_test.go
  google-beta/resource_app_engine_flexible_app_version_test.go
  google-beta/resource_app_engine_standard_app_version.go
  google-beta/test-fixtures/appengine/hello-world-flask/app.yaml
  google-beta/test-fixtures/appengine/hello-world-flask/main.py
  google-beta/test-fixtures/appengine/hello-world-flask/requirements.txt
  website/docs/r/app_engine_flexible_app_version.html.markdown
  website/docs/r/app_engine_standard_app_version.html.markdown
  website/google.erb
Labels: documentation, size/XXL

#1850 fix typos in billing account IAM docs
  .changelog/3244.txt
  website/docs/r/google_billing_account_iam_binding.html.markdown
Labels: documentation, size/XS

#1851 Ignore empty vs null list in data source tests
  .changelog/3245.txt
  google-beta/test_utils.go
Labels: size/XS

#1852 Revert "Placement policy support for Compute Instance (#3217)"
  .changelog/3250.txt
  google-beta/resource_compute_instance.go
  google-beta/resource_compute_instance_test.go
  google-beta/resource_compute_resource_policy.go
  google-beta/resource_compute_resource_policy_generated_test.go
  google-beta/resource_compute_resource_policy_test.go
  website/docs/r/compute_instance.html.markdown
  website/docs/r/compute_resource_policy.html.markdown
Labels: documentation, size/XL

#1853 [Terraform] Add support for dns_cache_config to resource_container_cluster
  .changelog/3126.txt
  google-beta/resource_container_cluster.go
  google-beta/resource_container_cluster_test.go
  website/docs/r/container_cluster.html.markdown
Labels: documentation, size/M

#1854 Memorystore Redis connectMode support
  .changelog/3246.txt
  google-beta/resource_redis_instance.go
  google-beta/resource_redis_instance_generated_test.go
  website/docs/r/redis_instance.html.markdown
Labels: documentation, size/M

#1855 Vcr wrapper
  .changelog/3193.txt
  google-beta/access_context_manager_operation.go
  google-beta/appengine_operation.go
  google-beta/cloudfunctions_operation.go
  google-beta/common_operation.go
  google-beta/common_operation_test.go
  google-beta/composer_operation.go
  google-beta/compute_operation.go
  google-beta/config.go
  google-beta/container_operation.go
  google-beta/data_fusion_operation.go
  google-beta/dataproc_cluster_operation.go
  google-beta/dataproc_job_operation.go
  google-beta/datastore_operation.go
  google-beta/deployment_manager_operation.go
  google-beta/filestore_operation.go
  google-beta/firestore_operation.go
  google-beta/game_services_operation.go
  google-beta/ml_engine_operation.go
  google-beta/provider_test.go
  google-beta/redis_operation.go
  google-beta/resource_cloudfunctions_function.go
  google-beta/resource_composer_environment.go
  google-beta/resource_composer_environment_test.go
  google-beta/resource_container_cluster_test.go
  google-beta/resource_manager_operation.go
  google-beta/resource_pubsub_topic_test.go
  google-beta/service_networking_operation.go
  google-beta/serviceman_operation.go
  google-beta/serviceusage_operation.go
  google-beta/spanner_operation.go
  google-beta/sqladmin_operation.go
  google-beta/tpu_operation.go
  google-beta/vpc_access_operation.go
Labels: size/L

#1856 Initial retry transport
  .changelog/3196.txt
  google-beta/config.go
  google-beta/error_retry_predicates.go
  google-beta/retry_transport.go
  google-beta/retry_transport_test.go
Labels: size/XL

#1857 Add current status on compute instance
  .changelog/3248.txt
  google-beta/resource_compute_instance.go
Labels: size/XS

#1859 upgrade_settings is now ga, and O+C
  .changelog/3252.txt
  google-beta/resource_container_node_pool.go
Labels: size/XS

#1860 Serial port datasource
  .changelog/3247.txt
  google-beta/data_source_google_compute_instance_serial_port.go
  google-beta/data_source_google_compute_instance_serial_port_test.go
  google-beta/provider.go
  website/docs/d/datasource_compute_instance_serial_port.html.markdown
Labels: documentation, size/L

#1861 Remove expression to avoid the interpolation-only expressions warning
  .changelog/3259.txt
  website/docs/guides/getting_started.html.markdown
Labels: documentation, size/XS

#1862 GA ILB global access
  .changelog/3253.txt
  google-beta/resource_compute_forwarding_rule_generated_test.go
  website/docs/r/compute_forwarding_rule.html.markdown
Labels: documentation, size/XS

#1863 Ansible - Regional SSL Certs + Health Check
  .changelog/3210.txt
  google-beta/resource_compute_region_ssl_certificate_generated_test.go
  website/docs/r/compute_region_ssl_certificate.html.markdown
Labels: documentation, size/S

#1864 fixed ids for #5542
  .changelog/3205.txt
  google-beta/resource_compute_address_generated_test.go
  google-beta/resource_compute_autoscaler_generated_test.go
  google-beta/resource_compute_region_autoscaler_generated_test.go
  website/docs/d/datasource_google_compute_backend_service.html.markdown
  website/docs/r/binary_authorization_attestor.html.markdown
  website/docs/r/cloudfunctions_function.html.markdown
  website/docs/r/cloudiot_registry.html.markdown
  website/docs/r/composer_environment.html.markdown
  website/docs/r/compute_address.html.markdown
  website/docs/r/compute_attached_disk.html.markdown
  website/docs/r/compute_autoscaler.html.markdown
  website/docs/r/compute_region_autoscaler.html.markdown
Labels: documentation, size/M

#1865 Force zone for dataproc cluster gpu test
  .changelog/3263.txt
  google-beta/resource_dataproc_cluster_test.go
Labels: size/XS

#1867 Add serial port ds and region ssl cert to sidebar
  .changelog/3268.txt
  website/google.erb
Labels: documentation, size/XS

#1868 Add google_compute_instance current_status to data source
  .changelog/3269.txt
  google-beta/data_source_google_compute_instance.go
  google-beta/data_source_google_compute_instance_test.go
Labels: size/XS

#1870 Revert changes to compute image selflink in examples
  .changelog/3272.txt
  google-beta/resource_compute_address_generated_test.go
  google-beta/resource_compute_autoscaler_generated_test.go
  google-beta/resource_compute_region_autoscaler_generated_test.go
  website/docs/r/compute_address.html.markdown
  website/docs/r/compute_autoscaler.html.markdown
  website/docs/r/compute_region_autoscaler.html.markdown
Labels: documentation, size/XS

#1871 Ansible - Resource Policy
  .changelog/3275.txt
  google-beta/resource_compute_resource_policy_sweeper_test.go
Labels: size/XS

#1872 Consume original request body from retry transport
  .changelog/3276.txt
  google-beta/retry_transport.go
Labels: size/XS

#1873 Add pollasync to eventually consistent iap brand
  .changelog/3274.txt
  google-beta/resource_bigquery_data_transfer_config.go
  google-beta/resource_bigtable_app_profile.go
  google-beta/resource_billing_budget.go
  google-beta/resource_dataproc_autoscaling_policy.go
  google-beta/resource_iap_brand.go
  google-beta/resource_identity_platform_default_supported_idp_config.go
  google-beta/resource_identity_platform_tenant.go
  google-beta/resource_identity_platform_tenant_default_supported_idp_config.go
  google-beta/resource_monitoring_alert_policy.go
  google-beta/resource_monitoring_group.go
  google-beta/resource_monitoring_notification_channel.go
  google-beta/resource_monitoring_uptime_check_config.go
  google-beta/resource_resource_manager_lien.go
  google-beta/resource_secret_manager_secret.go
  google-beta/resource_secret_manager_secret_version.go
  google-beta/resource_security_center_source.go
  google-beta/resource_security_scanner_scan_config.go
Labels: size/M

#1874 Bumping cloudrun Update timeout
  .changelog/3249.txt
  google-beta/resource_cloud_run_service.go
  website/docs/r/cloud_run_service.html.markdown
Labels: documentation, size/XS

#1875 Removing the license file from third_party file
  .changelog/3279.txt
  google-beta/test-fixtures/appengine/hello-world-flask/app.yaml
Labels: size/XS

#1876 Allow import of logging_metric in a non-default project.
  .changelog/3270.txt
  google-beta/resource_bigquery_data_transfer_config.go
  google-beta/resource_billing_budget.go
  google-beta/resource_logging_metric.go
  google-beta/resource_monitoring_alert_policy.go
  google-beta/resource_monitoring_group.go
  google-beta/resource_monitoring_notification_channel.go
  google-beta/resource_monitoring_uptime_check_config.go
  google-beta/resource_security_scanner_scan_config.go
  website/docs/r/logging_metric.html.markdown
Labels: documentation, size/XS

#1866 Update CHANGELOG.md
  CHANGELOG.md
Labels: size/XS

#1877 compute: subnet IAM conditions
  .changelog/3284.txt
  google-beta/iam_compute_subnetwork.go
  google-beta/iam_compute_subnetwork_generated_test.go
  website/docs/r/binary_authorization_attestor_iam.html.markdown
  website/docs/r/cloud_run_service_iam.html.markdown
  website/docs/r/cloudfunctions_cloud_function_iam.html.markdown
  website/docs/r/compute_instance_iam.html.markdown
  website/docs/r/compute_subnetwork_iam.html.markdown
  website/docs/r/endpoints_service_iam.html.markdown
  website/docs/r/iap_app_engine_service_iam.html.markdown
  website/docs/r/iap_app_engine_version_iam.html.markdown
  website/docs/r/iap_tunnel_instance_iam.html.markdown
  website/docs/r/iap_web_backend_service_iam.html.markdown
  website/docs/r/iap_web_iam.html.markdown
  website/docs/r/iap_web_type_app_engine_iam.html.markdown
  website/docs/r/iap_web_type_compute_iam.html.markdown
  website/docs/r/pubsub_topic_iam.html.markdown
  website/docs/r/runtimeconfig_config_iam.html.markdown
  website/docs/r/secret_manager_secret_iam.html.markdown
  website/docs/r/sourcerepo_repository_iam.html.markdown
  website/docs/r/storage_bucket_iam.html.markdown
Labels: documentation, size/XL

#1879 Add retry for `google_kms_crypto_key_version`
  .changelog/3255.txt
  google-beta/data_source_google_kms_crypto_key_version.go
  google-beta/error_retry_predicates.go
Labels: size/XS

#1880 GA ILB multi-nic
  .changelog/3289.txt
  google-beta/resource_compute_region_backend_service_test.go
  website/docs/r/compute_region_backend_service.html.markdown
Labels: documentation, size/XS

#1881 Add note to `google_storage_notification` about IAM policy side effects
  .changelog/3290.txt
  website/docs/r/storage_notification.html.markdown
Labels: documentation, size/XS

#1882 Access Context Manager: add support for access level condition 'regions'
  .changelog/3291.txt
  google-beta/resource_access_context_manager_access_level.go
  google-beta/resource_access_context_manager_access_level_test.go
  website/docs/r/access_context_manager_access_level.html.markdown
  website/docs/r/access_context_manager_service_perimeter.html.markdown
Labels: documentation, size/S

#1883 GA google_container_cluster maintenance policy recurring window
  .changelog/3288.txt
  google-beta/resource_container_cluster.go
  google-beta/validation.go
  website/docs/r/container_cluster.html.markdown
Labels: documentation, size/XS

#1884 Add serviceusage's consumerquotaoverride and adminquotaoverride.
  .changelog/3267.txt
  google-beta/config.go
  google-beta/provider.go
  google-beta/provider_handwritten_endpoint.go
  google-beta/resource_access_context_manager_service_perimeter_resource.go
  google-beta/resource_compute_backend_bucket_signed_url_key.go
  google-beta/resource_compute_backend_service_signed_url_key.go
  google-beta/resource_compute_disk_resource_policy_attachment.go
  google-beta/resource_compute_instance_group_named_port.go
  google-beta/resource_compute_network_endpoint.go
  google-beta/resource_compute_network_peering_routes_config.go
  google-beta/resource_compute_region_disk_resource_policy_attachment.go
  google-beta/resource_compute_router_bgp_peer.go
  google-beta/resource_compute_router_nat.go
  google-beta/resource_google_project.go
  google-beta/resource_google_project_service.go
  google-beta/resource_resource_manager_lien.go
  google-beta/resource_service_usage_consumer_quota_override.go
  google-beta/resource_service_usage_consumer_quota_override_generated_test.go
  google-beta/resource_spanner_database.go
  google-beta/resource_spanner_instance.go
  google-beta/resource_vpc_access_connector.go
  google-beta/service_usage_operation.go
  google-beta/serviceusage_operation.go
  website/docs/r/service_usage_consumer_quota_override.html.markdown
Labels: documentation, size/XL

#1885 Add resource for enabling firebase
  .changelog/3281.txt
  google-beta/config.go
  google-beta/firebase_operation.go
  google-beta/provider.go
  google-beta/resource_firebase_project.go
  google-beta/resource_firebase_project_generated_test.go
  website/docs/r/firebase_project.html.markdown
  website/google.erb
Labels: documentation, size/XL

#1886 Additional Authenticated Data AAD for Cloud KMS secrets
  .changelog/3271.txt
  google-beta/data_source_google_kms_secret.go
  google-beta/data_source_google_kms_secret_ciphertext_test.go
  google-beta/data_source_google_kms_secret_test.go
  google-beta/resource_kms_secret_ciphertext.go
  google-beta/resource_kms_secret_ciphertext_test.go
  website/docs/d/google_kms_secret.html.markdown
  website/docs/r/kms_secret_ciphertext.html.markdown
Labels: documentation, size/M

#1887 ACM: service perimeter's restricted_services as set
  .changelog/3296.txt
  google-beta/bootstrap_utils_test.go
  google-beta/resource_access_context_manager_service_perimeter.go
Labels: size/XS

#1888 Catch googleapi errors from flattenprop
  .changelog/3292.txt
  google-beta/resource_big_query_dataset.go
  google-beta/resource_billing_budget.go
  google-beta/resource_cloud_run_service.go
  google-beta/resource_compute_backend_service.go
  google-beta/resource_compute_firewall.go
  google-beta/resource_compute_network.go
  google-beta/resource_compute_region_backend_service.go
  google-beta/resource_secret_manager_secret_version.go
  google-beta/resource_sql_source_representation_instance.go
Labels: size/S

#1889 Add vcr tests to gke handwritten
  .changelog/3293.txt
  google-beta/resource_container_cluster_test.go
Labels: size/XL

#1890 Add docs on dataproc cluster optional_components
  .changelog/3294.txt
  website/docs/r/dataproc_cluster.html.markdown
Labels: documentation, size/XS

#1891 Validation of the fleet spec changed.
  .changelog/3298.txt
  google-beta/resource_game_services_game_server_config_generated_test.go
  website/docs/r/game_services_game_server_config.html.markdown
Labels: documentation, size/XS

#1892 add google-beta provider to all resources in this test.
  .changelog/3297.txt
  google-beta/resource_service_usage_consumer_quota_override_generated_test.go
  website/docs/r/service_usage_consumer_quota_override.html.markdown
Labels: documentation, size/XS

#1893 Remove null characters from seed when reading
  .changelog/3300.txt
  google-beta/provider_test.go
Labels: size/XS

#1894 Do not retry requests without GetBody
  .changelog/3299.txt
  google-beta/retry_transport.go
  google-beta/retry_transport_test.go
Labels: size/M

#1896 Add google_service_usage_consumer_quota_override to sidebar
  .changelog/3302.txt
  website/google.erb
Labels: documentation, size/XS

#1897 storage_bucket: explain what happens when multiple conditions are spe…
  .changelog/3304.txt
  website/docs/r/storage_bucket.html.markdown
Labels: documentation, size/XS

#1898 Adding support for IngressSettings field to cloudfunctions. Also upda…
  .changelog/3191.txt
  google-beta/resource_cloudfunctions_function.go
  google-beta/resource_cloudfunctions_function_test.go
  website/docs/d/datasource_cloudfunctions_function.html.markdown
  website/docs/r/cloudfunctions_function.html.markdown
Labels: documentation, size/S

#1899 enable appengineflex service to fix app engine flex version tests
  .changelog/3286.txt
  google-beta/resource_app_engine_flexible_app_version_generated_test.go
  google-beta/resource_app_engine_flexible_app_version_test.go
  website/docs/r/app_engine_flexible_app_version.html.markdown
Labels: documentation, size/S

#1900 Virtual field for `google_cloud_run_service` revision names
  .changelog/3306.txt
  google-beta/resource_cloud_run_service.go
  google-beta/resource_cloud_run_service_generated_test.go
  website/docs/r/cloud_run_service.html.markdown
Labels: documentation, size/S

#1901 Add GKE Resource Consumption Metering, promote resource export to GA
  .changelog/3303.txt
  google-beta/resource_container_cluster.go
  google-beta/resource_container_cluster_test.go
  website/docs/r/container_cluster.html.markdown
Labels: documentation, size/M

#1902 Modify gke vcr testacc check to not panic
  .changelog/3310.txt
  google-beta/provider_test.go
  google-beta/resource_container_cluster_test.go
Labels: size/XS

#1903 Add missing quotes to example for saving GCP SA key as k8s secret
  .changelog/3309.txt
  website/docs/r/google_service_account_key.html.markdown
Labels: documentation, size/XS

#1904 Add support for VpcConnectorEgressSettings field to cloudfunctions
  .changelog/3311.txt
  google-beta/resource_cloudfunctions_function.go
  google-beta/resource_cloudfunctions_function_test.go
  website/docs/d/datasource_cloudfunctions_function.html.markdown
  website/docs/r/cloudfunctions_function.html.markdown
Labels: documentation, size/XS

#1905 Do not return container cluster sweeper errors
  .changelog/3314.txt
  google-beta/resource_container_cluster_test.go
Labels: size/XS

#1906 Do not diffSuppress `port` when `port_specification` is not "USED_FIXED_PORT"
  .changelog/3316.txt
  google-beta/resource_compute_health_check.go
Labels: size/XS

#1907 Add BQ SA datasource to the sidebar, plus docs and test.
  .changelog/3317.txt
  google-beta/data_source_google_bigquery_default_service_account.go
  google-beta/data_source_google_bigquery_default_service_account_test.go
  website/docs/d/google_bigquery_default_service_account.html.markdown
  website/google.erb
Labels: documentation, size/M

#1908 Support compute reservation resize
  .changelog/3308.txt
  google-beta/resource_compute_reservation.go
  google-beta/resource_compute_reservation_test.go
  website/docs/r/compute_reservation.html.markdown
Labels: documentation, size/M

#1909 Do not return most sweeper errors
  .changelog/3315.txt
  google-beta/resource_access_context_manager_access_policy_test.go
  google-beta/resource_cloudfunctions_function_test.go
  google-beta/resource_sql_database_instance_test.go
Labels: size/S

#1910 ACM: service perimeter's vpc_accessible_services
  .changelog/3318.txt
  google-beta/resource_access_context_manager_service_perimeter.go
  google-beta/resource_access_context_manager_service_perimeter_test.go
  website/docs/r/access_context_manager_service_perimeter.html.markdown
Labels: documentation, size/L

#1911 clarify specification of audit log types
  .changelog/3136.txt
  website/docs/r/google_project_iam.html.markdown
Labels: documentation, size/XS

#1912 Add monitoring uptime check ips datasource
  .changelog/3320.txt
  google-beta/data_source_google_monitoring_uptime_check_ips.go
  google-beta/data_source_google_monitoring_uptime_check_ips_test.go
  google-beta/provider.go
  website/docs/d/datasource_google_monitoring_uptime_check_ips.html.markdown
  website/google.erb
Labels: documentation, size/M

#1895 Update CHANGELOG.md
  CHANGELOG.md
Labels: size/XS

#1913 Add deadLetterPolicy to Pub/Sub Subscription resource
  .changelog/3305.txt
  google-beta/resource_pubsub_subscription.go
  google-beta/resource_pubsub_subscription_generated_test.go
  website/docs/r/pubsub_subscription.html.markdown
Labels: documentation, size/L

#1914 allow google_dns_managed_zone.dnssec_config to be updated
  .changelog/3313.txt
  google-beta/resource_dns_managed_zone.go
  google-beta/resource_dns_managed_zone_test.go
  website/docs/r/dns_managed_zone.html.markdown
Labels: documentation, size/L

#1915 Add game service cluster test
  .changelog/3321.txt
  google-beta/resource_game_services_game_server_cluster_generated_test.go
  website/docs/r/game_services_game_server_cluster.html.markdown
Labels: documentation, size/M

#1916 Fix TestAccDataSourceGoogleMonitoringUptimeCheckIps_basic
  .changelog/3323.txt
  google-beta/data_source_google_monitoring_uptime_check_ips_test.go
Labels: size/XS

#1917 Make batching documentation match code
  .changelog/3322.txt
  website/docs/guides/provider_reference.html.markdown
Labels: documentation, size/XS

#1918 storage bucket IAM diff suppress
  .changelog/3324.txt
  google-beta/iam_storage_bucket.go
Labels: size/XS
