Repository hashicorp/terraform-provider-google-beta, pull requests merged in 2020-07, with the labels that each got.

#2249 Use different port in global FR test
  .changelog/3725.txt
  google-beta/resource_compute_global_forwarding_rule_test.go
Labels: size/XS

#2251 Project warning
  .changelog/3726.txt
  google-beta/resource_google_project.go
Labels: size/XS

#2253 add os config patch deployment resource
  .changelog/3721.txt
  google-beta/config.go
  google-beta/provider.go
  google-beta/resource_os_config_patch_deployment.go
  google-beta/resource_os_config_patch_deployment_generated_test.go
  google-beta/resource_os_config_patch_deployment_sweeper_test.go
  website/docs/r/os_config_patch_deployment.html.markdown
  website/google.erb
Labels: documentation, size/XXL

#2254 Add kms key field to Artifact Registry repository.
  .changelog/3658.txt
  google-beta/resource_artifact_registry_repository.go
  google-beta/resource_artifact_registry_repository_generated_test.go
  website/docs/r/artifact_registry_repository.html.markdown
Labels: documentation, size/M

#2250 Changelog for v3.29.0.
  CHANGELOG.md
Labels: size/XS

#2255 make iam condition ga
  .changelog/3729.txt
  website/docs/d/iam_policy.html.markdown
  website/docs/r/google_project_iam.html.markdown
  website/docs/r/google_service_account_iam.html.markdown
Labels: documentation, size/XS

#2256 Use better role for secrets in docs.
  .changelog/3730.txt
  google-beta/iam_secret_manager_secret_generated_test.go
  website/docs/r/secret_manager_secret_iam.html.markdown
Labels: documentation, size/XS

#2257 handle notfound error for runtime config
  .changelog/3731.txt
  google-beta/resource_runtimeconfig_config.go
Labels: size/XS

#2258 Created game server rollout data source
  .changelog/3727.txt
  google-beta/data_google_game_services_game_server_deployment_rollout.go
  google-beta/data_google_game_services_game_server_deployment_rollout_test.go
  google-beta/provider.go
  website/docs/d/game_services_game_server_deployment_rollout.html.markdown
  website/google.erb
Labels: documentation, size/XL

#2259 make database_encryption updateable
  .changelog/3728.txt
  google-beta/resource_container_cluster.go
  google-beta/resource_container_cluster_test.go
Labels: size/S

#2260 UseIpAliases should default to true when not set and the ip_allocation_policy_block exists
  .changelog/3732.txt
  google-beta/resource_container_cluster.go
Labels: size/XS

#2261 fix memcache_parameters
  .changelog/3733.txt
  google-beta/resource_memcache_instance.go
  google-beta/resource_memcache_instance_test.go
Labels: size/XS

#2264 Support BigQuery custom schema's for external data using CSV / NDJSON
  .changelog/3717.txt
  google-beta/resource_bigquery_table.go
  google-beta/resource_bigquery_table_test.go
  website/docs/r/bigquery_table.html.markdown
Labels: documentation, size/L

#2263 remove emily from random reviewers list
  .hashibot.hcl
Labels: size/XS

#2265 Add import example
  .changelog/3737.txt
  website/docs/r/cloudfunctions_function.html.markdown
Labels: documentation, size/XS

#2266 Auto-generate the Cloud IoT Core Device resource
  .changelog/3637.txt
  google-beta/provider.go
  google-beta/resource_cloud_iot_device.go
  google-beta/resource_cloud_iot_device_generated_test.go
  google-beta/resource_cloud_iot_device_sweeper_test.go
  google-beta/resource_cloud_iot_device_update_test.go
  google-beta/test-fixtures/rsa_private_4096.pem
  google-beta/test-fixtures/rsa_public.pem
  website/docs/r/cloudiot_device.html.markdown
  website/google.erb
Labels: documentation, size/XXL

#2262 Update CHANGELOG.md
  CHANGELOG.md
Labels: size/XS

#2267 Release 3.30.0
  CHANGELOG.md
Labels: size/XS

#2268 add datafusion versioning for terraform
  .changelog/3734.txt
  google-beta/resource_data_fusion_instance.go
  google-beta/resource_data_fusion_instance_generated_test.go
  google-beta/resource_data_fusion_instance_test.go
  website/docs/r/data_fusion_instance.html.markdown
Labels: documentation, size/S

#2269 New data source for oidc tokens
  .changelog/3739.txt
  go.mod
  google-beta/config.go
  google-beta/data_source_google_service_account_id_token.go
  google-beta/data_source_google_service_account_id_token_test.go
  google-beta/provider.go
  website/docs/d/datasource_google_service_account_id_token.html.markdown
  website/google.erb
Labels: documentation, size/XL

#2270 use e2-medium machines in gke examples
  .changelog/3744.txt
  website/docs/r/container_cluster.html.markdown
  website/docs/r/container_node_pool.html.markdown
Labels: documentation, size/XS

#2271 update google_compute_image id to match its resource
  .changelog/3746.txt
  google-beta/data_source_google_compute_image.go
  google-beta/resource_compute_autoscaler_generated_test.go
  google-beta/resource_compute_region_autoscaler_generated_test.go
  google-beta/resource_network_management_connectivity_test_resource_generated_test.go
  google-beta/resource_network_management_connectivity_test_resource_test.go
  website/docs/d/compute_image.html.markdown
  website/docs/r/compute_autoscaler.html.markdown
  website/docs/r/compute_region_autoscaler.html.markdown
  website/docs/r/network_management_connectivity_test_resource.html.markdown
Labels: documentation, size/S

#2273 add data source for google_sql_database_instance
  .changelog/3738.txt
  google-beta/data_sql_database_instance.go
  google-beta/data_sql_database_instance_test.go
  google-beta/provider.go
  website/docs/d/sql_database_instance.html.markdown
  website/google.erb
Labels: documentation, size/L

#2274 fix TestAccStorageBucket_encryption
  .changelog/3747.txt
  google-beta/resource_storage_bucket_test.go
Labels: size/XS

#2275 add diff suppress for big query table schema
  .changelog/3751.txt
  google-beta/resource_bigquery_table.go
Labels: size/S

#2272 3.31.0 CHANGELOG
  CHANGELOG.md
Labels: size/XS

#2278 Remove false link
  .changelog/3757.txt
  google-beta/resource_os_config_guest_policies.go
  website/docs/r/os_config_guest_policies.html.markdown
Labels: documentation, size/XS

#2277 latest version of google.golang.org/api updated for GKE Network config
  go.mod
  go.sum
Labels: size/XS

#2280 Additional documentation about how to easily get started with credentials in the provider.
  .changelog/3740.txt
  google-beta/config.go
  website/docs/guides/getting_started.html.markdown
  website/docs/guides/provider_reference.html.markdown
Labels: documentation, size/XS

#2281 Add the Go 1.13 runtime
  .changelog/3753.txt
  website/docs/r/cloudfunctions_function.html.markdown
Labels: documentation, size/XS

#2282 The server doesn't send back a block if this value is false - assume false if nil.
  .changelog/3756.txt
  google-beta/resource_container_cluster.go
Labels: size/XS

#2283 default_snat_status attribute added
  .changelog/3758.txt
  google-beta/resource_container_cluster.go
  google-beta/resource_container_cluster_test.go
  website/docs/r/container_cluster.html.markdown
Labels: documentation, size/M

#2284 Add support for Cloud Asset feeds
  .changelog/3750.txt
  google-beta/config.go
  google-beta/provider.go
  google-beta/resource_cloud_asset_folder_feed.go
  google-beta/resource_cloud_asset_folder_feed_generated_test.go
  google-beta/resource_cloud_asset_folder_feed_sweeper_test.go
  google-beta/resource_cloud_asset_organization_feed.go
  google-beta/resource_cloud_asset_organization_feed_generated_test.go
  google-beta/resource_cloud_asset_organization_feed_sweeper_test.go
  google-beta/resource_cloud_asset_project_feed.go
  google-beta/resource_cloud_asset_project_feed_generated_test.go
  google-beta/resource_cloud_asset_project_feed_sweeper_test.go
  website/docs/r/cloud_asset_folder_feed.html.markdown
  website/docs/r/cloud_asset_organization_feed.html.markdown
  website/docs/r/cloud_asset_project_feed.html.markdown
  website/google.erb
Labels: documentation, size/XXL

#2286 separate default version update from release channel test
  .changelog/3762.txt
  google-beta/resource_container_cluster_test.go
Labels: size/XS

#2287 add folder_id as output to folder datasource and resource
  .changelog/3763.txt
  google-beta/data_source_google_folder.go
  google-beta/resource_cloud_asset_folder_feed_generated_test.go
  google-beta/resource_google_folder.go
  website/docs/r/cloud_asset_folder_feed.html.markdown
Labels: documentation, size/XS

#2288 several fixes for notebook instance
  .changelog/3761.txt
  google-beta/resource_notebooks_instance.go
  google-beta/resource_notebooks_instance_generated_test.go
  google-beta/resource_notebooks_instance_test.go
  website/docs/r/notebooks_instance.html.markdown
Labels: documentation, size/XL

#2289 add tiers and nfs_export_options
  .changelog/3766.txt
  google-beta/config.go
  google-beta/filestore_operation.go
  google-beta/resource_filestore_instance.go
  google-beta/resource_filestore_instance_generated_test.go
  google-beta/resource_filestore_instance_sweeper_test.go
  website/docs/r/filestore_instance.html.markdown
Labels: documentation, size/XL

#2290 Monitoring metric descriptor
  .changelog/3754.txt
  google-beta/common_polling.go
  google-beta/provider.go
  google-beta/resource_app_engine_firewall_rule.go
  google-beta/resource_big_query_job.go
  google-beta/resource_cloud_run_domain_mapping.go
  google-beta/resource_cloud_run_service.go
  google-beta/resource_compute_per_instance_config.go
  google-beta/resource_compute_region_per_instance_config.go
  google-beta/resource_iap_brand.go
  google-beta/resource_monitoring_metric_descriptor.go
  google-beta/resource_monitoring_metric_descriptor_generated_test.go
  google-beta/resource_monitoring_metric_descriptor_sweeper_test.go
  google-beta/resource_monitoring_metric_descriptor_test.go
  google-beta/resource_pubsub_subscription.go
  google-beta/resource_pubsub_topic.go
  website/docs/r/monitoring_metric_descriptor.html.markdown
  website/google.erb
Labels: documentation, size/XXL

#2291 fix an example bug for google_compute_router_nat
  .changelog/3768.txt
  website/docs/r/compute_router_nat.html.markdown
Labels: documentation, size/XS

#2292 Tests flake due to creation race condition
  .changelog/3770.txt
  google-beta/resource_google_service_account_iam_test.go
Labels: size/XS

#2293 Add namespacing on metric descriptor so tests can run in parallel
  .changelog/3771.txt
  google-beta/resource_monitoring_metric_descriptor_generated_test.go
  website/docs/r/monitoring_metric_descriptor.html.markdown
Labels: documentation, size/XS

#2294 Remove fingerprint check from Image test
  .changelog/3773.txt
  google-beta/resource_compute_image_test.go
Labels: size/XS

#2285 update to go version 1.14.5
  .go-version
Labels: size/XS

#2295 Add Computed to snat, mark sub-field Required
  .changelog/3765.txt
  google-beta/resource_container_cluster.go
  google-beta/resource_container_cluster_test.go
  website/docs/r/container_cluster.html.markdown
Labels: documentation, size/XS

#2296 Add nil check on bq destination array contents
  .changelog/3774.txt
  google-beta/resource_container_cluster.go
Labels: size/XS

#2297 Add skip enum value generation
  .changelog/3767.txt
  google-beta/resource_compute_region_url_map.go
  google-beta/resource_compute_url_map.go
  website/docs/r/access_context_manager_access_level.html.markdown
  website/docs/r/access_context_manager_service_perimeter.html.markdown
  website/docs/r/app_engine_domain_mapping.html.markdown
  website/docs/r/app_engine_flexible_app_version.html.markdown
  website/docs/r/bigquery_job.html.markdown
  website/docs/r/billing_budget.html.markdown
  website/docs/r/cloud_run_domain_mapping.html.markdown
  website/docs/r/cloudiot_device.html.markdown
  website/docs/r/cloudiot_device_registry.html.markdown
  website/docs/r/compute_address.html.markdown
  website/docs/r/compute_autoscaler.html.markdown
  website/docs/r/compute_backend_service.html.markdown
  website/docs/r/compute_forwarding_rule.html.markdown
  website/docs/r/compute_global_address.html.markdown
  website/docs/r/compute_global_forwarding_rule.html.markdown
  website/docs/r/compute_health_check.html.markdown
  website/docs/r/compute_image.html.markdown
  website/docs/r/compute_managed_ssl_certificate.html.markdown
  website/docs/r/compute_network_endpoint_group.html.markdown
  website/docs/r/compute_node_template.html.markdown
  website/docs/r/compute_per_instance_config.html.markdown
  website/docs/r/compute_region_autoscaler.html.markdown
  website/docs/r/compute_region_backend_service.html.markdown
  website/docs/r/compute_region_health_check.html.markdown
  website/docs/r/compute_region_per_instance_config.html.markdown
  website/docs/r/compute_region_url_map.html.markdown
  website/docs/r/compute_reservation.html.markdown
  website/docs/r/compute_resource_policy.html.markdown
  website/docs/r/compute_router.html.markdown
  website/docs/r/compute_router_bgp_peer.html.markdown
  website/docs/r/compute_ssl_policy.html.markdown
  website/docs/r/compute_subnetwork.html.markdown
  website/docs/r/compute_target_https_proxy.html.markdown
  website/docs/r/compute_target_instance.html.markdown
  website/docs/r/compute_target_ssl_proxy.html.markdown
  website/docs/r/compute_target_tcp_proxy.html.markdown
  website/docs/r/compute_url_map.html.markdown
  website/docs/r/datastore_index.html.markdown
  website/docs/r/deployment_manager_deployment.html.markdown
  website/docs/r/dns_managed_zone.html.markdown
  website/docs/r/filestore_instance.html.markdown
  website/docs/r/firestore_index.html.markdown
  website/docs/r/healthcare_fhir_store.html.markdown
  website/docs/r/kms_crypto_key.html.markdown
  website/docs/r/logging_metric.html.markdown
  website/docs/r/monitoring_metric_descriptor.html.markdown
  website/docs/r/monitoring_uptime_check_config.html.markdown
  website/docs/r/os_config_guest_policies.html.markdown
  website/docs/r/redis_instance.html.markdown
  website/docs/r/security_scanner_scan_config.html.markdown
  website/docs/r/storage_hmac_key.html.markdown
Labels: documentation, size/XL

#2298 Upstream changes to google_compute_global_network_endpoint docs
  .changelog/3776.txt
  website/docs/r/compute_global_network_endpoint.html.markdown
Labels: documentation, size/XS

#2300 Add explicit provider to beta example
  .changelog/3779.txt
  google-beta/resource_filestore_instance_generated_test.go
  website/docs/r/filestore_instance.html.markdown
Labels: size/XS

#2301 Fix description for attribute import_custom_routes
  .changelog/3777.txt
  website/docs/r/compute_network_peering.html.markdown
Labels: documentation, size/XS

#2302 Add error checking to location load in endpoints service
  .changelog/3781.txt
  google-beta/resource_endpoints_service.go
Labels: size/XS

#2303 Add the `google_dataflow_flex_template_job` resource
  .changelog/3772.txt
  google-beta/provider.go
  google-beta/resource_dataflow_flex_template_job.go
  google-beta/resource_dataflow_flex_template_job_test.go
  website/docs/r/dataflow_flex_template_job.html.markdown
  website/google.erb
Labels: documentation, size/XL

#2304 Backend service support for internet NEG backend
  .changelog/3782.txt
  google-beta/resource_compute_backend_service.go
  google-beta/resource_compute_backend_service_generated_test.go
  website/docs/r/compute_backend_service.html.markdown
Labels: documentation, size/L

#2299 3.32.0 changelog
  CHANGELOG.md
Labels: size/XS

#2306 Bump google_project timeout
  .changelog/3784.txt
  google-beta/resource_google_project.go
  website/docs/r/google_project.html.markdown
Labels: documentation, size/XS

#2307 remove a confusing form of dataset id in a doc
  .changelog/3778.txt
  website/docs/r/bigquery_dataset_iam.html.markdown
Labels: documentation, size/XS

#2308 Make defaultClientScopes publicly accessible
  .changelog/3785.txt
  google-beta/config.go
Labels: size/XS

#2309 AD Domain resource added
  .changelog/3735.txt
  google-beta/active_directory_operation.go
  google-beta/config.go
  google-beta/provider.go
  google-beta/resource_active_directory_domain.go
  google-beta/resource_active_directory_domain_generated_test.go
  google-beta/resource_active_directory_domain_sweeper_test.go
  google-beta/resource_active_directory_domain_update_test.go
  google-beta/validation.go
  website/docs/r/active_directory_domain.html.markdown
  website/google.erb
Labels: documentation, size/XL

#2310 add firewall logging controls
  .changelog/3780.txt
  google-beta/resource_compute_firewall.go
  google-beta/resource_compute_firewall_test.go
  website/docs/r/compute_firewall.html.markdown
Labels: documentation, size/L

#2311 Add support for cloudrun ports
  .changelog/3748.txt
  google-beta/resource_cloud_run_service.go
  google-beta/resource_cloud_run_service_test.go
  website/docs/r/cloud_run_service.html.markdown
Labels: documentation, size/L

#2312 Update Google service account docs to display correct public key type
  .changelog/3787.txt
  website/docs/d/service_account_key.html.markdown
  website/docs/r/google_service_account_key.html.markdown
Labels: documentation, size/XS

#2313 Update Bigtable Num of Clusters Block Docs
  .changelog/3792.txt
  google-beta/resource_bigtable_instance.go
  website/docs/r/bigtable_instance.html.markdown
Labels: documentation, size/XS

#2314 Use proper prefix inside router_interface test
  .changelog/3795.txt
  google-beta/resource_compute_router_interface_test.go
Labels: size/XS

#2316 Fix bug: diff being detected for source_repo_repository even when there are no changes
  .changelog/3786.txt
  google-beta/resource_source_repo_repository.go
Labels: size/XS

#2317 Fix colon in doc notes
  .changelog/3796.txt
  google-beta/resource_cloud_scheduler_job.go
  google-beta/resource_compute_forwarding_rule.go
  google-beta/resource_deployment_manager_deployment.go
  website/docs/d/kms_secret.html.markdown
  website/docs/d/kms_secret_ciphertext.html.markdown
  website/docs/guides/provider_reference.html.markdown
  website/docs/r/app_engine_application.html.markdown
  website/docs/r/bigquery_table.html.markdown
  website/docs/r/bigtable_table.html.markdown
  website/docs/r/cloud_scheduler_job.html.markdown
  website/docs/r/compute_forwarding_rule.html.markdown
  website/docs/r/deployment_manager_deployment.html.markdown
  website/docs/r/kms_secret_ciphertext.html.markdown
  website/docs/r/spanner_database_iam.html.markdown
  website/docs/r/sql_database_instance.html.markdown
Labels: documentation, size/S

#2318 Bump Bigtable version from 1.1.0 to 1.5.0
  go.mod
  go.sum
Labels: size/XS

#2319 Add tests for DICOM store pubsub topic removal.
  .changelog/3442.txt
  go.mod
  go.sum
  google-beta/resource_healthcare_dicom_store_test.go
  google-beta/resource_healthcare_fhir_store.go
  website/docs/r/healthcare_fhir_store.html.markdown
Labels: documentation, size/M

#2320 Mask GKE Sandbox-specific labels and taints
  .changelog/3749.txt
  google-beta/node_config.go
  google-beta/resource_container_cluster_test.go
  google-beta/resource_container_node_pool_test.go
Labels: size/L

#2321 Set context early on in LoadAndValidate to prevent NPE
  .changelog/3800.txt
  google-beta/config.go
Labels: size/XS

#2322 Add a random string to ad directory so tests can be run in parallel
  .changelog/3802.txt
  google-beta/resource_active_directory_domain_update_test.go
Labels: size/XS
