Repository hashicorp/terraform-provider-google-beta, pull requests merged in 2020-01, with the labels that each got.

#1571 Use a real project for billing budget test
  google-beta/resource_billing_budget_generated_test.go
  website/docs/r/billing_budget.html.markdown
Labels: changelog: no-release-note, documentation, size/XS

#1572 Try to clarify scheduler docs on pubsub
  google-beta/resource_cloud_scheduler_job.go
  google-beta/resource_cloud_scheduler_job_generated_test.go
  website/docs/r/cloud_scheduler_job.html.markdown
Labels: changelog: no-release-note, documentation, size/XS

#1573 Sweeper names for VPN tunnel tests resources
  google-beta/resource_compute_vpn_tunnel_test.go
Labels: documentation, size/M

#1576 remove redundant ConflictsWith from instance_template.name_prefix
  google-beta/resource_compute_instance_template.go
Labels: size/XS

#1577 mark vpc_access_connector.network as required
  google-beta/resource_vpc_access_connector.go
  website/docs/r/vpc_access_connector.html.markdown
Labels: documentation, size/XS

#1578 Rewrite TestAccProviderUserProjectOverride to use Pubsub API instead …
  google-beta/provider_test.go
Labels: changelog: no-release-note, size/S

#1579 Set name attribute on compute_subnetwork data source
  google-beta/data_source_google_compute_subnetwork.go
  google-beta/data_source_google_compute_subnetwork_test.go
Labels: size/XS

#1583 Catch up sweepers that didn't get generated
  google-beta/resource_identity_platform_default_supported_idp_config_sweeper_test.go
  google-beta/resource_identity_platform_inbound_saml_config_sweeper_test.go
  google-beta/resource_identity_platform_oauth_idp_config_sweeper_test.go
  google-beta/resource_identity_platform_tenant_default_supported_idp_config_sweeper_test.go
  google-beta/resource_identity_platform_tenant_inbound_saml_config_sweeper_test.go
  google-beta/resource_identity_platform_tenant_oauth_idp_config_sweeper_test.go
  google-beta/resource_identity_platform_tenant_sweeper_test.go
Labels: size/XL

#1590 Vendor new BT rev
  go.mod
  go.sum
  vendor/cloud.google.com/go/bigtable/CHANGES.md
  vendor/cloud.google.com/go/bigtable/admin.go
  vendor/cloud.google.com/go/bigtable/go.mod
  vendor/cloud.google.com/go/bigtable/go.sum
  vendor/golang.org/x/exp/apidiff/README.md
  vendor/golang.org/x/exp/apidiff/apidiff.go
  vendor/golang.org/x/exp/apidiff/report.go
  vendor/golang.org/x/exp/cmd/apidiff/main.go
  vendor/golang.org/x/lint/README.md
  vendor/golang.org/x/tools/go/analysis/analysis.go
  vendor/golang.org/x/tools/go/analysis/diagnostic.go
  vendor/golang.org/x/tools/go/analysis/passes/asmdecl/asmdecl.go
  vendor/golang.org/x/tools/go/analysis/passes/assign/assign.go
  vendor/golang.org/x/tools/go/analysis/passes/atomic/atomic.go
  vendor/golang.org/x/tools/go/analysis/passes/atomicalign/atomicalign.go
  vendor/golang.org/x/tools/go/analysis/passes/bools/bools.go
  vendor/golang.org/x/tools/go/analysis/passes/composite/composite.go
  vendor/golang.org/x/tools/go/analysis/passes/copylock/copylock.go
  vendor/golang.org/x/tools/go/analysis/passes/httpresponse/httpresponse.go
  vendor/golang.org/x/tools/go/analysis/passes/inspect/inspect.go
  vendor/golang.org/x/tools/go/analysis/passes/loopclosure/loopclosure.go
  vendor/golang.org/x/tools/go/analysis/passes/lostcancel/lostcancel.go
  vendor/golang.org/x/tools/go/analysis/passes/nilfunc/nilfunc.go
  vendor/golang.org/x/tools/go/analysis/passes/printf/printf.go
  vendor/golang.org/x/tools/go/analysis/passes/shadow/shadow.go
  vendor/golang.org/x/tools/go/analysis/passes/shift/shift.go
  vendor/golang.org/x/tools/go/analysis/passes/stdmethods/stdmethods.go
  vendor/golang.org/x/tools/go/analysis/passes/unreachable/unreachable.go
  vendor/golang.org/x/tools/go/analysis/passes/unsafeptr/unsafeptr.go
  vendor/golang.org/x/tools/go/analysis/validate.go
  vendor/golang.org/x/tools/go/gcexportdata/gcexportdata.go
  vendor/golang.org/x/tools/go/internal/gcimporter/bimport.go
  vendor/golang.org/x/tools/go/internal/gcimporter/iexport.go
  vendor/golang.org/x/tools/go/internal/gcimporter/iimport.go
  vendor/golang.org/x/tools/go/packages/golist.go
  vendor/golang.org/x/tools/go/packages/golist_overlay.go
  vendor/golang.org/x/tools/go/packages/packages.go
  vendor/golang.org/x/tools/go/ssa/func.go
  vendor/golang.org/x/tools/internal/gopathwalk/walk.go
  vendor/golang.org/x/tools/internal/imports/fix.go
  vendor/golang.org/x/tools/internal/imports/mod.go
  vendor/golang.org/x/tools/internal/imports/mod_cache.go
  vendor/golang.org/x/tools/internal/span/parse.go
  vendor/golang.org/x/tools/internal/span/span.go
  vendor/golang.org/x/tools/internal/span/token.go
  vendor/golang.org/x/tools/internal/span/token111.go
  vendor/golang.org/x/tools/internal/span/token112.go
  vendor/golang.org/x/tools/internal/span/uri.go
  vendor/golang.org/x/tools/internal/span/utf16.go
  vendor/google.golang.org/genproto/googleapis/api/annotations/resource.pb.go
  vendor/google.golang.org/genproto/googleapis/bigtable/admin/v2/bigtable_instance_admin.pb.go
  vendor/google.golang.org/genproto/googleapis/bigtable/admin/v2/bigtable_table_admin.pb.go
  vendor/google.golang.org/genproto/googleapis/bigtable/v2/bigtable.pb.go
  vendor/google.golang.org/genproto/googleapis/iam/v1/iam_policy.pb.go
  vendor/google.golang.org/genproto/googleapis/iam/v1/policy.pb.go
  vendor/google.golang.org/genproto/googleapis/longrunning/operations.pb.go
  vendor/modules.txt
Labels: dependencies, size/XXL

#1585 mark removed fields as computed
  google-beta/data_source_google_container_engine_versions.go
  google-beta/resource_compute_forwarding_rule.go
  google-beta/resource_compute_instance_group_manager.go
  google-beta/resource_compute_network_peering.go
  google-beta/resource_compute_region_instance_group_manager.go
  google-beta/resource_container_cluster.go
  google-beta/resource_container_node_pool.go
  google-beta/resource_google_service_account_key.go
  google-beta/resource_monitoring_alert_policy.go
  google-beta/resource_monitoring_uptime_check_config.go
  google-beta/resource_storage_bucket.go
Labels: size/S

#1591 fix google_bigquery_table encryption_configuration modifications
  google-beta/resource_bigquery_table.go
Labels: size/XS

#1580 Terraform Data Source to retrieve SQL instance CA certs
  google-beta/data_source_google_sql_ca_certs.go
  google-beta/data_source_google_sql_ca_certs_test.go
  google-beta/provider.go
  google-beta/resource_sql_database_instance.go
  website/docs/d/datasource_google_sql_ca_certs.html.markdown
Labels: documentation, size/L

#1587 Allow domain mapping to succeed if DNS is pending
  google-beta/cloudrun_polling.go
Labels: size/XS

#1592 Update google_folder import description
  website/docs/r/google_folder.html.markdown
Labels: documentation, size/XS

#1586 add google_kms_secret_ciphertext resource, deprecate datasource
  google-beta/data_source_google_kms_secret_ciphertext.go
  google-beta/data_source_google_kms_secret_ciphertext_test.go
  google-beta/provider.go
  google-beta/resource_kms_secret_ciphertext.go
  google-beta/resource_kms_secret_ciphertext_test.go
  website/docs/d/google_kms_secret_ciphertext.html.markdown
  website/docs/r/compute_backend_bucket_signed_url_key.html.markdown
  website/docs/r/compute_backend_service_signed_url_key.html.markdown
  website/docs/r/kms_secret_ciphertext.html.markdown
  website/google.erb
Labels: documentation, size/XL

#1589 Allow add/removing Bigtable clusters
  google-beta/resource_bigtable_instance.go
  google-beta/resource_bigtable_instance_test.go
  website/docs/r/bigtable_instance.html.markdown
Labels: documentation, size/L

#1588 Add bootstrapped test networks for service networking tests
  google-beta/bootstrap_utils_test.go
  google-beta/resource_service_networking_connection_test.go
  google-beta/resource_sql_database_instance_test.go
Labels: size/L

#1595 Add bootstrapped test networks for service networking tests
  .changelog/2920.txt
  google-beta/bootstrap_utils_test.go
  google-beta/cloudrun_polling.go
  google-beta/data_source_google_kms_secret_ciphertext.go
  google-beta/data_source_google_kms_secret_ciphertext_test.go
  google-beta/provider.go
  google-beta/resource_kms_secret_ciphertext.go
  google-beta/resource_kms_secret_ciphertext_test.go
  google-beta/resource_service_networking_connection_test.go
  google-beta/resource_sql_database_instance_test.go
  website/docs/d/google_kms_secret_ciphertext.html.markdown
  website/docs/r/compute_backend_bucket_signed_url_key.html.markdown
  website/docs/r/compute_backend_service_signed_url_key.html.markdown
  website/docs/r/google_folder.html.markdown
  website/docs/r/kms_secret_ciphertext.html.markdown
  website/google.erb
Labels: documentation, size/XL

#1596 fix docs for google_bigquery_default_service_account
  website/docs/d/google_bigquery_default_service_account.html.markdown
Labels: changelog: no-release-note, documentation, size/XS

#1593 add lifecycle_config to dataproc_cluster.cluster_config
  google-beta/resource_dataproc_cluster.go
  google-beta/resource_dataproc_cluster_test.go
  google-beta/resource_sql_database_instance_test.go
Labels: size/L

#1600 Add warnings about custom role format for IAM bindings
  google-beta/resource_iam_binding.go
  website/docs/r/bigtable_instance_iam.html.markdown
  website/docs/r/binary_authorization_attestor_iam.html.markdown
  website/docs/r/cloud_run_service_iam.html.markdown
  website/docs/r/cloudfunctions_cloud_function_iam.html.markdown
  website/docs/r/compute_instance_iam.html.markdown
  website/docs/r/compute_subnetwork_iam.html.markdown
  website/docs/r/dataproc_cluster_iam.html.markdown
  website/docs/r/dataproc_job_iam.html.markdown
  website/docs/r/google_billing_account_iam_member.html.markdown
  website/docs/r/google_folder_iam_binding.html.markdown
  website/docs/r/google_folder_iam_member.html.markdown
  website/docs/r/google_organization_iam_binding.md
  website/docs/r/google_organization_iam_member.html.markdown
  website/docs/r/google_project_iam.html.markdown
  website/docs/r/google_service_account_iam.html.markdown
  website/docs/r/healthcare_dataset_iam.html.markdown
  website/docs/r/iap_app_engine_service_iam.html.markdown
  website/docs/r/iap_app_engine_version_iam.html.markdown
  website/docs/r/iap_web_backend_service_iam.html.markdown
  website/docs/r/iap_web_iam.html.markdown
  website/docs/r/iap_web_type_app_engine_iam.html.markdown
  website/docs/r/iap_web_type_compute_iam.html.markdown
  website/docs/r/pubsub_subscription_iam.html.markdown
  website/docs/r/pubsub_topic_iam.html.markdown
  website/docs/r/runtimeconfig_config_iam.html.markdown
  website/docs/r/sourcerepo_repository_iam.html.markdown
  website/docs/r/spanner_database_iam.html.markdown
  website/docs/r/spanner_instance_iam.html.markdown
  website/docs/r/storage_bucket_iam.html.markdown
Labels: changelog: no-release-note, documentation, size/M

#1601 Add mutex to peering create
  google-beta/resource_compute_network_peering.go
Labels: size/S

#1611 Add default_if_empty for quic_override
  google-beta/resource_compute_target_https_proxy.go
  google-beta/resource_sql_database_instance_test.go
Labels: size/XS

#1613 Add default_if_empty to google_compute_router_nat defaults
  google-beta/resource_access_context_manager_access_level.go
  google-beta/resource_access_context_manager_service_perimeter.go
  google-beta/resource_compute_address.go
  google-beta/resource_compute_router_nat.go
  google-beta/resource_compute_target_https_proxy.go
  google-beta/resource_dns_managed_zone.go
  google-beta/resource_logging_metric.go
Labels: size/S

#1615 Allow for retries of single requests in a batch on failure
  google-beta/batcher.go
  google-beta/batcher_test.go
  google-beta/iam_batching.go
  google-beta/resource_google_project_service.go
  google-beta/serviceusage_batching.go
Labels: size/XL

#1603 Add validation for start_time to resource_policy
  google-beta/resource_compute_resource_policy.go
  google-beta/validation.go
  website/docs/r/compute_resource_policy.html.markdown
Labels: documentation, size/S

#1622 Explicitly set labels to nil for Alert Policy
  google-beta/resource_monitoring_alert_policy.go
Labels: size/XS

#1173 Make binding optional for iam_policy data source
  google-beta/data_source_google_iam_policy.go
  google-beta/iam_binary_authorization_attestor_generated_test.go
  google-beta/iam_cloud_functions_cloud_function_generated_test.go
  google-beta/iam_cloud_run_service_generated_test.go
  google-beta/iam_compute_instance_generated_test.go
  google-beta/iam_compute_subnetwork_generated_test.go
  google-beta/iam_iap_app_engine_service_generated_test.go
  google-beta/iam_iap_app_engine_version_generated_test.go
  google-beta/iam_iap_web_backend_service_generated_test.go
  google-beta/iam_iap_web_generated_test.go
  google-beta/iam_iap_web_type_app_engine_generated_test.go
  google-beta/iam_iap_web_type_compute_generated_test.go
  google-beta/iam_pubsub_topic_generated_test.go
  google-beta/iam_runtime_config_config_generated_test.go
  google-beta/iam_source_repo_repository_generated_test.go
  google-beta/iam_storage_bucket_generated_test.go
Labels: size/XL

#1616 fix broken link
  website/docs/d/google_kms_secret_ciphertext.html.markdown
Labels: changelog: no-release-note, documentation, size/XS

#1627 Add sidebar entry for google_sql_ca_certs
  website/google.erb
Labels: documentation, size/XS

#1629 Diff suppress timestamp for dataproc cluster autoDeleteTime
  google-beta/resource_dataproc_cluster.go
  google-beta/utils.go
  website/docs/r/dataproc_cluster.html.markdown
Labels: changelog: no-release-note, documentation, size/S

#1630 Allow target to accept other resource types
  google-beta/resource_compute_forwarding_rule.go
  google-beta/resource_compute_forwarding_rule_generated_test.go
  google-beta/resource_compute_region_backend_service.go
  google-beta/resource_compute_region_backend_service_generated_test.go
  website/docs/r/compute_forwarding_rule.html.markdown
  website/docs/r/compute_region_backend_service.html.markdown
Labels: documentation, size/XL

#1636 Fix idp marketplace links
  website/docs/r/identity_platform_default_supported_idp_config.html.markdown
  website/docs/r/identity_platform_inbound_saml_config.html.markdown
  website/docs/r/identity_platform_oauth_idp_config.html.markdown
  website/docs/r/identity_platform_tenant.html.markdown
  website/docs/r/identity_platform_tenant_default_supported_idp_config.html.markdown
  website/docs/r/identity_platform_tenant_inbound_saml_config.html.markdown
  website/docs/r/identity_platform_tenant_oauth_idp_config.html.markdown
Labels: documentation, size/S

#1637 Fix minor word duplication
  google-beta/resource_monitoring_notification_channel.go
  website/docs/r/monitoring_notification_channel.html.markdown
Labels: documentation, size/XS

#1635 Make names of resources in pubsub iam tests sweepable
  google-beta/resource_pubsub_subscription_iam_test.go
  google-beta/resource_pubsub_topic_iam_test.go
Labels: changelog: no-release-note, size/S

#1633 Change max dispatches from int to double
  google-beta/resource_cloud_tasks_queue.go
  website/docs/r/cloud_tasks_queue.html.markdown
Labels: documentation, size/XS

#1634 Merge pull request #1634 from modular-magician/codegen-pr-2965
  google-beta/data_source_google_project_test.go
  google-beta/provider_test.go
  google-beta/resource_app_engine_firewall_rule_generated_test.go
  google-beta/resource_compute_instance_template_test.go
  google-beta/resource_compute_project_default_network_tier_test.go
  google-beta/resource_compute_project_metadata_test.go
  google-beta/resource_compute_shared_vpc_test.go
  google-beta/resource_container_cluster_test.go
  google-beta/resource_google_project_iam_audit_config_test.go
  google-beta/resource_google_project_iam_binding_test.go
  google-beta/resource_google_project_iam_member_test.go
  google-beta/resource_google_project_iam_policy_test.go
  google-beta/resource_google_project_service_test.go
  google-beta/resource_google_project_test.go
  google-beta/resource_kms_crypto_key_test.go
  google-beta/resource_kms_key_ring_test.go
  google-beta/resource_usage_export_bucket_test.go
  website/docs/r/app_engine_firewall_rule.html.markdown
Labels: documentation, size/L

#1638 Fix identity platform default_supported_idp_config. Needs separate id…
  google-beta/resource_identity_platform_default_supported_idp_config.go
  google-beta/resource_identity_platform_default_supported_idp_config_sweeper_test.go
  google-beta/resource_identity_platform_default_supported_idp_config_test.go
  google-beta/resource_identity_platform_tenant_default_supported_idp_config.go
  google-beta/resource_identity_platform_tenant_default_supported_idp_config_generated_test.go
  google-beta/resource_identity_platform_tenant_default_supported_idp_config_sweeper_test.go
  google-beta/resource_identity_platform_tenant_default_supported_idp_config_test.go
  website/docs/r/identity_platform_default_supported_idp_config.html.markdown
  website/docs/r/identity_platform_tenant_default_supported_idp_config.html.markdown
Labels: documentation, size/L

#1641 Merge pull request #1641 from modular-magician/codegen-pr-2973
  google-beta/resource_compute_shared_vpc_test.go
  google-beta/resource_container_cluster_test.go
Labels: size/XS

#1644 Revert capacity_scaler back to O+C
  google-beta/resource_compute_region_backend_service.go
  google-beta/resource_sql_database_instance_test.go
Labels: size/XS

#1628 updates for first-gen to second-gen upgrade sql_database_instance
  google-beta/resource_sql_database_instance.go
  google-beta/resource_sql_database_instance_test.go
  website/docs/r/sql_database_instance.html.markdown
Labels: documentation, size/L

#1642 Remove iam bindings from cloudIoT registry tests
  google-beta/resource_cloudiot_registry_test.go
Labels: changelog: no-release-note, size/XS

#1640 Cloud Function - fix docs and test, fix regexp for name
  google-beta/resource_cloudfunctions_function.go
  google-beta/resource_cloudfunctions_function_test.go
  google-beta/resource_sql_database_instance_test.go
  website/docs/d/datasource_cloudfunctions_function.html.markdown
  website/docs/r/cloudfunctions_function.html.markdown
Labels: documentation, size/S

#1646 add description field to service_account for Terraform
  google-beta/resource_google_service_account.go
  google-beta/resource_google_service_account_test.go
  website/docs/r/google_service_account.html.markdown
Labels: documentation, size/XS

#1643 Adding new data source for resource_monitoring_notification_channel.
  google-beta/data_source_monitoring_notification_channel.go
  google-beta/data_source_monitoring_notification_channel_test.go
  google-beta/provider.go
  website/docs/d/datasource_monitoring_notification_channel.html.markdown
  website/google.erb
Labels: documentation, size/XL

#1632 Fix link in docs - upstream of TPG#5386
  google-beta/resource_cloud_build_trigger.go
  website/docs/r/cloudbuild_trigger.html.markdown
Labels: changelog: no-release-note, documentation, size/XS

#1648 Add separate test for enable k8s alpha
  google-beta/resource_container_cluster_test.go
Labels: changelog: no-release-note, size/S

#1650 Mark network peering routes fields GA
  google-beta/resource_compute_network_peering.go
  google-beta/resource_compute_network_peering_test.go
  website/docs/r/compute_network_peering.html.markdown
Labels: documentation, size/S

#1651 update provider example in index.html
  website/docs/index.html.markdown
Labels: documentation, size/XS

#1639 release-note:enhancement added attempt deadline to scheduler resource
  google-beta/resource_cloud_scheduler_job.go
  google-beta/resource_cloud_scheduler_job_generated_test.go
  website/docs/r/cloud_scheduler_job.html.markdown
Labels: documentation, size/M

#1626 add defaultEventBasedHold to storage buckets
  google-beta/resource_storage_bucket.go
  google-beta/resource_storage_bucket_test.go
Labels: size/S

#1652 Add `google_compute_network_peering_routes_config` to configure GKE-managed peerings
  google-beta/provider.go
  google-beta/resource_compute_network_peering_routes_config.go
  google-beta/resource_compute_network_peering_routes_config_generated_test.go
  website/docs/r/compute_network_peering_routes_config.html.markdown
  website/google.erb
Labels: documentation, size/XL

#1656 add missing sidebar entries
  website/docs/r/google_organization_iam_binding.html.markdown
  website/google.erb
Labels: documentation, size/S

#1655 Expand boot disk name to full name during instance from template creation
  google-beta/resource_compute_instance_from_template.go
  google-beta/resource_compute_instance_from_template_test.go
Labels: size/XS

#1653 Fix error regexp for storage bucket website test
  google-beta/resource_storage_bucket_test.go
Labels: changelog: no-release-note, size/XS

#1654 Autogenerate IAM resources for IAP Tunnel Instance
  google-beta/iam_iap_tunnel_instance.go
  google-beta/iam_iap_tunnel_instance_generated_test.go
  google-beta/provider.go
  google-beta/resource_iap_tunnel_instance_iam_test.go
  website/docs/r/google_iap_tunnel_instance_iam.html.markdown
  website/docs/r/iap_tunnel_instance_iam.html.markdown
  website/google.erb
Labels: documentation, size/XXL

#1366 Fix documentation and example of storage notifications
  website/docs/r/storage_notification.html.markdown
Labels: documentation, size/XS

#1659 Fix sandbox_config in cluster html
  website/docs/r/container_cluster.html.markdown
Labels: changelog: no-release-note, documentation, size/XS

#1658 Instance encrypted disk start
  google-beta/compute_instance_helpers.go
  google-beta/resource_compute_instance.go
  google-beta/resource_compute_instance_test.go
Labels: size/L

#1661 TestAccContainerCluster_sharedVpc fix: Use shorter random string for …
  google-beta/resource_container_cluster_test.go
Labels: size/XS

#1664 Add interconnect attachment state waiting
  google-beta/resource_compute_interconnect_attachment.go
  google-beta/resource_compute_interconnect_attachment_sweeper_test.go
  website/docs/r/compute_interconnect_attachment.html.markdown
Labels: documentation, size/L

#1663 Move container cluster binary authorization to ga.
  google-beta/resource_container_cluster.go
  website/docs/r/container_cluster.html.markdown
Labels: documentation, size/S

#1660 Output data fusion instance service account
  google-beta/resource_data_fusion_instance.go
  website/docs/r/data_fusion_instance.html.markdown
Labels: documentation, size/XS

#1625 Improve storage bucket acls
  google-beta/resource_storage_bucket_acl.go
  google-beta/resource_storage_bucket_acl_test.go
  website/docs/r/storage_bucket_access_control.html.markdown
  website/docs/r/storage_bucket_acl.html.markdown
Labels: documentation, size/M

#1667 Mark GKE peering_name GA
  google-beta/resource_container_cluster.go
Labels: changelog: no-release-note, size/XS

#1670 Revert 2955 as it broke tests.
  google-beta/resource_storage_bucket_acl.go
Labels: changelog: no-release-note, size/XS

#1666 Add user labels and labels to monitoring notification channel DS
  google-beta/data_source_monitoring_notification_channel.go
  google-beta/data_source_monitoring_notification_channel_test.go
  website/docs/d/datasource_monitoring_notification_channel.html.markdown
Labels: documentation, size/L

#1675 Clarify resource policy attachement doesn't support region disks
  website/docs/r/compute_disk_resource_policy_attachment.html.markdown
Labels: documentation, size/XS

#1674 Avoid permadiff trying to remove project-owners
  google-beta/resource_storage_bucket_acl.go
Labels: size/XS

#1673 update node pool docs to include missing attributes
  website/docs/r/container_node_pool.html.markdown
Labels: documentation, size/XS

#1679 cluster_autoscaling.auto_provisioning_defaults.* -> optional/computed
  google-beta/resource_container_cluster.go
Labels: size/XS

#1682 Fix terraform doc website rendering
  .changelog/2902.txt
  website/docs/r/compute_instance_from_template.html.markdown
Labels: documentation, size/XS

#1683 Fixed file permissions
  .changelog/2877.txt
  .changelog/2902.txt
  website/docs/r/app_engine_application.html.markdown
  website/docs/r/google_project.html.markdown
Labels: documentation, size/XS

#1684 Add error if boot disk specified on non-first disk in instance template
  .changelog/2877.txt
  .changelog/2996.txt
  google-beta/resource_compute_instance_template.go
Labels: size/XS

#1685 Add support for new beta non-rfc fields in dns managed zone
  .changelog/2996.txt
  .changelog/3026.txt
  google-beta/resource_dns_managed_zone.go
  google-beta/resource_dns_managed_zone_test.go
  website/docs/r/dns_managed_zone.html.markdown
Labels: documentation, size/M

#1686 Move IAM resources to their pre-MM namespaces
  .changelog/3026.txt
  .changelog/3029.txt
Labels: size/XS

#1687 Highlight Legacy Stackdriver and New Stackdriver for GKE in documentation
  .changelog/3018.txt
  .changelog/3029.txt
  google-beta/resource_sql_database_instance_test.go
  website/docs/r/container_cluster.html.markdown
Labels: documentation, size/XS

#1688 Additional note: role_id must be camel case
  .changelog/3018.txt
  .changelog/3032.txt
  google-beta/resource_sql_database_instance_test.go
  website/docs/r/google_project_iam_custom_role.html.markdown
Labels: documentation, size/XS

#1689 The beta API is deprecated - move to ga only.
  .changelog/3027.txt
  .changelog/3032.txt
  google-beta/config.go
  google-beta/resource_binary_authorization_attestor.go
  google-beta/resource_binary_authorization_attestor_sweeper_test.go
  google-beta/resource_sql_database_instance_test.go
Labels: size/M

#1691 updated expiration_time in tests to use year < 2038, undeprecated it
  .changelog/3030.txt
  .changelog/3034.txt
  google-beta/resource_sql_database_instance.go
  google-beta/resource_sql_database_instance_test.go
  website/docs/r/sql_database_instance.html.markdown
Labels: documentation, size/XS

#1692 Move expr to GA
  .changelog/3028.txt
  .changelog/3034.txt
Labels: size/XS

#1693 Exclude various generation types from OiCS repo
  .changelog/3028.txt
  .changelog/3036.txt
Labels: size/XS

#1694 update bigquery_options to be O+C
  .changelog/3035.txt
  .changelog/3036.txt
  google-beta/resource_logging_sink.go
Labels: size/XS

#1695 Don't delete old changelog entries.
  .changelog/3035.txt
  .changelog/3038.txt
Labels: size/XS

#1696 Fix notification channel test
  .changelog/3037.txt
  google-beta/data_source_monitoring_notification_channel_test.go
Labels: size/XS

#1698 fix dataproc cluster with accelerators test
  .changelog/3042.txt
  google-beta/resource_dataproc_cluster_test.go
Labels: size/XS

#1699 Upstream additional validation for cloud router.
  .changelog/3045.txt
  google-beta/resource_compute_router.go
  google-beta/validation.go
Labels: size/XS

#1700 Bootstrap network for redis tests
  .changelog/3039.txt
  google-beta/bootstrap_utils_test.go
  google-beta/resource_redis_instance_generated_test.go
  google-beta/resource_service_networking_connection_test.go
  google-beta/resource_sql_database_instance_test.go
  website/docs/r/redis_instance.html.markdown
Labels: documentation, size/S

#1701 Forcing ASN validation to int64
  .changelog/3056.txt
  google-beta/resource_compute_router_test.go
  google-beta/validation.go
Labels: size/XS

#1702 Fix cluster tests versions
  .changelog/3051.txt
  google-beta/resource_container_cluster_test.go
Labels: size/XS

#1703 Add support for IAP in google_app_engine_application resource
  .changelog/3058.txt
  google-beta/resource_app_engine_application.go
  google-beta/resource_app_engine_application_test.go
Labels: size/M

#1704 handle case where bigtable development instances have one node
  .changelog/3057.txt
  google-beta/resource_bigtable_instance.go
Labels: size/XS

#1705 update container_cluster.html.markdown and storage_bucket.html.markdown
  .changelog/3041.txt
  website/docs/r/container_cluster.html.markdown
  website/docs/r/storage_bucket.html.markdown
Labels: documentation, size/XS

#1706 Add Dialogflow Agent resource
  .changelog/3014.txt
  google-beta/config.go
  google-beta/provider.go
  google-beta/resource_dialogflow_agent.go
  google-beta/resource_dialogflow_agent_generated_test.go
  google-beta/resource_dialogflow_agent_test.go
  website/docs/r/dialogflow_agent.html.markdown
Labels: documentation, size/XL

#1707 Add conditional validation, allow sending empty capacity scaler for regional backend service
  .changelog/3033.txt
  google-beta/resource_compute_forwarding_rule_generated_test.go
  google-beta/resource_compute_region_backend_service.go
  google-beta/resource_compute_region_backend_service_generated_test.go
  google-beta/resource_compute_region_backend_service_test.go
  google-beta/utils.go
  website/docs/r/compute_forwarding_rule.html.markdown
  website/docs/r/compute_region_backend_service.html.markdown
Labels: documentation, size/XL

#1709 update tests and examples that are still using first gen sql instances
  .changelog/3062.txt
  google-beta/resource_cloud_run_service_generated_test.go
  google-beta/resource_sql_database_generated_test.go
  google-beta/resource_sql_database_instance_test.go
  google-beta/resource_sql_database_test.go
  google-beta/resource_sql_ssl_cert_test.go
  google-beta/resource_sql_user_test.go
  website/docs/d/google_kms_secret.html.markdown
  website/docs/r/cloud_run_service.html.markdown
  website/docs/r/sql_database.html.markdown
  website/docs/r/sql_ssl_cert.html.markdown
  website/docs/r/sql_user.html.markdown
Labels: documentation, size/S

#1710 Fix post create lint error
  .changelog/3064.txt
  google-beta/resource_dialogflow_agent.go
Labels: size/XS
