Repository hashicorp/terraform-provider-google-beta, pull requests merged in 2020-08, with the labels that each got.

#2315 Add `3.33.0` changelog
  CHANGELOG.md
Labels: size/XS

#2323 Add persistence_iam_identity to Redis Instance
  .changelog/3805.txt
  google-beta/resource_redis_instance.go
  google-beta/resource_redis_instance_generated_test.go
  website/docs/r/redis_instance.html.markdown
Labels: documentation, size/S

#2324 Make project field in google_compute_network_endpoint_group ds optional
  .changelog/3801.txt
  google-beta/data_source_compute_network_endpoint_group.go
Labels: size/XS

#2325 Add labels to Bigtable instance
  .changelog/3793.txt
  google-beta/resource_bigtable_instance.go
  google-beta/resource_bigtable_instance_test.go
  website/docs/r/bigtable_instance.html.markdown
Labels: documentation, size/S

#2326 Update compute_security_policy docs to match src_ip_ranges constraints
  .changelog/3808.txt
  google-beta/resource_compute_security_policy.go
  website/docs/r/compute_security_policy.html.markdown
Labels: documentation, size/XS

#2328 Bigtable: Refer to a functional role for bigtable
  .changelog/3811.txt
  website/docs/r/bigtable_instance_iam.html.markdown
Labels: documentation, size/XS

#2329 Fix description for ip_allocation_policy.cluster_secondary_range_name…
  .changelog/3810.txt
  google-beta/resource_container_cluster.go
Labels: size/XS

#2330 add warning in spanner db doc
  .changelog/3812.txt
  website/docs/r/spanner_database.html.markdown
Labels: documentation, size/XS

#2331 Add google_storage_bucket_object.media_link
  .changelog/3803.txt
  google-beta/data_source_google_storage_bucket_object.go
  google-beta/resource_storage_bucket_object.go
  website/docs/d/storage_bucket_object.html.markdown
  website/docs/r/storage_bucket_object.html.markdown
Labels: documentation, size/XS

#2332 more notebook instance fixes
  .changelog/3815.txt
  google-beta/resource_notebooks_instance.go
Labels: size/XS

#2334 Update google_cloudfunctions_function datasource documentation.
  .changelog/3813.txt
  website/docs/d/cloudfunctions_function.html.markdown
Labels: documentation, size/XS

#2335 Adding Missing Cloud Build Attributes
  .changelog/3627.txt
  google-beta/resource_cloud_build_trigger.go
  google-beta/resource_cloud_build_trigger_generated_test.go
  google-beta/resource_cloudbuild_trigger_test.go
  website/docs/r/cloudbuild_trigger.html.markdown
Labels: documentation, size/XL

#2336 Add additional fields to Memcached Instance
  .changelog/3821.txt
  google-beta/resource_memcache_instance.go
  google-beta/resource_memcache_instance_generated_test.go
  website/docs/r/memcache_instance.html.markdown
Labels: documentation, size/L

#2337 Move shieldedvmconfig -> shieldedinstanceconfig due to rename.
  .changelog/3822.txt
  google-beta/compute_instance_helpers.go
  google-beta/data_source_google_compute_instance.go
  google-beta/resource_compute_instance.go
  google-beta/resource_compute_instance_template.go
Labels: size/M

#2338 add support for point_in_time_recovery for sql instance
  .changelog/3819.txt
  google-beta/resource_sql_database_instance.go
  google-beta/resource_sql_database_instance_test.go
  website/docs/r/sql_database_instance.html.markdown
Labels: documentation, size/M

#2340 Update ospatch's windows update classification field to be an array.
  .changelog/3823.txt
  google-beta/resource_access_context_manager_access_level.go
  google-beta/resource_compute_packet_mirroring.go
  google-beta/resource_dialogflow_intent.go
  google-beta/resource_filestore_instance.go
  google-beta/resource_os_config_patch_deployment.go
  google-beta/resource_os_config_patch_deployment_generated_test.go
  google-beta/resource_security_scanner_scan_config.go
  website/docs/r/access_context_manager_access_level.html.markdown
  website/docs/r/compute_packet_mirroring.html.markdown
  website/docs/r/dialogflow_intent.html.markdown
  website/docs/r/filestore_instance.html.markdown
  website/docs/r/os_config_patch_deployment.html.markdown
  website/docs/r/security_scanner_scan_config.html.markdown
Labels: documentation, size/S

#2341 Remove test that tests legacy behavior which has been removed.
  .changelog/3829.txt
  google-beta/resource_container_cluster_test.go
Labels: size/XS

#2342 Make `iap` field computed
  .changelog/3814.txt
  google-beta/resource_app_engine_application.go
Labels: size/XS

#2343 Promote release_channel to GA for GKE
  .changelog/3834.txt
  google-beta/resource_container_cluster.go
Labels: size/S

#2349 update random provider to use hashicorp org
  go.mod
  go.sum
Labels: size/L

#2351 Revert "update random provider to use hashicorp org"
  go.mod
  go.sum
Labels: size/L

#2352 Revert "updating urls after migrating to hashicorp org"
  .github/CONTRIBUTING.md
  .golangci.yml
  .hashibot.hcl
  GNUmakefile
  go.mod
Labels: size/S

#2350 Promote release_channel_default_version field in data.google_container_engine_versions to GA
  .changelog/3839.txt
  website/docs/d/container_engine_versions.html.markdown
Labels: size/XS

#2344 Convert inboundServices to an enum.
  .changelog/3820.txt
Labels: size/XS

#2348 Add serverless negs
  .changelog/3807.txt
  google-beta/provider.go
  google-beta/resource_compute_region_network_endpoint_group.go
  google-beta/resource_compute_region_network_endpoint_group_generated_test.go
  google-beta/resource_compute_region_network_endpoint_group_sweeper_test.go
  website/docs/r/compute_region_network_endpoint_group.html.markdown
  website/google.erb
Labels: size/XXL

#2354 Fixed validation of service_level_indicator.0.windows_based_sli.0.metric_sum_in_range.0.range.0.max
  .changelog/3826.txt
  google-beta/data_source_google_container_engine_versions.go
  google-beta/resource_monitoring_slo.go
Labels: size/XS

#2355 reconfigure PR template
  .changelog/3841.txt
Labels: size/XS

#2356 add source_image and source_snapshot to google_compute_image
  .changelog/3799.txt
  google-beta/resource_compute_image.go
  google-beta/resource_compute_image_test.go
  website/docs/r/compute_image.html.markdown
Labels: size/L

#2358 Follow redirects so downstreams get merged correctly.
  .changelog/3846.txt
Labels: size/XS

#2359 Adding support for v1 game servers.
  .changelog/3790.txt
  google-beta/data_google_game_services_game_server_deployment_rollout_test.go
  google-beta/resource_game_services_game_server_cluster.go
  google-beta/resource_game_services_game_server_cluster_generated_test.go
  google-beta/resource_game_services_game_server_config.go
  google-beta/resource_game_services_game_server_config_generated_test.go
  google-beta/resource_game_services_game_server_deployment.go
  google-beta/resource_game_services_game_server_deployment_generated_test.go
  google-beta/resource_game_services_game_server_deployment_rollout.go
  google-beta/resource_game_services_game_server_deployment_rollout_generated_test.go
  google-beta/resource_game_services_realm.go
  google-beta/resource_game_services_realm_generated_test.go
  google-beta/resource_game_services_realm_sweeper_test.go
  website/docs/d/game_services_game_server_deployment_rollout.html.markdown
  website/docs/r/game_services_game_server_cluster.html.markdown
  website/docs/r/game_services_game_server_config.html.markdown
  website/docs/r/game_services_game_server_deployment.html.markdown
  website/docs/r/game_services_game_server_deployment_rollout.html.markdown
  website/docs/r/game_services_realm.html.markdown
Labels: size/L

#2357 update links to hashicorp org
  .github/CONTRIBUTING.md
  .golangci.yml
  GNUmakefile
  README.md
  go.mod
  go.sum
  google-beta/config.go
  main.go
Labels: size/S

#2360 migrating google and google-beta repos to hashicorp org
  .changelog/3835.txt
  google-beta/data_source_google_storage_bucket_object.go
  google-beta/error_retry_predicates.go
  google-beta/iam.go
  google-beta/resource_app_engine_application.go
  google-beta/resource_compute_instance_template.go
  google-beta/resource_compute_security_policy.go
  google-beta/resource_compute_security_policy_test.go
  google-beta/resource_container_cluster.go
  google-beta/resource_google_organization_policy.go
  google-beta/resource_logging_exclusion.go
  google-beta/resource_pubsub_subscription_test.go
  google-beta/transport.go
  scripts/affectedtests/affectedtests.go
  scripts/changelog-links.sh
  website/docs/guides/version_2_upgrade.html.markdown
  website/docs/guides/version_3_upgrade.html.markdown
  website/docs/index.html.markdown
  website/docs/r/sql_database_instance.html.markdown
Labels: size/M

#2361 Add missing region argument for dataflow job
  .changelog/3842.txt
  website/docs/r/dataflow_job.html.markdown
Labels: size/XS

#2362 Set region as optional in doc for cloud_scheduler_job
  .changelog/3845.txt
  google-beta/resource_cloud_scheduler_job.go
  website/docs/r/cloud_scheduler_job.html.markdown
Labels: size/XS

#2363 Add warning about initial_node_count
  .changelog/3851.txt
  website/docs/r/container_node_pool.html.markdown
Labels: size/XS

#2364 Collection fixes for release
  .changelog/3831.txt
  google-beta/resource_compute_external_vpn_gateway.go
  google-beta/resource_pubsub_subscription.go
  website/docs/r/compute_external_vpn_gateway.html.markdown
  website/docs/r/pubsub_subscription.html.markdown
Labels: size/XS

#2365 Update documentation for Folder and Organization IAM resources.
  .changelog/3844.txt
  website/docs/r/google_folder_iam.html.markdown
  website/docs/r/google_folder_iam_audit_config.html.markdown
  website/docs/r/google_folder_iam_binding.html.markdown
  website/docs/r/google_folder_iam_member.html.markdown
  website/docs/r/google_folder_iam_policy.html.markdown
  website/docs/r/google_organization_iam.markdown
  website/docs/r/google_organization_iam_audit_config.html.markdown
  website/docs/r/google_organization_iam_binding.html.markdown
  website/docs/r/google_organization_iam_member.html.markdown
  website/docs/r/google_organization_iam_policy.html.markdown
  website/google.erb
Labels: size/XXL

#2366 Update google_billing_budget resource to add notifications
  .changelog/3817.txt
  google-beta/resource_billing_budget.go
  google-beta/resource_billing_budget_generated_test.go
  website/docs/r/billing_budget.html.markdown
Labels: size/L

#2367 Add new field filter to pubsub.
  .changelog/3759.txt
  google-beta/resource_pubsub_subscription.go
  google-beta/resource_pubsub_subscription_test.go
  website/docs/r/pubsub_subscription.html.markdown
Labels: size/S

#2339 Add changelog entries for the 3.34.0 release.
  CHANGELOG.md
Labels: size/XS

#2368 Enable Uploading Serviceaccount keys
  .changelog/3849.txt
  google-beta/resource_google_service_account_key.go
  google-beta/resource_google_service_account_key_test.go
  google-beta/test-fixtures/serviceaccount/public_key.pem
  website/docs/r/google_service_account_key.html.markdown
Labels: size/M

#2369 Add Confidential VM support to instances and instance templates
  .changelog/3824.txt
  google-beta/compute_instance_helpers.go
  google-beta/resource_compute_instance.go
  google-beta/resource_compute_instance_template.go
  google-beta/resource_compute_instance_template_test.go
  google-beta/resource_compute_instance_test.go
Labels: size/L

#2370 Fix project field for SQL instance data source
  .changelog/3854.txt
  google-beta/data_source_sql_database_instance.go
  google-beta/data_source_sql_database_instance_test.go
  website/docs/d/sql_database_instance.html.markdown
Labels: size/XS

#2371 add sweepers to igm/rigm tests, prefix igm/rigms with tf-test
  .changelog/3855.txt
  google-beta/data_source_google_compute_instance_group_test.go
  google-beta/data_source_google_compute_region_instance_group_test.go
  google-beta/resource_compute_autoscaler_test.go
  google-beta/resource_compute_backend_service_test.go
  google-beta/resource_compute_global_forwarding_rule_generated_test.go
  google-beta/resource_compute_global_forwarding_rule_test.go
  google-beta/resource_compute_instance_group_manager_test.go
  google-beta/resource_compute_per_instance_config_test.go
  google-beta/resource_compute_region_autoscaler_test.go
  google-beta/resource_compute_region_backend_service_test.go
  google-beta/resource_compute_region_instance_group_manager_test.go
  google-beta/resource_compute_region_per_instance_config_test.go
Labels: size/L

#2373 add access approval settings resources
  .changelog/3828.txt
  google-beta/config.go
  google-beta/provider.go
  google-beta/resource_access_approval_folder_settings.go
  google-beta/resource_access_approval_folder_settings_test.go
  google-beta/resource_access_approval_organization_settings.go
  google-beta/resource_access_approval_organization_settings_test.go
  google-beta/resource_access_approval_project_settings.go
  google-beta/resource_access_approval_project_settings_test.go
  website/docs/r/access_approval_folder_settings.html.markdown
  website/docs/r/access_approval_organization_settings.html.markdown
  website/docs/r/access_approval_project_settings.html.markdown
  website/google.erb
Labels: size/XXL

#2374 updates more info link for cloud run service spec.containers.resources
  .changelog/3858.txt
  google-beta/resource_cloud_run_service.go
  website/docs/r/cloud_run_service.html.markdown
Labels: size/XS

#2375 Upstream TPG #6920.
  .changelog/3833.txt
  google-beta/resource_big_query_job.go
  website/docs/r/bigquery_job.html.markdown
Labels: size/XS

#2376 Add skips for beta tests that don't work with VCR.
  .changelog/3804.txt
  google-beta/iam_compute_instance_generated_test.go
  google-beta/iam_compute_subnetwork_generated_test.go
  google-beta/iam_iap_app_engine_service_generated_test.go
  google-beta/iam_iap_app_engine_version_generated_test.go
  google-beta/iam_iap_tunnel_instance_generated_test.go
  google-beta/iam_iap_web_backend_service_generated_test.go
  google-beta/iam_iap_web_generated_test.go
  google-beta/iam_iap_web_type_app_engine_generated_test.go
  google-beta/iam_iap_web_type_compute_generated_test.go
  google-beta/iam_storage_bucket_generated_test.go
  google-beta/resource_bigquery_connection_connection_generated_test.go
  google-beta/resource_bigquery_connection_test.go
  google-beta/resource_compute_external_vpn_gateway_generated_test.go
  google-beta/resource_compute_ha_vpn_gateway_generated_test.go
  google-beta/resource_compute_health_check_test.go
  google-beta/resource_endpoints_service_test.go
  google-beta/resource_google_folder_iam_audit_config_test.go
Labels: size/S

#2377 Rename google_organization_iam markdown file to fix Travis
  .changelog/3857.txt
  website/docs/r/google_organization_iam.html.markdown
  website/google.erb
Labels: size/XS

#2378 Update google_billing_budget resource to add last_period_amount
  .changelog/3860.txt
  google-beta/resource_billing_budget.go
  google-beta/resource_billing_budget_generated_test.go
  website/docs/r/billing_budget.html.markdown
Labels: size/M

#2379 fix cloud identity group import
  .changelog/3862.txt
  google-beta/resource_cloud_identity_group.go
  google-beta/resource_cloud_identity_group_membership.go
Labels: size/S

#2380 Send empty privateVisibilityConfig network array
  .changelog/3865.txt
  google-beta/resource_dns_managed_zone.go
Labels: size/XS

#2381 Check for self_links in replaceVarsForTest
  .changelog/3866.txt
  google-beta/transport_test.go
Labels: size/XS

#2382 Add ability to bulk edit access manager access levels and service perimeters
  .changelog/3852.txt
  google-beta/provider.go
  google-beta/resource_access_context_manager_access_levels.go
  google-beta/resource_access_context_manager_access_levels_test.go
  google-beta/resource_access_context_manager_access_policy_test.go
  google-beta/resource_access_context_manager_service_perimeters.go
  google-beta/resource_access_context_manager_services_perimeters_test.go
  website/docs/r/access_context_manager_access_levels.html.markdown
  website/docs/r/access_context_manager_service_perimeters.html.markdown
  website/google.erb
Labels: size/XXL

#2383 Add user prefix for generated iam import statements
  .changelog/3864.txt
  website/docs/r/artifact_registry_repository_iam.html.markdown
  website/docs/r/binary_authorization_attestor_iam.html.markdown
  website/docs/r/cloud_run_service_iam.html.markdown
  website/docs/r/cloudfunctions_cloud_function_iam.html.markdown
  website/docs/r/compute_instance_iam.html.markdown
  website/docs/r/compute_subnetwork_iam.html.markdown
  website/docs/r/data_catalog_entry_group_iam.html.markdown
  website/docs/r/endpoints_service_iam.html.markdown
  website/docs/r/iap_app_engine_service_iam.html.markdown
  website/docs/r/iap_app_engine_version_iam.html.markdown
  website/docs/r/iap_tunnel_instance_iam.html.markdown
  website/docs/r/iap_web_backend_service_iam.html.markdown
  website/docs/r/iap_web_iam.html.markdown
  website/docs/r/iap_web_type_app_engine_iam.html.markdown
  website/docs/r/iap_web_type_compute_iam.html.markdown
  website/docs/r/pubsub_topic_iam.html.markdown
  website/docs/r/runtimeconfig_config_iam.html.markdown
  website/docs/r/secret_manager_secret_iam.html.markdown
  website/docs/r/service_directory_namespace_iam.html.markdown
  website/docs/r/service_directory_service_iam.html.markdown
  website/docs/r/sourcerepo_repository_iam.html.markdown
  website/docs/r/storage_bucket_iam.html.markdown
Labels: size/S

#2384 Skip more beta tests in VCR
  .changelog/3859.txt
  google-beta/resource_compute_per_instance_config_test.go
  google-beta/resource_compute_region_per_instance_config_test.go
  google-beta/resource_data_catalog_tag_generated_test.go
  google-beta/resource_dataflow_flex_template_job_test.go
  google-beta/resource_dataproc_cluster_test.go
Labels: size/XS

#2385 Add archive class to gcs
  .changelog/3867.txt
  google-beta/resource_storage_bucket.go
  google-beta/resource_storage_bucket_object.go
  google-beta/resource_storage_bucket_test.go
  website/docs/d/storage_bucket_object.html.markdown
  website/docs/r/storage_bucket.html.markdown
  website/docs/r/storage_bucket_object.html.markdown
Labels: size/XS

#2386 typo correction - value (singular) to values
  .changelog/3869.txt
  website/docs/r/compute_instance.html.markdown
Labels: size/XS

#2387 handle pagination in cloud identity datasources
  .changelog/3871.txt
  google-beta/data_source_cloud_identity_group_memberships.go
  google-beta/data_source_cloud_identity_groups.go
Labels: size/S

#2388 Add more skips for beta tests
  .changelog/3870.txt
  google-beta/resource_active_directory_domain_generated_test.go
  google-beta/resource_compute_managed_ssl_certificate_generated_test.go
  google-beta/resource_compute_region_health_check_test.go
  google-beta/resource_container_cluster_test.go
  google-beta/resource_container_node_pool_test.go
  google-beta/resource_storage_bucket_test.go
Labels: size/XS

#2372 3.35.0 Changelog for beta
  CHANGELOG.md
Labels: size/XS

#2389 Add support for gRPC healthchecks
  .changelog/3825.txt
  google-beta/resource_compute_health_check.go
  google-beta/resource_compute_health_check_generated_test.go
  google-beta/resource_compute_region_health_check.go
  google-beta/resource_compute_region_health_check_generated_test.go
  website/docs/r/compute_health_check.html.markdown
  website/docs/r/compute_region_health_check.html.markdown
Labels: size/XL

#2390 Add enableMessageOrdering to Pub/Sub Subscription
  .changelog/3872.txt
  google-beta/resource_pubsub_subscription.go
  google-beta/resource_pubsub_subscription_generated_test.go
  google-beta/resource_pubsub_subscription_test.go
  website/docs/r/pubsub_subscription.html.markdown
Labels: size/S

#2391 fix cloud identity groups sweeper
  .changelog/3875.txt
  google-beta/resource_cloud_identity_group_membership_sweeper_test.go
  google-beta/resource_cloud_identity_group_sweeper_test.go
Labels: size/L

#2392 Add support for BigQuery table ACLs
  .changelog/3856.txt
  google-beta/iam_big_query_table.go
  google-beta/iam_big_query_table_generated_test.go
  google-beta/provider.go
  website/docs/r/bigquery_table_iam.html.markdown
  website/google.erb
Labels: size/XXL

#2393 Specify possible values for arg only once
  .changelog/3874.txt
  google-beta/resource_compute_subnetwork.go
  website/docs/r/compute_subnetwork.html.markdown
Labels: size/XS

#2394 Fix broken link by cherry-picking existing fix from master
  .changelog/3857.txt
  website/docs/r/google_organization_iam.html.markdown
  website/google.erb
Labels: size/XS

#2395 Add attributes reference to `google_compute_instance_from_template`
  .changelog/3877.txt
  website/docs/r/compute_instance_from_template.html.markdown
Labels: size/XS

#2396 use {product}.googleapis.com endpoints
  .changelog/3755.txt
  google-beta/config.go
  google-beta/data_source_google_compute_zones.go
  google-beta/data_source_google_compute_zones_test.go
  google-beta/resource_compute_address_sweeper_test.go
  google-beta/resource_compute_autoscaler_sweeper_test.go
  google-beta/resource_compute_backend_bucket_signed_url_key_sweeper_test.go
  google-beta/resource_compute_backend_bucket_sweeper_test.go
  google-beta/resource_compute_backend_service_signed_url_key_sweeper_test.go
  google-beta/resource_compute_backend_service_sweeper_test.go
  google-beta/resource_compute_external_vpn_gateway_sweeper_test.go
  google-beta/resource_compute_firewall_sweeper_test.go
  google-beta/resource_compute_forwarding_rule_sweeper_test.go
  google-beta/resource_compute_global_address_sweeper_test.go
  google-beta/resource_compute_global_forwarding_rule_sweeper_test.go
  google-beta/resource_compute_global_network_endpoint_group_sweeper_test.go
  google-beta/resource_compute_ha_vpn_gateway_sweeper_test.go
  google-beta/resource_compute_health_check_sweeper_test.go
  google-beta/resource_compute_http_health_check_sweeper_test.go
  google-beta/resource_compute_https_health_check_sweeper_test.go
  google-beta/resource_compute_image_sweeper_test.go
  google-beta/resource_compute_instance_group_named_port_sweeper_test.go
  google-beta/resource_compute_machine_image_sweeper_test.go
  google-beta/resource_compute_managed_ssl_certificate_sweeper_test.go
  google-beta/resource_compute_network_endpoint_group_sweeper_test.go
  google-beta/resource_compute_network_peering.go
  google-beta/resource_compute_network_sweeper_test.go
  google-beta/resource_compute_node_group_sweeper_test.go
  google-beta/resource_compute_node_template_sweeper_test.go
  google-beta/resource_compute_packet_mirroring_sweeper_test.go
  google-beta/resource_compute_region_autoscaler_sweeper_test.go
  google-beta/resource_compute_region_backend_service_sweeper_test.go
  google-beta/resource_compute_region_health_check_sweeper_test.go
  google-beta/resource_compute_region_network_endpoint_group_sweeper_test.go
  google-beta/resource_compute_region_ssl_certificate_sweeper_test.go
  google-beta/resource_compute_region_target_http_proxy_sweeper_test.go
  google-beta/resource_compute_region_target_https_proxy_sweeper_test.go
  google-beta/resource_compute_region_url_map_sweeper_test.go
  google-beta/resource_compute_reservation_sweeper_test.go
  google-beta/resource_compute_resource_policy_sweeper_test.go
  google-beta/resource_compute_route_sweeper_test.go
  google-beta/resource_compute_router_bgp_peer_sweeper_test.go
  google-beta/resource_compute_router_nat_sweeper_test.go
  google-beta/resource_compute_router_sweeper_test.go
  google-beta/resource_compute_snapshot_sweeper_test.go
  google-beta/resource_compute_ssl_certificate_sweeper_test.go
  google-beta/resource_compute_ssl_policy_sweeper_test.go
  google-beta/resource_compute_subnetwork_sweeper_test.go
  google-beta/resource_compute_target_http_proxy_sweeper_test.go
  google-beta/resource_compute_target_https_proxy_sweeper_test.go
  google-beta/resource_compute_target_instance_sweeper_test.go
  google-beta/resource_compute_target_ssl_proxy_sweeper_test.go
  google-beta/resource_compute_target_tcp_proxy_sweeper_test.go
  google-beta/resource_compute_url_map_sweeper_test.go
  google-beta/resource_compute_vpn_gateway_sweeper_test.go
  google-beta/resource_compute_vpn_tunnel_sweeper_test.go
  google-beta/resource_dns_managed_zone_sweeper_test.go
  google-beta/resource_google_project.go
Labels: size/XL

#2397 fix bug with data access iam member
  .changelog/3741.txt
  google-beta/resource_big_query_dataset_access.go
  google-beta/resource_bigquery_dataset_access_test.go
Labels: size/L

#2398 google_dataflow_job - return more fields on the read
  .changelog/3880.txt
  google-beta/resource_dataflow_job.go
Labels: size/XS

#2399 Fix logConfig field in Compute Health Check resource.
  .changelog/3861.txt
  google-beta/resource_compute_health_check.go
Labels: size/XS

#2400 Make sql db instance recreate when going private -> public
  .changelog/3882.txt
  google-beta/resource_sql_database_instance.go
Labels: size/XS

#2401 Add trust to ad domain 5731
  .changelog/3798.txt
  google-beta/provider.go
  google-beta/resource_active_directory_domain_generated_test.go
  google-beta/resource_active_directory_domain_trust.go
  google-beta/resource_active_directory_domain_trust_test.go
  website/docs/r/active_directory_domain.html.markdown
  website/docs/r/active_directory_domain_trust.html.markdown
  website/google.erb
Labels: size/XL

#2402 Shorten domain name to fit regex
  .changelog/3878.txt
  google-beta/resource_active_directory_domain_generated_test.go
  website/docs/r/active_directory_domain.html.markdown
Labels: size/XS

#2279 Support for Kubelet and Linux Node configurations in GKE node pools
  google-beta/node_config.go
  google-beta/resource_container_node_pool.go
  google-beta/resource_container_node_pool_test.go
  website/docs/r/container_cluster.html.markdown
Labels: documentation, size/XL

#2403 Upstream support for Kubelet and Linux Node configurations in GKE
  .changelog/3760.txt
  google-beta/node_config.go
  google-beta/resource_container_node_pool.go
  google-beta/resource_container_node_pool_test.go
  website/docs/r/container_cluster.html.markdown
Labels: size/M

#2404 Fix grpc healthcheck behaviour.
  .changelog/3883.txt
  google-beta/resource_compute_health_check.go
  google-beta/resource_compute_health_check_test.go
  google-beta/resource_compute_region_health_check.go
  google-beta/resource_compute_region_health_check_test.go
Labels: size/S

#2405 Add vpcAccessConnector property on google_app_engine_standard_app_version terraform resource
  .changelog/3789.txt
  google-beta/resource_app_engine_standard_app_version.go
  google-beta/resource_app_engine_standard_app_version_test.go
  website/docs/r/app_engine_standard_app_version.html.markdown
Labels: size/L

#2406 Use `lineage` instead of `api_name` for property conflicts
  .changelog/3885.txt
  google-beta/resource_compute_url_map.go
Labels: size/XS

#2408 Add support for regional NEG stripping of maxUtilization based on url
  .changelog/3884.txt
  google-beta/resource_compute_backend_service.go
  google-beta/resource_compute_backend_service_test.go
Labels: size/M

#2409 Fix test resource names to match example
  .changelog/3889.txt
  google-beta/resource_compute_region_health_check_generated_test.go
  website/docs/r/compute_region_health_check.html.markdown
Labels: size/XS

#2410 add support for iam resources for google_compute_image
  .changelog/3887.txt
  google-beta/iam_compute_image.go
  google-beta/iam_compute_image_generated_test.go
  google-beta/provider.go
  website/docs/r/compute_image_iam.html.markdown
  website/google.erb
Labels: size/XL

#2407 Generate changelog for 3.36.0
  CHANGELOG.md
Labels: size/S

#2414 Add Discovery endpoint to Memcached Instance
  .changelog/3891.txt
  google-beta/resource_memcache_instance.go
  website/docs/r/memcache_instance.html.markdown
Labels: size/XS

#2413 [Provider documentation] - Align repository initialization with other…
  README.md
Labels: size/XS

#2415 fixed data_source_secret_manager_secret_version on its id
  .changelog/3904.txt
  google-beta/data_source_secret_manager_secret_version.go
Labels: size/XS

#2416 Advanced logging config options in google_compute_subnetwork
  .changelog/3603.txt
  google-beta/resource_compute_subnetwork.go
  google-beta/resource_compute_subnetwork_test.go
  website/docs/r/compute_subnetwork.html.markdown
Labels: size/M

#2418 update docs now that upgrade_settings is no longer beta
  .changelog/3906.txt
  website/docs/r/container_node_pool.html.markdown
Labels: size/XS

#2419 Add DatabaseConfig and WebServerConfig to Cloud Composer's EnvironmentConfig
  .changelog/3863.txt
  google-beta/resource_composer_environment.go
  google-beta/resource_composer_environment_test.go
  website/docs/r/composer_environment.html.markdown
Labels: size/XL

#2420 fix active directory domain sweeper
  .changelog/3902.txt
  google-beta/resource_active_directory_domain_generated_test.go
  google-beta/resource_active_directory_domain_sweeper_test.go
  google-beta/resource_active_directory_domain_update_test.go
  website/docs/r/active_directory_domain.html.markdown
Labels: size/XS

#2421 Add support for pd-balanced disk type
  .changelog/3827.txt
  google-beta/node_config.go
  google-beta/resource_compute_instance.go
  google-beta/resource_compute_instance_template.go
  website/docs/r/compute_instance.html.markdown
  website/docs/r/compute_instance_template.html.markdown
  website/docs/r/container_cluster.html.markdown
Labels: size/XS

#2422 Fix kubelet expected error test
  .changelog/3905.txt
  google-beta/resource_container_node_pool_test.go
Labels: size/XS

#2423 fixed audit_config in iam_policy doc
  .changelog/3901.txt
  website/docs/d/iam_policy.html.markdown
Labels: size/XS

#2424 added IAM resources for disk & regionDisk
  .changelog/3888.txt
  google-beta/iam_compute_disk.go
  google-beta/iam_compute_disk_generated_test.go
  google-beta/iam_compute_region_disk.go
  google-beta/iam_compute_region_disk_generated_test.go
  google-beta/provider.go
  website/docs/r/compute_disk_iam.html.markdown
  website/docs/r/compute_region_disk_iam.html.markdown
  website/google.erb
Labels: size/XXL

#2425 Fix PerInstanceConfig tests
  .changelog/3900.txt
  google-beta/resource_compute_per_instance_config_test.go
  google-beta/resource_compute_region_per_instance_config_test.go
Labels: size/XS

#2426 Mark Resource usage export config as GA in Docs
  .changelog/3909.txt
  website/docs/r/container_cluster.html.markdown
Labels: size/XS

#2428 Add project overrides to gke services
  .changelog/3892.txt
  google-beta/resource_container_cluster.go
  google-beta/resource_container_cluster_test.go
  google-beta/resource_container_node_pool.go
  google-beta/resource_container_node_pool_test.go
  google-beta/resource_google_project_service.go
  google-beta/resource_google_project_service_test.go
Labels: size/L

#2429 Cloud Storage: docs improvements for automatic service account
  .changelog/3903.txt
  website/docs/d/storage_project_service_account.html.markdown
  website/docs/r/storage_bucket.html.markdown
  website/docs/r/storage_notification.html.markdown
Labels: size/M

#2432 Update cloudfunctions_function.html.markdown
  .changelog/3913.txt
  website/docs/r/cloudfunctions_function.html.markdown
Labels: size/XS

#2433 Data Losss Prevention resources
  .changelog/3893.txt
  google-beta/config.go
  google-beta/provider.go
  google-beta/resource_data_loss_prevention_inspect_template.go
  google-beta/resource_data_loss_prevention_inspect_template_generated_test.go
  google-beta/resource_data_loss_prevention_inspect_template_sweeper_test.go
  google-beta/resource_data_loss_prevention_inspect_template_test.go
  google-beta/resource_data_loss_prevention_job_trigger.go
  google-beta/resource_data_loss_prevention_job_trigger_generated_test.go
  google-beta/resource_data_loss_prevention_job_trigger_sweeper_test.go
  google-beta/resource_data_loss_prevention_job_trigger_test.go
  website/docs/r/data_loss_prevention_inspect_template.html.markdown
  website/docs/r/data_loss_prevention_job_trigger.html.markdown
  website/google.erb
Labels: size/XXL

#2434 Add Erase Windows VSS support to compute disk
  .changelog/3898.txt
  google-beta/iam_compute_disk_generated_test.go
  google-beta/resource_compute_disk.go
  google-beta/resource_compute_disk_generated_test.go
  google-beta/resource_compute_disk_test.go
  website/docs/r/compute_disk.html.markdown
  website/docs/r/compute_per_instance_config.html.markdown
  website/docs/r/compute_region_per_instance_config.html.markdown
Labels: size/L

#2435 Fix failing active_directory_domain_trust tests
  .changelog/3915.txt
  google-beta/resource_active_directory_domain_trust_test.go
Labels: size/XS

#2430 Add google_project_service_identity
  google-beta/provider.go
  google-beta/resource_project_service_identity.go
  google-beta/resource_project_service_identity_test.go
  website/docs/r/project_service_identity.html.markdown
Labels: size/L

#2436 only update shielded_instance_config for stopped instances
  .changelog/3918.txt
  google-beta/resource_compute_instance.go
  google-beta/resource_compute_instance_test.go
  website/docs/r/compute_instance.html.markdown
Labels: size/M

#2437 Upstream: Add google_project_service_identity resource
  .changelog/3921.txt
  website/google.erb
Labels: size/XS

#2438 Correct data type for Notebook Instance Owners field, add some enums
  .changelog/3912.txt
  google-beta/resource_notebooks_instance.go
  website/docs/r/notebooks_instance.html.markdown
Labels: size/XS

#2439 Update GKE Docs to mentions labels that can't be used.
  .changelog/3925.txt
  website/docs/r/container_cluster.html.markdown
Labels: size/XS

#2440 Add additional fields to projects data source
  .changelog/3868.txt
  google-beta/data_source_google_projects.go
  google-beta/data_source_google_projects_test.go
Labels: size/M

#2441 Cleanup legacy provider formatting
  .changelog/3926.txt
  google-beta/resource_compute_organization_security_policy_association_generated_test.go
  google-beta/resource_compute_organization_security_policy_generated_test.go
  google-beta/resource_compute_organization_security_policy_rule_generated_test.go
  google-beta/resource_data_fusion_instance_generated_test.go
  website/docs/d/container_engine_versions.html.markdown
  website/docs/guides/provider_reference.html.markdown
  website/docs/r/compute_organization_security_policy.html.markdown
  website/docs/r/compute_organization_security_policy_association.html.markdown
  website/docs/r/compute_organization_security_policy_rule.html.markdown
  website/docs/r/data_fusion_instance.html.markdown
Labels: size/S

#2442 Deprecate bucket policy field in google_storage_bucket
  .changelog/3916.txt
  google-beta/resource_storage_bucket.go
  google-beta/resource_storage_bucket_test.go
  website/docs/r/storage_bucket.html.markdown
Labels: size/M

#2443 Add permission name.
  .changelog/3927.txt
  website/docs/r/google_project_service.html.markdown
Labels: size/XS

#2444 Stored info
  .changelog/3922.txt
  google-beta/provider.go
  google-beta/resource_data_loss_prevention_inspect_template.go
  google-beta/resource_data_loss_prevention_job_trigger.go
  google-beta/resource_data_loss_prevention_stored_info_type.go
  google-beta/resource_data_loss_prevention_stored_info_type_generated_test.go
  google-beta/resource_data_loss_prevention_stored_info_type_sweeper_test.go
  google-beta/resource_data_loss_prevention_stored_info_type_test.go
  google-beta/test-fixtures/dlp/words.txt
  website/docs/r/data_loss_prevention_stored_info_type.html.markdown
  website/google.erb
Labels: size/XXL

#2445 Add DSFs to references in snapshot tests (and other MM-generated tests)
  .changelog/3930.txt
  google-beta/resource_compute_address_generated_test.go
  google-beta/resource_compute_autoscaler_generated_test.go
  google-beta/resource_compute_disk_generated_test.go
  google-beta/resource_compute_firewall_generated_test.go
  google-beta/resource_compute_forwarding_rule_generated_test.go
  google-beta/resource_compute_global_address_generated_test.go
  google-beta/resource_compute_global_forwarding_rule_generated_test.go
  google-beta/resource_compute_image_generated_test.go
  google-beta/resource_compute_network_endpoint_group_generated_test.go
  google-beta/resource_compute_node_group_generated_test.go
  google-beta/resource_compute_node_template_generated_test.go
  google-beta/resource_compute_region_autoscaler_generated_test.go
  google-beta/resource_compute_region_backend_service_generated_test.go
  google-beta/resource_compute_region_disk_generated_test.go
  google-beta/resource_compute_region_health_check_generated_test.go
  google-beta/resource_compute_region_ssl_certificate_generated_test.go
  google-beta/resource_compute_region_target_http_proxy_generated_test.go
  google-beta/resource_compute_region_target_https_proxy_generated_test.go
  google-beta/resource_compute_region_url_map_generated_test.go
  google-beta/resource_compute_reservation_generated_test.go
  google-beta/resource_compute_resource_policy_generated_test.go
  google-beta/resource_compute_route_generated_test.go
  google-beta/resource_compute_router_generated_test.go
  google-beta/resource_compute_snapshot_generated_test.go
  google-beta/resource_compute_snapshot_test.go
  google-beta/resource_compute_subnetwork_generated_test.go
  google-beta/resource_compute_target_http_proxy_generated_test.go
  google-beta/resource_compute_target_https_proxy_generated_test.go
  google-beta/resource_compute_target_instance_generated_test.go
  google-beta/resource_compute_target_ssl_proxy_generated_test.go
  google-beta/resource_compute_target_tcp_proxy_generated_test.go
  google-beta/resource_compute_url_map_generated_test.go
  google-beta/resource_compute_vpn_gateway_generated_test.go
  google-beta/resource_compute_vpn_tunnel_generated_test.go
  google-beta/resource_pubsub_subscription_generated_test.go
  google-beta/resource_spanner_database_generated_test.go
  google-beta/resource_spanner_instance_generated_test.go
  google-beta/resource_storage_bucket_access_control_generated_test.go
  google-beta/resource_storage_object_access_control_generated_test.go
Labels: size/XL

#2446 Allow IGM to resume operation after interruption
  .changelog/3928.txt
  google-beta/compute_operation.go
  google-beta/resource_compute_instance_group_manager.go
Labels: size/S

#2447 Export email output in service_identity
  .changelog/3924.txt
  google-beta/resource_project_service_identity.go
  google-beta/resource_project_service_identity_test.go
  website/docs/r/project_service_identity.html.markdown
Labels: size/S

#2431 3.37.0 CHANGELOG
  CHANGELOG.md
Labels: size/S
