Repository hashicorp/terraform-provider-google-beta, pull requests merged in 2020-09, with the labels that each got.

#2453 Fix dns base path to work with new clients. Keep MM-based base paths
  .changelog/3935.txt
  go.sum
  google-beta/config.go
Labels: size/XS

#2452 Add references to Learn tutorials
  website/docs/guides/using_gke_with_terraform.html.markdown
  website/docs/r/container_cluster.html.markdown
Labels: size/XS

#2454 Upstream tutorial
  .changelog/3940.txt
  website/docs/guides/using_gke_with_terraform.html.markdown
  website/docs/r/container_cluster.html.markdown
Labels: size/XS

#2456 Add network field to target instance.
  .changelog/3850.txt
  google-beta/resource_compute_target_instance.go
  google-beta/resource_compute_target_instance_generated_test.go
  website/docs/r/compute_target_instance.html.markdown
Labels: size/M

#2457 [resource_container_cluster] - Add self-link property
  .changelog/3942.txt
  google-beta/resource_container_cluster.go
  google-beta/resource_container_cluster_test.go
  website/docs/r/container_cluster.html.markdown
Labels: size/XS

#2458 Mark Workload Identity as GA fully.
  .changelog/3941.txt
  google-beta/node_config.go
  google-beta/resource_container_node_pool.go
  website/docs/r/container_cluster.html.markdown
Labels: size/XS

#2459 clustering is no longer ForceNew
  .changelog/3949.txt
  google-beta/resource_bigquery_table.go
Labels: size/XS

#2461 Add Snapshot location to compute snapshot
  .changelog/3896.txt
  google-beta/resource_compute_disk.go
  google-beta/resource_compute_region_disk.go
  google-beta/resource_compute_snapshot.go
  google-beta/resource_compute_snapshot_generated_test.go
  google-beta/resource_compute_snapshot_test.go
  website/docs/r/compute_disk.html.markdown
  website/docs/r/compute_snapshot.html.markdown
Labels: size/L

#2462 log error if 'name' is not a key in schema map
  .changelog/3952.txt
  google-beta/resource_bigquery_table.go
Labels: size/XS

#2463 fix target instance custom network test to use google-beta provider
  .changelog/3957.txt
  google-beta/resource_compute_target_instance_generated_test.go
  website/docs/r/compute_target_instance.html.markdown
Labels: size/XS

#2464 Add additional notes to IAP Documentation
  .changelog/3955.txt
  website/docs/r/iap_brand.html.markdown
  website/docs/r/iap_client.html.markdown
Labels: size/XS

#2465 Added missing 'all' option for protocol firewall rule
  .changelog/3962.txt
  google-beta/resource_compute_firewall.go
  website/docs/r/compute_firewall.html.markdown
Labels: size/XS

#2466 Fix minor typo: this --> these
  .changelog/3961.txt
  website/docs/guides/using_gke_with_terraform.html.markdown
Labels: size/XS

#2467 Revert `eraseWindowsVssSignature` field and test
  .changelog/3959.txt
  google-beta/resource_compute_disk.go
  google-beta/resource_compute_disk_test.go
  website/docs/r/compute_disk.html.markdown
Labels: size/M

#2468 fixed description for google_notebooks_instance.install_gpu_driver
  .changelog/3963.txt
  google-beta/resource_notebooks_instance.go
  website/docs/r/notebooks_instance.html.markdown
Labels: size/XS

#2469 Add retries for modified services to google_project_service
  .changelog/3960.txt
  google-beta/error_retry_predicates.go
  google-beta/resource_google_project.go
  google-beta/serviceusage_batching.go
Labels: size/XS

#2470 Spanner multi regional documentation
  .changelog/3958.txt
  google-beta/resource_spanner_instance_generated_test.go
  website/docs/r/spanner_instance.html.markdown
Labels: size/S

#2472 Updating docs for SQL instance `point_in_time_recovery` parameter
  .changelog/3966.txt
  website/docs/r/sql_database_instance.html.markdown
Labels: size/XS

#2473 fixed Error when trying to set boolean field to `false` on google_data_catalog_tag
  .changelog/3910.txt
  google-beta/resource_data_catalog_tag.go
  google-beta/resource_data_catalog_tag_generated_test.go
Labels: size/M

#2474 Clarify local-ssd docs for Instance Template
  .changelog/3968.txt
  website/docs/r/compute_instance_template.html.markdown
Labels: size/XS

#2475 Add guide on deleted principals
  .changelog/3950.txt
  website/docs/guides/iam_deleted_members.html.markdown
  website/google.erb
  website/google.erb.tmpl
Labels: size/M

#2476 Add Regional SSL Certificate datasource
  .changelog/3969.txt
  google-beta/data_source_google_compute_region_ssl_certificate.go
  google-beta/data_source_google_compute_region_ssl_certificate_test.go
  google-beta/provider.go
  website/docs/d/compute_region_ssl_certificate.html.markdown
  website/google.erb
Labels: size/M

#2477 google_bigtable_instance - deprecate `instance_type`
  .changelog/3972.txt
  google-beta/resource_bigtable_instance.go
  website/docs/r/bigtable_instance.html.markdown
Labels: size/XS

#2478 Added support GRPC for google_compute_(region)_backend_service.protocol
  .changelog/3973.txt
  google-beta/resource_compute_backend_service.go
  google-beta/resource_compute_region_backend_service.go
  website/docs/r/compute_backend_service.html.markdown
  website/docs/r/compute_region_backend_service.html.markdown
Labels: size/XS

#2479 Allow google.project.id for passing project to resource_project_service
  .changelog/3975.txt
  google-beta/resource_google_project_service.go
  google-beta/resource_google_project_service_test.go
Labels: size/XS

#2480 Add transformNameMapping to dataflow job
  .changelog/3964.txt
  google-beta/resource_dataflow_job.go
  google-beta/resource_dataflow_job_test.go
  website/docs/r/dataflow_job.html.markdown
Labels: size/S

#2481 Add nil check to recurring_schedule in google_os_config_patch_deployment
  .changelog/3974.txt
  google-beta/resource_os_config_patch_deployment.go
  google-beta/resource_os_config_patch_deployment_generated_test.go
  website/docs/r/os_config_patch_deployment.html.markdown
Labels: size/S

#2471 `3.39.0` changelog
  CHANGELOG.md
Labels: size/XS

#2482 Allow updating single_cluster_routing in google_bigtable_app_profile
  .changelog/3967.txt
  google-beta/resource_bigtable_app_profile.go
  google-beta/resource_bigtable_app_profile_test.go
Labels: size/S

#2483 allow updating dataproc cluster autoscaling_policy
  .changelog/3976.txt
  google-beta/common_diff_suppress.go
  google-beta/resource_dataproc_cluster.go
  google-beta/resource_dataproc_cluster_test.go
  website/docs/r/dataproc_cluster.html.markdown
Labels: size/L
