Repository hashicorp/terraform-provider-google-beta, pull requests merged in 2020-06, with the labels that each got.

#2127 Add monitoring group mutex to uptime check config
  .changelog/3584.txt
  google-beta/data_source_monitoring_service.go
  google-beta/error_retry_predicates.go
  google-beta/resource_monitoring_alert_policy.go
  google-beta/resource_monitoring_dashboard.go
  google-beta/resource_monitoring_dashboard_test.go
  google-beta/resource_monitoring_group.go
  google-beta/resource_monitoring_group_generated_test.go
  google-beta/resource_monitoring_notification_channel.go
  google-beta/resource_monitoring_notification_channel_generated_test.go
  google-beta/resource_monitoring_service.go
  google-beta/resource_monitoring_service_generated_test.go
  google-beta/resource_monitoring_uptime_check_config.go
  google-beta/resource_monitoring_uptime_check_config_generated_test.go
  google-beta/utils.go
Labels: size/M

#2129 fix typo in example in google_compute_router_nat
  .changelog/3589.txt
  website/docs/r/compute_router_nat.html.markdown
Labels: documentation, size/XS

#2119 3.24.0 changelog
  CHANGELOG.md
Labels: size/XS

#2130 VCR acc test fixes
  .changelog/3586.txt
  google-beta/iam_storage_bucket_generated_test.go
  google-beta/resource_bigquery_table_test.go
  google-beta/resource_compute_instance_test.go
  google-beta/resource_compute_project_metadata_item_test.go
  google-beta/resource_dataproc_cluster_test.go
  google-beta/resource_google_billing_account_iam_test.go
  google-beta/resource_google_project_service_test.go
  google-beta/resource_runtimeconfig_variable_test.go
  google-beta/resource_storage_bucket_iam_test.go
Labels: size/XS

#2128 upgrade to go 1.14
  .go-version
  .travis.yml
  GNUmakefile
  README.md
  go.mod
Labels: size/XS

#2131 Add "inbound_services" to google_app_engine_standard_app_version
  .changelog/3537.txt
  google-beta/resource_app_engine_flexible_app_version.go
  google-beta/resource_app_engine_standard_app_version.go
  google-beta/resource_app_engine_standard_app_version_test.go
  website/docs/r/app_engine_standard_app_version.html.markdown
Labels: documentation, size/S

#2132 add desc to schema for google_container_node_pool
  .changelog/3563.txt
  google-beta/resource_container_node_pool.go
Labels: size/M

#2133 Make dialogflow agent timezone updatable
  .changelog/3596.txt
  google-beta/resource_dialogflow_agent.go
  google-beta/resource_dialogflow_agent_test.go
Labels: size/XS

#2136 Fixing instances[] reference in the examples
  .changelog/3600.txt
  website/docs/r/compute_instance_group.html.markdown
Labels: documentation, size/XS

#2137 add desc to schema for google_container_cluster
  .changelog/3566.txt
  google-beta/resource_container_cluster.go
Labels: size/XL

#2138 Add Network Management ConnectivityTest resource
  .changelog/3601.txt
  google-beta/config.go
  google-beta/network_management_operation.go
  google-beta/provider.go
  google-beta/resource_network_management_connectivity_test_resource.go
  google-beta/resource_network_management_connectivity_test_resource_generated_test.go
  google-beta/resource_network_management_connectivity_test_resource_sweeper_test.go
  google-beta/resource_network_management_connectivity_test_resource_test.go
  website/docs/r/network_management_connectivity_test_resource.html.markdown
  website/google.erb
Labels: documentation, size/XXL

#2139 enable google_dns_managed_zone to accept network id for two attributes
  .changelog/3602.txt
  google-beta/resource_dns_managed_zone.go
  google-beta/resource_dns_managed_zone_generated_test.go
  website/docs/r/dns_managed_zone.html.markdown
Labels: documentation, size/M

#2140 google_dataflow_job - when updating, wait for new job to start
  .changelog/3591.txt
  google-beta/resource_dataflow_job.go
Labels: size/S

#2141 Fix nodepool management tests with new default for autoRepair
  .changelog/3605.txt
  google-beta/resource_container_node_pool_test.go
Labels: size/XS

#2142 Add memcache instance.
  .changelog/3593.txt
  google-beta/config.go
  google-beta/memcache_operation.go
  google-beta/provider.go
  google-beta/resource_memcache_instance.go
  google-beta/resource_memcache_instance_generated_test.go
  google-beta/resource_memcache_instance_sweeper_test.go
  google-beta/resource_memcache_instance_test.go
  website/docs/r/memcache_instance.html.markdown
  website/google.erb
Labels: documentation, size/XXL

#2143 add default_route_action to compute_url_map
  .changelog/3587.txt
  google-beta/resource_compute_url_map.go
  google-beta/resource_compute_url_map_test.go
  website/docs/r/compute_url_map.html.markdown
Labels: documentation, size/XXL

#2135 Update CHANGELOG.md
  CHANGELOG.md
Labels: size/XS

#2144 add data catalog tag
  .changelog/3569.txt
  google-beta/provider.go
  google-beta/resource_app_engine_flexible_app_version.go
  google-beta/resource_app_engine_standard_app_version.go
  google-beta/resource_binary_authorization_policy.go
  google-beta/resource_data_catalog_tag.go
  google-beta/resource_data_catalog_tag_generated_test.go
  google-beta/resource_data_catalog_tag_sweeper_test.go
  google-beta/resource_data_catalog_tag_template.go
  google-beta/resource_data_catalog_tag_test.go
  google-beta/resource_source_repo_repository.go
  website/docs/r/data_catalog_tag.html.markdown
  website/google.erb
Labels: documentation, size/XXL

#2145 FHIR store streaming config
  .changelog/3611.txt
  google-beta/resource_healthcare_fhir_store.go
  google-beta/resource_healthcare_fhir_store_generated_test.go
  website/docs/r/healthcare_fhir_store.html.markdown
Labels: documentation, size/XL

#2146 google_dataflow_job - retry on common API errors when waiting for job to update
  .changelog/3612.txt
  google-beta/resource_dataflow_job.go
Labels: size/XS

#2147 Bigquery dataset iam
  .changelog/3608.txt
  google-beta/iam_bigquery_dataset.go
  google-beta/provider.go
  google-beta/resource_bigquery_dataset_iam_member_test.go
  google-beta/resource_bigquery_dataset_iam_test.go
  website/docs/r/bigquery_dataset_iam.html.markdown
  website/google.erb
Labels: documentation, size/XL

#2148 Add note on iap client that only internal org clients can be created
  .changelog/3609.txt
  website/docs/r/iap_client.html.markdown
Labels: documentation, size/XS

#2149 telemetry integration support added
  .changelog/3585.txt
  google-beta/resource_container_cluster.go
  google-beta/resource_container_cluster_test.go
  website/docs/r/container_cluster.html.markdown
Labels: documentation, size/L

#2150 add matcher attribute to contentmatchers
  .changelog/3607.txt
  google-beta/resource_monitoring_uptime_check_config.go
  google-beta/resource_monitoring_uptime_check_config_test.go
  website/docs/r/monitoring_uptime_check_config.html.markdown
Labels: documentation, size/S

#2151 add docs for sa credential generation
  .changelog/3614.txt
  website/docs/guides/getting_started.html.markdown
Labels: documentation, size/XS

#2152 default value add to fix test failures
  .changelog/3616.txt
  google-beta/resource_monitoring_uptime_check_config.go
  website/docs/r/monitoring_uptime_check_config.html.markdown
Labels: documentation, size/XS

#2164 Add timeoutSeconds to cloud run
  .changelog/3622.txt
  google-beta/resource_cloud_run_service.go
  google-beta/resource_cloud_run_service_test.go
  website/docs/r/cloud_run_service.html.markdown
Labels: documentation, size/S

#2165 Fix and document id format for google_kms_crypto_key_version.
  .changelog/3624.txt
  google-beta/data_source_google_kms_crypto_key_version.go
  website/docs/d/google_kms_crypto_key_version.html.markdown
Labels: documentation, size/XS

#2166 replace self_link in more examples
  .changelog/3631.txt
  google-beta/resource_compute_forwarding_rule_generated_test.go
  google-beta/resource_compute_global_forwarding_rule_generated_test.go
  google-beta/resource_compute_region_backend_service_generated_test.go
  google-beta/resource_compute_region_target_http_proxy_generated_test.go
  google-beta/resource_compute_target_http_proxy_generated_test.go
  website/docs/r/compute_forwarding_rule.html.markdown
  website/docs/r/compute_global_forwarding_rule.html.markdown
  website/docs/r/compute_region_backend_service.html.markdown
  website/docs/r/compute_region_target_http_proxy.html.markdown
  website/docs/r/compute_target_http_proxy.html.markdown
Labels: documentation, size/XS

#2167 Adding validation regex for redis instance id
  .changelog/3632.txt
  google-beta/resource_redis_instance.go
Labels: size/XS

#2168 Add HA requirements to SQL docs
  .changelog/3633.txt
  google-beta/resource_sql_database_instance.go
  website/docs/r/sql_database_instance.html.markdown
Labels: documentation, size/XS

#2169 add min_node_cpus to compute_instance.scheduling
  .changelog/3634.txt
  google-beta/compute_instance_helpers.go
  google-beta/resource_compute_instance.go
  google-beta/resource_compute_instance_template.go
  google-beta/resource_compute_instance_template_test.go
  google-beta/resource_compute_instance_test.go
Labels: size/S

#2170 add new network peering fields
  .changelog/3630.txt
  google-beta/resource_compute_network_peering.go
  google-beta/resource_compute_network_peering_test.go
  website/docs/r/compute_network_peering.html.markdown
Labels: documentation, size/L

#2159 Add changelog for 3.26.0
  CHANGELOG.md
Labels: size/XS

#2171 Add cloudbuild invert regex option
  .changelog/3628.txt
  google-beta/resource_cloud_build_trigger.go
  google-beta/resource_cloudbuild_trigger_test.go
  website/docs/r/cloudbuild_trigger.html.markdown
Labels: documentation, size/M

#2172 Descriptions for storage-bucket
  .changelog/3578.txt
  google-beta/resource_storage_bucket.go
Labels: size/M

#2173 Resource google_sql_database_instance root_password (MS SQL) for GA
  .changelog/3638.txt
  website/docs/r/sql_database_instance.html.markdown
Labels: documentation, size/XS

#2174 Change table name in bigquery data config tests
  .changelog/3643.txt
  google-beta/resource_bigquery_data_transfer_config_test.go
  website/docs/r/bigquery_data_transfer_config.html.markdown
Labels: documentation, size/XS

#2175 add desc to schema for google_compute_instance_group
  .changelog/3647.txt
  google-beta/resource_compute_instance_group.go
Labels: size/M

#2176 adding cpu_overcommit_type and updating tests
  .changelog/3640.txt
  google-beta/resource_compute_instance_test.go
  google-beta/resource_compute_node_template.go
  website/docs/r/compute_node_template.html.markdown
Labels: documentation, size/S

#2177 Document updating resource policies attachment in disk
  .changelog/3645.txt
  google-beta/resource_compute_disk.go
  website/docs/r/compute_disk.html.markdown
Labels: documentation, size/XS

#2178 add desc to schema for google_compute_instance_template
  .changelog/3648.txt
  google-beta/resource_compute_instance_template.go
Labels: size/XL

#2179 add desc to schema for google_cloudfunctions_function
  .changelog/3651.txt
  google-beta/resource_cloudfunctions_function.go
Labels: size/M

#2180 Add custom access level to access context manager
  .changelog/3653.txt
  google-beta/resource_access_context_manager_access_level.go
  google-beta/resource_access_context_manager_access_level_test.go
  google-beta/resource_access_context_manager_access_policy_test.go
  website/docs/r/access_context_manager_access_level.html.markdown
Labels: documentation, size/L

#2181 attempt fixing quota issues
  .changelog/3652.txt
  google-beta/resource_compute_node_group_generated_test.go
  google-beta/resource_compute_node_group_test.go
  google-beta/resource_compute_node_template.go
  google-beta/resource_compute_node_template_generated_test.go
  website/docs/r/compute_node_group.html.markdown
  website/docs/r/compute_node_template.html.markdown
Labels: documentation, size/M

#2182 add desc to schema for google_composer_environment
  .changelog/3654.txt
  google-beta/resource_composer_environment.go
Labels: size/M

#2183 Sweepable names for router+ tests
  .changelog/3650.txt
  google-beta/data_source_google_compute_router_test.go
  google-beta/resource_compute_forwarding_rule_generated_test.go
  google-beta/resource_compute_instance_group_manager_test.go
  google-beta/resource_compute_region_instance_group_manager_test.go
  google-beta/resource_compute_router_bgp_peer_test.go
  google-beta/resource_compute_router_interface_test.go
  google-beta/resource_compute_router_nat_test.go
  google-beta/resource_compute_router_test.go
  google-beta/resource_dataproc_cluster_test.go
  google-beta/resource_dns_managed_zone_test.go
  website/docs/r/compute_forwarding_rule.html.markdown
Labels: documentation, size/XL

#2184 add desc to schema for google_compute_project_metadata
  .changelog/3656.txt
  google-beta/resource_compute_project_metadata.go
Labels: size/XS

#2185 Add note on why a user would want bigquery_dataset_iam
  .changelog/3657.txt
  website/docs/r/bigquery_dataset_iam.html.markdown
Labels: documentation, size/XS

#2186 add desc to schema for google_compute_region_instance_group_manager
  .changelog/3659.txt
  google-beta/resource_compute_region_instance_group_manager.go
Labels: size/L

#2187 Per instance config delete underlying instance
  .changelog/3635.txt
  google-beta/resource_compute_per_instance_config.go
  google-beta/resource_compute_per_instance_config_test.go
  google-beta/resource_compute_region_per_instance_config.go
  google-beta/resource_compute_region_per_instance_config_test.go
  google-beta/stateful_mig_polling.go
  website/docs/r/compute_per_instance_config.html.markdown
  website/docs/r/compute_region_per_instance_config.html.markdown
Labels: documentation, size/XL

#2188 Bump google api version to v0.26.0
  go.mod
  go.sum
Labels: size/XS

#2189 enable google_dns_policy to accept network id
  .changelog/3636.txt
  google-beta/resource_dns_policy.go
  google-beta/resource_dns_policy_generated_test.go
  website/docs/r/dns_managed_zone.html.markdown
  website/docs/r/dns_policy.html.markdown
Labels: documentation, size/S

#2190 Send empty/false for import/export custom routes
  .changelog/3661.txt
  google-beta/resource_compute_network_peering_routes_config.go
Labels: size/XS

#2191 Fix names for dataproc cluster test
  .changelog/3660.txt
  google-beta/resource_dataproc_cluster_test.go
Labels: size/XS

#2193 add the ability to specify app engine database type
  .changelog/3646.txt
  google-beta/resource_app_engine_application.go
  google-beta/resource_app_engine_application_test.go
  website/docs/r/app_engine_application.html.markdown
Labels: documentation, size/XS

#2194 add desc to schema for google_endpoints_service
  .changelog/3667.txt
  google-beta/resource_endpoints_service.go
Labels: size/M

#2195 Update instance docs to specify that tags are network tags
  .changelog/3557.txt
  website/docs/r/compute_instance.html.markdown
Labels: documentation, size/XS

#2196 add desc to schema for google_bigquery_table
  .changelog/3642.txt
  google-beta/resource_bigquery_table.go
Labels: size/XL

#2192 Update CHANGELOG
  CHANGELOG.md
Labels: size/XS

#2197 Add poll for 404 reads after creating an App Engine firewall rule
  .changelog/3663.txt
  google-beta/resource_app_engine_firewall_rule.go
Labels: size/XS

#2198 Descriptions storage bucket object
  .changelog/3672.txt
  google-beta/resource_storage_bucket_object.go
Labels: size/M

#2199 Add Notebooks API Support
  .changelog/3620.txt
  google-beta/config.go
  google-beta/notebooks_operation.go
  google-beta/provider.go
  google-beta/resource_notebooks_environment.go
  google-beta/resource_notebooks_environment_generated_test.go
  google-beta/resource_notebooks_environment_sweeper_test.go
  google-beta/resource_notebooks_environment_test.go
  google-beta/resource_notebooks_instance.go
  google-beta/resource_notebooks_instance_container_test.go
  google-beta/resource_notebooks_instance_generated_test.go
  google-beta/resource_notebooks_instance_gpu_test.go
  google-beta/resource_notebooks_instance_sweeper_test.go
  google-beta/resource_notebooks_instance_test.go
  google-beta/resource_notebooks_location.go
  google-beta/resource_notebooks_location_sweeper_test.go
  website/docs/r/notebooks_environment.html.markdown
  website/docs/r/notebooks_instance.html.markdown
  website/docs/r/notebooks_location.html.markdown
  website/google.erb
Labels: documentation, size/XXL

#2200 Descriptions runtimeconfig variable
  .changelog/3674.txt
  google-beta/resource_runtimeconfig_variable.go
Labels: size/S

#2201 Remove attr checks from GCS test that use hash
  .changelog/3684.txt
  google-beta/resource_storage_bucket_test.go
Labels: size/S

#2202 add desc to schema for google_bigtable_gc_policy
  .changelog/3678.txt
  google-beta/resource_bigtable_gc_policy.go
Labels: size/S

#2203 add desc to schema for google_compute_attached_disk
  .changelog/3679.txt
  google-beta/resource_compute_attached_disk.go
Labels: size/S

#2204 Add SHARED_LOADBALANCER_VIP as option for google_compute_address.purpose
  .changelog/3629.txt
  google-beta/resource_compute_address.go
  google-beta/resource_compute_address_generated_test.go
  website/docs/r/compute_address.html.markdown
Labels: documentation, size/S

#2205 Descriptions storage bucket acl
  .changelog/3673.txt
  google-beta/resource_storage_bucket_acl.go
Labels: size/XS

#2206 add desc to schema for google_compute_instance_group_manager
  .changelog/3655.txt
  google-beta/resource_compute_instance_group_manager.go
Labels: size/L

#2207 Descriptions usage export bucket
  .changelog/3688.txt
  google-beta/resource_usage_export_bucket.go
Labels: size/XS

#2208 fix typo
  .changelog/3369.txt
  google-beta/resource_compute_snapshot.go
  website/docs/r/compute_snapshot.html.markdown
Labels: documentation, size/XS

#2209 Added support for redis instance data source
  .changelog/3623.txt
  google-beta/data_source_google_redis_instance.go
  google-beta/data_source_google_redis_instance_test.go
  google-beta/provider.go
  website/docs/d/datasource_google_redis_instance.html.markdown
  website/google.erb
Labels: documentation, size/L

#2210 Fetch Google netblock from JSON on gstatic domain
  .changelog/3689.txt
  google-beta/data_source_google_netblock_ip_ranges.go
  website/docs/d/datasource_google_netblock_ip_ranges.html.markdown
Labels: documentation, size/M

#2211 add desc to schema for google_compute_instance (conflict resolved)
  .changelog/3694.txt
  google-beta/resource_compute_instance.go
Labels: size/XL

#2212 add desc to schema for google_dataflow_job
  .changelog/3644.txt
  google-beta/resource_dataflow_job.go
Labels: size/M

#2213 documentation: resource composer_environment typo
  .changelog/3697.txt
  website/docs/r/composer_environment.html.markdown
Labels: documentation, size/XS

#2214 Add mode enum and scale down controls for Compute AutoScaler
  .changelog/3693.txt
  google-beta/resource_compute_autoscaler.go
  google-beta/resource_compute_autoscaler_test.go
  google-beta/resource_compute_node_group.go
  website/docs/r/compute_autoscaler.html.markdown
  website/docs/r/compute_node_group.html.markdown
  website/docs/r/compute_region_disk_resource_policy_attachment.html.markdown
Labels: documentation, size/XL

#2215 add desc to schema for 2 org iam resources
  .changelog/3681.txt
  google-beta/iam_organization.go
  google-beta/resource_google_organization_iam_custom_role.go
  google-beta/resource_iam_audit_config.go
Labels: size/M

#2216 add desc to schema for google_monitoring_dashboard
  .changelog/3677.txt
  google-beta/resource_monitoring_dashboard.go
Labels: size/XS

#2217 add desc schema for google_app_engine_application
  .changelog/3641.txt
  google-beta/resource_app_engine_application.go
Labels: size/M

#2218 add desc to schema for google_dataproc_job
  .changelog/3664.txt
  google-beta/resource_dataproc_job.go
Labels: size/L

#2219 add desc to schema for google_project_iam_custom_role
  .changelog/3683.txt
  google-beta/resource_google_project_iam_custom_role.go
Labels: size/S

#2220 add desc to schema for 3 compute resources
  .changelog/3680.txt
  google-beta/resource_compute_instance_from_template.go
  google-beta/resource_compute_project_default_network_tier.go
  google-beta/resource_compute_project_metadata_item.go
Labels: size/S

#2221 add desc to schema for google_dataproc_cluster
  .changelog/3662.txt
  google-beta/resource_dataproc_cluster.go
Labels: size/L

#2222 add desc to schema for google_folder_organization_policy, google_orga…
  .changelog/3668.txt
  google-beta/resource_google_folder_organization_policy.go
  google-beta/resource_google_organization_policy.go
  google-beta/resource_google_project_organization_policy.go
Labels: size/M

#2223 add desc to schema for logging resources
  .changelog/3671.txt
  google-beta/resource_logging_billing_account_bucket_config.go
  google-beta/resource_logging_billing_account_sink.go
  google-beta/resource_logging_bucket_config.go
  google-beta/resource_logging_exclusion.go
  google-beta/resource_logging_folder_bucket_config.go
  google-beta/resource_logging_folder_sink.go
  google-beta/resource_logging_organization_bucket_config.go
  google-beta/resource_logging_organization_sink.go
  google-beta/resource_logging_project_bucket_config.go
  google-beta/resource_logging_project_sink.go
  google-beta/resource_logging_sink.go
Labels: size/L

#2224 Add cloud identity group
  .changelog/3696.txt
  google-beta/config.go
  google-beta/provider.go
  google-beta/provider_test.go
  google-beta/resource_bigquery_data_transfer_config.go
  google-beta/resource_billing_budget.go
  google-beta/resource_cloud_identity_group.go
  google-beta/resource_cloud_identity_group_generated_test.go
  google-beta/resource_cloud_identity_group_membership.go
  google-beta/resource_cloud_identity_group_membership_generated_test.go
  google-beta/resource_cloud_identity_group_membership_sweeper_test.go
  google-beta/resource_cloud_identity_group_sweeper_test.go
  google-beta/resource_cloud_identity_group_test.go
  google-beta/resource_dialogflow_entity_type.go
  google-beta/resource_dialogflow_intent.go
  google-beta/resource_iap_brand.go
  google-beta/resource_logging_metric.go
  google-beta/resource_monitoring_alert_policy.go
  google-beta/resource_monitoring_group.go
  google-beta/resource_monitoring_notification_channel.go
  google-beta/resource_monitoring_uptime_check_config.go
  google-beta/resource_security_center_source.go
  google-beta/resource_security_scanner_scan_config.go
  website/docs/r/cloud_identity_group.html.markdown
  website/docs/r/cloud_identity_group_membership.html.markdown
  website/google.erb
Labels: documentation, size/XXL

#2225 add kms key ring import job
  .changelog/3702.txt
  google-beta/provider.go
  google-beta/resource_kms_key_ring_import_job.go
  google-beta/resource_kms_key_ring_import_job_sweeper_test.go
  google-beta/resource_kms_key_ring_import_job_test.go
  website/docs/r/kms_key_ring_import_job.html.markdown
  website/google.erb
Labels: documentation, size/XL

#2226 Add mode and scaleDownControls for Compute Region AutoScaler
  .changelog/3701.txt
  google-beta/resource_compute_region_autoscaler.go
  google-beta/resource_compute_region_autoscaler_test.go
  website/docs/r/compute_region_autoscaler.html.markdown
Labels: documentation, size/XL

#2227 resource.Test to vcrTest
  .changelog/3705.txt
  google-beta/data_source_google_redis_instance_test.go
Labels: size/XS

#2228 Descriptions runtimeconfig config
  .changelog/3675.txt
  google-beta/resource_runtimeconfig_config.go
Labels: size/XS

#2229 Descriptions container registry
  .changelog/3676.txt
  google-beta/resource_container_registry.go
Labels: size/XS

#2232 add examples for L7-XLB Header & Parameter Based Routing
  .changelog/3703.txt
  google-beta/resource_compute_url_map_generated_test.go
  website/docs/r/compute_url_map.html.markdown
Labels: documentation, size/XL

#2233 Monitoring add content type
  .changelog/3706.txt
  google-beta/resource_monitoring_uptime_check_config.go
  google-beta/resource_monitoring_uptime_check_config_generated_test.go
  google-beta/resource_monitoring_uptime_check_config_test.go
  website/docs/r/monitoring_uptime_check_config.html.markdown
Labels: documentation, size/M

#2234 promote GKE database encryption to ga
  .changelog/3699.txt
  google-beta/resource_container_cluster.go
  google-beta/resource_container_cluster_test.go
  website/docs/r/container_cluster.html.markdown
Labels: documentation, size/M

#2235 Add hourly partitioning to bigquery table (upstream PR)
  .changelog/3707.txt
  google-beta/resource_bigquery_table.go
  google-beta/resource_bigquery_table_test.go
Labels: size/M

#2236 added descriptions and formatted
  .changelog/3686.txt
  google-beta/resource_google_service_account_key.go
Labels: size/S

#2237 Add new resource google_folder_iam_audit_config.
  .changelog/3698.txt
  google-beta/provider.go
  google-beta/resource_google_folder_iam_audit_config_test.go
  google-beta/resource_google_project_iam_audit_config_test.go
  website/docs/r/google_folder_iam_audit_config.html.markdown
  website/google.erb
Labels: documentation, size/XL

#2238 added descriptions
  .changelog/3649.txt
  google-beta/resource_compute_network_peering.go
  google-beta/resource_compute_router_interface.go
  google-beta/resource_compute_security_policy.go
  google-beta/resource_compute_shared_vpc_host_project.go
  google-beta/resource_compute_shared_vpc_service_project.go
  google-beta/resource_compute_target_pool.go
  google-beta/resource_dns_record_set.go
  google-beta/resource_google_folder.go
  google-beta/resource_google_project.go
  google-beta/resource_google_service_account.go
  google-beta/resource_service_networking_connection.go
  google-beta/resource_sql_ssl_cert.go
  google-beta/resource_sql_user.go
  google-beta/resource_storage_notification.go
  google-beta/resource_storage_transfer_job.go
Labels: size/XL

#2239 Autoformat with terrafmt
  .changelog/3716.txt
  website/docs/guides/getting_started.html.markdown
  website/docs/guides/provider_reference.html.markdown
  website/docs/guides/using_gke_with_terraform.html.markdown
  website/docs/guides/version_2_upgrade.html.markdown
  website/docs/guides/version_3_upgrade.html.markdown
Labels: documentation, size/L

#2240 add cloud identity data sources
  .changelog/3714.txt
  google-beta/config.go
  google-beta/data_source_cloud_identity_group_memberships.go
  google-beta/data_source_cloud_identity_group_memberships_test.go
  google-beta/data_source_cloud_identity_groups.go
  google-beta/data_source_cloud_identity_groups_test.go
  google-beta/provider.go
  website/docs/d/cloud_identity_group_membership.html.markdown
  website/docs/d/cloud_identity_groups.html.markdown
  website/google.erb
Labels: documentation, size/XL

#2241 Fix absoluteDomainSuppress to check more than one domain
  .changelog/3711.txt
  google-beta/common_diff_suppress.go
Labels: size/XS

#2242 Make workload_metadata_config computed
  .changelog/3713.txt
  google-beta/node_config.go
Labels: size/XS

#2243 add networking_mode to google_container_cluster
  .changelog/3709.txt
  google-beta/resource_container_cluster.go
  google-beta/resource_container_cluster_test.go
  website/docs/r/container_cluster.html.markdown
Labels: documentation, size/M

#2230 3.28.0 Changelog
  CHANGELOG.md
Labels: size/XS

#2244 Release 3.28.0
  CHANGELOG.md
Labels: size/XS

#2245 fix compute image datasource link
  .changelog/3719.txt
  google-beta/resource_compute_disk.go
  website/docs/r/compute_disk.html.markdown
  website/docs/r/compute_instance.html.markdown
  website/docs/r/compute_instance_template.html.markdown
Labels: documentation, size/XS

#2246 service is part of the URL and therefore is required.
  .changelog/3720.txt
  google-beta/resource_app_engine_flexible_app_version.go
  google-beta/resource_app_engine_standard_app_version.go
  website/docs/r/app_engine_flexible_app_version.html.markdown
  website/docs/r/app_engine_standard_app_version.html.markdown
Labels: documentation, size/S

#2247 remove `path_matchers` conflicts
  .changelog/3722.txt
  google-beta/resource_compute_url_map.go
Labels: size/XS
