Repository hashicorp/terraform-provider-google-beta, pull requests merged in 2020-12, with the labels that each got.

#2751 Update google_container_node_pool oauth_scopes to cloud-platform
  .changelog/4274.txt
  website/docs/r/container_node_pool.html.markdown
Labels: size/XS

#2752 Promote Managed SSL to GA + Doc fixes
  .changelog/4247.txt
  google-beta/resource_cloud_scheduler_job.go
  google-beta/resource_cloud_scheduler_job_generated_test.go
  google-beta/resource_compute_managed_ssl_certificate_generated_test.go
  website/docs/r/cloud_scheduler_job.html.markdown
  website/docs/r/compute_managed_ssl_certificate.html.markdown
Labels: size/M

#2753 some APIs treat 412s as the conflict code.
  .changelog/4277.txt
  google-beta/utils.go
  google-beta/utils_test.go
Labels: size/XS

#2754 Allow url map to handle backend service fields that can also be backend buckets.
  .changelog/4269.txt
  google-beta/resource_compute_url_map.go
  google-beta/resource_compute_url_map_generated_test.go
  website/docs/r/compute_url_map.html.markdown
Labels: size/XL

#2755 Promote resource policy to GA
  .changelog/4265.txt
  google-beta/data_source_google_compute_resource_policy.go
  google-beta/data_source_google_compute_resource_policy_test.go
Labels: size/M

#2756 Add replacement_method to IGM and RIGM update_policy
  .changelog/4258.txt
  google-beta/resource_compute_instance_group_manager.go
  google-beta/resource_compute_instance_group_manager_test.go
  google-beta/resource_compute_region_instance_group_manager.go
  google-beta/resource_compute_region_instance_group_manager_test.go
Labels: size/M

#2757 Upstream Correct documentation for google_service_account_iam
  .changelog/4289.txt
  website/docs/r/google_service_account_iam.html.markdown
Labels: size/XS

#2759 Add resource document to google_firestore
  .changelog/4279.txt
  google-beta/provider.go
  google-beta/resource_firestore_document.go
  google-beta/resource_firestore_document_generated_test.go
  google-beta/resource_firestore_document_sweeper_test.go
  google-beta/resource_firestore_document_test.go
  website/docs/r/firestore_document.html.markdown
  website/google.erb
Labels: size/XL

#2760 V1
  .changelog/4253.txt
  google-beta/iam_api_gateway_api_config_generated_test.go
  google-beta/iam_api_gateway_api_generated_test.go
  google-beta/iam_api_gateway_gateway_generated_test.go
  google-beta/iam_artifact_registry_repository_generated_test.go
  google-beta/iam_compute_machine_image_generated_test.go
  google-beta/iam_data_catalog_policy_tag_generated_test.go
  google-beta/iam_data_catalog_taxonomy_generated_test.go
  google-beta/iam_healthcare_consent_store_generated_test.go
  google-beta/iam_notebooks_instance_generated_test.go
  google-beta/iam_service_directory_namespace_generated_test.go
  google-beta/iam_service_directory_service_generated_test.go
  google-beta/resource_notebooks_environment_generated_test.go
  google-beta/resource_notebooks_instance_generated_test.go
  website/docs/r/notebooks_environment.html.markdown
  website/docs/r/notebooks_instance.html.markdown
  website/docs/r/notebooks_instance_iam.html.markdown
  website/docs/r/notebooks_location.html.markdown
Labels: size/M

#2762 Add CDN to regional backend service, add flexible cache control to backend service.
  .changelog/4276.txt
  google-beta/resource_compute_backend_bucket.go
  google-beta/resource_compute_backend_service.go
  google-beta/resource_compute_backend_service_generated_test.go
  google-beta/resource_compute_region_backend_service.go
  google-beta/resource_compute_region_backend_service_generated_test.go
  website/docs/r/compute_backend_bucket.html.markdown
  website/docs/r/compute_backend_service.html.markdown
  website/docs/r/compute_region_backend_service.html.markdown
Labels: size/XXL

#2763 Move `customResponseHeaders` to beta only
  .changelog/4286.txt
  google-beta/resource_compute_backend_service_generated_test.go
  website/docs/r/compute_backend_service.html.markdown
Labels: size/XS

#2758 3.50.0 changelog - beta
  CHANGELOG.md
Labels: size/XS

#2764 Mark oidc and aws fields as Forcenew
  .changelog/4290.txt
  google-beta/resource_iam_beta_workload_identity_pool_provider.go
  google-beta/resource_iam_beta_workload_identity_pool_provider_test.go
Labels: size/XS

#2765 Update CVM docs
  .changelog/4291.txt
  website/docs/r/compute_instance.html.markdown
  website/docs/r/compute_instance_template.html.markdown
Labels: size/XS

#2766 Remove string concatenation in spanner DB update
  .changelog/4294.txt
  google-beta/resource_spanner_database.go
  google-beta/resource_spanner_database_test.go
Labels: size/XS

#2767 Add customized diff for unique_writer_identity on resource google_logging_project_sink
  .changelog/4301.txt
  google-beta/resource_logging_project_sink.go
  google-beta/resource_logging_project_sink_test.go
  website/docs/r/logging_project_sink.html.markdown
Labels: size/M

#2768 container_cluster - document possible release_channel configurations
  .changelog/4287.txt
  google-beta/resource_container_cluster.go
Labels: size/XS

#2769 Bump default request timeout to 90s
  .changelog/4303.txt
  google-beta/retry_transport.go
Labels: size/XS

#2771 Use updated policy to update, not empty policy for DEPRIVILEGE
  .changelog/4293.txt
  google-beta/resource_google_project_default_service_accounts.go
Labels: size/XS

#2770 Added v3 to module path
  go.mod
  google-beta/provider.go
  main.go
Labels: size/XS

#2773 Add SHARED_LOADBALANCER_VIP purpose to regional addresses.
  .changelog/4169.txt
  google-beta/resource_compute_address.go
  google-beta/resource_compute_address_generated_test.go
  website/docs/r/compute_address.html.markdown
Labels: size/XS

#2775 Add missing 'location' option in sql_database_instance.settings.backup_configuration documentation
  .changelog/4305.txt
  website/docs/r/sql_database_instance.html.markdown
Labels: size/XS

#2776 add tests and docs for using custom service account in dataflow flex template job
  .changelog/4260.txt
  google-beta/resource_dataflow_flex_template_job_test.go
  website/docs/r/dataflow_flex_template_job.html.markdown
Labels: size/L

#2777 fix scheduler_job_http example
  .changelog/4280.txt
  google-beta/resource_cloud_scheduler_job_generated_test.go
  website/docs/r/cloud_scheduler_job.html.markdown
Labels: size/XS

#2778 Mark replication type computed as it no longer comes back from API
  .changelog/4312.txt
  google-beta/resource_sql_database_instance.go
Labels: size/XS

#2779 Added support for Google Virtual Network Interface (gVNIC) for image part
  .changelog/4306.txt
  google-beta/resource_compute_image.go
  website/docs/r/compute_image.html.markdown
Labels: size/XS

#2772 Ran go mod tidy to clean up dependencies
  go.mod
  go.sum
Labels: size/M

#2774 Add changelog for 3.51.0
  CHANGELOG.md
Labels: size/XS

#2780 Zero out upload url before update
  .changelog/4292.txt
  google-beta/resource_cloudfunctions_function.go
Labels: size/XS

#2781 Add Pub/Sub Lite Resources
  .changelog/4295.txt
  google-beta/config.go
  google-beta/provider.go
  google-beta/resource_pubsub_lite_subscription.go
  google-beta/resource_pubsub_lite_subscription_generated_test.go
  google-beta/resource_pubsub_lite_subscription_sweeper_test.go
  google-beta/resource_pubsub_lite_topic.go
  google-beta/resource_pubsub_lite_topic_generated_test.go
  google-beta/resource_pubsub_lite_topic_sweeper_test.go
  website/docs/r/pubsub_lite_subscription.html.markdown
  website/docs/r/pubsub_lite_topic.html.markdown
  website/google.erb
Labels: size/XXL

#2782 Test TestAccFirebaseWebApp_firebaseWebAppFull
  .changelog/4296.txt
  google-beta/resource_dataflow_flex_template_job_test.go
  google-beta/resource_firebase_web_app_test.go
Labels: size/XS

#2783 last tutorial changes
  .changelog/4313.txt
  google-beta/resource_dataflow_flex_template_job_test.go
Labels: size/XS

#2784 Update IAM Documentation
  .changelog/4252.txt
  website/docs/d/iam_policy.html.markdown
  website/docs/r/api_gateway_api_config_iam.html.markdown
  website/docs/r/api_gateway_api_iam.html.markdown
  website/docs/r/api_gateway_gateway_iam.html.markdown
  website/docs/r/artifact_registry_repository_iam.html.markdown
  website/docs/r/bigquery_table_iam.html.markdown
  website/docs/r/binary_authorization_attestor_iam.html.markdown
  website/docs/r/cloud_run_service_iam.html.markdown
  website/docs/r/cloudfunctions_cloud_function_iam.html.markdown
  website/docs/r/compute_disk_iam.html.markdown
  website/docs/r/compute_image_iam.html.markdown
  website/docs/r/compute_instance_iam.html.markdown
  website/docs/r/compute_machine_image_iam.html.markdown
  website/docs/r/compute_region_disk_iam.html.markdown
  website/docs/r/compute_subnetwork_iam.html.markdown
  website/docs/r/data_catalog_entry_group_iam.html.markdown
  website/docs/r/data_catalog_policy_tag_iam.html.markdown
  website/docs/r/data_catalog_taxonomy_iam.html.markdown
  website/docs/r/endpoints_service_iam.html.markdown
  website/docs/r/google_folder_iam.html.markdown
  website/docs/r/google_project_iam.html.markdown
  website/docs/r/healthcare_consent_store_iam.html.markdown
  website/docs/r/iap_app_engine_service_iam.html.markdown
  website/docs/r/iap_app_engine_version_iam.html.markdown
  website/docs/r/iap_tunnel_iam.html.markdown
  website/docs/r/iap_tunnel_instance_iam.html.markdown
  website/docs/r/iap_web_backend_service_iam.html.markdown
  website/docs/r/iap_web_iam.html.markdown
  website/docs/r/iap_web_type_app_engine_iam.html.markdown
  website/docs/r/iap_web_type_compute_iam.html.markdown
  website/docs/r/notebooks_instance_iam.html.markdown
  website/docs/r/pubsub_topic_iam.html.markdown
  website/docs/r/runtimeconfig_config_iam.html.markdown
  website/docs/r/secret_manager_secret_iam.html.markdown
  website/docs/r/service_directory_namespace_iam.html.markdown
  website/docs/r/service_directory_service_iam.html.markdown
  website/docs/r/sourcerepo_repository_iam.html.markdown
  website/docs/r/storage_bucket_iam.html.markdown
Labels: size/M

#2785 added data source for storage bucket object content
  .changelog/4254.txt
  google-beta/data_source_storage_bucket_object_content.go
  google-beta/data_source_storage_bucket_object_content_test.go
  google-beta/provider.go
  website/docs/d/storage_bucket_object_content.html.markdown
  website/google.erb
Labels: size/L

#2786 Corrected generateUserAgentString usage
  .changelog/4315.txt
  google-beta/resource_compute_route.go
  google-beta/resource_secret_manager_secret_version.go
Labels: size/XS

#2787 add better error message for no cassette
  .changelog/4316.txt
  google-beta/provider_test.go
Labels: size/XS

#2790 Add dependency to fix test
  .changelog/4320.txt
  google-beta/resource_data_catalog_policy_tag_generated_test.go
  website/docs/r/data_catalog_policy_tag.html.markdown
Labels: size/XS

#2791 ForceOverride as ignore read as it does not appear in response
  .changelog/4304.txt
  google-beta/resource_cloud_run_domain_mapping.go
  google-beta/resource_cloud_run_domain_mapping_generated_test.go
  google-beta/resource_dataflow_flex_template_job_test.go
  website/docs/r/cloud_run_domain_mapping.html.markdown
Labels: size/XS

#2792 Fix reading connection_id from API
  .changelog/4319.txt
  google-beta/resource_bigquery_connection_connection.go
  google-beta/resource_dataflow_flex_template_job_test.go
Labels: size/S

#2793 Fix documentation link
  .changelog/4327.txt
  website/docs/r/sql_database_instance.html.markdown
Labels: size/XS

#2794 Ignores for tests that shouldn't use VCR
  .changelog/4325.txt
  google-beta/data_source_spanner_instance_test.go
  google-beta/resource_bigquery_data_transfer_config_test.go
  google-beta/resource_os_login_ssh_public_key_test.go
Labels: size/XS

#2795 Fix composer tests
  .changelog/4323.txt
  google-beta/data_source_google_composer_environment.go
  google-beta/data_source_google_composer_environment_test.go
  google-beta/resource_composer_environment_test.go
Labels: size/XS

#2796 Removed trailing references to kubernetes_dashboard
  .changelog/4328.txt
  google-beta/resource_dataflow_flex_template_job_test.go
Labels: size/XS

#2797 Refer to the value of `labels` as a 'map'
  .changelog/3991.txt
  google-beta/resource_dataflow_flex_template_job_test.go
  website/docs/r/storage_bucket.html.markdown
Labels: size/XS

#2798 Ignores for tests that shouldn't use VCR
  google-beta/data_source_google_composer_environment.go
  google-beta/data_source_google_composer_environment_test.go
  google-beta/resource_composer_environment_test.go
  website/docs/r/storage_bucket.html.markdown
Labels: size/XS

#2799 Fix composer tests
  google-beta/data_source_google_composer_environment.go
  google-beta/data_source_google_composer_environment_test.go
  google-beta/resource_composer_environment_test.go
Labels: size/XS

#2800 Refer to the value of `labels` as a 'map'
  website/docs/r/storage_bucket.html.markdown
Labels: size/XS

#2801 Clean up IAM Scopes in the documentation
  .changelog/4321.txt
  website/docs/d/service_account_access_token.html.markdown
  website/docs/guides/version_2_upgrade.html.markdown
  website/docs/r/composer_environment.html.markdown
  website/docs/r/compute_instance.html.markdown
  website/docs/r/compute_instance_template.html.markdown
  website/docs/r/container_cluster.html.markdown
  website/docs/r/container_node_pool.html.markdown
  website/docs/r/dataproc_cluster.html.markdown
Labels: size/M

#2802 add support for IAM authentication to google_sql_user for #7512
  .changelog/4322.txt
  google-beta/resource_dataflow_flex_template_job_test.go
  google-beta/resource_sql_user.go
  google-beta/resource_sql_user_test.go
  website/docs/r/sql_user.html.markdown
Labels: size/M

#2803 Correct documentation for importing google_service_account_iam
  .changelog/4329.txt
  google-beta/resource_dataflow_flex_template_job_test.go
  website/docs/r/google_service_account_iam.html.markdown
Labels: size/XS

#2804 fix tests failures
  .changelog/4330.txt
  google-beta/resource_container_cluster_test.go
Labels: size/XS

#2805 Add support for enableIndependentEndpointMapping to router nat
  .changelog/4324.txt
  google-beta/resource_compute_router_nat.go
  google-beta/resource_compute_router_nat_test.go
  website/docs/r/compute_router_nat.html.markdown
Labels: size/M

#2806 Fix typos from cleaning up IAM Scopes
  .changelog/4332.txt
  website/docs/r/compute_instance_template.html.markdown
  website/docs/r/container_cluster.html.markdown
  website/docs/r/container_node_pool.html.markdown
  website/docs/r/dataproc_cluster.html.markdown
  website/docs/r/google_service_account.html.markdown
  website/docs/r/google_service_account_key.html.markdown
Labels: size/XS

#2808 Update SCC docs link (was incorrectly binauth)
  .changelog/4339.txt
  google-beta/resource_dataflow_flex_template_job_test.go
  website/docs/r/scc_source.html.markdown
Labels: size/XS

#2809 dataproc_job add support for job status RUNNING
  .changelog/4341.txt
  google-beta/dataproc_job_operation.go
Labels: size/XS

#2810 Fix path_matcher in region url maps
  .changelog/4298.txt
  google-beta/resource_compute_region_url_map.go
  google-beta/resource_compute_region_url_map_test.go
  website/docs/r/compute_region_url_map.html.markdown
Labels: size/M

#2811 Add customized diff scenario for google_container_cluster.private_cluster_config.master_ipv4_cidr_block
  .changelog/4345.txt
  google-beta/resource_container_cluster.go
  google-beta/resource_container_cluster_test.go
Labels: size/S

#2812 Add diff suppress for max retry 0s on google_cloud_tasks_queue.retry_config.max_retry_duration
  .changelog/4337.txt
  google-beta/resource_cloud_tasks_queue.go
  google-beta/resource_cloud_tasks_queue_test.go
Labels: size/S

#2813 Add ga version of bigquery reservation
  .changelog/4342.txt
  google-beta/resource_bigquery_reservation_reservation_generated_test.go
  website/docs/r/bigquery_reservation.html.markdown
Labels: size/XS

#2814 Eliminate retries in the inner loop for errors that will not succeed.
  .changelog/4334.txt
  google-beta/error_retry_predicates.go
  google-beta/filestore_operation.go
  google-beta/iam_storage_bucket.go
  google-beta/resource_dataflow_flex_template_job_test.go
  google-beta/resource_filestore_instance.go
  google-beta/resource_filestore_instance_generated_test.go
Labels: size/S

#2815 Upstream Bigtable seconds
  .changelog/4282.txt
  google-beta/resource_bigtable_gc_policy.go
  google-beta/resource_bigtable_gc_policy_test.go
  google-beta/resource_dataflow_flex_template_job_test.go
  website/docs/r/bigtable_gc_policy.html.markdown
Labels: size/S

#2816 Always set master_global_access_config in google_container_cluster
  .changelog/4343.txt
  google-beta/resource_container_cluster.go
Labels: size/XS

#2818 Promote Confidential VM to GA
  .changelog/4326.txt
  google-beta/resource_compute_instance_template_test.go
  google-beta/resource_compute_instance_test.go
  website/docs/r/compute_instance.html.markdown
  website/docs/r/compute_instance_template.html.markdown
Labels: size/XS

#2819 Promote Redis Auth to GA
  .changelog/4314.txt
  google-beta/resource_redis_instance.go
  website/docs/r/redis_instance.html.markdown
Labels: size/M

#2817 Update SDK to 2.4.0
  go.mod
  go.sum
Labels: size/XS

#2820 Fixed setting kubelet_config to disable cpu_cfs_quota does not seem to work
  .changelog/4331.txt
  go.sum
  google-beta/node_config.go
  google-beta/resource_container_node_pool_test.go
  google-beta/resource_dataflow_flex_template_job_test.go
Labels: size/S

#2821 Fixed google_logging_project_sink.disabled can not updated
  .changelog/4340.txt
  google-beta/resource_dataflow_flex_template_job_test.go
  google-beta/resource_logging_project_sink_test.go
  google-beta/resource_logging_sink.go
Labels: size/M

#2822 [Compute_Disk] - Add beta multi-writer support
  .changelog/3911.txt
  google-beta/resource_compute_disk.go
  google-beta/resource_compute_disk_test.go
  website/docs/r/compute_disk.html.markdown
Labels: size/M

#2823 Fix some network / firewall prefixes to allow sweeping
  .changelog/4353.txt
  google-beta/data_source_google_compute_subnetwork_test.go
  google-beta/resource_compute_firewall_test.go
  google-beta/resource_compute_network_peering_test.go
  google-beta/resource_compute_network_test.go
Labels: size/M

#2824 Add SQL Backup Run Datasource
  .changelog/4352.txt
  google-beta/bootstrap_utils_test.go
  google-beta/data_source_sql_backup_run.go
  google-beta/data_source_sql_backup_run_test.go
  google-beta/provider.go
  google-beta/resource_dataflow_flex_template_job_test.go
  website/docs/d/sql_backup_run.html.markdown
  website/google.erb
Labels: size/XL

#2825 GA packet mirroring, add filter direction, ga mirroring collector flag
  .changelog/4350.txt
  google-beta/resource_compute_packet_mirroring.go
  google-beta/resource_compute_packet_mirroring_generated_test.go
  google-beta/resource_dataflow_flex_template_job_test.go
  website/docs/r/compute_forwarding_rule.html.markdown
  website/docs/r/compute_packet_mirroring.html.markdown
Labels: size/M
