Repository hashicorp/terraform-provider-google-beta, pull requests merged in 2020-02, with the labels that each got.

#1711 Remove notes about base-64 encoding of secret data in markdown
  .changelog/3065.txt
  google-beta/data_source_secret_manager_secret_version.go
  google-beta/resource_secret_manager_secret_version.go
  website/docs/d/datasource_google_secret_manager_secret_version.html.markdown
  website/docs/r/secret_manager_secret_version.html.markdown
Labels: documentation, size/XS

#1712 add fine-grained resource for service perimeter resource
  .changelog/3052.txt
  google-beta/bootstrap_utils_test.go
  google-beta/provider.go
  google-beta/resource_access_context_manager_access_policy_test.go
  google-beta/resource_access_context_manager_service_perimeter.go
  google-beta/resource_access_context_manager_service_perimeter_resource.go
  google-beta/resource_access_context_manager_service_perimeter_resource_test.go
  google-beta/resource_compute_router_bgp_peer.go
  google-beta/resource_compute_router_nat.go
  google-beta/resource_sql_database_instance_test.go
  website/docs/r/access_context_manager_service_perimeter_resource.html.markdown
  website/google.erb
Labels: documentation, size/XL

#1713 Always diff $OLD $NEW instead of $NEW $OLD
  .changelog/3069.txt
  google-beta/resource_sql_database_instance_test.go
Labels: size/XS

#1714 have metadata item fail on create if the key is already present
  .changelog/3063.txt
  google-beta/resource_compute_project_metadata_item.go
  google-beta/resource_compute_project_metadata_item_test.go
  google-beta/resource_sql_database_instance_test.go
Labels: size/M

#1715 Add custom_create custom code attachement.
  .changelog/3067.txt
  google-beta/resource_sql_database_instance_test.go
Labels: size/XS

#1716 Add note about Postgres requiring user passwords
  .changelog/3068.txt
  website/docs/r/sql_user.html.markdown
Labels: documentation, size/XS

#1717 Split up TF utils.go.erb
  .changelog/3071.txt
  google-beta/common_diff_suppress.go
  google-beta/error_retry_predicates.go
  google-beta/retry_utils.go
  google-beta/utils.go
Labels: size/XL

#1718 only include PatchUpdateEncoder if the resource is updatable
  .changelog/3070.txt
  google-beta/resource_access_context_manager_service_perimeter_resource.go
Labels: size/S

#1719 no changelog on ansible or inspec
  .changelog/3066.txt
  google-beta/resource_sql_database_instance_test.go
Labels: size/XS

#1722 null
  google-beta/resource_sql_database_instance_test.go
  website/docs/r/google_organization_iam_policy.html.markdown
Labels: documentation, size/XS

#1724 null
  google-beta/resource_sql_database_instance.go
  website/docs/r/sql_database_instance.html.markdown
Labels: documentation, size/XS

#1725 null
  google-beta/provider.go
  google-beta/resource_container_registry.go
  google-beta/resource_container_registry_test.go
  website/docs/r/container_registry.html.markdown
  website/google.erb
Labels: documentation, size/L

#1726 Update random reviewers
  .hashibot.hcl
Labels: size/XS

#1727 null
  google-beta/resource_cloud_run_service.go
Labels: size/XS

#1728 null
  google-beta/resource_google_project.go
Labels: size/XS

#1729 null
  google-beta/iam_binary_authorization_attestor_generated_test.go
  google-beta/iam_cloud_functions_cloud_function_generated_test.go
  google-beta/iam_cloud_run_service_generated_test.go
  google-beta/iam_compute_instance_generated_test.go
  google-beta/iam_compute_subnetwork_generated_test.go
  google-beta/iam_iap_web_backend_service_generated_test.go
  google-beta/iam_pubsub_topic_generated_test.go
  google-beta/iam_runtime_config_config_generated_test.go
  google-beta/iam_storage_bucket_generated_test.go
Labels: size/M

#1730 null
  google-beta/resource_dialogflow_agent.go
Labels: size/XS

#1731 Update `secondary_ip_range` docs for sending an empty array
  .changelog/3083.txt
  google-beta/resource_compute_subnetwork.go
  website/docs/r/compute_instance.html.markdown
  website/docs/r/compute_subnetwork.html.markdown
Labels: documentation, size/XS

#1732 change error wrap formatting
  .changelog/3089.txt
  google-beta/resource_google_project.go
Labels: size/XS

#1733 Correct name for iap tunnel instance generated tests
  .changelog/3090.txt
  google-beta/iam_iap_tunnel_instance_generated_test.go
Labels: size/XS

#1734 Dont return error if we cant find a default value in IAM parse import id
  .changelog/3078.txt
  google-beta/iam_binary_authorization_attestor.go
  google-beta/iam_cloud_functions_cloud_function.go
  google-beta/iam_cloud_run_service.go
  google-beta/iam_compute_instance.go
  google-beta/iam_compute_subnetwork.go
  google-beta/iam_iap_app_engine_service.go
  google-beta/iam_iap_app_engine_version.go
  google-beta/iam_iap_tunnel_instance.go
  google-beta/iam_iap_web.go
  google-beta/iam_iap_web_backend_service.go
  google-beta/iam_iap_web_type_app_engine.go
  google-beta/iam_iap_web_type_compute.go
  google-beta/iam_pubsub_topic.go
  google-beta/iam_runtime_config_config.go
  google-beta/iam_secret_manager_secret.go
  google-beta/iam_source_repo_repository.go
  google-beta/import.go
Labels: size/L

#1735 Fix errors in project retries, add billinginfo retries
  .changelog/3091.txt
  google-beta/resource_google_project.go
Labels: size/S

#1736 added boot_disk_kms_key to node_config
  .changelog/3044.txt
  google-beta/config.go
  google-beta/node_config.go
  google-beta/resource_container_cluster_test.go
  google-beta/resource_container_node_pool_test.go
  google-beta/resource_sql_database_instance.go
  google-beta/resource_sql_user.go
  website/docs/r/container_cluster.html.markdown
Labels: documentation, size/L

#1737 Implement new-style resource state handling for GKE cluster
  .changelog/3077.txt
  google-beta/resource_container_cluster.go
  google-beta/state_util.go
Labels: size/M

#1738 fix sqladmin pkg and remove computed and removed
  .changelog/3093.txt
  google-beta/config.go
  google-beta/node_config.go
Labels: size/XS

#1739 Fix various tests from changing test prefix
  .changelog/3094.txt
  google-beta/iam_cloud_run_service_generated_test.go
  google-beta/resource_vpc_access_connector_generated_test.go
  website/docs/r/vpc_access_connector.html.markdown
Labels: documentation, size/XS

#1740 Set `public_key` to computed
  .changelog/3095.txt
  google-beta/data_source_google_kms_crypto_key_version.go
Labels: size/XS

#1741 Set database and collection during import of firestore index.
  .changelog/3097.txt
  google-beta/resource_firestore_index.go
Labels: size/XS

#1742 Refactor error predicates
  .changelog/3096.txt
  google-beta/common_operation.go
  google-beta/error_retry_predicates.go
  google-beta/metadata.go
  google-beta/retry_utils.go
  google-beta/transport.go
  google-beta/utils_test.go
Labels: size/L

#1743 Documentation change to reflect the fact that beta provider blocks are optional.
  .changelog/3100.txt
  website/docs/guides/provider_versions.html.markdown
Labels: documentation, size/M

#1745 Fix lint from #3096
  .changelog/3101.txt
  google-beta/error_retry_predicates.go
Labels: size/XS

#1746 Upstream https://github.com/terraform-providers/terraform-provider-google/pull/5638.
  .changelog/3104.txt
  website/docs/d/google_iam_policy.html.markdown
Labels: documentation, size/XS

#1747 lint error: ineffectual assignment.
  .changelog/3105.txt
  google-beta/resource_secret_manager_secret_version.go
Labels: size/XS

#1748 Remove `ExactlyOneOf` restriction for `auto_provisioning_defaults`
  .changelog/3106.txt
  google-beta/resource_container_cluster.go
  website/docs/r/container_cluster.html.markdown
Labels: documentation, size/XS

#1749 Fix sqladmin after revendoring
  .changelog/3099.txt
  google-beta/config.go
  google-beta/resource_sql_database_instance.go
  google-beta/resource_sql_user.go
Labels: size/XS

#1751 Bigtable Instance changes
  .changelog/3102.txt
  google-beta/resource_bigtable_instance.go
  google-beta/resource_bigtable_instance_test.go
Labels: size/M

#1752 Fix the SQL API URL in MM
  .changelog/3111.txt
  google-beta/config.go
Labels: size/XS

#1753 Rename inst-test networks to tf-test for sweeper
  .changelog/3112.txt
  google-beta/resource_compute_instance_template_test.go
  google-beta/resource_compute_instance_test.go
Labels: size/XS

#1754 Add job_id field to google_dataflow_job
  .changelog/3113.txt
  google-beta/resource_dataflow_job.go
  website/docs/r/dataflow_job.html.markdown
Labels: documentation, size/XS

#1756 Configure autoscaling profile in GKE clusters
  .changelog/3076.txt
  google-beta/resource_container_cluster.go
  google-beta/resource_container_cluster_test.go
  website/docs/r/container_cluster.html.markdown
Labels: documentation, size/M

#1757 We need to flatten spanner names - previously it hadn't mattered whether we do it or not, but now since we get the name from the operation, it starts to matter.
  .changelog/3119.txt
  google-beta/resource_spanner_database.go
  google-beta/resource_spanner_instance.go
Labels: size/XS

#1758 Add state waiting to google_container_node_pool
  .changelog/3114.txt
  google-beta/resource_container_node_pool.go
Labels: size/M

#1759 Remove error status check in GKE cluster on read
  .changelog/3115.txt
  google-beta/resource_container_cluster.go
Labels: size/XS

#1760 Fully remove `use_ip_aliases` and `create_subnetwork`
  .changelog/3123.txt
  google-beta/resource_container_cluster.go
Labels: size/XS

#1762 Add more generic error predicates
  .changelog/3116.txt
  google-beta/error_retry_predicates.go
Labels: size/M

#1763 Add docs for Secret Manager to sidebar
  .changelog/3127.txt
  google-beta/resource_secret_manager_secret_version_generated_test.go
  website/docs/r/secret_manager_secret_version.html.markdown
  website/google.erb
Labels: documentation, size/S

#1764 Add tests for healthcare store pubsub topic removal
  .changelog/3122.txt
  google-beta/resource_healthcare_dicom_store_test.go
  google-beta/resource_healthcare_fhir_store_test.go
  google-beta/resource_healthcare_hl7_v2_store_test.go
Labels: size/XS

#1750 Fix for terraform-provider-google issue 5608
  google-beta/resource_container_cluster.go
  website/docs/r/container_cluster.html.markdown
Labels: documentation, size/XS

#1765 Adds storage_hmac_key_resource
  .changelog/3084.txt
  google-beta/provider.go
  google-beta/resource_storage_hmac_key.go
  google-beta/resource_storage_hmac_key_generated_test.go
  google-beta/resource_storage_hmac_key_test.go
  website/docs/r/storage_hmac_key.html.markdown
  website/google.erb
Labels: documentation, size/XL

#1767 Avoid panics on unit tests
  .changelog/3134.txt
  google-beta/bootstrap_utils_test.go
Labels: size/XS

#1768 Terraform Data Source to get DNSKEY records of DNSSEC-signed managed zones
  .changelog/3117.txt
  google-beta/data_source_dns_key_test.go
  google-beta/data_source_dns_keys.go
  google-beta/provider.go
  website/docs/d/datasource_dns_keys.html.markdown
  website/google.erb
Labels: documentation, size/XL

#1769 add version field to fhir store
  .changelog/3132.txt
  google-beta/resource_healthcare_fhir_store.go
  website/docs/r/healthcare_fhir_store.html.markdown
Labels: documentation, size/S

#1770 Upstream tpg #5695 and 5686.
  .changelog/3137.txt
  google-beta/resource_compute_autoscaler.go
  google-beta/resource_compute_region_autoscaler.go
  website/docs/d/datasource_compute_network.html.markdown
  website/docs/r/compute_autoscaler.html.markdown
  website/docs/r/compute_region_autoscaler.html.markdown
Labels: documentation, size/XS

#1771 Add type field to google_dataflow_job.
  .changelog/3138.txt
  google-beta/resource_dataflow_job.go
  website/docs/r/dataflow_job.html.markdown
Labels: documentation, size/XS

#1772 Make connection reset error pred more generic, debug logs
  .changelog/3143.txt
  google-beta/error_retry_predicates.go
Labels: size/XS

#1773 Add decoder after OperationWaitTimeWithResponse
  .changelog/3146.txt
  google-beta/resource_access_context_manager_access_level.go
  google-beta/resource_access_context_manager_access_policy.go
  google-beta/resource_access_context_manager_service_perimeter.go
  google-beta/resource_access_context_manager_service_perimeter_resource.go
  google-beta/resource_app_engine_domain_mapping.go
  google-beta/resource_app_engine_standard_app_version.go
  google-beta/resource_big_query_dataset.go
  google-beta/resource_compute_network.go
  google-beta/resource_data_fusion_instance.go
  google-beta/resource_datastore_index.go
  google-beta/resource_filestore_instance.go
  google-beta/resource_firestore_index.go
  google-beta/resource_redis_instance.go
  google-beta/resource_spanner_database.go
  google-beta/resource_spanner_instance.go
  google-beta/resource_tpu_node.go
  google-beta/resource_vpc_access_connector.go
Labels: size/L

#1774 Update to https scheme in idp saml config tests
  .changelog/3140.txt
  google-beta/resource_identity_platform_inbound_saml_config_generated_test.go
  google-beta/resource_identity_platform_inbound_saml_config_test.go
  google-beta/resource_identity_platform_tenant_inbound_saml_config_generated_test.go
  google-beta/resource_identity_platform_tenant_indound_saml_config_test.go
  website/docs/r/identity_platform_inbound_saml_config.html.markdown
  website/docs/r/identity_platform_tenant_inbound_saml_config.html.markdown
Labels: documentation, size/XS

#1775 add 'PARQUET' to documentation
  .changelog/3118.txt
  website/docs/r/bigquery_table.html.markdown
Labels: documentation, size/XS

#1776 Add check for google_compute_router bgp.advertise_mode.
  .changelog/3144.txt
  google-beta/resource_compute_router.go
Labels: size/XS

#1777 Google project precheck
  .changelog/3145.txt
  google-beta/resource_google_project.go
Labels: size/XS

#1778 Add a datasource for google_compute_backend_bucket
  .changelog/3142.txt
  google-beta/data_source_google_compute_backend_bucket.go
  google-beta/data_source_google_compute_backend_bucket_test.go
  google-beta/provider.go
  website/docs/d/datasource_google_compute_backend_bucket.html.markdown
  website/google.erb
Labels: documentation, size/M

#1779 add metadata to storage_bucket_object
  .changelog/3120.txt
  google-beta/resource_storage_bucket_object.go
  google-beta/resource_storage_bucket_object_test.go
  website/docs/r/storage_bucket_object.html.markdown
Labels: documentation, size/M

#1780 Allow `projects/` prefix for the project field in project IAM resources
  .changelog/3147.txt
  google-beta/iam_project.go
Labels: size/XS

#1781 Fix markdown in KMS key docs
  .changelog/3148.txt
  website/docs/r/google_kms_crypto_key_iam.html.markdown
Labels: documentation, size/XS

#1782 Add support for range partitioning in BigQuery
  .changelog/2890.txt
  google-beta/resource_bigquery_table.go
  google-beta/resource_bigquery_table_test.go
  website/docs/r/bigquery_table.html.markdown
Labels: documentation, size/L

#1783 document updated with right API url for resource google_compute_forwarding_rule. Issue-#5598
  .changelog/3098.txt
  website/docs/r/compute_forwarding_rule.html.markdown
Labels: documentation, size/XS

#1784 fixing beta example for google_compute_region_autoscaler
  .changelog/3152.txt
  google-beta/resource_compute_region_autoscaler_generated_test.go
  website/docs/r/compute_region_autoscaler.html.markdown
Labels: documentation, size/L

#1785 App Engine Service Split Traffic resource
  .changelog/2269.txt
  google-beta/provider.go
  google-beta/resource_app_engine_service_split_traffic.go
  google-beta/resource_app_engine_service_split_traffic_generated_test.go
  website/docs/r/app_engine_service_split_traffic.html.markdown
  website/google.erb
Labels: documentation, size/XL

#1786 Add desired_status argument to google_compute_instance
  .changelog/3154.txt
  google-beta/resource_compute_instance.go
  google-beta/resource_compute_instance_test.go
  website/docs/r/compute_instance.html.markdown
Labels: documentation, size/XL

#1787 Update docs - max_pods_per_node has been GA for a while.
  .changelog/3158.txt
  website/docs/r/container_node_pool.html.markdown
Labels: documentation, size/XS

#1788 Change storage name in resource policy doc
  .changelog/3161.txt
  google-beta/resource_compute_resource_policy.go
  website/docs/r/compute_resource_policy.html.markdown
Labels: documentation, size/XS

#1789 Adding support for google game services
  .changelog/3160.txt
  google-beta/config.go
  google-beta/game_services_operation.go
  google-beta/provider.go
  google-beta/resource_game_services_game_server_cluster.go
  google-beta/resource_game_services_game_server_cluster_sweeper_test.go
  google-beta/resource_game_services_game_server_config.go
  google-beta/resource_game_services_game_server_config_generated_test.go
  google-beta/resource_game_services_game_server_config_sweeper_test.go
  google-beta/resource_game_services_game_server_deployment.go
  google-beta/resource_game_services_game_server_deployment_generated_test.go
  google-beta/resource_game_services_game_server_deployment_rollout.go
  google-beta/resource_game_services_game_server_deployment_rollout_generated_test.go
  google-beta/resource_game_services_game_server_deployment_rollout_sweeper_test.go
  google-beta/resource_game_services_game_server_deployment_sweeper_test.go
  google-beta/resource_game_services_realm.go
  google-beta/resource_game_services_realm_generated_test.go
  google-beta/resource_game_services_realm_sweeper_test.go
  website/docs/r/game_services_game_server_cluster.html.markdown
  website/docs/r/game_services_game_server_config.html.markdown
  website/docs/r/game_services_game_server_deployment.html.markdown
  website/docs/r/game_services_game_server_deployment_rollout.html.markdown
  website/docs/r/game_services_realm.html.markdown
Labels: documentation, size/XXL

#1790 VPC serverless access update version from beta to GA
  .changelog/3053.txt
  google-beta/config.go
  google-beta/resource_cloudfunctions_function_test.go
  google-beta/resource_vpc_access_connector_generated_test.go
  google-beta/resource_vpc_access_connector_sweeper_test.go
  google-beta/vpc_access_operation.go
  website/docs/r/vpc_access_connector.html.markdown
Labels: documentation, size/S

#1791 Add packet mirroring to beta.
  .changelog/3157.txt
  google-beta/provider.go
  google-beta/resource_compute_forwarding_rule.go
  google-beta/resource_compute_packet_mirroring.go
  google-beta/resource_compute_packet_mirroring_generated_test.go
  google-beta/resource_compute_packet_mirroring_sweeper_test.go
  website/docs/r/compute_forwarding_rule.html.markdown
  website/docs/r/compute_packet_mirroring.html.markdown
  website/google.erb
Labels: documentation, size/XXL

#1792 Follow-on to packet mirroring to fix tests which failed overnight.
  .changelog/3169.txt
  google-beta/resource_compute_packet_mirroring.go
  google-beta/resource_compute_packet_mirroring_generated_test.go
  website/docs/r/compute_packet_mirroring.html.markdown
Labels: documentation, size/M

#1793 Use errwrap.Walk for connection reset error
  .changelog/3165.txt
  google-beta/common_operation.go
  google-beta/retry_utils.go
Labels: size/S

#1795 Remove beta-only tags, beta provider from cf vpc connector test
  .changelog/3168.txt
  google-beta/resource_cloudfunctions_function_test.go
Labels: size/XS

#1796 Remove packet mirroring from ga website.
  .changelog/3172.txt
  website/google.erb
Labels: documentation, size/XS

#1794 Vendor VCR
  go.mod
  go.sum
  vendor/github.com/dnaeon/go-vcr/LICENSE
  vendor/github.com/dnaeon/go-vcr/cassette/cassette.go
  vendor/github.com/dnaeon/go-vcr/recorder/go17_nobody.go
  vendor/github.com/dnaeon/go-vcr/recorder/go18_nobody.go
  vendor/github.com/dnaeon/go-vcr/recorder/recorder.go
  vendor/modules.txt
Labels: dependencies, size/XL

#1797 Vcr provider test
  .changelog/3159.txt
  google-beta/provider_test.go
  google-beta/resource_pubsub_topic_test.go
Labels: size/M

#1798 Change game server tests to google-beta
  .changelog/3171.txt
  google-beta/resource_game_services_game_server_config_generated_test.go
  google-beta/resource_game_services_game_server_deployment_generated_test.go
  google-beta/resource_game_services_game_server_deployment_rollout_generated_test.go
  google-beta/resource_game_services_realm_generated_test.go
  website/docs/r/game_services_game_server_config.html.markdown
  website/docs/r/game_services_game_server_deployment.html.markdown
  website/docs/r/game_services_game_server_deployment_rollout.html.markdown
  website/docs/r/game_services_realm.html.markdown
Labels: documentation, size/S

#1799 Bump up default create timeout for datastore index
  .changelog/3173.txt
  google-beta/resource_datastore_index.go
  website/docs/r/datastore_index.html.markdown
Labels: documentation, size/XS

#1800 5750 - fixing a typo in google_access_context_manager_service_perimeter_resource
  .changelog/3164.txt
  website/docs/r/access_context_manager_service_perimeter_resource.html.markdown
Labels: documentation, size/XS

#1801 Remove iap base path as tunnel is generated
  .changelog/3162.txt
  google-beta/config.go
  google-beta/provider.go
Labels: size/XS

#1802 update the website sidebar
  .changelog/3175.txt
  website/google.erb
Labels: documentation, size/XS

#1803 Tests are failing due to domain verification
  .changelog/3176.txt
  google-beta/resource_big_query_dataset_test.go
Labels: size/XS

#1804 Allow id for bigtable appprofile instance
  .changelog/3174.txt
  google-beta/resource_bigtable_app_profile.go
  google-beta/resource_bigtable_app_profile_test.go
  google-beta/self_link_helpers.go
Labels: size/S

#1766 🐛 Fix nil pointer if no cluster autoscaling
  google-beta/resource_container_cluster.go
Labels: size/XS

#1805 Fix DNS Keys TF Data Source markdown formatting
  .changelog/3179.txt
  website/docs/d/datasource_dns_keys.html.markdown
Labels: documentation, size/XS

#1806 Add mutexes to storage ACLs
  .changelog/3180.txt
  google-beta/resource_storage_bucket_access_control.go
  google-beta/resource_storage_bucket_acl.go
  google-beta/resource_storage_default_object_access_control.go
  google-beta/resource_storage_default_object_acl.go
  google-beta/resource_storage_object_access_control.go
  google-beta/resource_storage_object_acl.go
Labels: size/M

#1807 Added check for bucket retention policy list being empty.
  .changelog/3181.txt
  google-beta/resource_storage_bucket.go
Labels: size/XS
