Repository hashicorp/terraform-provider-google-beta, pull requests merged in 2020-04, with the labels that each got.

#1920 adding firebase location to side bar
  .changelog/3328.txt
  website/google.erb
Labels: documentation, size/XS

#1922 init os-login sshkey
  .changelog/3221.txt
  google-beta/config.go
  google-beta/data_source_google_client_openid_userinfo.go
  google-beta/provider.go
  google-beta/resource_os_login_ssh_public_key.go
  google-beta/resource_os_login_ssh_public_key_generated_test.go
  google-beta/resource_os_login_ssh_public_key_sweeper_test.go
  google-beta/test-fixtures/ssh_rsa.pub
  google-beta/userinfo.go
  website/docs/r/os_login_ssh_public_key.html.markdown
  website/google.erb
Labels: documentation, size/XL

#1923 Add mutex for all app engine app resources
  .changelog/3327.txt
  google-beta/resource_app_engine_application.go
  google-beta/resource_app_engine_domain_mapping.go
  google-beta/resource_app_engine_firewall_rule.go
Labels: size/M

#1921 Update CHANGELOG.md
  CHANGELOG.md
Labels: size/XS

#1924 add bigquery_dataset_access fine-grained resource
  .changelog/3312.txt
  google-beta/provider.go
  google-beta/resource_access_context_manager_service_perimeter_resource.go
  google-beta/resource_big_query_dataset_access.go
  google-beta/resource_bigquery_dataset_access_test.go
  google-beta/resource_compute_backend_bucket_signed_url_key.go
  google-beta/resource_compute_backend_service_signed_url_key.go
  google-beta/resource_compute_disk_resource_policy_attachment.go
  google-beta/resource_compute_instance_group_named_port.go
  google-beta/resource_compute_network_endpoint.go
  google-beta/resource_compute_network_peering_routes_config.go
  google-beta/resource_compute_region_disk_resource_policy_attachment.go
  google-beta/resource_compute_router_bgp_peer.go
  google-beta/resource_compute_router_nat.go
  google-beta/resource_firebase_project_location.go
  google-beta/resource_resource_manager_lien.go
  google-beta/resource_service_usage_consumer_quota_override.go
  website/docs/r/bigquery_dataset.html.markdown
  website/docs/r/bigquery_dataset_access.html.markdown
Labels: documentation, size/XXL

#1925 Fix and update TestAccDialogflowAgent_update
  .changelog/3334.txt
  google-beta/resource_dialogflow_agent_test.go
Labels: size/M

#1926 make ipv4_enabled default to true
  .changelog/3330.txt
  google-beta/resource_sql_database_instance.go
  google-beta/resource_sql_database_instance_test.go
Labels: size/XS

#1927 Bump GKE API reference to beta
  .changelog/3337.txt
  website/docs/r/container_cluster.html.markdown
  website/docs/r/container_node_pool.html.markdown
Labels: documentation, size/XS

#1928 Add bigquery_dataset_access to sidebar
  .changelog/3338.txt
  website/google.erb
Labels: documentation, size/XS

#1929 Storage bucket: Surface non-retryable object delete error
  .changelog/3336.txt
  google-beta/resource_storage_bucket.go
  google-beta/resource_storage_bucket_test.go
Labels: size/M

#1930 doc: Fix "regions and regions" into "regions and zones"
  .changelog/3343.txt
  website/docs/d/google_compute_regions.html.markdown
Labels: documentation, size/XS

#1931 candidate subnets ignore read, admin enabled computed
  .changelog/3342.txt
  google-beta/resource_compute_interconnect_attachment.go
  website/docs/r/compute_interconnect_attachment.html.markdown
Labels: documentation, size/M

#1932 Upstream https://github.com/terraform-providers/terraform-provider-google/pull/6033
  .changelog/3345.txt
  google-beta/resource_compute_firewall.go
  website/docs/r/compute_firewall.html.markdown
Labels: documentation, size/XS

#1933 [Upstream] Standardize google_compute_instance import
  .changelog/3329.txt
  google-beta/resource_compute_instance.go
  website/docs/r/compute_instance.html.markdown
Labels: documentation, size/XS

#1935 d.Set default parameters
  .changelog/3349.txt
  google-beta/iam_binary_authorization_attestor.go
  google-beta/iam_cloud_functions_cloud_function.go
  google-beta/iam_cloud_run_service.go
  google-beta/iam_compute_instance.go
  google-beta/iam_compute_subnetwork.go
  google-beta/iam_iap_app_engine_service.go
  google-beta/iam_iap_app_engine_version.go
  google-beta/iam_iap_tunnel_instance.go
  google-beta/iam_iap_web.go
  google-beta/iam_iap_web_backend_service.go
  google-beta/iam_iap_web_type_app_engine.go
  google-beta/iam_iap_web_type_compute.go
  google-beta/iam_pubsub_topic.go
  google-beta/iam_runtime_config_config.go
  google-beta/iam_secret_manager_secret.go
  google-beta/iam_source_repo_repository.go
Labels: size/S

#1936 Dialogflow Intent Resource
  .changelog/3285.txt
  google-beta/provider.go
  google-beta/resource_dialogflow_intent.go
  google-beta/resource_dialogflow_intent_generated_test.go
  google-beta/resource_dialogflow_intent_test.go
  website/docs/r/dialogflow_intent.html.markdown
  website/google.erb
Labels: documentation, size/XXL

#1937 move deleted project check into project service read
  .changelog/3350.txt
  google-beta/resource_google_project.go
  google-beta/resource_google_project_service.go
Labels: size/S

#1938 Add support for multiple formats for pubsub refs in source repo
  .changelog/3339.txt
  google-beta/pubsub_utils.go
  google-beta/resource_app_engine_flexible_app_version.go
  google-beta/resource_app_engine_standard_app_version.go
  google-beta/resource_binary_authorization_policy.go
  google-beta/resource_source_repo_repository.go
  google-beta/source_repo_utils.go
  google-beta/utils.go
Labels: size/S

#1939 use scheduling from template rather than instance defaults
  .changelog/3352.txt
  google-beta/resource_compute_instance_from_template.go
  google-beta/resource_compute_instance_from_template_test.go
Labels: size/M

#1940 VPC SC dry-run mode
  .changelog/3353.txt
  google-beta/resource_access_context_manager_service_perimeter.go
  google-beta/resource_access_context_manager_service_perimeter_test.go
  website/docs/r/access_context_manager_service_perimeter.html.markdown
Labels: documentation, size/XL

#1941 treat project 404s correctly in project service read
  .changelog/3354.txt
  google-beta/resource_google_project_service.go
Labels: size/XS

#1942 remove ForceNew for dns_cache_config
  .changelog/3355.txt
  google-beta/resource_container_cluster.go
Labels: size/XS

#1943 Allow enabling IAP in google_app_engine_application.
  .changelog/3332.txt
  google-beta/resource_app_engine_application.go
  google-beta/resource_app_engine_application_test.go
Labels: size/XS

#1944 Add monitoring service resource, datasource for app engine
  .changelog/3341.txt
  google-beta/data_source_monitoring_service.go
  google-beta/data_source_monitoring_service_app_engine.go
  google-beta/data_source_monitoring_service_test.go
  google-beta/provider.go
  google-beta/resource_monitoring_service.go
  google-beta/resource_monitoring_service_generated_test.go
  google-beta/resource_monitoring_service_sweeper_test.go
  website/docs/d/datasource_monitoring_app_engine_service.html.markdown
  website/docs/r/monitoring_service.html.markdown
  website/google.erb
Labels: documentation, size/XL

#1946 Upstream docs change about source for instance template
  .changelog/3359.txt
  website/docs/r/compute_instance_template.html.markdown
Labels: documentation, size/XS

#1947 make display name optional on monitoring notification channel
  .changelog/3365.txt
  google-beta/resource_monitoring_notification_channel.go
  website/docs/r/monitoring_notification_channel.html.markdown
Labels: documentation, size/XS

#1948 Global NEG
  .changelog/3333.txt
  google-beta/provider.go
  google-beta/resource_compute_global_network_endpoint.go
  google-beta/resource_compute_global_network_endpoint_group.go
  google-beta/resource_compute_global_network_endpoint_group_generated_test.go
  google-beta/resource_compute_global_network_endpoint_group_sweeper_test.go
  google-beta/resource_compute_global_network_endpoint_test.go
  google-beta/resource_compute_network_endpoint_group.go
  website/docs/r/compute_global_network_endpoint.html.markdown
  website/docs/r/compute_global_network_endpoint_group.html.markdown
  website/docs/r/compute_network_endpoint_group.html.markdown
  website/google.erb
Labels: documentation, size/XXL

#1945 3.17.0 Changelog
  CHANGELOG.md
Labels: size/XS

#1949 add new project for app engine flex tests
  .changelog/3348.txt
  google-beta/resource_app_engine_flexible_app_version_generated_test.go
  google-beta/resource_app_engine_flexible_app_version_test.go
  website/docs/r/app_engine_flexible_app_version.html.markdown
Labels: documentation, size/M

#1950 Add Firebase WebApp resource
  .changelog/3340.txt
  google-beta/data_source_google_firebase_web_app.go
  google-beta/data_source_google_firebase_web_app_config.go
  google-beta/provider.go
  google-beta/resource_firebase_project.go
  google-beta/resource_firebase_web_app.go
  google-beta/resource_firebase_web_app_generated_test.go
  google-beta/resource_firebase_web_app_test.go
  website/docs/d/datasource_firebase_web_app.html.markdown
  website/docs/d/datasource_firebase_web_app_config.html.markdown
  website/docs/r/firebase_project.html.markdown
  website/docs/r/firebase_web_app.html.markdown
  website/google.erb
Labels: documentation, size/XL

#1951 Added name field to both custom project and org roles
  .changelog/3370.txt
  google-beta/resource_google_organization_iam_custom_role.go
  google-beta/resource_google_project_iam_custom_role.go
  website/docs/r/google_organization_iam_custom_role.html.markdown
  website/docs/r/google_project_iam.html.markdown
  website/docs/r/google_project_iam_custom_role.html.markdown
Labels: documentation, size/XS

#1952 Remove missed status check in nodepool
  .changelog/3374.txt
  google-beta/resource_container_node_pool.go
Labels: size/XS

#1953 Add initial monitoring SLO resource
  .changelog/3363.txt
  google-beta/provider.go
  google-beta/resource_monitoring_slo.go
  google-beta/resource_monitoring_slo_generated_test.go
  google-beta/resource_monitoring_slo_sweeper_test.go
  google-beta/resource_monitoring_slo_test.go
  website/docs/r/monitoring_slo.html.markdown
  website/google.erb
Labels: documentation, size/XXL

#1954 Dataproc Cluster: Preserve preemptible config fields when preeemptible group removed.
  .changelog/3375.txt
  google-beta/resource_dataproc_cluster.go
  google-beta/resource_dataproc_cluster_test.go
Labels: size/XS

#1956 Fix firebase webapp examples
  .changelog/3380.txt
  google-beta/resource_firebase_web_app_generated_test.go
  website/docs/r/firebase_web_app.html.markdown
Labels: documentation, size/XS

#1957 Placement policy support for Compute Instance
  .changelog/3256.txt
  google-beta/resource_compute_instance.go
  google-beta/resource_compute_instance_test.go
  google-beta/resource_compute_resource_policy.go
  google-beta/resource_compute_resource_policy_generated_test.go
  google-beta/resource_compute_resource_policy_test.go
  website/docs/r/compute_instance.html.markdown
  website/docs/r/compute_resource_policy.html.markdown
Labels: documentation, size/XL

#1955 update changelog
  CHANGELOG.md
Labels: size/S

#1959 adding bigquery job
  .changelog/3331.txt
  google-beta/provider.go
  google-beta/resource_big_query_job.go
  google-beta/resource_big_query_job_generated_test.go
  google-beta/resource_big_query_job_sweeper_test.go
  website/docs/r/bigquery_job.html.markdown
  website/google.erb
Labels: documentation, size/XXL

#1961 Changes for upgraded googleapi library
  .changelog/3386.txt
  google-beta/resource_sql_database_instance.go
Labels: size/XS

#1962 Support custom schema in Healthcare HL7 V2 stores
  .changelog/3261.txt
  google-beta/resource_healthcare_hl7_v2_store.go
  google-beta/resource_healthcare_hl7_v2_store_generated_test.go
  google-beta/resource_healthcare_hl7_v2_store_test.go
  website/docs/r/healthcare_hl7_v2_store.html.markdown
Labels: documentation, size/XL

#1964 Service Directory resources
  .changelog/3371.txt
  google-beta/config.go
  google-beta/iam_service_directory_namespace.go
  google-beta/iam_service_directory_namespace_generated_test.go
  google-beta/iam_service_directory_service.go
  google-beta/iam_service_directory_service_generated_test.go
  google-beta/provider.go
  google-beta/resource_service_directory_endpoint.go
  google-beta/resource_service_directory_endpoint_generated_test.go
  google-beta/resource_service_directory_endpoint_sweeper_test.go
  google-beta/resource_service_directory_endpoint_test.go
  google-beta/resource_service_directory_namespace.go
  google-beta/resource_service_directory_namespace_generated_test.go
  google-beta/resource_service_directory_namespace_sweeper_test.go
  google-beta/resource_service_directory_namespace_test.go
  google-beta/resource_service_directory_service.go
  google-beta/resource_service_directory_service_generated_test.go
  google-beta/resource_service_directory_service_sweeper_test.go
  google-beta/resource_service_directory_service_test.go
  website/docs/r/service_directory_endpoint.html.markdown
  website/docs/r/service_directory_namespace.html.markdown
  website/docs/r/service_directory_namespace_iam.html.markdown
  website/docs/r/service_directory_service.html.markdown
  website/docs/r/service_directory_service_iam.html.markdown
  website/google.erb
Labels: documentation, size/XXL

#1966 skip SecretVersion sweeper
  .changelog/3389.txt
  google-beta/resource_secret_manager_secret_version_sweeper_test.go
Labels: size/M

#1965 Release 3.18.0 Changelog
  CHANGELOG.md
Labels: size/S

#1968 Reapply bigtable patch
  .changelog/3395.txt
  google-beta/resource_bigtable_instance.go
  website/docs/r/bigtable_instance.html.markdown
Labels: documentation, size/XS

#1969 GKE Addon for Compute Engine persistent disk CSI Driver
  .changelog/3392.txt
  google-beta/resource_container_cluster.go
  google-beta/resource_container_cluster_test.go
  website/docs/r/container_cluster.html.markdown
Labels: documentation, size/S

#1970 Add sleep so google_project is ready before returning
  .changelog/3388.txt
  google-beta/resource_google_project.go
Labels: size/XS

#1971 remove bad html for website sidebar
  .changelog/3390.txt
  website/google.erb
Labels: documentation, size/XS

#1972 Add transformation of SQL DB read error so HandleNotFound works
  .changelog/3396.txt
  google-beta/resource_sql_database.go
  google-beta/sql_utils.go
Labels: size/S

#1973 force send boolean backup fields
  .changelog/3397.txt
  google-beta/resource_sql_database_instance.go
Labels: size/XS

#1974 Promote healthcare resources to GA
  .changelog/3377.txt
  google-beta/resource_healthcare_dataset_generated_test.go
  google-beta/resource_healthcare_dataset_test.go
  google-beta/resource_healthcare_dicom_store_generated_test.go
  google-beta/resource_healthcare_dicom_store_test.go
  google-beta/resource_healthcare_fhir_store_generated_test.go
  google-beta/resource_healthcare_fhir_store_test.go
  google-beta/resource_healthcare_hl7_v2_store_generated_test.go
  website/docs/r/healthcare_dataset.html.markdown
  website/docs/r/healthcare_dicom_store.html.markdown
  website/docs/r/healthcare_fhir_store.html.markdown
  website/docs/r/healthcare_hl7_v2_store.html.markdown
  website/google.erb
Labels: documentation, size/XL

#1975 change affected AtLeastOneOfs back to ExactlyOneOf
  .changelog/3394.txt
  google-beta/resource_compute_firewall.go
  google-beta/resource_compute_health_check.go
  google-beta/resource_compute_health_check_test.go
  google-beta/resource_compute_region_health_check.go
  google-beta/resource_compute_region_health_check_test.go
  google-beta/resource_google_organization_policy.go
Labels: size/M

#1976 Service Directory Cloud DNS integration
  .changelog/3398.txt
  google-beta/resource_dns_managed_zone.go
  google-beta/resource_dns_managed_zone_generated_test.go
  website/docs/r/dns_managed_zone.html.markdown
Labels: documentation, size/L

#1979 Add example for managed ssl certificate
  .changelog/3403.txt
  google-beta/resource_compute_managed_ssl_certificate_generated_test.go
  website/docs/r/compute_managed_ssl_certificate.html.markdown
Labels: documentation, size/L

#1980 Instance sweeper
  .changelog/3401.txt
  google-beta/data_source_google_compute_instance_test.go
  google-beta/resource_compute_instance_group_test.go
  google-beta/resource_compute_instance_test.go
  google-beta/resource_compute_network_endpoint_test.go
  google-beta/resource_compute_region_backend_service_test.go
  google-beta/resource_compute_route_test.go
  google-beta/resource_compute_target_pool_test.go
Labels: size/L

#1981 Added Artifact Registry product
  .changelog/3360.txt
  google-beta/artifact_registry_operation.go
  google-beta/config.go
  google-beta/iam_artifact_registry_repository.go
  google-beta/iam_artifact_registry_repository_generated_test.go
  google-beta/import.go
  google-beta/provider.go
  google-beta/resource_artifact_registry_repository.go
  google-beta/resource_artifact_registry_repository_generated_test.go
  google-beta/resource_artifact_registry_repository_sweeper_test.go
  website/docs/r/artifact_registry_repository.html.markdown
  website/docs/r/artifact_registry_repository_iam.html.markdown
  website/google.erb
Labels: documentation, size/XXL

#1983 add note in docs to generated sensitive fields
  .changelog/3393.txt
  google-beta/resource_compute_region_disk.go
  website/docs/r/compute_backend_bucket_signed_url_key.html.markdown
  website/docs/r/compute_backend_service.html.markdown
  website/docs/r/compute_backend_service_signed_url_key.html.markdown
  website/docs/r/compute_disk.html.markdown
  website/docs/r/compute_region_disk.html.markdown
  website/docs/r/compute_region_ssl_certificate.html.markdown
  website/docs/r/compute_snapshot.html.markdown
  website/docs/r/compute_ssl_certificate.html.markdown
  website/docs/r/compute_vpn_tunnel.html.markdown
  website/docs/r/iap_client.html.markdown
  website/docs/r/kms_secret_ciphertext.html.markdown
  website/docs/r/monitoring_notification_channel.html.markdown
  website/docs/r/monitoring_uptime_check_config.html.markdown
  website/docs/r/secret_manager_secret_version.html.markdown
  website/docs/r/security_scanner_scan_config.html.markdown
  website/docs/r/storage_hmac_key.html.markdown
Labels: documentation, size/M

#1984 adds scaling properties to appengine standard version
  .changelog/3373.txt
  google-beta/resource_app_engine_flexible_app_version.go
  google-beta/resource_app_engine_standard_app_version.go
  google-beta/resource_app_engine_standard_app_version_generated_test.go
  google-beta/resource_app_engine_standard_app_version_test.go
  website/docs/r/app_engine_flexible_app_version.html.markdown
  website/docs/r/app_engine_standard_app_version.html.markdown
Labels: documentation, size/XL

#1985 more sidebar fixes
  .changelog/3409.txt
  website/docs/d/datasource_google_monitoring_uptime_check_ips.html.markdown
  website/docs/d/datasource_monitoring_app_engine_service.html.markdown
  website/docs/d/datasource_monitoring_notification_channel.html.markdown
  website/docs/r/logging_billing_account_exclusion.html.markdown
  website/docs/r/logging_billing_account_sink.html.markdown
  website/docs/r/logging_folder_exclusion.html.markdown
  website/docs/r/logging_folder_sink.html.markdown
  website/docs/r/logging_organization_exclusion.html.markdown
  website/docs/r/logging_organization_sink.html.markdown
  website/docs/r/logging_project_exclusion.html.markdown
  website/docs/r/logging_project_sink.html.markdown
  website/docs/r/runtimeconfig_config.html.markdown
  website/docs/r/runtimeconfig_variable.html.markdown
  website/google.erb
Labels: documentation, size/L

#1986 Update urlRedirect property of UrlMap and RegionUrlMap
  .changelog/3378.txt
  google-beta/resource_compute_region_url_map.go
  google-beta/resource_compute_url_map.go
  website/docs/r/compute_region_url_map.html.markdown
  website/docs/r/compute_url_map.html.markdown
Labels: documentation, size/L

#1988 allow updating bigtable table column families
  .changelog/3411.txt
  google-beta/resource_bigtable_instance.go
  google-beta/resource_bigtable_table.go
  google-beta/resource_bigtable_table_test.go
  website/docs/r/bigtable_instance.html.markdown
  website/docs/r/bigtable_table.html.markdown
Labels: documentation, size/L

#1989 remove sweepers for healthcare datastores as they'll be swept by the dataset sweepers
  .changelog/3412.txt
  google-beta/resource_healthcare_dicom_store_sweeper_test.go
  google-beta/resource_healthcare_fhir_store_sweeper_test.go
  google-beta/resource_healthcare_hl7_v2_store_sweeper_test.go
Labels: size/XL

#1982 makefile changes to run `go generate`
  GNUmakefile
Labels: documentation, size/XS

#1990 generate the sidebar
  .changelog/3414.txt
  scripts/sidebar/sidebar.go
  website/google.erb
  website/google.erb.tmpl
Labels: documentation, size/XXL

#1978 changelog for 3.19
  CHANGELOG.md
Labels: size/XS

#1991 Allow fields to be removed at a specific version
  .changelog/3417.txt
  google-beta/config.go
  google-beta/iam_healthcare_dataset.go
  google-beta/iam_healthcare_dicom_store.go
  google-beta/iam_healthcare_fhir_store.go
  google-beta/iam_healthcare_hl7_v2_store.go
  google-beta/resource_healthcare_hl7_v2_store.go
  google-beta/resource_healthcare_hl7_v2_store_generated_test.go
  google-beta/resource_healthcare_hl7_v2_store_test.go
  website/docs/r/healthcare_hl7_v2_store.html.markdown
Labels: documentation, size/L

#1987 Remove chrisst from random reviewers list
  .hashibot.hcl
Labels: size/XS

#1995 add id's to sweeper templates
  .changelog/3419.txt
  google-beta/resource_big_query_dataset_sweeper_test.go
  google-beta/resource_big_query_job_sweeper_test.go
  google-beta/resource_cloud_build_trigger_sweeper_test.go
  google-beta/resource_dataproc_autoscaling_policy_sweeper_test.go
  google-beta/resource_game_services_game_server_cluster_sweeper_test.go
  google-beta/resource_game_services_game_server_config_sweeper_test.go
  google-beta/resource_game_services_game_server_deployment_rollout_sweeper_test.go
  google-beta/resource_game_services_game_server_deployment_sweeper_test.go
  google-beta/resource_game_services_realm_sweeper_test.go
  google-beta/resource_iap_client_sweeper_test.go
  google-beta/resource_identity_platform_default_supported_idp_config_sweeper_test.go
  google-beta/resource_identity_platform_tenant_default_supported_idp_config_sweeper_test.go
  google-beta/resource_secret_manager_secret_sweeper_test.go
Labels: size/XL

#1996 Use ResourceIamPolicy for google_project_iam_policy
  .changelog/3410.txt
  google-beta/iam_project.go
  google-beta/provider.go
  google-beta/resource_google_project_iam_policy.go
  google-beta/resource_google_project_iam_policy_test.go
  google-beta/resource_google_project_migrate.go
Labels: size/L

#1998 Add default url redirect to url maps
  .changelog/3379.txt
  google-beta/resource_compute_region_target_http_proxy_generated_test.go
  google-beta/resource_compute_region_url_map.go
  google-beta/resource_compute_region_url_map_test.go
  google-beta/resource_compute_target_http_proxy_generated_test.go
  google-beta/resource_compute_url_map.go
  google-beta/resource_compute_url_map_test.go
  website/docs/r/compute_region_target_http_proxy.html.markdown
  website/docs/r/compute_region_url_map.html.markdown
  website/docs/r/compute_target_http_proxy.html.markdown
  website/docs/r/compute_url_map.html.markdown
Labels: documentation, size/XXL

#1999 Add GKE recommendations / usage docs
  .changelog/3402.txt
  website/docs/guides/getting_started.html.markdown
  website/docs/guides/using_gke_with_terraform.html.markdown
  website/docs/guides/version_2_upgrade.html.markdown
  website/docs/guides/version_3_upgrade.html.markdown
  website/docs/r/container_cluster.html.markdown
  website/docs/r/container_node_pool.html.markdown
  website/google.erb
  website/google.erb.tmpl
Labels: size/L

#2000 Include iap in appengine patch updatemask.
  .changelog/3418.txt
  google-beta/resource_app_engine_application.go
Labels: size/XS

#2001 Release 3.19.0
  CHANGELOG.md
Labels: size/XS

#2004 add optional service account for scheduled queries
  .changelog/3405.txt
  google-beta/resource_bigquery_data_transfer_config.go
  google-beta/resource_bigquery_data_transfer_config_sweeper_test.go
  google-beta/resource_bigquery_data_transfer_config_test.go
  website/docs/r/bigquery_data_transfer_config.html.markdown
Labels: documentation, size/M

#2005 [upstream] Add support for providing additional experiments to Dataflow job
  .changelog/3429.txt
  google-beta/resource_dataflow_job.go
  google-beta/resource_dataflow_job_test.go
  website/docs/r/dataflow_job.html.markdown
Labels: documentation, size/M

#2006 Stateful disk support for igm/rigm
  .changelog/3382.txt
  google-beta/resource_compute_instance_group_manager.go
  google-beta/resource_compute_instance_group_manager_test.go
  google-beta/resource_compute_region_instance_group_manager.go
  google-beta/resource_compute_region_instance_group_manager_test.go
  website/docs/r/compute_instance_group_manager.html.markdown
  website/docs/r/compute_region_instance_group_manager.html.markdown
Labels: documentation, size/XL

#2007 Add timeouts to all resources that use Operations
  .changelog/3432.txt
  google-beta/appengine_operation.go
  google-beta/compute_operation.go
  google-beta/resource_app_engine_application.go
  google-beta/resource_compute_backend_service.go
  google-beta/resource_compute_disk.go
  google-beta/resource_compute_instance_group.go
  google-beta/resource_compute_instance_migrate_test.go
  google-beta/resource_compute_instance_template.go
  google-beta/resource_compute_network.go
  google-beta/resource_compute_network_peering.go
  google-beta/resource_compute_project_default_network_tier.go
  google-beta/resource_compute_project_metadata.go
  google-beta/resource_compute_region_disk.go
  google-beta/resource_compute_router_interface.go
  google-beta/resource_compute_shared_vpc_host_project.go
  google-beta/resource_compute_shared_vpc_service_project.go
  google-beta/resource_compute_target_pool.go
  google-beta/resource_endpoints_service.go
  google-beta/resource_google_project.go
  google-beta/resource_google_project_service.go
  google-beta/resource_service_networking_connection.go
  google-beta/resource_sql_database_instance_test.go
  google-beta/resource_sql_ssl_cert.go
  google-beta/resource_sql_user.go
  google-beta/resource_usage_export_bucket.go
  google-beta/service_networking_operation.go
  google-beta/serviceman_operation.go
  google-beta/serviceusage_operation.go
  google-beta/sqladmin_operation.go
  website/docs/r/app_engine_application.html.markdown
  website/docs/r/compute_instance_template.html.markdown
  website/docs/r/compute_network_peering.html.markdown
  website/docs/r/compute_project_default_network_tier.html.markdown
  website/docs/r/compute_project_metadata.html.markdown
  website/docs/r/compute_router_interface.html.markdown
  website/docs/r/compute_shared_vpc_host_project.html.markdown
  website/docs/r/compute_shared_vpc_service_project.html.markdown
  website/docs/r/compute_target_pool.html.markdown
  website/docs/r/endpoints_service.html.markdown
  website/docs/r/sql_ssl_cert.html.markdown
  website/docs/r/sql_user.html.markdown
  website/docs/r/usage_export_bucket.html.markdown
Labels: size/XL

#2008 Resource for managing logging buckets
  .changelog/3400.txt
  google-beta/provider.go
  google-beta/resource_logging_billing_account_bucket_config.go
  google-beta/resource_logging_bucket_config.go
  google-beta/resource_logging_bucket_config_test.go
  google-beta/resource_logging_folder_bucket_config.go
  google-beta/resource_logging_organization_bucket_config.go
  google-beta/resource_logging_project_bucket_config.go
  website/docs/r/logging_billing_account_bucket_config.html.markdown
  website/docs/r/logging_folder_bucket_config.html.markdown
  website/docs/r/logging_organization_bucket_config.html.markdown
  website/docs/r/logging_project_bucket_config.html.markdown
  website/google.erb
Labels: documentation, size/XL

#2009 Add validation to label keys for cloud functions
  .changelog/3431.txt
  google-beta/resource_cloudfunctions_function.go
  google-beta/resource_cloudfunctions_function_test.go
  website/docs/r/cloudfunctions_function.html.markdown
Labels: documentation, size/M

#2010 Add different api name for screen lock
  .changelog/3433.txt
  google-beta/resource_access_context_manager_access_level.go
  website/docs/r/access_context_manager_access_level.html.markdown
Labels: documentation, size/XS

#2011 Add retry for storage bucket 412
  .changelog/3434.txt
  google-beta/error_retry_predicates.go
  google-beta/iam_storage_bucket.go
Labels: size/XS

#2012 Make localityLbPolicy updateable
  .changelog/3435.txt
  google-beta/resource_compute_backend_service.go
  google-beta/resource_compute_region_backend_service.go
Labels: size/XS

#2013 Add nil checks to stateful disk flatten
  .changelog/3437.txt
  google-beta/resource_compute_instance_group_manager.go
Labels: size/XS

#2014 add bigquery connection with examples
  .changelog/3424.txt
  google-beta/config.go
  google-beta/provider.go
  google-beta/resource_bigquery_connection_connection.go
  google-beta/resource_bigquery_connection_connection_generated_test.go
  google-beta/resource_bigquery_connection_connection_sweeper_test.go
  google-beta/resource_bigquery_connection_test.go
  website/docs/r/bigquery_connection.html.markdown
  website/google.erb
Labels: documentation, size/XXL

#2015 don't include IGM URLs that 404 in instance_group_urls
  .changelog/3438.txt
  google-beta/resource_container_cluster.go
  google-beta/resource_container_node_pool.go
Labels: size/XS

#2016 Add mutex to route for peering
  .changelog/3439.txt
  google-beta/resource_compute_route.go
Labels: size/XS

#2017 Promote region* compute services to GA
  .changelog/3381.txt
  google-beta/resource_compute_region_backend_service_generated_test.go
  google-beta/resource_compute_region_ssl_certificate_generated_test.go
  google-beta/resource_compute_region_target_http_proxy_generated_test.go
  google-beta/resource_compute_region_target_https_proxy_generated_test.go
  google-beta/resource_compute_region_url_map_generated_test.go
  website/docs/r/compute_backend_service.html.markdown
  website/docs/r/compute_region_backend_service.html.markdown
  website/docs/r/compute_region_disk.html.markdown
  website/docs/r/compute_region_health_check.html.markdown
  website/docs/r/compute_region_ssl_certificate.html.markdown
  website/docs/r/compute_region_target_http_proxy.html.markdown
  website/docs/r/compute_region_target_https_proxy.html.markdown
  website/docs/r/compute_region_url_map.html.markdown
Labels: documentation, size/XL

#2019 fix hardcoded int timeouts
  .changelog/3441.txt
  google-beta/bootstrap_utils_test.go
  google-beta/resource_composer_environment_test.go
  google-beta/resource_compute_instance_test.go
  google-beta/resource_google_project.go
  google-beta/resource_google_service_account_key.go
  google-beta/service_account_waiter.go
Labels: size/XS

#2020 Un-guard node_locations on google_container_node_pool resource
  .changelog/3444.txt
  website/docs/r/container_node_pool.html.markdown
Labels: documentation, size/XS

#2021 dataflow job update-by-replacement
  .changelog/3387.txt
  google-beta/error_retry_predicates.go
  google-beta/resource_dataflow_job.go
  google-beta/resource_dataflow_job_test.go
Labels: size/L
