Repository hashicorp/terraform-provider-google-beta, pull requests merged in 2020-10, with the labels that each got.

#2571 Added field graceful_decomissioning_timeout to resource dataproc_cluster
  .changelog/4078.txt
  google-beta/resource_dataproc_cluster.go
  google-beta/resource_dataproc_cluster_test.go
  website/docs/r/dataproc_cluster.html.markdown
Labels: size/S

#2572 Added stackdriver_logging_config to cloud_tasks_queue resource
  .changelog/4077.txt
  google-beta/resource_cloud_tasks_queue.go
  google-beta/resource_cloud_tasks_queue_generated_test.go
  google-beta/resource_cloud_tasks_queue_test.go
  website/docs/r/cloud_tasks_queue.html.markdown
Labels: size/L

#2573 Add Image filters to google_compute_image.
  .changelog/4026.txt
  google-beta/data_source_google_compute_image.go
  google-beta/data_source_google_compute_image_test.go
  website/docs/d/compute_image.html.markdown
Labels: size/M

#2574 use sweeper-friendly delete url for activedirectory domain
  .changelog/4087.txt
  google-beta/resource_active_directory_domain.go
  google-beta/resource_active_directory_domain_sweeper_test.go
Labels: size/XS

#2575 Support logs bucket creation and custom ID's
  .changelog/4033.txt
  google-beta/resource_logging_bucket_config.go
  google-beta/resource_logging_bucket_config_test.go
  website/docs/r/logging_project_bucket_config.html.markdown
Labels: size/M

#2576 update variable name configList
  .changelog/4090.txt
  google-beta/resource_logging_bucket_config_test.go
Labels: size/XS

#2577 Update storage_bucket.html.markdown
  .changelog/4086.txt
  website/docs/r/storage_bucket.html.markdown
Labels: size/XS

#2578 cloudrun: adds GKE caveat to minScale annotation
  .changelog/4068.txt
  google-beta/resource_cloud_run_service.go
  website/docs/r/cloud_run_service.html.markdown
Labels: size/XS

#2579 Add delete_protection to SQL Instances + Service Networking Pre Create Checks
  .changelog/3954.txt
  google-beta/resource_sql_database_instance.go
  google-beta/resource_sql_database_instance_test.go
  google-beta/resource_sql_database_test.go
  google-beta/resource_sql_ssl_cert_test.go
  google-beta/resource_sql_user_test.go
  website/docs/r/sql_database_instance.html.markdown
Labels: size/XL

#2580 send empty value for [region]healthcheck description
  .changelog/4082.txt
  google-beta/resource_compute_health_check.go
  google-beta/resource_compute_health_check_test.go
  google-beta/resource_compute_region_health_check.go
  google-beta/resource_compute_region_health_check_test.go
Labels: size/XS

#2581 update to use new service networking client
  .changelog/4092.txt
  google-beta/resource_sql_database_instance.go
Labels: size/XS

#2582 Fixing the gcloud service list command example
  .changelog/4093.txt
  website/docs/r/google_project_service.html.markdown
Labels: size/XS

#2583 allow setting a project on oslogin ssh key
  .changelog/4085.txt
  google-beta/resource_os_login_ssh_public_key.go
  google-beta/resource_os_login_ssh_public_key_generated_test.go
  website/docs/r/os_login_ssh_public_key.html.markdown
Labels: size/M

#2584 Address bigquery's low-but-fast-refreshing quota by accepting and retrying quota errors.
  .changelog/4094.txt
  google-beta/error_retry_predicates.go
  google-beta/resource_big_query_dataset_access.go
Labels: size/XS

#2585 add deletion_protection=false to tests with sql_database_instance
  .changelog/4096.txt
  google-beta/data_source_google_sql_ca_certs_test.go
  google-beta/data_source_sql_database_instance_test.go
  google-beta/resource_cloud_run_service_generated_test.go
  google-beta/resource_sql_database_generated_test.go
  website/docs/r/cloud_run_service.html.markdown
  website/docs/r/sql_database.html.markdown
Labels: size/S

#2586 Add Node group maintenance policy
  .changelog/4097.txt
  google-beta/resource_compute_node_group.go
  google-beta/resource_compute_node_group_generated_test.go
  website/docs/r/compute_node_group.html.markdown
Labels: size/S

#2588 add scott to random reviewer rotation
  .hashibot.hcl
Labels: size/XS

#2591 add retry to disable project services, update serviceUsageServiceBeingActivated
  .changelog/4098.txt
  google-beta/error_retry_predicates.go
  google-beta/resource_google_project_service.go
Labels: size/XS

#2592 Bump IAP brand target occurrences to ease eventual consistency
  .changelog/4044.txt
  google-beta/resource_iap_brand.go
Labels: size/XS

#2593 update execute time for os_config_patch_deployment test
  .changelog/4103.txt
  google-beta/resource_os_config_patch_deployment_generated_test.go
  website/docs/r/os_config_patch_deployment.html.markdown
Labels: size/XS

#2594 regex fixed for global network endpoint import
  .changelog/4100.txt
  google-beta/resource_compute_global_network_endpoint.go
  website/docs/r/compute_global_network_endpoint.html.markdown
Labels: size/S

#2595 add access_context_manager_access_level_condition
  .changelog/4074.txt
  google-beta/provider.go
  google-beta/resource_access_context_manager_access_level_condition.go
  google-beta/resource_access_context_manager_access_level_condition_test.go
  google-beta/resource_access_context_manager_access_policy_test.go
  website/docs/r/access_context_manager_access_level_condition.html.markdown
  website/docs/r/access_context_manager_service_perimeter.html.markdown
  website/google.erb
Labels: size/XXL

#2596 Upstream GKE scopes description
  .changelog/4101.txt
  website/docs/r/container_cluster.html.markdown
Labels: size/XS

#2598 Fix a typo in "detatch" word, add a "do".
  .changelog/4107.txt
  google-beta/resource_compute_instance_group_manager.go
  google-beta/resource_compute_per_instance_config.go
  google-beta/resource_compute_region_instance_group_manager.go
  google-beta/resource_compute_region_per_instance_config.go
  website/docs/r/compute_instance_group_manager.html.markdown
  website/docs/r/compute_per_instance_config.html.markdown
  website/docs/r/compute_region_instance_group_manager.html.markdown
  website/docs/r/compute_region_per_instance_config.html.markdown
Labels: size/XS

#2599 use e2 vms, part 2
  .changelog/4105.txt
  google-beta/data_source_google_compute_instance_group_test.go
  google-beta/data_source_google_compute_instance_serial_port_test.go
  google-beta/data_source_google_compute_instance_test.go
  google-beta/data_source_google_compute_region_instance_group_test.go
  google-beta/iam_compute_instance_generated_test.go
  google-beta/iam_iap_tunnel_instance_generated_test.go
  google-beta/resource_compute_autoscaler_generated_test.go
  google-beta/resource_compute_autoscaler_test.go
  google-beta/resource_compute_forwarding_rule_generated_test.go
  google-beta/resource_compute_global_forwarding_rule_generated_test.go
  google-beta/resource_compute_instance_group_manager_test.go
  google-beta/resource_compute_instance_group_test.go
  google-beta/resource_compute_instance_iam_test.go
  google-beta/resource_compute_machine_image_generated_test.go
  google-beta/resource_compute_network_endpoint_test.go
  google-beta/resource_compute_packet_mirroring_generated_test.go
  google-beta/resource_compute_per_instance_config_test.go
  google-beta/resource_compute_region_autoscaler_generated_test.go
  google-beta/resource_compute_region_autoscaler_test.go
  google-beta/resource_compute_region_backend_service_generated_test.go
  google-beta/resource_compute_region_backend_service_test.go
  google-beta/resource_compute_region_disk_test.go
  google-beta/resource_compute_region_instance_group_manager_test.go
  google-beta/resource_compute_target_instance_generated_test.go
  google-beta/resource_network_management_connectivity_test_resource_generated_test.go
  google-beta/resource_notebooks_instance_generated_test.go
  google-beta/resource_os_config_guest_policies_generated_test.go
  google-beta/resource_os_config_patch_deployment_generated_test.go
  website/docs/r/compute_autoscaler.html.markdown
  website/docs/r/compute_backend_service_signed_url_key.html.markdown
  website/docs/r/compute_forwarding_rule.html.markdown
  website/docs/r/compute_global_forwarding_rule.html.markdown
  website/docs/r/compute_machine_image.html.markdown
  website/docs/r/compute_network_endpoint.html.markdown
  website/docs/r/compute_packet_mirroring.html.markdown
  website/docs/r/compute_per_instance_config.html.markdown
  website/docs/r/compute_region_autoscaler.html.markdown
  website/docs/r/compute_region_backend_service.html.markdown
  website/docs/r/compute_region_per_instance_config.html.markdown
  website/docs/r/compute_target_instance.html.markdown
  website/docs/r/kms_secret_ciphertext.html.markdown
  website/docs/r/network_management_connectivity_test_resource.html.markdown
  website/docs/r/notebooks_instance.html.markdown
  website/docs/r/os_config_guest_policies.html.markdown
  website/docs/r/os_config_patch_deployment.html.markdown
Labels: size/L

#2600 combine all access approval tests to run serially
  .changelog/4104.txt
  google-beta/resource_access_approval_folder_settings_test.go
  google-beta/resource_access_approval_organization_settings_test.go
  google-beta/resource_access_approval_project_settings_test.go
Labels: size/S

#2602 Add Spanner instance datasource
  .changelog/4111.txt
  google-beta/data_source_spanner_instance.go
  google-beta/data_source_spanner_instance_test.go
  google-beta/provider.go
  website/docs/d/spanner_instance.html.markdown
  website/google.erb
Labels: size/M

#2603 add deletion_protection=false to bigquery connection dbs
  .changelog/4106.txt
  google-beta/resource_bigquery_connection_connection_generated_test.go
  google-beta/resource_bigquery_connection_test.go
  website/docs/r/bigquery_connection.html.markdown
Labels: size/XS

#2604 Implement Service Account Impersonation
  .changelog/4015.txt
  google-beta/config.go
  google-beta/config_test.go
  google-beta/provider.go
  website/docs/guides/provider_reference.html.markdown
Labels: size/L

#2605 Add iam policy resources for netbook instance
  .changelog/4112.txt
  google-beta/iam_notebooks_instance.go
  google-beta/iam_notebooks_instance_generated_test.go
  google-beta/provider.go
  google-beta/resource_notebooks_environment.go
  google-beta/resource_notebooks_instance.go
  website/docs/r/notebooks_environment.html.markdown
  website/docs/r/notebooks_instance.html.markdown
  website/docs/r/notebooks_instance_iam.html.markdown
  website/google.erb
Labels: size/XL

#2606 Update google_billing_budget resource to add disable_default_iam_recipients
  .changelog/4050.txt
  google-beta/resource_billing_budget.go
  google-beta/resource_billing_budget_generated_test.go
  website/docs/r/billing_budget.html.markdown
Labels: size/S

#2607 Promote HA VPN to GA
  .changelog/4115.txt
  google-beta/resource_compute_external_vpn_gateway_generated_test.go
  google-beta/resource_compute_ha_vpn_gateway_generated_test.go
  google-beta/resource_compute_vpn_tunnel.go
  website/docs/r/compute_external_vpn_gateway.html.markdown
  website/docs/r/compute_ha_vpn_gateway.html.markdown
  website/docs/r/compute_vpn_gateway.html.markdown
  website/docs/r/compute_vpn_tunnel.html.markdown
Labels: size/M

#2609 add interface attribute to google_compute_disk
  .changelog/4116.txt
  google-beta/resource_compute_disk.go
  google-beta/resource_compute_disk_test.go
  website/docs/r/compute_disk.html.markdown
Labels: size/M

#2608 remove megan07 as reviewer
  .hashibot.hcl
Labels: size/XS

#2610 fix doc formatting errors
  .changelog/4118.txt
  google-beta/resource_compute_address.go
  google-beta/resource_compute_backend_service.go
  google-beta/resource_compute_image.go
  google-beta/resource_compute_region_backend_service.go
  google-beta/resource_compute_region_health_check.go
  google-beta/resource_compute_region_url_map.go
  google-beta/resource_compute_url_map.go
  website/docs/r/compute_address.html.markdown
  website/docs/r/compute_backend_service.html.markdown
  website/docs/r/compute_image.html.markdown
  website/docs/r/compute_region_backend_service.html.markdown
  website/docs/r/compute_region_health_check.html.markdown
  website/docs/r/compute_region_url_map.html.markdown
  website/docs/r/compute_url_map.html.markdown
Labels: size/XL

#2611 Remove TestAccProviderMeta_setModuleName from VCR
  .changelog/4108.txt
  google-beta/provider_test.go
Labels: size/XS

#2612 Terraform 7456 spanner database deletion protection
  .changelog/4117.txt
  google-beta/resource_app_engine_flexible_app_version.go
  google-beta/resource_app_engine_standard_app_version.go
  google-beta/resource_big_query_dataset.go
  google-beta/resource_cloud_run_service.go
  google-beta/resource_compute_network.go
  google-beta/resource_compute_per_instance_config.go
  google-beta/resource_compute_region_per_instance_config.go
  google-beta/resource_dns_managed_zone.go
  google-beta/resource_spanner_database.go
  google-beta/resource_spanner_database_generated_test.go
  google-beta/resource_spanner_database_iam_test.go
  google-beta/resource_spanner_database_test.go
  website/docs/r/spanner_database.html.markdown
Labels: size/M

#2613 Change exactly one of in VPN tunnel to conflicts with
  .changelog/4120.txt
  google-beta/resource_compute_vpn_tunnel.go
Labels: size/XS

#2615 fix TestAccNotebooksInstance_notebookInstanceFullExample
  .changelog/4122.txt
  google-beta/resource_notebooks_instance_generated_test.go
  website/docs/r/notebooks_instance.html.markdown
Labels: size/XS

#2617 VPC network custom MTU support
  .changelog/4126.txt
  google-beta/resource_compute_network.go
  google-beta/resource_compute_network_generated_test.go
  website/docs/r/compute_network.html.markdown
Labels: size/M

#2618 mark nil errors as nil instead of non-retryable
  .changelog/4124.txt
  google-beta/retry_transport.go
Labels: size/XS

#2619 Update doc service networking connection
  .changelog/3108.txt
  website/docs/r/service_networking_connection.html.markdown
Labels: size/XS

#2620 Add maxUtilization field to hash function of BackendService
  .changelog/3938.txt
  google-beta/resource_compute_backend_service.go
  google-beta/resource_compute_backend_service_test.go
Labels: size/M

#2622 added new resource bq/routine
  .changelog/4109.txt
  google-beta/provider.go
  google-beta/resource_big_query_routine.go
  google-beta/resource_big_query_routine_generated_test.go
  google-beta/resource_big_query_routine_sweeper_test.go
  google-beta/resource_big_query_routine_test.go
  website/docs/r/bigquery_routine.html.markdown
  website/google.erb
Labels: size/XXL

#2623 add iam workload identity federation
  .changelog/4071.txt
  google-beta/config.go
  google-beta/iam_beta_operation.go
  google-beta/provider.go
  google-beta/resource_iam_beta-workload_identity_pool_id_test.go
  google-beta/resource_iam_beta_workload_identity_pool.go
  google-beta/resource_iam_beta_workload_identity_pool_generated_test.go
  google-beta/resource_iam_beta_workload_identity_pool_sweeper_test.go
  google-beta/resource_iam_beta_workload_identity_pool_test.go
  website/docs/r/iam_workload_identity_pool.html.markdown
  website/google.erb
Labels: size/XXL

#2616 Bumped google api dependency to 0.33.0
  go.mod
  go.sum
Labels: size/XS

#2624 Mark google_pubsub_subscription.enable_message_ordering as ForceNew
  .changelog/4128.txt
  google-beta/resource_pubsub_subscription.go
Labels: size/XS

#2625 Added newline after virtual fields in documentation generation
  .changelog/4131.txt
  website/docs/r/app_engine_flexible_app_version.html.markdown
  website/docs/r/app_engine_standard_app_version.html.markdown
  website/docs/r/bigquery_dataset.html.markdown
  website/docs/r/cloud_run_service.html.markdown
  website/docs/r/cloudiot_device_registry.html.markdown
  website/docs/r/compute_firewall.html.markdown
  website/docs/r/compute_network.html.markdown
  website/docs/r/compute_per_instance_config.html.markdown
  website/docs/r/compute_region_per_instance_config.html.markdown
  website/docs/r/compute_region_ssl_certificate.html.markdown
  website/docs/r/compute_route.html.markdown
  website/docs/r/compute_ssl_certificate.html.markdown
  website/docs/r/dns_managed_zone.html.markdown
  website/docs/r/spanner_database.html.markdown
Labels: size/XS

#2627 use e2 vms, part 3
  .changelog/4113.txt
  google-beta/resource_compute_instance_migrate_test.go
  google-beta/resource_compute_region_per_instance_config_test.go
  google-beta/resource_compute_resource_policy_test.go
  google-beta/resource_compute_route_test.go
  google-beta/resource_compute_target_pool_test.go
  google-beta/resource_container_cluster_test.go
  google-beta/resource_container_node_pool_test.go
  google-beta/resource_dataflow_job_test.go
  google-beta/resource_dataproc_cluster_iam_test.go
  google-beta/resource_dataproc_cluster_test.go
  google-beta/resource_dataproc_job_test.go
  google-beta/resource_network_management_connectivity_test_resource_test.go
  google-beta/resource_notebooks_instance_container_test.go
  google-beta/resource_notebooks_instance_gpu_test.go
  google-beta/resource_notebooks_instance_test.go
  website/docs/d/compute_instance_serial_port.html.markdown
  website/docs/d/kms_secret_ciphertext.html.markdown
  website/docs/r/composer_environment.html.markdown
  website/docs/r/compute_attached_disk.html.markdown
  website/docs/r/compute_instance.html.markdown
  website/docs/r/compute_instance_from_template.html.markdown
  website/docs/r/compute_instance_group.html.markdown
  website/docs/r/compute_instance_template.html.markdown
  website/docs/r/dataproc_cluster.html.markdown
  website/docs/r/logging_project_sink.html.markdown
Labels: size/M

#2628 relax load balancing scheme validation of region backend service
  .changelog/4125.txt
  google-beta/resource_compute_forwarding_rule_generated_test.go
  google-beta/resource_compute_region_backend_service.go
  google-beta/resource_compute_region_backend_service_generated_test.go
  google-beta/resource_compute_region_backend_service_test.go
  website/docs/r/compute_forwarding_rule.html.markdown
  website/docs/r/compute_region_backend_service.html.markdown
Labels: size/L

#2629 Add Build Enviroment Vars to Cloud Functions
  .changelog/4133.txt
  google-beta/resource_cloudfunctions_function.go
  google-beta/resource_cloudfunctions_function_test.go
  google-beta/utils.go
  website/docs/r/cloudfunctions_function.html.markdown
Labels: size/M

#2631 region NEG moved to TPG
  .changelog/4139.txt
  google-beta/resource_compute_region_network_endpoint_group_generated_test.go
  website/docs/r/compute_region_network_endpoint_group.html.markdown
Labels: size/S

#2632 Added confidential_nodes field to google_container_cluster
  .changelog/4136.txt
  google-beta/resource_container_cluster.go
  google-beta/resource_container_cluster_test.go
Labels: size/M

#2633 update network peering custom routes
  .changelog/4138.txt
  google-beta/resource_compute_network_peering.go
  google-beta/resource_compute_network_peering_test.go
Labels: size/M

#2634 Don't run sql precheck if projects.get call fails
  .changelog/4141.txt
  google-beta/resource_service_networking_connection.go
  google-beta/resource_sql_database_instance.go
Labels: size/S

#2635 Apply dsf to google_compute_health_check port value with no portspec
  .changelog/4143.txt
  google-beta/resource_compute_health_check.go
Labels: size/XS

#2636 Add API Gateway resources
  .changelog/4066.txt
  google-beta/api_gateway_operation.go
  google-beta/config.go
  google-beta/iam_api_gateway_api.go
  google-beta/iam_api_gateway_api_config.go
  google-beta/iam_api_gateway_api_config_generated_test.go
  google-beta/iam_api_gateway_api_generated_test.go
  google-beta/iam_api_gateway_gateway.go
  google-beta/iam_api_gateway_gateway_generated_test.go
  google-beta/provider.go
  google-beta/resource_api_gateway_api.go
  google-beta/resource_api_gateway_api_config.go
  google-beta/resource_api_gateway_api_config_generated_test.go
  google-beta/resource_api_gateway_api_config_sweeper_test.go
  google-beta/resource_api_gateway_api_config_test.go
  google-beta/resource_api_gateway_api_generated_test.go
  google-beta/resource_api_gateway_api_sweeper_test.go
  google-beta/resource_api_gateway_api_test.go
  google-beta/resource_api_gateway_gateway.go
  google-beta/resource_api_gateway_gateway_generated_test.go
  google-beta/resource_api_gateway_gateway_sweeper_test.go
  google-beta/resource_api_gateway_gateway_test.go
  google-beta/test-fixtures/apigateway/openapi.yaml
  website/docs/r/api_gateway_api.html.markdown
  website/docs/r/api_gateway_api_config.html.markdown
  website/docs/r/api_gateway_api_config_iam.html.markdown
  website/docs/r/api_gateway_api_iam.html.markdown
  website/docs/r/api_gateway_gateway.html.markdown
  website/docs/r/api_gateway_gateway_iam.html.markdown
  website/google.erb
Labels: size/XXL

#2630 Add v3.45.0 changelog
  CHANGELOG.md
Labels: size/M

#2637 Machine image updates
  .changelog/3873.txt
  google-beta/field_helpers.go
  google-beta/iam_compute_machine_image.go
  google-beta/iam_compute_machine_image_generated_test.go
  google-beta/provider.go
  google-beta/resource_compute_instance_from_machine_image.go
  google-beta/resource_compute_instance_from_machine_image_test.go
  google-beta/resource_compute_machine_image.go
  website/docs/r/compute_instance_from_machine_image.html.markdown
  website/docs/r/compute_machine_image.html.markdown
  website/docs/r/compute_machine_image_iam.html.markdown
  website/google.erb
Labels: size/XXL

#2638 rename test resources so they get swept
  .changelog/4144.txt
  google-beta/resource_compute_instance_from_template_test.go
Labels: size/S

#2639 add more messages to retry on for monitoring
  .changelog/4145.txt
  google-beta/error_retry_predicates.go
Labels: size/XS

#2640 Added conditions to Cloud Asset Feeds
  .changelog/4023.txt
  google-beta/resource_cloud_asset_folder_feed.go
  google-beta/resource_cloud_asset_folder_feed_generated_test.go
  google-beta/resource_cloud_asset_organization_feed.go
  google-beta/resource_cloud_asset_organization_feed_generated_test.go
  google-beta/resource_cloud_asset_project_feed.go
  google-beta/resource_cloud_asset_project_feed_generated_test.go
  website/docs/r/cloud_asset_folder_feed.html.markdown
  website/docs/r/cloud_asset_organization_feed.html.markdown
  website/docs/r/cloud_asset_project_feed.html.markdown
Labels: size/XL

#2641 Add scheduleOptions to BigQuery Data Transfer
  .changelog/3895.txt
  google-beta/resource_bigquery_data_transfer_config.go
  google-beta/resource_bigquery_data_transfer_config_test.go
  website/docs/r/bigquery_data_transfer_config.html.markdown
Labels: size/L

#2642 Add IAP Tunnel IAM Resource
  .changelog/4137.txt
  google-beta/iam_iap_tunnel.go
  google-beta/iam_iap_tunnel_generated_test.go
  google-beta/provider.go
  website/docs/r/iap_tunnel_iam.html.markdown
  website/google.erb
Labels: size/XL

#2643 Add note on referencing instance template from within stateful MIG
  .changelog/4152.txt
  website/docs/r/compute_per_instance_config.html.markdown
  website/docs/r/compute_region_per_instance_config.html.markdown
Labels: size/XS

#2644 Updated disruption budget to use API-correct percent key instead of p…
  .changelog/4148.txt
  google-beta/resource_os_config_patch_deployment.go
Labels: size/XS

#2645 Add skip_initial_version_creation to kms crypto key
  .changelog/3907.txt
  google-beta/resource_app_engine_service_split_traffic.go
  google-beta/resource_big_query_job.go
  google-beta/resource_compute_network_peering_routes_config.go
  google-beta/resource_firebase_project.go
  google-beta/resource_firebase_project_location.go
  google-beta/resource_firebase_web_app.go
  google-beta/resource_iap_brand.go
  google-beta/resource_kms_crypto_key.go
  google-beta/resource_kms_key_ring.go
  google-beta/resource_kms_secret_ciphertext.go
  google-beta/resource_security_center_source.go
  website/docs/r/kms_crypto_key.html.markdown
  website/docs/r/kms_key_ring.html.markdown
  website/docs/r/kms_key_ring_import_job.html.markdown
Labels: size/M

#2646 Remove Logging bucket location from the Docs
  .changelog/4154.txt
  google-beta/resource_logging_bucket_config.go
  website/docs/r/logging_billing_account_bucket_config.html.markdown
  website/docs/r/logging_folder_bucket_config.html.markdown
  website/docs/r/logging_project_bucket_config.html.markdown
Labels: size/XS

#2647 removed Ignition Config for Container-Optimized OS
  .changelog/4151.txt
  website/docs/r/compute_instance.html.markdown
Labels: size/XS

#2648 Add support for custom info types to inspect template.
  .changelog/4146.txt
  google-beta/resource_data_loss_prevention_inspect_template.go
  google-beta/resource_data_loss_prevention_inspect_template_generated_test.go
  website/docs/r/data_loss_prevention_inspect_template.html.markdown
Labels: size/XL

#2649 Direct google access
  .changelog/4034.txt
  google-beta/resource_compute_subnetwork.go
  website/docs/r/compute_subnetwork.html.markdown
Labels: size/M

#2651 Add MQL based alerts
  .changelog/4157.txt
  google-beta/resource_monitoring_alert_policy.go
  google-beta/resource_monitoring_alert_policy_test.go
  website/docs/r/monitoring_alert_policy.html.markdown
Labels: size/XL

#2652 feat(bigquery-data-transfer): add email preferences
  .changelog/4156.txt
  google-beta/resource_bigquery_data_transfer_config.go
  google-beta/resource_bigquery_data_transfer_config_test.go
  website/docs/r/bigquery_data_transfer_config.html.markdown
Labels: size/M

#2653 Clarify description of filter_expr
  .changelog/4161.txt
  google-beta/resource_compute_subnetwork.go
  website/docs/r/compute_subnetwork.html.markdown
Labels: size/XS

#2654 Fix mentions of GCP products not compliant with Branding Guidelines
  .changelog/4165.txt
  google-beta/resource_compute_instance.go
  google-beta/resource_compute_instance_template.go
  google-beta/resource_container_cluster.go
  google-beta/resource_dataflow_job.go
  google-beta/resource_sql_database_instance.go
  google-beta/resource_storage_bucket.go
  google-beta/resource_storage_notification.go
Labels: size/XS

#2655 Convert all the range values to be doubles and add a test that uses a double.
  .changelog/4162.txt
  google-beta/resource_monitoring_slo.go
  google-beta/resource_monitoring_slo_generated_test.go
  website/docs/r/monitoring_slo.html.markdown
Labels: size/L

#2657 Release 3.45.0
  CHANGELOG.md
Labels: size/S

#2658 Bump google api version to v0.34.0
  go.mod
  go.sum
  google-beta/resource_storage_transfer_job.go
  google-beta/resource_storage_transfer_job_test.go
Labels: size/XS
