Repository hashicorp/terraform-provider-google-beta, pull requests merged in 2021-04, with the labels that each got.

#3108 Add warning notice to vpc documentation that permissions at the folder level are only supported on the beta provider
  .changelog/4646.txt
  website/docs/r/compute_shared_vpc_service_project.html.markdown
Labels: size/XS

#3110 Use correct service account for pubsub permission.
  .changelog/4649.txt
  google-beta/resource_healthcare_dicom_store.go
  google-beta/resource_healthcare_fhir_store.go
  google-beta/resource_healthcare_hl7_v2_store.go
  website/docs/r/healthcare_dicom_store.html.markdown
  website/docs/r/healthcare_fhir_store.html.markdown
  website/docs/r/healthcare_hl7_v2_store.html.markdown
Labels: size/XS

#3111 Revert "Added data source google kms secret asymmetric"
  .changelog/4651.txt
  google-beta/config.go
  google-beta/data_source_google_kms_secret_asymmetric.go
  google-beta/data_source_google_kms_secret_asymmetric_test.go
  google-beta/provider.go
  website/docs/d/kms_secret_asymmetric.html.markdown
  website/google.erb
Labels: size/XL

#3112 Revert "Updated datatype for mtu"
  .changelog/4643.txt
  google-beta/resource_compute_interconnect_attachment.go
  google-beta/resource_compute_interconnect_attachment_generated_test.go
  website/docs/r/compute_interconnect_attachment.html.markdown
Labels: size/L

#3114 Moved check for op name out of create*Waiter
  .changelog/4648.txt
  google-beta/access_context_manager_operation.go
  google-beta/active_directory_operation.go
  google-beta/api_gateway_operation.go
  google-beta/apigee_operation.go
  google-beta/artifact_registry_operation.go
  google-beta/data_fusion_operation.go
  google-beta/dataproc_metastore_operation.go
  google-beta/datastore_operation.go
  google-beta/filestore_operation.go
  google-beta/firebase_operation.go
  google-beta/firestore_operation.go
  google-beta/game_services_operation.go
  google-beta/gke_hub_operation.go
  google-beta/iam_beta_operation.go
  google-beta/memcache_operation.go
  google-beta/ml_engine_operation.go
  google-beta/network_management_operation.go
  google-beta/notebooks_operation.go
  google-beta/privateca_operation.go
  google-beta/redis_operation.go
  google-beta/resource_manager_operation.go
  google-beta/service_usage_operation.go
  google-beta/spanner_operation.go
  google-beta/tags_operation.go
  google-beta/tpu_operation.go
  google-beta/vpc_access_operation.go
  google-beta/workflows_operation.go
Labels: size/XL

#3115 Upstream change to add machine types to cloudbuild trigger
  .changelog/4652.txt
  google-beta/resource_cloud_build_trigger.go
  google-beta/resource_dataproc_cluster_test.go
  website/docs/r/cloudbuild_trigger.html.markdown
Labels: size/XS

#3117 Remove test step as the error has been fixed in backend
  .changelog/4654.txt
  google-beta/resource_cloud_run_domain_mapping_test.go
  google-beta/resource_dataproc_cluster_test.go
Labels: size/XS

#3118 adding new resource dns resource record set
  .changelog/4361.txt
  google-beta/provider.go
  google-beta/resource_dns_record_set.go
  google-beta/resource_dns_record_set_test.go
  google-beta/resource_dns_resource_dns_record_set.go
  google-beta/resource_dns_resource_dns_record_set_sweeper_test.go
  website/docs/r/dns_record_set.html.markdown
  website/docs/r/dns_resource_dns_record_set.html.markdown
  website/google.erb
Labels: size/XXL

#3119 add sensitive tag to access_token output
  .changelog/4653.txt
  google-beta/data_source_google_service_account_access_token_test.go
Labels: size/XS

#3120 Update google_sql_database_instance documentation
  .changelog/4657.txt
  google-beta/resource_sql_database_instance.go
  website/docs/r/sql_database_instance.html.markdown
Labels: size/XS

#3121 Added tag binding resource
  .changelog/4638.txt
  google-beta/provider.go
  google-beta/resource_dataflow_flex_template_job_test.go
  google-beta/resource_tags_tag_binding.go
  google-beta/resource_tags_tag_binding_sweeper_test.go
  google-beta/resource_tags_tag_key.go
  google-beta/resource_tags_tag_value.go
  google-beta/resource_tags_test.go
  website/docs/r/tags_tag_binding.html.markdown
  website/docs/r/tags_tag_key.html.markdown
  website/docs/r/tags_tag_value.html.markdown
  website/google.erb
Labels: size/XL

#3122 Format test step
  .changelog/4659.txt
  google-beta/resource_cloud_run_domain_mapping_test.go
  google-beta/resource_dataflow_flex_template_job_test.go
Labels: size/XS

#3123 add gVNIC support for instance template
  .changelog/4655.txt
  google-beta/resource_compute_instance_template.go
  google-beta/resource_compute_instance_template_test.go
  website/docs/r/compute_instance_template.html.markdown
Labels: size/L

#3124 Added iam policy support for tag value and tag key
  .changelog/4660.txt
  google-beta/iam_tags_tag_key.go
  google-beta/iam_tags_tag_value.go
  google-beta/provider.go
  google-beta/resource_tags_test.go
  website/docs/r/tags_tag_key_iam.html.markdown
  website/docs/r/tags_tag_value_iam.html.markdown
  website/google.erb
Labels: size/XXL

#3113 Update CHANGELOG.md
  CHANGELOG.md
Labels: size/XS

#3125 add field `maintenance_window.start_time` to `google_compute_node_group`
  .changelog/4656.txt
  google-beta/resource_compute_node_group.go
  google-beta/resource_compute_node_group_generated_test.go
  google-beta/resource_dataflow_flex_template_job_test.go
  website/docs/r/compute_node_group.html.markdown
Labels: size/M

#3127 remove random provider when not needed
  .changelog/4663.txt
  google-beta/resource_access_context_manager_gcp_user_access_binding_test.go
  google-beta/resource_api_gateway_api_config_test.go
  google-beta/resource_api_gateway_api_test.go
  google-beta/resource_api_gateway_gateway_test.go
  google-beta/resource_big_query_routine_test.go
  google-beta/resource_bigquery_connection_connection_generated_test.go
  google-beta/resource_bigquery_job_test.go
  google-beta/resource_billing_budget_test.go
  google-beta/resource_cloud_identity_group_membership_test.go
  google-beta/resource_cloud_run_domain_mapping_test.go
  google-beta/resource_compute_managed_ssl_certificate_generated_test.go
  google-beta/resource_compute_region_ssl_certificate_generated_test.go
  google-beta/resource_compute_ssl_certificate_generated_test.go
  google-beta/resource_dataflow_flex_template_job_test.go
  google-beta/resource_dns_managed_zone_generated_test.go
  google-beta/resource_endpoints_service_test.go
  google-beta/resource_eventarc_trigger_test.go
  google-beta/resource_os_login_ssh_public_key_test.go
  google-beta/resource_redis_instance_test.go
  google-beta/resource_spanner_database_test.go
  google-beta/resource_tags_test.go
Labels: size/L

#3129 Apigee environment group attachment
  .changelog/4641.txt
  google-beta/provider.go
  google-beta/resource_apigee_envgroup_attachment.go
  google-beta/resource_apigee_envgroup_attachment_generated_test.go
  google-beta/resource_dataflow_flex_template_job_test.go
  website/docs/r/apigee_envgroup_attachment.html.markdown
  website/google.erb
Labels: size/XL

#3130 Made tags GA
  .changelog/4661.txt
  google-beta/resource_dataflow_flex_template_job_test.go
  google-beta/resource_tags_test.go
  website/docs/r/tags_tag_binding.html.markdown
  website/docs/r/tags_tag_key.html.markdown
  website/docs/r/tags_tag_key_iam.html.markdown
  website/docs/r/tags_tag_value.html.markdown
  website/docs/r/tags_tag_value_iam.html.markdown
Labels: size/M

#3131 Fix badly formatted descriptions in ACM
  .changelog/4668.txt
  google-beta/resource_access_context_manager_service_perimeter.go
  google-beta/resource_access_context_manager_service_perimeters.go
  google-beta/resource_dataproc_cluster_test.go
  website/docs/r/access_context_manager_service_perimeter.html.markdown
  website/docs/r/access_context_manager_service_perimeters.html.markdown
Labels: size/XXL

#3132 Fix provider docs link on versions page
  .changelog/4667.txt
  google-beta/resource_dataflow_flex_template_job_test.go
  google-beta/resource_dataproc_cluster_test.go
  website/docs/guides/provider_versions.html.markdown
Labels: size/XS

#3134 allow multiple fields in bgp_peer to be updatable
  .changelog/4670.txt
  google-beta/resource_compute_router_bgp_peer.go
  google-beta/resource_compute_router_bgp_peer_test.go
Labels: size/M

#3136 fix(cloud_identity): google_cloud_identity_group_membership import/update
  .changelog/4658.txt
  google-beta/resource_cloud_identity_group_membership.go
  google-beta/resource_cloud_identity_group_membership_test.go
  google-beta/resource_dataflow_flex_template_job_test.go
Labels: size/XL

#3138 Use workflow short name rather than long name, state migrate
  .changelog/4669.txt
  google-beta/resource_workflows_workflow.go
  google-beta/resource_workflows_workflow_generated_test.go
  google-beta/resource_workflows_workflow_sweeper_test.go
  google-beta/resource_workflows_workflow_test.go
  website/docs/r/workflows_workflow.html.markdown
Labels: size/L

#3139 Bump machine types in dataproc test
  .changelog/4675.txt
  google-beta/resource_dataproc_cluster_test.go
Labels: size/XS

#3140 Allow referencing IPs by reference in google_compute_forwarding_rule
  .changelog/4673.txt
  google-beta/resource_compute_forwarding_rule.go
  google-beta/resource_compute_forwarding_rule_test.go
  google-beta/resource_compute_global_forwarding_rule.go
  website/docs/r/compute_forwarding_rule.html.markdown
  website/docs/r/compute_global_forwarding_rule.html.markdown
Labels: size/L

#3141 Added data source google kms secret asymmetric
  .changelog/4664.txt
  google-beta/config.go
  google-beta/data_source_google_kms_secret_asymmetric.go
  google-beta/data_source_google_kms_secret_asymmetric_test.go
  google-beta/provider.go
  website/docs/d/kms_secret_asymmetric.html.markdown
  website/google.erb
Labels: size/XL

#3142 move logic of default func to configure
  .changelog/4678.txt
  google-beta/provider.go
Labels: size/S

#3143 Revert "move logic of default func to configure"
  .changelog/4682.txt
  google-beta/provider.go
Labels: size/XS

#3144 Change address purposes to strings
  .changelog/4681.txt
  google-beta/resource_compute_address.go
  google-beta/resource_compute_global_address.go
  website/docs/r/compute_address.html.markdown
  website/docs/r/compute_global_address.html.markdown
Labels: size/S

#3146 update default creds
  .changelog/4684.txt
  google-beta/provider.go
  google-beta/provider_test.go
  google-beta/resource_dataflow_flex_template_job_test.go
  google-beta/utils.go
Labels: size/S

#3137 Update changelog
  CHANGELOG.md
Labels: size/XS

#3147 Revert "add minItems for the required field scopes"
  .changelog/4686.txt
  google-beta/resource_compute_instance.go
  google-beta/resource_dataflow_flex_template_job_test.go
  google-beta/resource_dataproc_cluster_test.go
Labels: size/XS

#3148 Update DCL dependency
  go.mod
  go.sum
Labels: size/XS

#3149 Eventarc update
  .changelog/4611.txt
  google-beta/resource_dataproc_cluster_test.go
  google-beta/resource_eventarc_trigger.go
  google-beta/resource_eventarc_trigger_test.go
  google-beta/utils.go
  website/docs/r/eventarc_trigger.html.markdown
  website/google.erb
Labels: size/XL

#3150 Dataproc, container cluster, backend bucket test fixes
  .changelog/4679.txt
  google-beta/resource_compute_backend_bucket.go
  google-beta/resource_container_cluster_test.go
  google-beta/resource_dataproc_cluster_test.go
Labels: size/XS

#3151 Added ingress settings note to cloudrun docs
  .changelog/4687.txt
  google-beta/resource_cloud_run_service.go
  website/docs/r/cloud_run_service.html.markdown
Labels: size/XS

#3152 Add logger to conversion lib
  .changelog/4692.txt
  google-beta/resource_dataproc_cluster_test.go
Labels: size/XS

#3154 Deflake service usage tests
  .changelog/4680.txt
  google-beta/resource_service_usage_consumer_quota_override_generated_test.go
Labels: size/XS

#3155 Add conflictswith on autopilot to node config
  .changelog/4674.txt
  google-beta/resource_container_cluster.go
Labels: size/XS

#3156 More GKE Documentation Updates
  .changelog/4696.txt
  google-beta/resource_dataflow_flex_template_job_test.go
  website/docs/guides/using_gke_with_terraform.html.markdown
  website/docs/r/container_cluster.html.markdown
Labels: size/S

#3157 Adding shielded config values to dataproc_cluster
  .changelog/4694.txt
  google-beta/resource_dataflow_flex_template_job_test.go
  google-beta/resource_dataproc_cluster.go
  google-beta/resource_dataproc_cluster_test.go
  website/docs/r/dataproc_cluster.html.markdown
Labels: size/M

#3158 Deleted issue templates
  .github/ISSUE_TEMPLATE.md
  .github/ISSUE_TEMPLATE/bug.md
  .github/ISSUE_TEMPLATE/enhancement.md
  .github/ISSUE_TEMPLATE/question.md
Labels: size/L

#3160 dns/api.yaml: add missing record types
  .changelog/4689.txt
  google-beta/resource_dns_resource_dns_record_set.go
  website/docs/r/dns_resource_dns_record_set.html.markdown
Labels: size/XS

#3161 add note for preemptible_worker_config
  .changelog/4695.txt
  google-beta/resource_dataflow_flex_template_job_test.go
  website/docs/r/dataproc_cluster.html.markdown
Labels: size/XS

#3162 Fix the provider.go imports
  .changelog/4700.txt
  google-beta/resource_dataflow_flex_template_job_test.go
Labels: size/XS

#3163 promote min_node_cpus to GA for instance templates
  .changelog/4701.txt
  google-beta/resource_dataflow_flex_template_job_test.go
Labels: size/XS

#3164 force_delete default value
  .changelog/4698.txt
  google-beta/resource_data_catalog_tag_template.go
  google-beta/resource_dataflow_flex_template_job_test.go
Labels: size/XS

#3165 Add BigTable source format in BigQuery tables
  .changelog/4155.txt
  google-beta/resource_big_query_job.go
  google-beta/resource_bigquery_table.go
  google-beta/resource_bigquery_table_test.go
  website/docs/r/bigquery_job.html.markdown
  website/docs/r/bigquery_table.html.markdown
Labels: size/M

#3166 Make GCE Instance node affinities updatable
  .changelog/4402.txt
  google-beta/compute_instance_helpers.go
  google-beta/resource_compute_instance.go
  google-beta/resource_compute_instance_test.go
Labels: size/L

#3167 Removed beta provider from node template test
  .changelog/4704.txt
  google-beta/resource_compute_node_template_generated_test.go
  google-beta/resource_dataflow_flex_template_job_test.go
  website/docs/r/compute_node_template.html.markdown
Labels: size/XS

#3168 Switched from name to name_prefix to avoid name conflicts and use a sweepable prefix
  .changelog/4705.txt
  google-beta/resource_compute_backend_service_test.go
  google-beta/resource_dataflow_flex_template_job_test.go
Labels: size/XS

#3169 made google_compute_network use google-beta provider
  .changelog/4707.txt
  google-beta/resource_memcache_instance_generated_test.go
  website/docs/r/memcache_instance.html.markdown
Labels: size/XS

#3170 Switched tests relying on HTTP protocol to use INTERNAL_MANAGED load balancing
  .changelog/4708.txt
  google-beta/resource_compute_region_ssl_certificate_generated_test.go
  google-beta/resource_compute_region_target_http_proxy_test.go
  google-beta/resource_compute_region_target_https_proxy_generated_test.go
  google-beta/resource_compute_region_target_https_proxy_test.go
  google-beta/resource_compute_region_url_map_generated_test.go
  google-beta/resource_compute_region_url_map_test.go
  website/docs/r/compute_region_ssl_certificate.html.markdown
  website/docs/r/compute_region_target_https_proxy.html.markdown
  website/docs/r/compute_region_url_map.html.markdown
Labels: size/XS

#3159 Added 3.65.0 release notes (beta)
  CHANGELOG.md
Labels: size/XS

#3171 Remove validation on Cloud Functions available_memory_mb
  .changelog/4702.txt
  google-beta/resource_cloudfunctions_function.go
  website/docs/r/cloudfunctions_function.html.markdown
Labels: size/XS

#3172 Add tf-test prefix to various instance templates
  .changelog/4697.txt
  google-beta/data_source_google_compute_instance_template_test.go
  google-beta/resource_compute_instance_template_test.go
  google-beta/resource_compute_per_instance_config_test.go
  google-beta/resource_compute_region_autoscaler_test.go
  google-beta/resource_compute_region_per_instance_config_test.go
Labels: size/M

#3173 Add HA VPN Gateway Datasource
  .changelog/4710.txt
  google-beta/data_source_google_compute_ha_vpn_gateway.go
  google-beta/data_source_google_compute_ha_vpn_gateway_test.go
  google-beta/provider.go
  google-beta/resource_dataproc_cluster_test.go
  website/docs/d/compute_ha_vpn_gateway.html.markdown
  website/google.erb
Labels: size/M

#3174 fixed empty serviceaccount.scopes in compute instance
  .changelog/4690.txt
  google-beta/resource_compute_instance.go
  google-beta/resource_compute_instance_test.go
  google-beta/resource_dataproc_cluster_test.go
Labels: size/L

#3176 Fix typo in monitoring resource import documentation
  .changelog/4714.txt
  google-beta/resource_dataflow_flex_template_job_test.go
  website/docs/r/monitoring_dashboard.html.markdown
Labels: size/XS

#3177 instance template sweeper
  .changelog/4718.txt
  google-beta/resource_compute_instance_template_sweeper_test.go
Labels: size/M

#3178 Dataproc workflow template
  .changelog/4693.txt
  google-beta/config.go
  google-beta/expanders.go
  google-beta/provider.go
  google-beta/resource_dataflow_flex_template_job_test.go
  google-beta/resource_dataproc_workflow_template.go
  google-beta/resource_dataproc_workflow_template_sweeper_test.go
  google-beta/resource_dataproc_workflow_template_test.go
  google-beta/utils.go
  website/docs/r/dataproc_workflow_template.html.markdown
  website/google.erb
Labels: size/XXL

#3179 fixed update on parent
  .changelog/4712.txt
  google-beta/resource_data_catalog_tag.go
Labels: size/XS

#3180 set point_in_time optional for sql clone
  .changelog/4715.txt
  google-beta/resource_sql_database_instance.go
Labels: size/XS

#3181 Add cmek to spanner database
  .changelog/4699.txt
  google-beta/config.go
  google-beta/resource_dataflow_flex_template_job_test.go
  google-beta/resource_spanner_database.go
  google-beta/resource_spanner_database_test.go
  website/docs/r/spanner_database.html.markdown
Labels: size/L

#3182 Updated usage of " eq " in instance template filters
  .changelog/4719.txt
  google-beta/data_source_google_compute_instance_template_test.go
  website/docs/d/compute_instance_template.html.markdown
Labels: size/XS

#3183 Updated labels for cloud run domain mapping diff suppress
  .changelog/4720.txt
  google-beta/resource_cloud_run_domain_mapping.go
  google-beta/resource_cloud_run_domain_mapping_test.go
Labels: size/M

#3184 Add reference links for ML Engine Models
  .changelog/4723.txt
  website/docs/r/ml_engine_model.html.markdown
Labels: size/XS

#3185 make bigquery dataset dataset_id forcenew
  .changelog/4726.txt
  google-beta/resource_big_query_dataset.go
  google-beta/resource_dataproc_cluster_test.go
Labels: size/XS

#3187 add project to big query dataset iam docs
  .changelog/4724.txt
  google-beta/resource_dataproc_cluster_test.go
  website/docs/r/bigquery_dataset_iam.html.markdown
Labels: size/XS

#3188 Add GCS Bucket Sweeper
  .changelog/4721.txt
  google-beta/gcp_sweeper_test.go
  google-beta/resource_storage_bucket_object_test.go
  google-beta/resource_storage_bucket_sweeper_test.go
  google-beta/resource_storage_bucket_test.go
  website/docs/r/storage_bucket.html.markdown
Labels: size/XL

#3189 Promote Memcached to GA
  .changelog/4709.txt
  google-beta/resource_memcache_instance_generated_test.go
  website/docs/r/memcache_instance.html.markdown
Labels: size/XS

#3190 Support healthcare dicom bq stream configure
  .changelog/4717.txt
  google-beta/resource_healthcare_dicom_store.go
  google-beta/resource_healthcare_dicom_store_generated_test.go
  website/docs/r/healthcare_dicom_store.html.markdown
Labels: size/L

#3191 Made project_service.service validation reject invalid service domains
  .changelog/4722.txt
  google-beta/resource_google_project_service.go
  google-beta/resource_google_project_service_test.go
Labels: size/S

#3192 set skip_initial_version_creation a default
  .changelog/4729.txt
  google-beta/resource_dataflow_flex_template_job_test.go
  google-beta/resource_kms_crypto_key.go
Labels: size/XS

#3186 Update CHANGELOG.md
  CHANGELOG.md
Labels: size/XS

#3193 Add interface to regional disks
  .changelog/4727.txt
  google-beta/resource_compute_region_disk.go
  google-beta/resource_compute_region_disk_test.go
  google-beta/resource_dataflow_flex_template_job_test.go
  google-beta/resource_dataproc_cluster_test.go
  website/docs/r/compute_region_disk.html.markdown
Labels: size/M

#3194 Made deletion of all budget filter projects be recognized
  .changelog/4731.txt
  google-beta/resource_billing_budget.go
  google-beta/resource_billing_budget_generated_test.go
  google-beta/resource_billing_budget_sweeper_test.go
  google-beta/resource_billing_budget_test.go
  google-beta/resource_dataproc_cluster_test.go
  website/docs/r/billing_budget.html.markdown
Labels: size/XL

#3197 string compare modified to include more cases
  .changelog/4716.txt
  google-beta/error_retry_predicates.go
Labels: size/XS

#3198 Fix DCL resource doc formatting
  .changelog/4737.txt
  website/docs/r/dataproc_workflow_template.html.markdown
  website/docs/r/eventarc_trigger.html.markdown
Labels: size/S

#3199 update new role entity if old role does not match new role
  .changelog/4735.txt
  google-beta/resource_storage_bucket_acl.go
  google-beta/resource_storage_bucket_acl_test.go
Labels: size/S

#3200 Add support for generating endpoints from tpgtools
  .changelog/4730.txt
  google-beta/config.go
  google-beta/provider.go
  google-beta/provider_dcl_endpoints.go
Labels: size/M

#3201 Add support for generating endpoints from tpgtools
  .changelog/4740.txt
  google-beta/provider_dcl_endpoints.go
  google-beta/resource_dataflow_flex_template_job_test.go
Labels: size/XS

#3202 Add Cloudrun for Anthos example
  .changelog/4438.txt
  website/docs/r/cloud_run_service.html.markdown
Labels: size/S

#3203 fixed min_required_replicas
  .changelog/4738.txt
  google-beta/resource_compute_autoscaler.go
  google-beta/resource_compute_autoscaler_test.go
  google-beta/resource_compute_region_autoscaler.go
  google-beta/resource_compute_region_autoscaler_test.go
  google-beta/resource_dataflow_flex_template_job_test.go
Labels: size/XS

#3204 master_ipv4_cidr_block should be in line with documentation
  .changelog/4732.txt
  google-beta/resource_composer_environment.go
  website/docs/r/composer_environment.html.markdown
Labels: size/XS

#3205 Enable Patching Workflows
  .changelog/4733.txt
  google-beta/resource_workflows_workflow.go
  google-beta/resource_workflows_workflow_test.go
Labels: size/S

#3206 fix provider.go.erb
  .changelog/4744.txt
  google-beta/provider.go
  google-beta/resource_dataflow_flex_template_job_test.go
Labels: size/XS

#3207 Resolved dns_record_set clearing rrdatas
  .changelog/4725.txt
  google-beta/resource_dataflow_flex_template_job_test.go
  google-beta/resource_dns_record_set_test.go
  google-beta/resource_dns_resource_dns_record_set.go
Labels: size/M

#3208 fix crash in serviceAccountDiffSuppress
  .changelog/4748.txt
  google-beta/resource_compute_instance.go
  google-beta/resource_compute_instance_test.go
Labels: size/M

#3209 Update CHANGELOG.md
  CHANGELOG.md
Labels: size/XS

#3210 gke node pool: add 404 response code check on delete call
  .changelog/4747.txt
  google-beta/resource_container_node_pool.go
Labels: size/XS

#3211 Add support for InitialGroupConfig to google_cloud_identity_group
  .changelog/4746.txt
  google-beta/resource_cloud_identity_group.go
  google-beta/resource_cloud_identity_group_generated_test.go
  google-beta/resource_dataflow_flex_template_job_test.go
  website/docs/r/cloud_identity_group.html.markdown
Labels: size/S

#3212 add secret manager cmek
  .changelog/4752.txt
  google-beta/resource_dataflow_flex_template_job_test.go
  google-beta/resource_secret_manager_secret.go
  google-beta/resource_secret_manager_secret_test.go
  website/docs/r/secret_manager_secret.html.markdown
Labels: size/M

#3213 Support organization iam conditions
  .changelog/4749.txt
  google-beta/iam.go
  google-beta/iam_organization.go
  google-beta/resource_dataproc_cluster_test.go
  google-beta/resource_google_organization_iam_test.go
  google-beta/resource_iam_binding.go
  google-beta/resource_iam_member.go
Labels: size/L

#3214 handle diff for duration
  .changelog/4753.txt
  google-beta/common_diff_suppress.go
  google-beta/resource_dataproc_cluster_test.go
  google-beta/resource_pubsub_subscription.go
  google-beta/resource_pubsub_subscription_test.go
Labels: size/S
