Repository hashicorp/terraform-provider-google-beta, pull requests merged in 2021-03, with the labels that each got.

#3009 Fix log sink documentation
  .changelog/4544.txt
  website/docs/r/logging_billing_account_exclusion.html.markdown
  website/docs/r/logging_billing_account_sink.html.markdown
  website/docs/r/logging_folder_exclusion.html.markdown
  website/docs/r/logging_folder_sink.html.markdown
  website/docs/r/logging_organization_exclusion.html.markdown
  website/docs/r/logging_organization_sink.html.markdown
  website/docs/r/logging_project_exclusion.html.markdown
  website/docs/r/logging_project_sink.html.markdown
Labels: size/M

#3010 Add SQL Backup Retention fields
  .changelog/4385.txt
  google-beta/resource_sql_database_instance.go
  google-beta/resource_sql_database_instance_test.go
  website/docs/r/sql_database_instance.html.markdown
Labels: size/M

#3011 org_domain added from env to be used in cluster authenticator group c…
  .changelog/4547.txt
  google-beta/resource_container_cluster_test.go
Labels: size/XS

#3012 Add async polling for 403s on cloud identity
  .changelog/4504.txt
  google-beta/common_polling.go
  google-beta/resource_access_context_manager_access_policy.go
  google-beta/resource_big_query_dataset_access.go
  google-beta/resource_bigquery_connection_connection.go
  google-beta/resource_bigquery_data_transfer_config.go
  google-beta/resource_billing_budget.go
  google-beta/resource_cloud_asset_folder_feed.go
  google-beta/resource_cloud_asset_organization_feed.go
  google-beta/resource_cloud_asset_project_feed.go
  google-beta/resource_cloud_build_trigger.go
  google-beta/resource_cloud_identity_group.go
  google-beta/resource_cloud_identity_group_membership.go
  google-beta/resource_compute_address.go
  google-beta/resource_compute_backend_service.go
  google-beta/resource_compute_forwarding_rule.go
  google-beta/resource_compute_global_address.go
  google-beta/resource_compute_global_forwarding_rule.go
  google-beta/resource_compute_interconnect_attachment.go
  google-beta/resource_compute_network.go
  google-beta/resource_compute_organization_security_policy.go
  google-beta/resource_compute_organization_security_policy_association.go
  google-beta/resource_compute_organization_security_policy_rule.go
  google-beta/resource_compute_vpn_tunnel.go
  google-beta/resource_dialogflow_entity_type.go
  google-beta/resource_dialogflow_intent.go
  google-beta/resource_firestore_index.go
  google-beta/resource_iap_brand.go
  google-beta/resource_iap_client.go
  google-beta/resource_identity_platform_tenant.go
  google-beta/resource_kms_secret_ciphertext.go
  google-beta/resource_logging_metric.go
  google-beta/resource_monitoring_alert_policy.go
  google-beta/resource_monitoring_group.go
  google-beta/resource_monitoring_notification_channel.go
  google-beta/resource_monitoring_uptime_check_config.go
  google-beta/resource_os_config_guest_policies.go
  google-beta/resource_os_config_patch_deployment.go
  google-beta/resource_os_login_ssh_public_key.go
  google-beta/resource_resource_manager_lien.go
  google-beta/resource_secret_manager_secret_version.go
  google-beta/resource_security_center_source.go
  google-beta/resource_security_scanner_scan_config.go
  google-beta/resource_source_repo_repository.go
  google-beta/resource_spanner_instance.go
  google-beta/resource_storage_hmac_key.go
  google-beta/resource_vpc_access_connector.go
  website/docs/r/cloud_identity_group.html.markdown
Labels: size/L

#2984 Stopped marking provider as a /v3 library (2/2)
  GNUmakefile
  go.mod
  google-beta/provider.go
  main.go
Labels: size/XS

#3013 Add windows based availability sli to slo
  .changelog/4542.txt
  google-beta/resource_monitoring_slo.go
  google-beta/resource_monitoring_slo_test.go
  website/docs/r/monitoring_slo.html.markdown
Labels: size/M

#3014 fixed maintenance_exclusion deletion
  .changelog/4541.txt
  google-beta/resource_container_cluster.go
  google-beta/resource_container_cluster_test.go
Labels: size/XS

#3015 new instance type added for data_fusion
  .changelog/4514.txt
  google-beta/resource_data_fusion_instance.go
  google-beta/resource_data_fusion_instance_test.go
  website/docs/r/data_fusion_instance.html.markdown
Labels: size/XS

#3016 Adding missing replacement_method to documentation for MIGs and Regional MIGs
  .changelog/4540.txt
  website/docs/r/compute_instance_group_manager.html.markdown
  website/docs/r/compute_region_instance_group_manager.html.markdown
Labels: size/XS

#3017 add user-agent based on environment variable - opt in
  .changelog/4550.txt
  google-beta/provider.go
Labels: size/XS

#3018 added 404 response code check on delete call
  .changelog/4512.txt
  google-beta/resource_container_cluster.go
Labels: size/XS

#3019 Remove release channel UNSPECIFIED diff suppress
  .changelog/4554.txt
  google-beta/resource_container_cluster.go
  google-beta/resource_container_node_pool_test.go
Labels: size/XS

#3020 Added code for Apigee Environments
  .changelog/4553.txt
  google-beta/provider.go
  google-beta/resource_apigee_environment.go
  google-beta/resource_apigee_environment_generated_test.go
  google-beta/resource_apigee_environment_sweeper_test.go
  website/docs/r/apigee_environment.html.markdown
  website/google.erb
Labels: size/XL

#3021 Change GCP scope name up-to-date
  .changelog/4525.txt
  google-beta/service_scope.go
Labels: size/XS

#3022 Allow api_gateway_gateway to change
  .changelog/4557.txt
  google-beta/resource_api_gateway_gateway.go
Labels: size/XS

#3001 3.59.0 changelog
  CHANGELOG.md
Labels: size/XS

#3023 Add support for ephemeral_storage_config in container node_config
  .changelog/4510.txt
  google-beta/node_config.go
  google-beta/resource_container_node_pool_test.go
  website/docs/r/container_cluster.html.markdown
Labels: size/M

#3024 Suppress diff for COS images
  .changelog/4562.txt
  google-beta/image.go
  google-beta/resource_compute_disk.go
  google-beta/resource_compute_disk_test.go
Labels: size/XS

#2985 Fixed repeating changes google_service_usage_consumer_quota_override when override_value is 0
  google-beta/resource_service_usage_consumer_quota_override.go
Labels: size/XS

#3025 Set override_value to 0 when not returned by the API
  .changelog/4548.txt
  google-beta/resource_dataflow_flex_template_job_test.go
  google-beta/resource_service_usage_consumer_quota_override_generated_test.go
Labels: size/S

#3026 Add CMEK support to google_storage_bucket_object
  .changelog/4561.txt
  google-beta/resource_dataflow_flex_template_job_test.go
  google-beta/resource_storage_bucket_object.go
  google-beta/resource_storage_bucket_object_test.go
  website/docs/r/storage_bucket_object.html.markdown
Labels: size/M

#3027 add note for disk resizing
  .changelog/4566.txt
  google-beta/resource_compute_disk.go
  website/docs/r/compute_disk.html.markdown
Labels: size/XS

#3028 Fix CAS rest API link
  .changelog/4552.txt
  website/docs/r/privateca_certificate_authority.html.markdown
Labels: size/XS

#3029 Don't delete default network in region quota override example
  .changelog/4546.txt
  google-beta/resource_dataflow_flex_template_job_test.go
  google-beta/resource_service_usage_consumer_quota_override_generated_test.go
  website/docs/r/service_usage_consumer_quota_override.html.markdown
Labels: size/XS

#3030 Ga clients
  .changelog/4560.txt
  google-beta/config.go
  google-beta/data_source_google_active_folder.go
  google-beta/dataproc_cluster_operation.go
  google-beta/dataproc_job_operation.go
  google-beta/iam_dataproc_cluster.go
  google-beta/iam_dataproc_job.go
  google-beta/iam_folder.go
  google-beta/iam_pubsub_subscription.go
  google-beta/provider.go
  google-beta/provider_handwritten_endpoint.go
  google-beta/resource_compute_security_policy.go
  google-beta/resource_compute_shared_vpc_host_project.go
  google-beta/resource_compute_shared_vpc_service_project.go
  google-beta/resource_dataflow_flex_template_job_test.go
  google-beta/resource_dataproc_cluster.go
  google-beta/resource_dataproc_cluster_test.go
  google-beta/resource_dataproc_job.go
  google-beta/resource_dataproc_job_test.go
  google-beta/resource_google_folder.go
  google-beta/resource_google_folder_iam_binding_test.go
  google-beta/resource_google_folder_iam_policy_test.go
  google-beta/resource_google_folder_test.go
Labels: size/XL

#3031 Add import for dataproc test
  .changelog/4569.txt
  google-beta/resource_dataflow_flex_template_job_test.go
  google-beta/resource_dataproc_cluster_test.go
Labels: size/XS

#3032 Mark BQ's materialized view query as ForceNew
  .changelog/4543.txt
  google-beta/resource_bigquery_table.go
  google-beta/resource_bigquery_table_test.go
  google-beta/resource_dataflow_flex_template_job_test.go
Labels: size/XS

#3033 Update disk test that adds d1- to prefix
  .changelog/4573.txt
  google-beta/resource_compute_disk_test.go
Labels: size/XS

#3034 Fix prefix for composer datasource test
  .changelog/4574.txt
  google-beta/data_source_google_composer_environment_test.go
Labels: size/XS

#3035 Suppressed binary authorization attestor key signature algorithm diffs if the algorithms are equivalent
  .changelog/4575.txt
  google-beta/resource_binary_authorization_attestor.go
  google-beta/resource_binaryauthorization_attestor_test.go
Labels: size/M

#3036 website/spanner_instance: Fixed the documentation
  .changelog/4576.txt
  website/docs/d/spanner_instance.html.markdown
  website/google.erb
Labels: size/XS

#3037 Add customize diff for deprecated attribute on gc_policy
  .changelog/4556.txt
  google-beta/resource_bigtable_gc_policy.go
  google-beta/resource_bigtable_gc_policy_test.go
  google-beta/test_utils.go
Labels: size/L

#3038 latest runtime versions added to doc
  .changelog/4563.txt
  website/docs/r/cloudfunctions_function.html.markdown
Labels: size/XS

#3039 Added code for Apigee environment groups
  .changelog/4570.txt
  google-beta/provider.go
  google-beta/resource_apigee_envgroup.go
  google-beta/resource_apigee_envgroup_generated_test.go
  google-beta/resource_apigee_envgroup_sweeper_test.go
  google-beta/resource_dataflow_flex_template_job_test.go
  website/docs/r/apigee_envgroup.html.markdown
  website/google.erb
Labels: size/XL

#3040 support bigtable
  .changelog/4572.txt
  google-beta/resource_dataflow_flex_template_job_test.go
  google-beta/resource_dataproc_cluster_test.go
Labels: size/XS

#3041 id added to exported attributes list
  .changelog/4579.txt
  google-beta/resource_dataproc_cluster_test.go
  website/docs/d/compute_network.html.markdown
Labels: size/XS

#3042 Add beta Serverless Connector features
  .changelog/4568.txt
  google-beta/config.go
  google-beta/resource_vpc_access_connector.go
  google-beta/resource_vpc_access_connector_generated_test.go
  google-beta/resource_vpc_access_connector_sweeper_test.go
  google-beta/vpc_access_operation.go
  website/docs/r/vpc_access_connector.html.markdown
Labels: size/XL

#3043 Change google_compute_subnetwork.purpose to a String
  .changelog/4581.txt
  google-beta/resource_compute_subnetwork.go
  website/docs/r/compute_subnetwork.html.markdown
Labels: size/XS

#3044 Add instructions on Cloud Identity values
  .changelog/4577.txt
  google-beta/provider_test.go
Labels: size/XS

#3045 add two fields to ForceSendFields
  .changelog/4580.txt
  google-beta/resource_compute_network_peering.go
  google-beta/resource_compute_network_peering_test.go
  google-beta/resource_dataproc_cluster_test.go
Labels: size/XS

#3046 bigtable: update project placeholder
  .changelog/4584.txt
  google-beta/resource_dataproc_cluster_test.go
Labels: size/XS

#3047 Fix missing GKE field descriptions
  .changelog/4555.txt
  google-beta/node_config.go
  google-beta/resource_container_cluster.go
Labels: size/L

#3049 Add enable_streaming_engine argument to google_dataflow_job
  .changelog/4585.txt
  google-beta/resource_dataflow_flex_template_job_test.go
  google-beta/resource_dataflow_job.go
  website/docs/r/dataflow_job.html.markdown
Labels: size/XS

#3050 Promote healthcare consent API to GA support
  .changelog/4393.txt
  google-beta/iam_healthcare_consent_store_generated_test.go
  google-beta/resource_healthcare_consent_store.go
  google-beta/resource_healthcare_consent_store_generated_test.go
  website/docs/r/healthcare_consent_store.html.markdown
  website/docs/r/healthcare_consent_store_iam.html.markdown
Labels: size/M

#3051 Remove google_project_service from runtimeconfig test
  .changelog/4586.txt
  google-beta/data_source_runtimeconfig_variable_test.go
  google-beta/resource_dataflow_flex_template_job_test.go
Labels: size/XS

#3055 update test with 'list' to 'tolist'
  .changelog/4587.txt
  google-beta/resource_compute_managed_ssl_certificate_generated_test.go
  website/docs/r/compute_managed_ssl_certificate.html.markdown
Labels: size/XS

#3056 add TestAccProviderMeta_setModuleName test back to VCR tests
  .changelog/4588.txt
  google-beta/provider_test.go
  google-beta/resource_dataflow_flex_template_job_test.go
Labels: size/XS

#3048 Update CHANGELOG.md
  CHANGELOG.md
Labels: size/S

#3058 Revert "Allow api_gateway_gateway to change"
  .changelog/4592.txt
  google-beta/resource_api_gateway_gateway.go
  google-beta/resource_dataflow_flex_template_job_test.go
  google-beta/resource_dataproc_cluster_test.go
Labels: size/XS

#3059 Promote field compute_instance.scheduling.min_node_cpus and related fields to ga
  .changelog/4593.txt
  google-beta/resource_compute_backend_bucket.go
  google-beta/resource_compute_backend_service.go
  google-beta/resource_compute_disk.go
  google-beta/resource_compute_health_check.go
  google-beta/resource_compute_instance.go
  google-beta/resource_compute_instance_test.go
  google-beta/resource_compute_machine_image.go
  google-beta/resource_compute_node_template_generated_test.go
  google-beta/resource_compute_region_backend_service.go
  google-beta/resource_compute_region_health_check.go
  google-beta/resource_compute_region_network_endpoint_group.go
  google-beta/resource_dataproc_cluster_test.go
  website/docs/r/compute_backend_bucket.html.markdown
  website/docs/r/compute_backend_service.html.markdown
  website/docs/r/compute_disk.html.markdown
  website/docs/r/compute_health_check.html.markdown
  website/docs/r/compute_instance.html.markdown
  website/docs/r/compute_machine_image.html.markdown
  website/docs/r/compute_node_template.html.markdown
  website/docs/r/compute_region_backend_service.html.markdown
  website/docs/r/compute_region_health_check.html.markdown
  website/docs/r/compute_region_network_endpoint_group.html.markdown
Labels: size/M

#3060 Made nic_type default to a string (and expand as a string)
  .changelog/4598.txt
  google-beta/compute_instance_helpers.go
Labels: size/XS

#3061 Add Proxy Bind to Target Proxies
  .changelog/4597.txt
  google-beta/resource_compute_backend_service_test.go
  google-beta/resource_compute_target_http_proxy.go
  google-beta/resource_compute_target_https_proxy.go
  google-beta/resource_compute_target_tcp_proxy.go
  website/docs/r/compute_target_http_proxy.html.markdown
  website/docs/r/compute_target_https_proxy.html.markdown
  website/docs/r/compute_target_tcp_proxy.html.markdown
Labels: size/M

#3062 Added tag product and tagkey resource
  .changelog/4565.txt
  google-beta/config.go
  google-beta/error_retry_predicates_test.go
  google-beta/provider.go
  google-beta/resource_dataflow_flex_template_job_test.go
  google-beta/resource_tags_tag_key.go
  google-beta/resource_tags_tag_key_sweeper_test.go
  google-beta/resource_tags_tag_key_test.go
  google-beta/tags_operation.go
  website/docs/r/tags_tag_key.html.markdown
  website/google.erb
Labels: size/XL

#3064 Added support for VPC Service Controls (VPC SC) Secure Data Exchange
  .changelog/4509.txt
  google-beta/resource_access_context_manager_service_perimeter.go
  google-beta/resource_access_context_manager_service_perimeter_test.go
  google-beta/resource_access_context_manager_service_perimeters.go
  google-beta/resource_dataproc_cluster_test.go
  website/docs/r/access_context_manager_service_perimeter.html.markdown
  website/docs/r/access_context_manager_service_perimeters.html.markdown
Labels: size/XXL

#3066 Add Google HC Datasource
  .changelog/4515.txt
  google-beta/data_source_compute_health_check.go
  google-beta/data_source_compute_health_check_test.go
  google-beta/provider.go
  website/docs/d/compute_backend_bucket.html.markdown
  website/docs/d/compute_health_check.html.markdown
  website/google.erb
Labels: size/M

#3068 Allow other repo types for AR
  .changelog/4604.txt
  google-beta/artifact_registry_operation.go
  google-beta/config.go
  google-beta/resource_artifact_registry_repository.go
  google-beta/resource_artifact_registry_repository_sweeper_test.go
  website/docs/r/artifact_registry_repository.html.markdown
Labels: size/XS

#3070 add handling of empty versioning and cors in hand written storage bucket
  .changelog/4608.txt
  google-beta/resource_dataflow_flex_template_job_test.go
  google-beta/resource_dataproc_cluster_test.go
Labels: size/XS

#3071 datacatalog: Added `google_data_catalog_tag_template_iam_*`
  .changelog/4590.txt
  google-beta/iam_data_catalog_tag_template.go
  google-beta/iam_data_catalog_tag_template_generated_test.go
  google-beta/provider.go
  google-beta/resource_dataflow_flex_template_job_test.go
  google-beta/resource_dataproc_cluster_test.go
  website/docs/r/data_catalog_tag_template_iam.html.markdown
  website/google.erb
Labels: size/XL

#3072 Upstream broken link in GKE cluster
  .changelog/4610.txt
  website/docs/r/container_cluster.html.markdown
Labels: size/XS

#3073 Make misc. cleanups around the docs
  .changelog/4613.txt
  google-beta/resource_dataproc_cluster_test.go
  website/docs/guides/getting_started.html.markdown
  website/docs/guides/provider_reference.html.markdown
  website/docs/index.html.markdown
Labels: size/XS

#3067 v3.61.0 changelog
  CHANGELOG.md
Labels: size/S

#3075 Updated datatype for mtu
  .changelog/4601.txt
  google-beta/resource_compute_interconnect_attachment.go
  google-beta/resource_dataproc_cluster_test.go
Labels: size/XS

#3076 Added data source google kms secret asymmetric
  .changelog/4609.txt
  go.mod
  google-beta/config.go
  google-beta/data_source_google_kms_secret_asymmetric.go
  google-beta/data_source_google_kms_secret_asymmetric_test.go
  google-beta/provider.go
  website/docs/d/kms_secret_asymmetric.html.markdown
  website/google.erb
Labels: size/XL

#3077 Add operation retry for exceeded quota group OperationReadGroup
  .changelog/4599.txt
  google-beta/common_operation.go
  google-beta/error_retry_predicates.go
  google-beta/error_retry_predicates_test.go
Labels: size/XS

#3078 Added fetch/merge functions for storage bucket and organization IAM
  .changelog/4618.txt
  google-beta/resource_dataflow_flex_template_job_test.go
Labels: size/XS

#3079 Gkehub Membership Resource [updated again]
  .changelog/4600.txt
  google-beta/config.go
  google-beta/gke_hub_operation.go
  google-beta/provider.go
  google-beta/resource_gke_hub_membership.go
  google-beta/resource_gke_hub_membership_generated_test.go
  website/docs/r/gke_hub_membership.html.markdown
  website/google.erb
Labels: size/XXL

#3080 Fixed storage bucket iam CAI name
  .changelog/4622.txt
  google-beta/resource_dataflow_flex_template_job_test.go
Labels: size/XS

#3081 Follow user project override settings in Cloud Identity datasources
  .changelog/4612.txt
  google-beta/data_source_cloud_identity_group_memberships.go
  google-beta/data_source_cloud_identity_groups.go
  google-beta/resource_dataproc_cluster_test.go
Labels: size/S

#3082 Add fields to Datafusion Instance
  .changelog/4617.txt
  google-beta/resource_data_fusion_instance.go
  google-beta/resource_data_fusion_instance_generated_test.go
  google-beta/resource_dataflow_flex_template_job_test.go
  google-beta/resource_dataproc_cluster_test.go
  website/docs/r/data_fusion_instance.html.markdown
Labels: size/S

#3057 updating to go 1.16
  .github/workflows/go.yml
  .go-version
  README.md
  go.mod
Labels: size/XS

#3083 Adresssing Terraform provider issue 8732
  .changelog/4614.txt
  google-beta/resource_compute_region_target_http_proxy_generated_test.go
  google-beta/resource_dataflow_flex_template_job_test.go
  website/docs/r/compute_region_target_http_proxy.html.markdown
Labels: size/XS

#3086 Add sweeper to gce disk
  .changelog/4624.txt
  google-beta/config.go
  google-beta/resource_compute_disk_sweeper_test.go
Labels: size/M

#3084 v3.62.0 CHANGELOG.md
  CHANGELOG.md
Labels: size/S

#3089 fix test failures
  .changelog/4582.txt
  google-beta/resource_cloud_run_service.go
  google-beta/resource_dataflow_flex_template_job_test.go
Labels: size/XS

#3090 query insights block added to doc
  .changelog/4628.txt
  google-beta/resource_dataflow_flex_template_job_test.go
  website/docs/r/sql_database_instance.html.markdown
Labels: size/XS

#3091 Check for composer disk prefix in sweepers
  .changelog/4630.txt
  google-beta/gcp_sweeper_test.go
Labels: size/XS

#3092 Added data source monitoring istio canonical service
  .changelog/4623.txt
  google-beta/data_source_monitoring_istio_canonical_service.go
  google-beta/provider.go
  website/docs/d/monitoring_istio_canonical_service.html.markdown
  website/google.erb
Labels: size/M

#3093 Apigee instance attachment resource
  .changelog/4619.txt
  google-beta/provider.go
  google-beta/resource_apigee_instance.go
  google-beta/resource_apigee_instance_attachment.go
  google-beta/resource_apigee_instance_attachment_generated_test.go
  google-beta/resource_apigee_instance_attachment_sweeper_test.go
  google-beta/resource_dataproc_cluster_test.go
  website/docs/r/apigee_instance.html.markdown
  website/docs/r/apigee_instance_attachment.html.markdown
  website/google.erb
Labels: size/XL

#3094 set required for secret_data
  .changelog/4627.txt
  google-beta/resource_dataproc_cluster_test.go
  google-beta/resource_secret_manager_secret_version.go
  website/docs/r/secret_manager_secret_version.html.markdown
Labels: size/XS

#3095 GKE L4 ILB Subsetting support
  .changelog/4626.txt
  google-beta/resource_container_cluster.go
  google-beta/resource_container_cluster_test.go
  google-beta/resource_dataproc_cluster_test.go
  website/docs/r/container_cluster.html.markdown
Labels: size/L

#3098 add minItems for the required field scopes
  .changelog/4634.txt
  google-beta/resource_compute_instance.go
  google-beta/resource_dataflow_flex_template_job_test.go
Labels: size/XS

#3099 Bump SQL Database Instance default timeout
  .changelog/4636.txt
  google-beta/resource_dataflow_flex_template_job_test.go
  google-beta/resource_sql_database_instance.go
  website/docs/r/sql_database_instance.html.markdown
Labels: size/XS

#3100 Fix bug where bigquery table couldn't add columns
  .changelog/4606.txt
  google-beta/resource_bigquery_table.go
  google-beta/resource_bigquery_table_test.go
Labels: size/M

#3102 Allow MYSQL_5_5 for database_version
  .changelog/4625.txt
  google-beta/resource_sql_source_representation_instance.go
  website/docs/r/sql_source_representation_instance.html.markdown
Labels: size/XS

#3103 Bump dataproc disk sizes
  .changelog/4637.txt
  google-beta/resource_dataproc_cluster_iam_test.go
  google-beta/resource_dataproc_cluster_test.go
  google-beta/resource_dataproc_job_test.go
  website/docs/r/dataproc_cluster.html.markdown
Labels: size/S

#3106 Hive require partition filter for Bigquery Table
  .changelog/4629.txt
  google-beta/resource_bigquery_table.go
  google-beta/resource_bigquery_table_test.go
  google-beta/resource_dataflow_flex_template_job_test.go
  google-beta/resource_dataproc_cluster_test.go
  website/docs/r/bigquery_table.html.markdown
Labels: size/XS

#3107 add polling to handle inconsistent result
  .changelog/4642.txt
  google-beta/resource_dataproc_cluster_test.go
  google-beta/resource_storage_hmac_key.go
Labels: size/S
