Repository hashicorp/terraform-provider-google-beta, pull requests merged in 2021-02, with the labels that each got.

#2920 Patch Cloudrun Annotations Diff
  .changelog/4450.txt
  google-beta/resource_cloud_run_service.go
Labels: size/XS

#2921 replaced slave with replica in cloud sql
  .changelog/4452.txt
  google-beta/resource_sql_database_instance.go
  website/docs/d/sql_database_instance.html.markdown
  website/docs/r/sql_database_instance.html.markdown
Labels: size/XS

#2922 Made AppEngine requests retry if they fail due to a P4SA propagation delay
  .changelog/4453.txt
  google-beta/error_retry_predicates.go
Labels: size/XS

#2923 Add point-in-time-recovery to sql database instance
  .changelog/4431.txt
  google-beta/bootstrap_utils_test.go
  google-beta/resource_sql_database_instance.go
  google-beta/resource_sql_database_instance_test.go
  website/docs/r/sql_database_instance.html.markdown
Labels: size/L

#2924 Adds support to manage GCP PrivateCA Certificates
  .changelog/4449.txt
  google-beta/provider.go
  google-beta/resource_privateca_certificate.go
  google-beta/resource_privateca_certificate_generated_test.go
  google-beta/test-fixtures/rsa_csr.pem
  website/docs/r/privateca_certificate.html.markdown
  website/google.erb
Labels: size/XXL

#2925 Add polling wait on VCR recording mode, bump max run times
  .changelog/4457.txt
  google-beta/resource_active_directory_domain_trust_test.go
Labels: size/XS

#2926 Add status to bigquery_job
  .changelog/4455.txt
  google-beta/resource_big_query_job.go
  google-beta/resource_big_query_job_generated_test.go
  google-beta/resource_bigquery_job_test.go
  website/docs/r/bigquery_job.html.markdown
Labels: size/L

#2927 Add nil check for pitr
  .changelog/4462.txt
  google-beta/resource_sql_database_instance.go
Labels: size/XS

#2928 VCR skip PrivateCA cmek test
  .changelog/4465.txt
  google-beta/resource_privateca_certificate_authority_generated_test.go
Labels: size/XS

#2929 Add support for configuring disk resource policies for google_compute_instance_template
  .changelog/4463.txt
  google-beta/resource_compute_instance_template.go
  google-beta/resource_compute_instance_template_test.go
  website/docs/d/compute_instance_template.html.markdown
  website/docs/r/compute_instance_template.html.markdown
Labels: size/M

#2930 Fix flaky TestAccSqlDatabaseInstance_backupUpdate
  .changelog/4467.txt
  google-beta/resource_dataflow_flex_template_job_test.go
  google-beta/resource_sql_database_instance_test.go
Labels: size/XS

#2931 [Ansible] adding no_log to some parameters
  .changelog/4448.txt
  google-beta/resource_dataflow_flex_template_job_test.go
Labels: size/XS

#2935 Correct the spelling of heirarchy/hierarchy
  .changelog/4471.txt
  google-beta/resource_access_approval_folder_settings_test.go
  google-beta/resource_access_approval_organization_settings_test.go
  google-beta/resource_access_approval_project_settings_test.go
Labels: size/XS

#2932 Update CHANGELOG.md
  CHANGELOG.md
Labels: size/XS

#2938 Added tests for isAppEngineRetryableError
  .changelog/4470.txt
  google-beta/error_retry_predicates.go
  google-beta/error_retry_predicates_test.go
Labels: size/S

#2939 Add descriptions to schemas by hand to MM resources
  .changelog/4418.txt
  google-beta/resource_api_gateway_api_config.go
  google-beta/resource_compute_region_ssl_certificate.go
  google-beta/resource_compute_route.go
  google-beta/resource_compute_snapshot.go
  google-beta/resource_compute_ssl_certificate.go
  google-beta/resource_kms_crypto_key.go
  google-beta/resource_kms_key_ring.go
  google-beta/resource_pubsub_subscription.go
  google-beta/resource_redis_instance.go
  website/docs/r/kms_crypto_key.html.markdown
  website/docs/r/pubsub_subscription.html.markdown
Labels: size/S

#2934 Corrected version.ProviderVersion path (2/2)
  GNUmakefile
Labels: size/XS

#2940 Marked preview as Computed: true
  .changelog/4472.txt
  google-beta/resource_compute_security_policy.go
  google-beta/resource_dataflow_flex_template_job_test.go
Labels: size/XS

#2941 add gVNIC support for compute instance
  .changelog/4443.txt
  google-beta/compute_instance_helpers.go
  google-beta/resource_compute_instance.go
  google-beta/resource_compute_instance_template.go
  google-beta/resource_compute_instance_test.go
  google-beta/resource_dataflow_flex_template_job_test.go
  website/docs/r/compute_instance.html.markdown
  website/docs/r/compute_instance_template.html.markdown
Labels: size/M

#2942 Mark KMS Key as update for PubSub Topic
  .changelog/4371.txt
  google-beta/resource_pubsub_topic.go
Labels: size/XS

#2943 Add Essentials Contacts resource
  .changelog/4469.txt
  google-beta/config.go
  google-beta/provider.go
  google-beta/resource_essential_contacts_contact.go
  google-beta/resource_essential_contacts_contact_generated_test.go
  google-beta/resource_essential_contacts_contact_sweeper_test.go
  website/docs/r/cloud_identity_group.html.markdown
  website/docs/r/cloud_identity_group_membership.html.markdown
  website/docs/r/essential_contacts_contact.html.markdown
  website/google.erb
Labels: size/XL

#2944 Support Query Insights
  .changelog/4464.txt
  google-beta/resource_sql_database_instance.go
  google-beta/resource_sql_database_instance_test.go
  website/docs/d/sql_database_instance.html.markdown
Labels: size/M

#2946 secretmanager: point beta provider to v1 of the api
  .changelog/4479.txt
  google-beta/config.go
  google-beta/resource_secret_manager_secret_sweeper_test.go
Labels: size/XS

#2947 regex sub fields are set to accept the updates
  .changelog/4458.txt
  google-beta/resource_data_loss_prevention_stored_info_type.go
Labels: size/XS

#2948 Retry on Cloud Run 409s (foreground deletion)
  .changelog/4460.txt
  google-beta/error_retry_predicates.go
  google-beta/iam_cloud_run_service.go
  google-beta/resource_cloud_run_domain_mapping.go
  google-beta/resource_cloud_run_domain_mapping_generated_test.go
  google-beta/resource_cloud_run_domain_mapping_test.go
  google-beta/resource_cloud_run_service.go
  google-beta/resource_cloud_run_service_generated_test.go
  google-beta/resource_cloud_run_service_test.go
  google-beta/resource_dataflow_flex_template_job_test.go
Labels: size/L

#2949 job scheduling and max retries support added
  .changelog/4468.txt
  google-beta/resource_dataflow_flex_template_job_test.go
  google-beta/resource_dataproc_job.go
  google-beta/resource_dataproc_job_test.go
  website/docs/r/dataproc_job.html.markdown
Labels: size/S

#2950 Fix typo in resource policy docs
  .changelog/4481.txt
  google-beta/resource_compute_resource_policy.go
  website/docs/r/compute_resource_policy.html.markdown
Labels: size/XS

#2951 Add IAP Client Datasource
  .changelog/4429.txt
  google-beta/data_source_iap_client.go
  google-beta/data_source_iap_client_test.go
  google-beta/provider.go
  website/docs/d/iap_client.html.markdown
  website/docs/r/iap_client.html.markdown
  website/google.erb
Labels: size/M

#2952 doc updated to fix the broken link for life_cycle reference
  .changelog/4487.txt
  google-beta/resource_dataflow_flex_template_job_test.go
  website/docs/r/compute_instance_template.html.markdown
Labels: size/XS

#2954 add deletion protection for big_query_table
  .changelog/4478.txt
  google-beta/iam_big_query_table_generated_test.go
  google-beta/resource_big_query_dataset_test.go
  google-beta/resource_big_query_job_generated_test.go
  google-beta/resource_bigquery_dataset_access_test.go
  google-beta/resource_bigquery_job_test.go
  google-beta/resource_bigquery_table.go
  google-beta/resource_bigquery_table_test.go
  google-beta/resource_dataflow_flex_template_job_test.go
  google-beta/resource_sql_ssl_cert_test.go
  website/docs/r/bigquery_dataset_access.html.markdown
  website/docs/r/bigquery_job.html.markdown
  website/docs/r/bigquery_table.html.markdown
Labels: size/XXL

#2955 add transit encryption mode support for redis instance resource
  .changelog/4444.txt
  google-beta/resource_redis_instance.go
  google-beta/resource_redis_instance_test.go
  website/docs/r/redis_instance.html.markdown
Labels: size/M

#2957 suppress case diff on charset on sql database
  .changelog/4489.txt
  google-beta/resource_sql_database.go
Labels: size/XS

#2958 compute: ignore error when delete operation is successful
  .changelog/4491.txt
  google-beta/resource_compute_instance.go
Labels: size/XS

#2961 Fixed import data catalog taxonomy
  .changelog/4493.txt
  google-beta/resource_data_catalog_taxonomy.go
Labels: size/XS

#2953 Release 3.57.0 changelog
  CHANGELOG.md
Labels: size/XS

#2962 Upstreamed https://github.com/GoogleCloudPlatform/terraform-google-conversion/pull/631
  .changelog/4498.txt
  google-beta/resource_dataflow_flex_template_job_test.go
Labels: size/XS

#2963 Add retries when SA not found in IAM
  .changelog/4441.txt
  google-beta/error_retry_predicates.go
  google-beta/iam.go
  google-beta/resource_dataflow_flex_template_job_test.go
Labels: size/S

#2964 Allow multiple SSL Certificates on SSL Proxy LBs
  .changelog/4499.txt
  google-beta/resource_compute_target_ssl_proxy.go
  website/docs/r/compute_target_ssl_proxy.html.markdown
Labels: size/XS

#2965 add list of batching enabled
  .changelog/4500.txt
  website/docs/guides/provider_reference.html.markdown
Labels: size/S

#2966 Fix Apigee org import IDs
  .changelog/4497.txt
  google-beta/resource_apigee_organization.go
Labels: size/XS

#2967 Add EncryptionConfig to Cloud Composer's EnvironmentConfig
  .changelog/4310.txt
  google-beta/resource_composer_environment.go
  google-beta/resource_composer_environment_test.go
  website/docs/r/composer_environment.html.markdown
Labels: size/L

#2968 Fix bug: artifact_registry_repository update always failing
  .changelog/4482.txt
  google-beta/resource_artifact_registry_repository.go
  google-beta/resource_artifact_registry_repository_test.go
Labels: size/M

#2969 Allow GKE node pool to resume create after interruption
  .changelog/4501.txt
  google-beta/resource_container_node_pool.go
Labels: size/S

#2970 removed optional for auth_string in redis instance
  .changelog/4492.txt
  google-beta/resource_dataflow_flex_template_job_test.go
  google-beta/resource_redis_instance.go
Labels: size/XS

#2971 Randomize sql instance bootstrap name
  .changelog/4490.txt
  google-beta/bootstrap_utils_test.go
  google-beta/resource_dataflow_flex_template_job_test.go
Labels: size/M

#2972 Eventarc Trigger
  .changelog/4476.txt
  go.mod
  go.sum
  google-beta/config.go
  google-beta/dcl.go
  google-beta/dcl_logger.go
  google-beta/provider.go
  google-beta/provider_handwritten_endpoint.go
  google-beta/resource_eventarc_trigger.go
  google-beta/resource_eventarc_trigger_sweeper_test.go
  google-beta/resource_eventarc_trigger_test.go
  google-beta/transport.go
  website/docs/r/eventarc_trigger.html.markdown
  website/google.erb
Labels: size/XXL

#2973 GA for gVNIC support
  .changelog/4511.txt
  google-beta/compute_instance_helpers.go
  google-beta/resource_compute_instance_test.go
  website/docs/r/compute_instance.html.markdown
Labels: size/XS

#2974 added sensitive flag to auth_string field
  .changelog/4505.txt
  google-beta/resource_redis_instance.go
  google-beta/resource_redis_instance_test.go
Labels: size/XS

#2975 send_empty_values flag added for guest_flush
  .changelog/4502.txt
  google-beta/resource_compute_resource_policy.go
Labels: size/XS

#2977 Add google_dataproc_metastore_service
  .changelog/4486.txt
  google-beta/config.go
  google-beta/dataproc_metastore_operation.go
  google-beta/dataproc_metastore_service_diff_supress.go
  google-beta/provider.go
  google-beta/resource_dataflow_flex_template_job_test.go
  google-beta/resource_dataproc_metastore_service.go
  google-beta/resource_dataproc_metastore_service_generated_test.go
  google-beta/resource_dataproc_metastore_service_sweeper_test.go
  google-beta/resource_dataproc_metastore_service_test.go
  website/docs/r/cloud_run_service.html.markdown
  website/docs/r/dataproc_metastore_service.html.markdown
  website/google.erb
Labels: size/XXL

#2978 fix notebooks instance full test, remove google-beta
  .changelog/4518.txt
  google-beta/resource_dataflow_flex_template_job_test.go
  google-beta/resource_notebooks_instance_generated_test.go
  website/docs/r/notebooks_instance.html.markdown
Labels: size/XS

#2979 fixed a panic in instance_group_manager
  .changelog/4517.txt
  google-beta/resource_compute_instance_group_manager.go
Labels: size/XS

#2980 Revert "GA for gVNIC support (#4511)"
  .changelog/4519.txt
  google-beta/compute_instance_helpers.go
  google-beta/resource_compute_instance_test.go
  website/docs/r/compute_instance.html.markdown
Labels: size/XS

#2981 fix logging bucket config tests
  .changelog/4521.txt
  google-beta/resource_logging_bucket_config_test.go
  website/docs/r/logging_billing_account_bucket_config.html.markdown
  website/docs/r/logging_folder_bucket_config.html.markdown
  website/docs/r/logging_organization_bucket_config.html.markdown
Labels: size/XS

#2982 Sql upstream
  .changelog/4520.txt
  website/docs/r/sql_user.html.markdown
Labels: size/XS

#2983 3.57.0 changelog
  CHANGELOG.md
Labels: size/XS

#2987 Add support for google_compute_autoscaler autoscalingPolicy.cpuUtilization.predictiveMethod
  .changelog/4523.txt
  google-beta/resource_compute_autoscaler.go
  google-beta/resource_compute_autoscaler_test.go
  google-beta/resource_compute_region_autoscaler.go
  google-beta/resource_compute_region_autoscaler_test.go
  website/docs/r/compute_autoscaler.html.markdown
  website/docs/r/compute_region_autoscaler.html.markdown
Labels: size/M

#2988 Increased timeouts for Apigee Organization/Instance
  .changelog/4529.txt
  google-beta/resource_apigee_instance.go
  google-beta/resource_apigee_organization.go
  website/docs/r/apigee_instance.html.markdown
  website/docs/r/apigee_organization.html.markdown
Labels: size/XS

#2989 Add Workflows Resource
  .changelog/4308.txt
  google-beta/config.go
  google-beta/provider.go
  google-beta/resource_source_repo_repository_generated_test.go
  google-beta/resource_workflows_workflow.go
  google-beta/resource_workflows_workflow_generated_test.go
  google-beta/resource_workflows_workflow_sweeper_test.go
  google-beta/resource_workflows_workflow_test.go
  google-beta/workflows_operation.go
  website/docs/r/sourcerepo_repository.html.markdown
  website/docs/r/workflows_workflow.html.markdown
  website/google.erb
Labels: size/XXL

#2990 Use bootstrapped service networking networks for redis, memcache tests
  .changelog/4513.txt
  google-beta/resource_memcache_instance_generated_test.go
  google-beta/resource_memcache_instance_test.go
  google-beta/resource_redis_instance_generated_test.go
  website/docs/r/memcache_instance.html.markdown
  website/docs/r/redis_instance.html.markdown
Labels: size/M

#2991 make max_age.0.days and max_age.0.duration ForceNew for bigtable_gc_policy
  .changelog/4533.txt
  google-beta/resource_bigtable_gc_policy.go
Labels: size/XS

#2992 Add default retry to cloud_functions update
  .changelog/4530.txt
  google-beta/resource_cloudfunctions_function.go
Labels: size/XS

#2994 updated language_tag to required
  .changelog/4527.txt
  google-beta/resource_dataflow_flex_template_job_test.go
  google-beta/resource_essential_contacts_contact.go
  website/docs/r/essential_contacts_contact.html.markdown
Labels: size/XS

#2995 Split handwritten IAM resources into their own section in provider.go
  .changelog/4531.txt
  google-beta/provider.go
  google-beta/resource_dataflow_flex_template_job_test.go
Labels: size/M

#2996 update cloud identity test to use preferred_member_key
  .changelog/4526.txt
  google-beta/data_source_cloud_identity_group_memberships_test.go
Labels: size/XS

#2997 Bumped timeouts to 1 hour
  .changelog/4532.txt
  google-beta/resource_apigee_instance.go
  website/docs/r/apigee_instance.html.markdown
Labels: size/XS

#2998 ga for gVNIC on google_compute_instance
  .changelog/4516.txt
  google-beta/compute_instance_helpers.go
  google-beta/resource_compute_instance_template.go
  google-beta/resource_compute_instance_test.go
  website/docs/r/compute_instance.html.markdown
  website/docs/r/compute_instance_template.html.markdown
Labels: size/M

#2999 Upstream tpg 8498 - rrdatas documentation
  .changelog/4534.txt
  website/docs/r/dns_record_set.html.markdown
Labels: size/XS

#3000 removed unused random_id resource
  .changelog/4536.txt
  google-beta/resource_endpoints_service_test.go
Labels: size/XS

#3002 bump sdk to 2.4.4
  go.mod
  go.sum
Labels: size/XS

#3003 Change gce-uefi-images image project to default image projects.
  .changelog/4539.txt
  google-beta/resource_compute_instance_template_test.go
  google-beta/resource_compute_instance_test.go
  google-beta/resource_compute_per_instance_config_test.go
  google-beta/resource_compute_region_per_instance_config_test.go
  website/docs/d/compute_instance_serial_port.html.markdown
  website/docs/guides/version_3_upgrade.html.markdown
Labels: size/XS

#3005 Suppress Google labels from Cloud Run Service
  .changelog/4528.txt
  google-beta/resource_cloud_run_service.go
  google-beta/resource_dataflow_flex_template_job_test.go
Labels: size/S

#3006 Add MTU to interconnect
  .changelog/4496.txt
  google-beta/resource_compute_interconnect_attachment.go
  website/docs/r/compute_interconnect_attachment.html.markdown
Labels: size/S

#3007 hashing function added for natIps
  .changelog/4537.txt
  google-beta/resource_compute_router_nat.go
  google-beta/resource_compute_router_nat_test.go
Labels: size/M
