Repository hashicorp/terraform-provider-google-beta, pull requests merged in 2021-05, with the labels that each got.

#3216 Made check for creds vars in sweepers match test runs
  .changelog/4755.txt
  google-beta/gcp_sweeper_test.go
Labels: size/XS

#3217 Added ForceNew on labels
  .changelog/4734.txt
  google-beta/resource_logging_metric.go
  google-beta/resource_logging_metric_test.go
Labels: size/M

#3218 Docs update for SQL instance - remove ON_DEMAND option
  .changelog/4757.txt
  website/docs/d/sql_database_instance.html.markdown
Labels: size/XS

#3219 Adds labels to disk on instance templates
  .changelog/4759.txt
  google-beta/resource_dataflow_flex_template_job_test.go
  website/docs/d/compute_instance_template.html.markdown
  website/docs/r/compute_instance_template.html.markdown
Labels: size/XS

#3220 Cloud Run Domain Verification Doc Update
  .changelog/4754.txt
  google-beta/resource_cloud_run_domain_mapping.go
  google-beta/resource_dataflow_flex_template_job_test.go
  website/docs/r/cloud_run_domain_mapping.html.markdown
Labels: size/XS

#3222 Added resourcegroup- and cluster- to clearable test prefixes
  .changelog/4756.txt
  google-beta/gcp_sweeper_test.go
Labels: size/XS

#3223 add requireVerifiedChromeOs as optional
  .changelog/4758.txt
  google-beta/resource_access_context_manager_access_level.go
  google-beta/resource_access_context_manager_access_level_condition_test.go
  google-beta/resource_access_context_manager_access_level_test.go
  website/docs/r/access_context_manager_access_level.html.markdown
Labels: size/S

#3224 Add Android and iOS to supported OS types
  .changelog/4736.txt
  google-beta/resource_access_context_manager_access_level.go
  google-beta/resource_access_context_manager_access_level_condition.go
  google-beta/resource_access_context_manager_access_levels.go
  website/docs/r/access_context_manager_access_level.html.markdown
  website/docs/r/access_context_manager_access_level_condition.html.markdown
  website/docs/r/access_context_manager_access_levels.html.markdown
Labels: size/XS

#3225 Added support for the integration with Secret Manager in Cloud Run.
  .changelog/4739.txt
  google-beta/resource_cloud_run_service.go
  google-beta/resource_cloud_run_service_generated_test.go
  google-beta/resource_cloud_run_service_test.go
  website/docs/r/cloud_run_service.html.markdown
Labels: size/XXL

#3226 Added tf-test prefix to negId and made network endpoints API endpoint match the version we're testing
  .changelog/4760.txt
  google-beta/resource_compute_network_endpoint_test.go
  google-beta/resource_dataflow_flex_template_job_test.go
Labels: size/XS

#3227 Add `force_destroy` to spanner instance
  .changelog/4644.txt
  google-beta/resource_dataflow_flex_template_job_test.go
  google-beta/resource_spanner_instance.go
  google-beta/resource_spanner_instance_sweeper_test.go
  website/docs/r/spanner_instance.html.markdown
Labels: size/L

#3228 add initial_size to google_compute_node_group
  .changelog/4750.txt
  google-beta/resource_compute_node_group.go
  google-beta/resource_compute_node_group_generated_test.go
  google-beta/resource_dataproc_cluster_test.go
  website/docs/r/compute_node_group.html.markdown
Labels: size/S

#3229 add details to google_service_account_key documentation
  .changelog/4764.txt
  google-beta/resource_dataproc_cluster_test.go
  google-beta/resource_google_service_account_key.go
Labels: size/XS

#3230 Marked BackendService cdn_policy serve_while_stale as default_from_api
  .changelog/4763.txt
  google-beta/resource_compute_backend_service.go
  google-beta/resource_compute_region_backend_service.go
Labels: size/XS

#3231 upgrade downstream-builder to go16 and update docs
  .changelog/4767.txt
  go.sum
Labels: size/M

#3234 add transform error function for security policy association read error
  .changelog/4765.txt
  google-beta/resource_compute_organization_security_policy_association.go
  google-beta/security_policy_association_utils.go
Labels: size/S

#3236 dns: ignore case changes for DS records
  .changelog/4769.txt
  google-beta/resource_dataflow_flex_template_job_test.go
  google-beta/resource_dataproc_cluster_test.go
  google-beta/resource_dns_resource_dns_record_set.go
Labels: size/XS

#3237 Add conflicts with, node_version only works on the default node pool
  .changelog/4762.txt
  google-beta/resource_container_cluster.go
Labels: size/XS

#3240 Only check node_version & remove_default_node_pool on creation
  .changelog/4772.txt
  google-beta/resource_compute_backend_service_test.go
  google-beta/resource_container_cluster.go
Labels: size/XS

#3241 Add support for setting kms_key_name on machine image
  .changelog/4771.txt
  google-beta/resource_compute_machine_image.go
  google-beta/resource_compute_machine_image_generated_test.go
  google-beta/resource_dataflow_flex_template_job_test.go
  website/docs/r/compute_machine_image.html.markdown
Labels: size/M

#3242 Add changelog for 3.67.0
  CHANGELOG.md
Labels: size/S

#3243 Feature/add pubsub schema resource
  .changelog/4741.txt
  google-beta/provider.go
  google-beta/resource_dataflow_flex_template_job_test.go
  google-beta/resource_pubsub_schema.go
  google-beta/resource_pubsub_schema_generated_test.go
  google-beta/resource_pubsub_schema_sweeper_test.go
  google-beta/resource_pubsub_topic.go
  google-beta/resource_pubsub_topic_generated_test.go
  website/docs/r/pubsub_schema.html.markdown
  website/docs/r/pubsub_topic.html.markdown
  website/google.erb
Labels: size/XL

#3244 Upstream: Add link to Cloud Functions runtimes official doc
  .changelog/4775.txt
  website/docs/r/cloudfunctions_function.html.markdown
Labels: size/XS

#3245 Update sql instance description
  .changelog/4768.txt
  google-beta/resource_dataproc_cluster_test.go
  google-beta/resource_sql_database_instance.go
  website/docs/r/sql_database_instance.html.markdown
Labels: size/XS

#3069 Allow Dataflow flex template jobs to be updated
  google-beta/resource_dataflow_flex_template_job.go
  google-beta/resource_dataflow_flex_template_job_test.go
  google-beta/resource_dataflow_job.go
Labels: size/L

#3247 Allow enable_shielded_nodes to be false
  .changelog/4774.txt
  google-beta/resource_container_cluster.go
  google-beta/resource_container_cluster_test.go
  website/docs/r/container_cluster.html.markdown
Labels: size/S

#3248 allow api gateway to change
  .changelog/4782.txt
  google-beta/resource_api_gateway_gateway.go
  google-beta/resource_api_gateway_gateway_test.go
  website/docs/r/api_gateway_gateway.html.markdown
Labels: size/XS

#3249 fix TestAccComputeHaVpnGateway_haVpnGatewayGcpToGcpExample and TestAccComputeExternalVpnGateway_externalVpnGatewayExample
  .changelog/4781.txt
  google-beta/resource_compute_external_vpn_gateway_generated_test.go
  google-beta/resource_compute_ha_vpn_gateway_generated_test.go
Labels: size/XS

#3250 allow testing suite to use GOOGLE_APPLICATION_CREDENTIALS for sweepers
  .changelog/4785.txt
  google-beta/provider_test.go
Labels: size/XS

#3251 align provisioned networks to have the prefix tf-test
  .changelog/4784.txt
  google-beta/resource_compute_address_test.go
  google-beta/resource_compute_instance_template_test.go
  google-beta/resource_dataproc_cluster_test.go
  google-beta/resource_dns_managed_zone_test.go
  google-beta/resource_dns_policy_test.go
Labels: size/XS

#3252 remove ForceNew on initial_group_config
  .changelog/4780.txt
  google-beta/resource_cloud_identity_group.go
  google-beta/resource_dataproc_cluster_test.go
Labels: size/XS

#3253 Fixed TestAccComputeRegionNetworkEndpointGroup_regionNetworkEndpointGroupAppengineExample
  .changelog/4761.txt
  google-beta/resource_app_engine_flexible_app_version.go
  google-beta/resource_compute_region_network_endpoint_group_generated_test.go
  website/docs/r/app_engine_flexible_app_version.html.markdown
  website/docs/r/compute_region_network_endpoint_group.html.markdown
Labels: size/XS

#3254 add docs for google_project_service timeouts
  .changelog/4787.txt
  website/docs/r/google_project_service.html.markdown
Labels: size/XS

#3238 Added docs for notification_config
  website/docs/r/container_cluster.html.markdown
Labels: size/XS

#3255 Upstream tpgb 3238: docs for cluster notification_config
  .changelog/4786.txt
  go.sum
  google-beta/resource_container_cluster.go
  website/docs/r/container_cluster.html.markdown
Labels: size/M

#3256 IPsec-encrypted Interconnect
  .changelog/4777.txt
  google-beta/resource_compute_address.go
  google-beta/resource_compute_address_generated_test.go
  google-beta/resource_compute_ha_vpn_gateway.go
  google-beta/resource_compute_ha_vpn_gateway_generated_test.go
  google-beta/resource_compute_interconnect_attachment.go
  google-beta/resource_compute_interconnect_attachment_generated_test.go
  google-beta/resource_compute_router.go
  google-beta/resource_compute_router_generated_test.go
  website/docs/r/compute_address.html.markdown
  website/docs/r/compute_ha_vpn_gateway.html.markdown
  website/docs/r/compute_interconnect_attachment.html.markdown
  website/docs/r/compute_router.html.markdown
Labels: size/XL

#3257 promote predictive autoscaling to ga
  .changelog/4789.txt
  website/docs/r/compute_autoscaler.html.markdown
  website/docs/r/compute_region_autoscaler.html.markdown
Labels: size/XS

#3260 promote schedule-based autoscaling to ga
  .changelog/4788.txt
  website/docs/r/compute_autoscaler.html.markdown
  website/docs/r/compute_region_autoscaler.html.markdown
Labels: size/XS

#3261 Update documentation for google_compute_region_per_instance_config
  .changelog/4791.txt
  website/docs/r/compute_region_per_instance_config.html.markdown
Labels: size/XS

#3258 Update CHANGELOG.md - 3.68.0
  CHANGELOG.md
Labels: size/XS

#3262 Add mutex to compute_project_metadata_item
  .changelog/4778.txt
  google-beta/resource_compute_project_metadata_item.go
Labels: size/XS

#3263 Add support for Instance schedules to Google compute resource policy
  .changelog/4779.txt
  google-beta/resource_compute_resource_policy.go
  google-beta/resource_compute_resource_policy_generated_test.go
  website/docs/r/compute_resource_policy.html.markdown
Labels: size/XL

#3264 upgrade google api to 0.46
  go.mod
  go.sum
Labels: size/M

#3266 Log identities executing changes in terraform
  .changelog/4620.txt
  google-beta/config.go
  google-beta/data_source_google_service_account_id_token.go
  google-beta/userinfo.go
  google-beta/utils.go
Labels: size/M

#3268 Add notes about renamed fields to docs
  .changelog/4796.txt
  website/docs/r/eventarc_trigger.html.markdown
Labels: size/XS

#3269 Add Provisioned IOPS support
  .changelog/4578.txt
  google-beta/resource_compute_disk.go
  google-beta/resource_compute_disk_resource_policy_attachment_test.go
  website/docs/r/compute_disk.html.markdown
Labels: size/S

#3270 Tagged relevant issue in the todo
  .changelog/4801.txt
  go.sum
Labels: size/M

#3272 Fix force new on region disk for interface ENUM
  .changelog/4799.txt
  google-beta/resource_compute_disk.go
  google-beta/resource_compute_region_disk.go
  google-beta/resource_dataproc_cluster_test.go
Labels: size/XS

#3273 Add option to set autoresize limit
  .changelog/4743.txt
  google-beta/resource_dataproc_cluster_test.go
  google-beta/resource_sql_database_instance.go
  google-beta/resource_sql_database_instance_test.go
  website/docs/d/sql_database_instance.html.markdown
Labels: size/XS

#3271 Update dcl
  go.mod
  go.sum
Labels: size/XS

#3274 Fix empty object behavior in the DCL
  .changelog/4803.txt
  google-beta/resource_dataproc_workflow_template.go
  google-beta/resource_eventarc_trigger.go
Labels: size/XL

#3275 Downgraded bigtable to 1.7.1
  go.mod
  go.sum
Labels: size/XS

#3276 Added sweeper for bigtable instances
  .changelog/4806.txt
  google-beta/resource_bigtable_instance_sweeper_test.go
Labels: size/M

#3277 Cloudrun: Check knative observed generation when polling
  .changelog/4793.txt
  google-beta/cloudrun_polling.go
  google-beta/resource_cloud_run_domain_mapping.go
  google-beta/resource_cloud_run_service.go
Labels: size/M

#3278 send_empty_value for two fields
  .changelog/4805.txt
  google-beta/resource_compute_backend_bucket.go
  google-beta/resource_compute_backend_service.go
  google-beta/resource_compute_backend_service_test.go
  google-beta/resource_compute_region_backend_service.go
Labels: size/S

#3267 Release 3.69.0 Changelog (Beta)
  CHANGELOG.md
Labels: size/XS

#3282 allow matches_storage_class empty array
  .changelog/4809.txt
  google-beta/resource_storage_bucket.go
  google-beta/resource_storage_bucket_test.go
Labels: size/XS

#3283 Instance group wait for status
  .changelog/4783.txt
  google-beta/resource_compute_instance_group_manager.go
  google-beta/resource_compute_instance_group_manager_test.go
  google-beta/resource_compute_region_instance_group_manager.go
  website/docs/r/compute_instance_group_manager.html.markdown
  website/docs/r/compute_region_instance_group_manager.html.markdown
Labels: size/XL

#3286 DialogFlow fulfillment support
  .changelog/4808.txt
  google-beta/provider.go
  google-beta/resource_dialogflow_fulfillment.go
  google-beta/resource_dialogflow_fulfillment_test.go
  website/docs/r/dialogflow_fulfillment.html.markdown
  website/google.erb
Labels: size/XL

#3284 fix linter in tpgb
  .golangci.yml
  staticcheck.conf
Labels: size/M

#3287 Match preview versions in google_composer_environment regex
  .changelog/4797.txt
  google-beta/resource_composer_environment.go
  google-beta/resource_composer_environment_test.go
  google-beta/resource_dataproc_cluster_test.go
Labels: size/XS

#3288 Compute: add support for instance reservation_affinity
  .changelog/4335.txt
  google-beta/compute_instance_helpers.go
  google-beta/resource_compute_instance.go
  google-beta/resource_compute_instance_template.go
  google-beta/resource_compute_instance_template_test.go
  google-beta/resource_compute_instance_test.go
  google-beta/resource_dataproc_cluster_test.go
Labels: size/XL
