Repository hashicorp/terraform-provider-google-beta, pull requests merged in 2021-11, with the labels that each got.

#3816 4.0.0 changelog
  CHANGELOG.md
Labels: size/m

#3850 update pull request reviewer workflow
  .github/workflows/pull-request-reviewer.yml
Labels: size/xs

#3852 4.1.0 changelog
  CHANGELOG.md
Labels: size/xs

#3862 Update CHANGELOG.md
  CHANGELOG.md
Labels: size/s

#3860 add files for gha release workflow
  .github/workflows/release.yml
  .goreleaser.yml
  scripts/changelog-links.sh
Labels: size/l
