Repository hashicorp/terraform-provider-google-beta, pull requests merged in 2021-01, with the labels that each got.

#2827 update documentation field on resource monitoring_alert_policy
  .changelog/4364.txt
  google-beta/resource_monitoring_alert_policy.go
  google-beta/resource_monitoring_metric_descriptor.go
  website/docs/r/monitoring_alert_policy.html.markdown
  website/docs/r/monitoring_metric_descriptor.html.markdown
Labels: size/M

#2828 correct typo in documentation
  .changelog/4365.txt
  website/docs/guides/provider_reference.html.markdown
Labels: size/XS

#2829 kms_key_name parameter for google_dataflow_job resource
  .changelog/4359.txt
  google-beta/resource_dataflow_job.go
  google-beta/resource_dataflow_job_test.go
  website/docs/r/dataflow_job.html.markdown
Labels: size/M

#2831 Remove Nathan from tpgb reviewers
  .hashibot.hcl
Labels: size/XS

#2832 Allow dependabot to check go dependencies
  .github/dependabot.yml
Labels: size/XS

#2833 Remove Nathan from random reviewers
  .changelog/4370.txt
  google-beta/resource_dataflow_flex_template_job_test.go
Labels: size/XS

#2839 Fix wrong initialization of maintenance_exclusion
  .changelog/4372.txt
  google-beta/resource_container_cluster.go
Labels: size/XS

#2840 Add diff supress for json comparison on specific keys for bigquery table
  .changelog/4347.txt
  google-beta/resource_bigquery_table.go
  google-beta/resource_bigquery_table_test.go
Labels: size/XXL

#2841 Add support cloudsql mysql 8.0
  .changelog/4363.txt
  google-beta/resource_sql_database_instance.go
  google-beta/resource_sql_source_representation_instance.go
  google-beta/resource_sql_source_representation_instance_generated_test.go
  website/docs/r/sql_source_representation_instance.html.markdown
Labels: size/XS

#2842 Add new data source google_compute_instance_template
  .changelog/4362.txt
  google-beta/data_source_google_compute_instance_template.go
  google-beta/data_source_google_compute_instance_template_test.go
  google-beta/provider.go
  website/docs/d/compute_instance_template.html.markdown
  website/google.erb
Labels: size/XL

#2843 Add restoreBackup support for sql db instance
  .changelog/4336.txt
  google-beta/resource_sql_database_instance.go
  google-beta/resource_sql_database_instance_test.go
  website/docs/r/sql_database_instance.html.markdown
Labels: size/L

#2845 Sweep vpc connector
  .changelog/4367.txt
  google-beta/resource_dataflow_flex_template_job_test.go
  google-beta/resource_vpc_access_connector_generated_test.go
  website/docs/r/vpc_access_connector.html.markdown
Labels: size/XS

#2846 Update cloud_identity_groups.html.markdown
  .changelog/4378.txt
  google-beta/resource_dataflow_flex_template_job_test.go
  website/docs/d/cloud_identity_groups.html.markdown
Labels: size/XS

#2847 example corrected in the doc
  .changelog/4374.txt
  website/docs/d/sql_database_instance.html.markdown
Labels: size/XS

#2849 Add github action for building, remove travis
  .github/workflows/go.yml
  .travis.yml
Labels: size/M

#2850 Promote github fields in Cloud Build Trigger to GA
  .changelog/4373.txt
  website/docs/r/cloudbuild_trigger.html.markdown
Labels: size/XS

#2851 Add support for Context Aware Access UserAccessBinding resource
  .changelog/4368.txt
  google-beta/access_context_manager_operation.go
  google-beta/active_directory_operation.go
  google-beta/api_gateway_operation.go
  google-beta/artifact_registry_operation.go
  google-beta/data_fusion_operation.go
  google-beta/datastore_operation.go
  google-beta/filestore_operation.go
  google-beta/firebase_operation.go
  google-beta/firestore_operation.go
  google-beta/game_services_operation.go
  google-beta/iam_beta_operation.go
  google-beta/memcache_operation.go
  google-beta/ml_engine_operation.go
  google-beta/network_management_operation.go
  google-beta/notebooks_operation.go
  google-beta/provider.go
  google-beta/redis_operation.go
  google-beta/resource_access_approval_folder_settings_test.go
  google-beta/resource_access_approval_organization_settings_test.go
  google-beta/resource_access_approval_project_settings_test.go
  google-beta/resource_access_context_manager_access_level_condition_test.go
  google-beta/resource_access_context_manager_access_level_test.go
  google-beta/resource_access_context_manager_access_levels_test.go
  google-beta/resource_access_context_manager_access_policy_test.go
  google-beta/resource_access_context_manager_gcp_user_access_binding.go
  google-beta/resource_access_context_manager_gcp_user_access_binding_sweeper_test.go
  google-beta/resource_access_context_manager_gcp_user_access_binding_test.go
  google-beta/resource_access_context_manager_service_perimeter_resource_test.go
  google-beta/resource_access_context_manager_service_perimeter_test.go
  google-beta/resource_access_context_manager_services_perimeters_test.go
  google-beta/resource_bigquery_data_transfer_config_test.go
  google-beta/resource_manager_operation.go
  google-beta/service_usage_operation.go
  google-beta/spanner_operation.go
  google-beta/tpu_operation.go
  google-beta/vpc_access_operation.go
  website/docs/r/access_context_manager_gcp_user_access_binding.html.markdown
  website/google.erb
Labels: size/XL

#2852 Update project to project_id in project access settings
  .changelog/4383.txt
  google-beta/resource_access_approval_project_settings.go
  website/docs/r/access_approval_project_settings.html.markdown
Labels: size/M

#2853 Fix dataproc tests
  .changelog/4379.txt
  google-beta/resource_dataproc_job_test.go
Labels: size/XS

#2854 Fix api gateway tests
  .changelog/4380.txt
  google-beta/resource_api_gateway_gateway.go
Labels: size/XS

#2855 Update Google Projects docs
  .changelog/4376.txt
  website/docs/r/google_folder_organization_policy.html.markdown
  website/docs/r/google_project.html.markdown
  website/docs/r/google_project_default_service_accounts.html.markdown
Labels: size/S

#2856 Apigee organization
  .changelog/4317.txt
  google-beta/apigee_operation.go
  google-beta/config.go
  google-beta/provider.go
  google-beta/resource_apigee_organization.go
  google-beta/resource_apigee_organization_generated_test.go
  google-beta/resource_apigee_organization_sweeper_test.go
  website/docs/r/apigee_organization.html.markdown
  website/google.erb
Labels: size/XXL

#2857 Fix subnetwork datasource test
  .changelog/4386.txt
  google-beta/data_source_google_compute_subnetwork_test.go
Labels: size/XS

#2858 Fix confidential GKE test
  .changelog/4384.txt
  google-beta/resource_container_cluster_test.go
Labels: size/XS

#2859 Use beta provider for backend service cache tests
  .changelog/4387.txt
  google-beta/resource_compute_backend_service_generated_test.go
  google-beta/resource_compute_region_backend_service_generated_test.go
  website/docs/r/compute_backend_service.html.markdown
  website/docs/r/compute_region_backend_service.html.markdown
Labels: size/XS

#2860 Service account key keepers
  .changelog/4390.txt
  google-beta/resource_google_service_account_key.go
  website/docs/r/google_service_account_key.html.markdown
Labels: size/S

#2861 Use connection_name in Cloud Run Sql example
  .changelog/4391.txt
  google-beta/resource_cloud_run_service_generated_test.go
  website/docs/r/cloud_run_service.html.markdown
Labels: size/XS

#2862 Depends on breaks old TF version
  .changelog/4389.txt
  google-beta/data_source_storage_bucket_object_content_test.go
  google-beta/resource_compute_instance_migrate_test.go
  google-beta/resource_notebooks_environment_generated_test.go
  website/docs/r/notebooks_environment.html.markdown
Labels: size/XS

#2863 Fix inconsistent locations in some resources - Part II
  .changelog/4394.txt
  google-beta/resource_memcache_instance.go
  google-beta/resource_memcache_instance_generated_test.go
  google-beta/resource_tpu_node.go
  google-beta/resource_vpc_access_connector.go
  google-beta/resource_vpc_access_connector_generated_test.go
  website/docs/r/memcache_instance.html.markdown
  website/docs/r/tpu_node.html.markdown
  website/docs/r/vpc_access_connector.html.markdown
Labels: size/M

#2864 Add Cloud Run Locations datasource
  .changelog/4360.txt
  google-beta/data_source_cloud_run_locations.go
  google-beta/data_source_cloud_run_locations_test.go
  google-beta/data_source_tpu_tensorflow_versions_test.go
  google-beta/iam_cloud_run_service_generated_test.go
  google-beta/provider.go
  google-beta/resource_cloud_run_domain_mapping_generated_test.go
  google-beta/resource_cloud_run_service_generated_test.go
  google-beta/resource_compute_region_network_endpoint_group_generated_test.go
  website/docs/d/cloud_run_locations.html.markdown
  website/docs/r/cloud_run_domain_mapping.html.markdown
  website/docs/r/cloud_run_service.html.markdown
  website/docs/r/compute_region_network_endpoint_group.html.markdown
  website/google.erb
Labels: size/L

#2865 Bump github.com/mitchellh/hashstructure from 1.0.0 to 1.1.0
  go.mod
  go.sum
Labels: size/XS

#2866 Computed, custom flatten for log config
  .changelog/4396.txt
  google-beta/resource_compute_health_check.go
  google-beta/resource_compute_health_check_test.go
Labels: size/M

#2867 Fix test expectation
  .changelog/4398.txt
  google-beta/resource_container_cluster_test.go
Labels: size/XS

#2869 Revert "Bump github.com/golangci/golangci-lint from 1.18.0 to 1.35.2"
  go.mod
  go.sum
Labels: size/XL

#2871 Fix depends_on in test
  .changelog/4397.txt
  google-beta/data_source_google_compute_instance_template_test.go
  google-beta/resource_container_node_pool_test.go
Labels: size/XS

#2872 Add `X-Goog-Request-Reason` header if environment variable `CLOUDSDK_CORE_REQUEST_REASON` is set
  .changelog/4356.txt
  google-beta/config.go
  google-beta/header_transport.go
Labels: size/S

#2873 Infer bigtable zone from provider
  .changelog/4392.txt
  google-beta/provider_test.go
  google-beta/resource_bigtable_instance.go
  google-beta/resource_bigtable_instance_test.go
  website/docs/r/bigtable_gc_policy.html.markdown
  website/docs/r/bigtable_instance.html.markdown
Labels: size/M

#2874 Fix inconsistent locations in some resources
  .changelog/4377.txt
  google-beta/resource_compute_per_instance_config.go
  google-beta/resource_compute_per_instance_config_test.go
  google-beta/resource_compute_region_instance_group_manager.go
  google-beta/resource_compute_region_instance_group_manager_test.go
  google-beta/resource_compute_region_per_instance_config.go
  google-beta/resource_compute_region_per_instance_config_test.go
  website/docs/r/compute_instance.html.markdown
  website/docs/r/compute_per_instance_config.html.markdown
  website/docs/r/compute_region_instance_group_manager.html.markdown
  website/docs/r/compute_region_per_instance_config.html.markdown
Labels: size/M

#2875 Ignore members with "deleted:" prefix in bigquery IAM member
  .changelog/4388.txt
  google-beta/iam_bigquery_dataset.go
Labels: size/XS

#2876 bigquery_table - add customized diff for specific properties and changes on schema
  .changelog/4400.txt
  google-beta/resource_bigquery_table.go
  google-beta/resource_bigquery_table_test.go
  google-beta/test_utils.go
  google-beta/utils.go
Labels: size/L

#2877 Add Certificate Authority Resource (Certificate Authority Service)
  .changelog/4382.txt
  google-beta/config.go
  google-beta/privateca_operation.go
  google-beta/provider.go
  google-beta/resource_privateca_certificate_authority.go
  google-beta/resource_privateca_certificate_authority_generated_test.go
  website/docs/r/privateca_certificate_authority.html.markdown
  website/google.erb
Labels: size/XXL

#2878 Add requested policy version to folder IAM GET
  .changelog/4401.txt
  google-beta/iam_folder.go
  google-beta/resource_apigee_organization_generated_test.go
  google-beta/resource_google_folder_iam_member_test.go
Labels: size/XS

#2879 Add Autoscaler scaling schedules
  .changelog/4357.txt
  google-beta/resource_compute_autoscaler.go
  google-beta/resource_compute_autoscaler_test.go
  google-beta/resource_compute_region_autoscaler.go
  google-beta/resource_compute_region_autoscaler_test.go
  website/docs/r/compute_autoscaler.html.markdown
  website/docs/r/compute_region_autoscaler.html.markdown
Labels: size/XL

#2880 set ignore_read for noRemoveDataDisk
  .changelog/4403.txt
  google-beta/resource_notebooks_instance.go
  google-beta/resource_notebooks_instance_generated_test.go
Labels: size/XS

#2881 Fix TestAccLoggingBucketConfig_CreateBuckets_withCustomId
  .changelog/4404.txt
  google-beta/resource_logging_bucket_config_test.go
Labels: size/XS

#2882 Support cloud scheduler update
  .changelog/4409.txt
  google-beta/resource_cloud_scheduler_job.go
  website/docs/r/cloud_scheduler_job.html.markdown
Labels: size/M

#2883 Misc improvements for Certificate Authority
  .changelog/4407.txt
  google-beta/iam_privateca_certificate_authority.go
  google-beta/iam_privateca_certificate_authority_generated_test.go
  google-beta/provider.go
  google-beta/resource_privateca_certificate_authority.go
  google-beta/resource_privateca_certificate_authority_generated_test.go
  website/docs/r/privateca_certificate_authority.html.markdown
  website/docs/r/privateca_certificate_authority_iam.html.markdown
  website/google.erb
Labels: size/XXL

#2884 Fix broken link
  .changelog/4411.txt
  google-beta/resource_cloud_build_trigger.go
  website/docs/r/cloudbuild_trigger.html.markdown
Labels: size/XS

#2868 3.53.0 changelog
  CHANGELOG.md
Labels: size/XS

#2885 add retry logic on healthcare dataset not initialized error
  .changelog/4412.txt
  google-beta/error_retry_predicates.go
  google-beta/resource_dataflow_flex_template_job_test.go
  google-beta/resource_healthcare_dataset.go
  google-beta/resource_healthcare_dataset_generated_test.go
Labels: size/XS

#2886 Revert "Revert "Generated iam policy updaters for terraform-google-conversion""
  .changelog/4414.txt
  google-beta/resource_dataflow_flex_template_job_test.go
Labels: size/XS

#2889 Add RuntimeConfig datasource
  .changelog/4408.txt
  google-beta/data_source_redis_instance.go
  google-beta/data_source_redis_instance_test.go
  google-beta/data_source_runtimeconfig_config.go
  google-beta/data_source_runtimeconfig_config_test.go
  google-beta/provider.go
  website/docs/d/cloud_run_service.html.markdown
  website/docs/d/runtimeconfig_config.html.markdown
  website/docs/r/runtimeconfig_config.html.markdown
  website/google.erb
Labels: size/M

#2890 Update api client to 0.36
  go.mod
  go.sum
Labels: size/S

#2893 Add temp_bucket parameter for resource google_dataproc_cluster (#7927)
  .changelog/4375.txt
  google-beta/resource_dataproc_cluster.go
  google-beta/resource_dataproc_cluster_test.go
  website/docs/r/dataproc_cluster.html.markdown
Labels: size/M

#2894 Add support for capacity aware modes to `google_compute_region_instance_group_manager
  .changelog/4348.txt
  google-beta/resource_compute_region_instance_group_manager.go
  google-beta/resource_compute_region_instance_group_manager_test.go
  website/docs/r/compute_region_instance_group_manager.html.markdown
Labels: size/S

#2887 3.54.0 - release notes and cherry pick
  .changelog/4412.txt
  CHANGELOG.md
  google-beta/error_retry_predicates.go
  google-beta/resource_dataflow_flex_template_job_test.go
  google-beta/resource_healthcare_dataset.go
  google-beta/resource_healthcare_dataset_generated_test.go
Labels: size/S

#2895 Made iam updaters accept TerraformResourceData interface
  .changelog/4426.txt
  google-beta/iam.go
  google-beta/iam_api_gateway_api.go
  google-beta/iam_api_gateway_api_config.go
  google-beta/iam_api_gateway_gateway.go
  google-beta/iam_artifact_registry_repository.go
  google-beta/iam_big_query_table.go
  google-beta/iam_bigquery_dataset.go
  google-beta/iam_bigtable_instance.go
  google-beta/iam_bigtable_table.go
  google-beta/iam_billing_account.go
  google-beta/iam_binary_authorization_attestor.go
  google-beta/iam_cloud_functions_cloud_function.go
  google-beta/iam_cloud_run_service.go
  google-beta/iam_compute_disk.go
  google-beta/iam_compute_image.go
  google-beta/iam_compute_instance.go
  google-beta/iam_compute_machine_image.go
  google-beta/iam_compute_region_disk.go
  google-beta/iam_compute_subnetwork.go
  google-beta/iam_data_catalog_entry_group.go
  google-beta/iam_data_catalog_policy_tag.go
  google-beta/iam_data_catalog_taxonomy.go
  google-beta/iam_dataproc_cluster.go
  google-beta/iam_dataproc_job.go
  google-beta/iam_folder.go
  google-beta/iam_healthcare_consent_store.go
  google-beta/iam_healthcare_dataset.go
  google-beta/iam_healthcare_dicom_store.go
  google-beta/iam_healthcare_fhir_store.go
  google-beta/iam_healthcare_hl7_v2_store.go
  google-beta/iam_iap_app_engine_service.go
  google-beta/iam_iap_app_engine_version.go
  google-beta/iam_iap_tunnel.go
  google-beta/iam_iap_tunnel_instance.go
  google-beta/iam_iap_web.go
  google-beta/iam_iap_web_backend_service.go
  google-beta/iam_iap_web_type_app_engine.go
  google-beta/iam_iap_web_type_compute.go
  google-beta/iam_kms_crypto_key.go
  google-beta/iam_kms_key_ring.go
  google-beta/iam_notebooks_instance.go
  google-beta/iam_organization.go
  google-beta/iam_privateca_certificate_authority.go
  google-beta/iam_project.go
  google-beta/iam_pubsub_subscription.go
  google-beta/iam_pubsub_topic.go
  google-beta/iam_runtime_config_config.go
  google-beta/iam_secret_manager_secret.go
  google-beta/iam_service_account.go
  google-beta/iam_service_directory_namespace.go
  google-beta/iam_service_directory_service.go
  google-beta/iam_service_management_service.go
  google-beta/iam_source_repo_repository.go
  google-beta/iam_spanner_database.go
  google-beta/iam_spanner_instance.go
  google-beta/iam_storage_bucket.go
  google-beta/regional_utils.go
  google-beta/test_utils.go
  google-beta/utils.go
Labels: size/L

#2896 authorized_network set as a computed field
  .changelog/4395.txt
  google-beta/resource_memcache_instance.go
Labels: size/XS

#2897 v1 Updates: Add tags, serviceAccountScopes, V100 GPU, ShieldedInstanc…
  .changelog/4425.txt
  go.sum
  google-beta/resource_notebooks_instance.go
  website/docs/r/notebooks_instance.html.markdown
Labels: size/L

#2898 add fingerprint for privateIpv6GoogleAccess
  .changelog/4424.txt
  google-beta/resource_compute_subnetwork.go
Labels: size/XS

#2899 Implemented a simple PascalCase function to remove strcase dependency
  .changelog/4428.txt
  google-beta/resource_compute_instance_from_machine_image.go
  google-beta/resource_compute_instance_from_template.go
  google-beta/utils.go
  google-beta/utils_test.go
Labels: size/XS

#2901 fix permadiff on expiration_ms for google_bigquery_table
  .changelog/4419.txt
  google-beta/resource_bigquery_table.go
Labels: size/XS

#2902 fix two tests for cloud_run_service
  .changelog/4416.txt
  google-beta/resource_cloud_run_domain_mapping.go
  google-beta/resource_cloud_run_service.go
  google-beta/resource_cloud_run_service_generated_test.go
  google-beta/resource_cloud_run_service_test.go
  website/docs/r/cloud_run_domain_mapping.html.markdown
  website/docs/r/cloud_run_service.html.markdown
Labels: size/S

#2900 Part 2/2: Removed strcase dependency (tpg-beta)
  go.mod
  go.sum
Labels: size/XS

#2905 Promote datapath and some networking fields of GKE to GA.
  .changelog/4432.txt
  google-beta/resource_container_cluster.go
  website/docs/r/container_cluster.html.markdown
Labels: size/XS

#2906 Validate base64 fields in the Google Provider
  .changelog/4338.txt
  google-beta/resource_api_gateway_api_config.go
  google-beta/resource_cloud_scheduler_job.go
  google-beta/resource_healthcare_hl7_v2_store.go
  google-beta/validation.go
  website/docs/r/cloud_scheduler_job.html.markdown
Labels: size/S

#2907 Add correct signer and viewer roles for private CA
  .changelog/4434.txt
  google-beta/resource_privateca_certificate_authority_generated_test.go
  website/docs/r/privateca_certificate_authority.html.markdown
Labels: size/S

#2908 availability sli for SLO monitoring resource
  .changelog/4344.txt
  google-beta/resource_monitoring_slo.go
  google-beta/resource_monitoring_slo_test.go
  website/docs/r/monitoring_slo.html.markdown
Labels: size/M

#2909 doc updated to match examples for google_billing_budget
  .changelog/4399.txt
  google-beta/resource_billing_budget.go
  website/docs/r/billing_budget.html.markdown
Labels: size/XS

#2911 Fix time_rotating argument name
  .changelog/4435.txt
  google-beta/resource_dataflow_flex_template_job_test.go
  website/docs/r/google_service_account_key.html.markdown
Labels: size/XS

#2910 Update SDK to 2.4.2
  go.mod
  go.sum
Labels: size/XS

#2913 sort array of schema for bigquery_table
  .changelog/4440.txt
  google-beta/resource_bigquery_table.go
  google-beta/resource_bigquery_table_test.go
  google-beta/resource_dataflow_flex_template_job_test.go
Labels: size/L

#2915 Remove qualifier about # of supported projects in billing budget
  .changelog/4445.txt
  google-beta/resource_billing_budget.go
  website/docs/r/billing_budget.html.markdown
Labels: size/XS

#2916 Add SSH Metadata Key Entry Example
  .changelog/4442.txt
  website/docs/r/compute_project_metadata.html.markdown
Labels: size/XS

#2917 Remove validation on data.google_service_account account_id
  .changelog/4446.txt
  google-beta/data_source_google_service_account.go
  website/docs/d/service_account.html.markdown
Labels: size/XS

#2918 Minor: wording cleanup in Using GKE with Terraform
  .changelog/4447.txt
  website/docs/guides/using_gke_with_terraform.html.markdown
Labels: size/XS
