Repository hashicorp/terraform-provider-google-beta, pull requests merged in 2021-06, with the labels that each got.

#3285 Update CHANGELOG.md
  CHANGELOG.md
Labels: size/XS

#3289 Enabled additional binary auth tests in GA
  .changelog/4820.txt
  google-beta/resource_binaryauthorization_policy_test.go
Labels: size/XS

#3290 Fix TestAccContainerCluster_withILBSubsetting
  .changelog/4824.txt
  google-beta/resource_container_cluster_test.go
  google-beta/resource_dataproc_cluster_test.go
Labels: size/XS

#3291 Promote logConfig of Healthchecks to GA
  .changelog/4822.txt
  google-beta/resource_compute_region_health_check.go
  google-beta/resource_dataproc_cluster_test.go
  website/docs/r/compute_health_check.html.markdown
  website/docs/r/compute_region_health_check.html.markdown
Labels: size/XS

#3292 add module attribution to dcl packages
  .changelog/4814.txt
  google-beta/config.go
  google-beta/provider_dcl_client_creation.go
  google-beta/provider_dcl_endpoints.go
  google-beta/resource_dataproc_workflow_template.go
  google-beta/resource_dataproc_workflow_template_sweeper_test.go
  google-beta/resource_eventarc_trigger.go
  google-beta/resource_eventarc_trigger_sweeper_test.go
Labels: size/L

#3293 fix skipping node pool deletion log message
  .changelog/4827.txt
  google-beta/resource_container_node_pool.go
Labels: size/XS

#3294 fixed default for max_throughput
  .changelog/4823.txt
  google-beta/resource_dataproc_cluster_test.go
  google-beta/resource_vpc_access_connector.go
  google-beta/resource_vpc_access_connector_test.go
  website/docs/r/vpc_access_connector.html.markdown
Labels: size/M

#3295 Ignore status during IGM tests
  .changelog/4830.txt
  google-beta/resource_compute_instance_group_manager_test.go
  google-beta/resource_compute_region_instance_group_manager_test.go
  google-beta/resource_dataproc_cluster_test.go
Labels: size/L

#3298 Moved examples and tests to BETA for the Cloud Run/Secret integration.
  .changelog/4831.txt
  google-beta/resource_cloud_run_service_generated_test.go
  google-beta/resource_cloud_run_service_test.go
  website/docs/r/cloud_run_service.html.markdown
Labels: size/XS

#3297 replace hashibot behavior with gha
  .github/labeler.yml
  .github/reviewer-lottery.yml
  .github/workflows/issue-comment-created.yml
  .github/workflows/labeler.yml
  .github/workflows/pull-request-reviewer.yml
  .github/workflows/pull-request-size.yml
  .hashibot.hcl
Labels: size/M

#3304 fix reviewer github action
  .github/workflows/pull-request-reviewer.yml
Labels: size/xs

#3305 update issue-labeler to correct version
  .github/workflows/labeler.yml
Labels: size/xs

#3306 only add crash label
  .github/labeler.yml
Labels: size/xs

#3303 add grpc mod
  go.mod
  go.sum
Labels: size/m

#3296 Update CHANGELOG.md
  CHANGELOG.md
Labels: size/xs

#3301 Update dcl
  go.mod
  go.sum
Labels: size/xs

#3329 upgrade linter version
  .golangci.yml
  go.mod
  go.sum
Labels: size/xl

#3333 release 3.72.0 changelog
  CHANGELOG.md
Labels: size/xs

#3347 Updated DCL version (2/2)
  go.mod
  go.sum
Labels: size/xs

#3346 fix remove waiting response gha
  .github/workflows/issue-comment-created.yml
Labels: size/xs

#3353 use commit sha rather than version numbers, update random reviewer wo…
  .github/workflows/go.yml
  .github/workflows/issue-comment-created.yml
  .github/workflows/labeler.yml
  .github/workflows/pull-request-reviewer.yml
  .github/workflows/pull-request-size.yml
Labels: size/xs

#3351 Changelog
  CHANGELOG.md
Labels: size/xs

#3363 Release 3.73.0 changelog
  CHANGELOG.md
Labels: size/xs

#3365 Revert "Changelog (#3351)"
  CHANGELOG.md
Labels: size/xs

#3382 3.74.0 release notes
  CHANGELOG.md
Labels: size/xs
