Repository hashicorp/terraform-provider-google-beta, pull requests merged in 2022-10, with the labels that each got.

#4678 Update the repo README
  README.md
Labels: size/m

#4744 4.39.0 changelog beta
  CHANGELOG.md
Labels: size/xs

#4766 Changelog
  CHANGELOG.md
Labels: size/s

#4787 Release notes for 4.41.0 - BETA
  CHANGELOG.md
Labels: size/xs

#4826 4.42.0 changelog
  CHANGELOG.md
Labels: size/s
