Repository hashicorp/terraform-provider-google-beta, pull requests merged in 2022-05, with the labels that each got.

#4267 Update CHANGELOG.md
  CHANGELOG.md
Labels: size/xs

#4270 update to newer release style
  .github/workflows/release.yml
  .goreleaser.yml
  terraform-registry-manifest.json
Labels: size/m

#4271 [DO NOT MERGE] Onboard project to Releases API
  .github/workflows/release.yml
  .goreleaser.yml
  .release/release-metadata.hcl
Labels: size/xs

#4308 add PROTOCOL_VERSIONs back to release.yml
  .github/workflows/release.yml
Labels: size/xs

#4317 remove protocol versions
  .github/workflows/release.yml
Labels: size/xs

#4285 Release 4.21.0 Changelog Beta
  CHANGELOG.md
Labels: size/s

#4309 update dependabot to ignore version updates
  .github/dependabot.yml
Labels: size/xs

#4331 release notes 4.22.0 - beta
  CHANGELOG.md
Labels: size/xs

#4339 add .release folder
  .release/release-metadata.hcl
Labels: size/xs

#4347 Add 4.23.0 changelog (beta)
  CHANGELOG.md
Labels: size/xs
