Repository hashicorp/terraform-provider-google-beta, pull requests merged in 2023-10, with the labels that each got.

#6451 Add 5.0.0 changelog entry
  CHANGELOG.md
Labels: size/m

#6455 Release 5.1.0 changelog
  CHANGELOG.md
Labels: size/m

#6464 Add 5.1.0 changelog entry
  CHANGELOG.md
Labels: size/xs

#6497 Update CHANGELOG.md
  CHANGELOG.md
Labels: size/xs

#6510 add 5.2.0 changelog
  CHANGELOG.md
Labels: size/xs

#6544 release 5.3.0 changelog beta
  CHANGELOG.md
Labels: size/s

#6556 5.3.0 Changelog
  CHANGELOG.md
Labels: size/s

#6571 5.4.0 changelog
  CHANGELOG.md
Labels: size/s

#6586 Update CHANGELOG.md
  CHANGELOG.md
Labels: size/s
