Repository hashicorp/terraform-provider-google-beta, pull requests merged in 2024-08, with the labels that each got.

#7858 Add 5.39.1 to CHANGELOG on main
  CHANGELOG.md
Labels: size/xs

#7859 CHANGELOG 5.40.0
  CHANGELOG.md
Labels: size/xs

#7920 Update CHANGELOG.md for 5.40.0
  CHANGELOG.md
Labels: size/xs

#7921 Update CHANGELOG.md for 5.41.0
  CHANGELOG.md
Labels: size/s

#7948 Revert "feat: support Cloud SQL's new field server_ca_mode. (#11331) (#7886)"
  .changelog/11331.txt
  CHANGELOG.md
  go.mod
  go.sum
  google-beta/services/sql/resource_sql_database_instance.go
  google-beta/services/sql/resource_sql_database_instance_test.go
  website/docs/r/sql_database_instance.html.markdown
Labels: size/m

#7957 Update CHANGELOG.md
  CHANGELOG.md
Labels: size/s

#7979 Update CHANGELOG.md
  CHANGELOG.md
Labels: size/s

#7998 Update CHANGELOG.md for 5.42.0
  CHANGELOG.md
Labels: size/s

#8010 5.43 changelog - beta
  CHANGELOG.md
Labels: size/xs

#8044 release 6.0.1 changelog beta
  CHANGELOG.md
Labels: size/xs
