Repository hashicorp/terraform-provider-google-beta, pull requests merged in 2024-06, with the labels that each got.

#7446 release-5.32.0-changelog-beta
  CHANGELOG.md
Labels: size/xs

#7472 Add 5.32 changelog to the main branch
  CHANGELOG.md
Labels: size/xs

#7486 Fixed 5.32.0 changelog to include all added iam resources
  CHANGELOG.md
Labels: size/xs

#7480 Update 5.33 CHANGELOG.md
  CHANGELOG.md
Labels: size/s

#7502 Add 5.33.0 to changelog
  CHANGELOG.md
Labels: size/s

#7510 Add 'soft_delete_policy' to 'google_storage_bucket' resource
  .changelog/10171.txt
  .changelog/9034.txt
  CHANGELOG.md
  go.mod
  go.sum
  google-beta/fwtransport/framework_config_test.go
  google-beta/services/firebase/resource_firebase_web_app_generated_test.go
  google-beta/services/firebase/resource_firebase_web_app_test.go
  google-beta/services/storage/resource_storage_bucket.go
  google-beta/services/storage/resource_storage_bucket_test.go
  website/docs/r/storage_bucket.html.markdown
Labels: size/xl

#7521 Update 4.85.0 CHANGELOG to main branch
  CHANGELOG.md
Labels: size/xs

#7540 Add changelog for 5.34.0 (beta)
  CHANGELOG.md
Labels: size/s

#7555 Update CHANGELOG.md
  CHANGELOG.md
Labels: size/s

#7580 Update 5.35 CHANGELOG.md
  CHANGELOG.md
Labels: size/xs

#7651 Update CHANGELOG.md 5.35.0
  CHANGELOG.md
Labels: size/s
