Repository hashicorp/terraform-provider-google-beta, pull requests merged in 2024-11, with the labels that each got.

#8572 Update CHANGELOG.md
  CHANGELOG.md
Labels: size/m

#8565 Update CHANGELOG.md
  CHANGELOG.md
Labels: size/s

#8625 Update CHANGELOG.md
  CHANGELOG.md
Labels: size/s

#8653 Release 5.45.0 changelogs
  CHANGELOG.md
Labels: size/xs

#8652 6.11.0 changelogs
  CHANGELOG.md
Labels: size/m

#8671 Update CHANGELOG.md
  CHANGELOG.md
Labels: size/s

#8688 Added 6.11.1 release notes
  CHANGELOG.md
Labels: size/xs

#8696 Update CHANGELOG.md
  CHANGELOG.md
Labels: size/s

#8722 Update CHANGELOG.md in the main branch
  CHANGELOG.md
Labels: size/s

#8776 Fixed duplicate changelog entry
  CHANGELOG.md
Labels: size/xs
