Repository hashicorp/terraform-provider-google-beta, pull requests merged in 2024-03, with the labels that each got.

#7030 Update CHANGELOG.md
  CHANGELOG.md
Labels: size/xs

#7057 Update docscheck.sh to accept provider function docs
  scripts/docscheck.sh
Labels: size/xs

#7067 Add previous changelog
  CHANGELOG.md
Labels: size/xs

#7068 release 5.20.0 changelog (beta)
  CHANGELOG.md
Labels: size/xs

#7074 5.20.0 release notes
  CHANGELOG.md
Labels: size/xs

#7101 5.21.0 changelog
  CHANGELOG.md
Labels: size/xs

#7112 Update CHANGELOG.md 5.21.0
  CHANGELOG.md
Labels: size/xs

#7114 Add missed apphub service release note
  CHANGELOG.md
Labels: size/xs

#7132 5.22.0 changelog
  CHANGELOG.md
Labels: size/xs

#7148 Update CHANGELOG.md
  CHANGELOG.md
Labels: size/s

#7153 Release provider-defined functions (#10288)
  .changelog/10288.txt
  go.mod
  go.sum
  google-beta/functions/element_from_id.go
  google-beta/functions/element_from_id_internal_test.go
  google-beta/functions/location_from_id.go
  google-beta/functions/location_from_id_internal_test.go
  google-beta/functions/location_from_id_test.go
  google-beta/functions/name_from_id.go
  google-beta/functions/name_from_id_internal_test.go
  google-beta/functions/name_from_id_test.go
  google-beta/functions/project_from_id.go
  google-beta/functions/project_from_id_internal_test.go
  google-beta/functions/project_from_id_test.go
  google-beta/functions/region_from_id.go
  google-beta/functions/region_from_id_internal_test.go
  google-beta/functions/region_from_id_test.go
  google-beta/functions/region_from_zone.go
  google-beta/functions/region_from_zone_internal_test.go
  google-beta/functions/region_from_zone_test.go
  google-beta/functions/zone_from_id.go
  google-beta/functions/zone_from_id_internal_test.go
  google-beta/functions/zone_from_id_test.go
  google-beta/fwprovider/framework_provider.go
  website/docs/functions/location_from_id.html.markdown
  website/docs/functions/name_from_id.html.markdown
  website/docs/functions/project_from_id.html.markdown
  website/docs/functions/region_from_id.html.markdown
  website/docs/functions/region_from_zone.html.markdown
  website/docs/functions/zone_from_id.html.markdown
Labels: size/xl

#7167 Fix bad resource in changelog (it's a datasource)
  CHANGELOG.md
Labels: size/xs
