Repository hashicorp/terraform-provider-google-beta, pull requests merged in 2024-12, with the labels that each got.

#8813 Update docscheck.sh to accept ephemeral-resources folder
  scripts/docscheck.sh
Labels: size/xs

#8822 Update CHANGELOG.md
  CHANGELOG.md
Labels: size/xs

#8843 Remove SarahFrench from reviewer-lottery.yml
  .github/reviewer-lottery.yml
Labels: size/xs

#8866 6.13 CHANGELOG
  CHANGELOG.md
Labels: size/m

#8878 Update CHANGELOG.md v6.13
  CHANGELOG.md
Labels: size/m

#8906 6.14 CHANGELOG
  CHANGELOG.md
Labels: size/xs

#8918 Update CHANGELOG.md for 6.14.0
  CHANGELOG.md
Labels: size/s

#8947 Update CHANGELOG.md
  CHANGELOG.md
Labels: size/xs
