Repository hashicorp/terraform-provider-google-beta, pull requests merged in 2025-08, with the labels that each got.

#10500 Update CHANGELOG.md
  CHANGELOG.md
Labels: size/s

#10547 `6.49.0`: CHANGELOG.md
  CHANGELOG.md
Labels: size/s

#10576 update change logs with releases 6.48 -> 6.49.1
  CHANGELOG.md
Labels: size/m

#10596 7.0.0 changelogs (beta)
  CHANGELOG.md
Labels: size/m

#10630 7.0.1 changelog
  CHANGELOG.md
Labels: size/xs

#10639 Update CODEOWNERS
  CODEOWNERS
Labels: size/xs

#10644 update main branch changelog for 7.0.1
  CHANGELOG.md
Labels: size/m
