Repository hashicorp/terraform-provider-google-beta, pull requests merged in 2025-07, with the labels that each got.

#10274 Update CHANGELOG.md
  CHANGELOG.md
Labels: size/s

#10285 Update CHANGELOG.md
  CHANGELOG.md
Labels: size/xs

#10307 beta - Release notes 6.43.0
  CHANGELOG.md
Labels: size/s

#10341 Update 6.44.0 CHANGELOG.md
  CHANGELOG.md
Labels: size/xs

#10362 Update CHANGELOG.md on main for 6.44.0
  CHANGELOG.md
Labels: size/s

#10372 6.45.0 CHANGELOG.md
  CHANGELOG.md
Labels: size/s

#10411 Add 6.46.0 changelog (beta)
  CHANGELOG.md
Labels: size/m
