Repository hashicorp/terraform-provider-google-beta, pull requests merged in 2025-09, with the labels that each got.

#10684 Release 7.2.0 changelog (beta)
  CHANGELOG.md
Labels: size/m

#10751 6.50.0 changelog
  CHANGELOG.md
Labels: size/xs

#10753 Update CHANGELOG.md
  CHANGELOG.md
Labels: size/xs

#10748 Release-7.4.0 Changelog
  CHANGELOG.md
Labels: size/s

#10779 Update GNUmakefile
  GNUmakefile
Labels: size/xs
