Repository hashicorp/terraform-provider-google-beta, pull requests merged in 2025-05, with the labels that each got.

#9923 Update CHANGELOG.md
  CHANGELOG.md
Labels: size/xs

#9928 Update main CHANGELOG.md for 6.34.0
  CHANGELOG.md
Labels: size/s

#9956 release-6.35.0-changelogs
  CHANGELOG.md
Labels: size/s

#9973 Update CHANGELOG.md
  CHANGELOG.md
Labels: size/s

#10009 release-6.36.0 changelog
  CHANGELOG.md
Labels: size/s

#10065 6.36.1 CHANGELOG
  CHANGELOG.md
Labels: size/xs

#10085 Update CHANGELOG.md
  CHANGELOG.md
Labels: size/m
