Repository hashicorp/terraform-provider-google-beta, pull requests merged in 2025-01, with the labels that each got.

#8990 Add changelog for 6.15.0 (beta)
  CHANGELOG.md
Labels: size/s

#9034 Update CHANGELOG.md 6.15.0
  CHANGELOG.md
Labels: size/m

#9038 Update CHANGELOG.md
  CHANGELOG.md
Labels: size/xs

#9049 Update CHANGELOG.md for v6.16.0
  CHANGELOG.md
Labels: size/xs

#9070 Update CHANGELOG.md for upcoming 6.17.0 release
  CHANGELOG.md
Labels: size/s
