Repository hashicorp/terraform-provider-google-beta, pull requests merged in 2025-04, with the labels that each got.

#9691 Update CHANGELOG.md 6.28.0
  CHANGELOG.md
Labels: size/m

#9698 Update CHANGELOG.md with 6.28.0 (beta)
  CHANGELOG.md
Labels: size/m

#9736 Fix v6.28.0 changelog entry
  CHANGELOG.md
Labels: size/xs

#9729 6.29.0 beta patch notes
  CHANGELOG.md
Labels: size/xs

#9774 Update 6.30.0 CHANGELOG.md
  CHANGELOG.md
Labels: size/xs

#9801 Update CHANGELOG.md
  CHANGELOG.md
Labels: size/s

#9833 Update CHANGELOG.md
  CHANGELOG.md
Labels: size/s

#9852 Update CHANGELOG.md for 6.31.0
  CHANGELOG.md
Labels: size/s

#9845 Fix the name of google_apigee_control_plane_access
  CHANGELOG.md
Labels: size/xs

#9900 Update CHANGELOG.md
  CHANGELOG.md
Labels: size/xs

#9894 Release 6.33.0 changelog (beta)
  CHANGELOG.md
Labels: size/s
